::ng-deep .mat-list-base .mat-list-item, .mat-list-base .mat-list-option{
    height: unset !important;
}
table th {
    background: #E3F2FD;
    color: #615e5e;
  }
  ::ng-deep .mat-list-text{
      color: #428bca;
  }