<main id="main">
    <section>
        <mat-drawer-container autosize class="example-container">
            <mat-drawer #drawer class="example-sidenav" mode="side" opened>
                <div class="card card-default">
                    <div class="card-body">
                        <div class="col-lg-3 col-md-6">
                            <div>
                                <mat-accordion>
                                    <mat-expansion-panel style="width:300px" *ngFor="let userEvaluation of userEvaluationList">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title style="color:#428bca">
                                               <b>{{ userEvaluation.departmentname}}</b>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <mat-selection-list id="" [multiple]="false">
                                                <mat-list-option [value]="item"  *ngFor="let item of userEvaluation.users"  (click)="changeUserId(item)">
                                                    <span matTooltip="{{item?.fullname}}" matTooltipClass="tooltip-inner" (click)="isShowForm = true" >{{item.fullname}}</span>
                                                </mat-list-option>
                                        </mat-selection-list>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-drawer>
            <div class="example-sidenav-content">
                <div class="card card-default">
                    <div class="card-body content-of-topic mt-2">
                        <div class="row">
                            <!-- <section class="content" style="width:100%"> -->
                            <div class="container-fluid">
                                <div class="col-12">
                                    <div class="card card-default">
                                        <div class="card-header">
                                            <!-- <h3 class="card-title">Danh sách câu hỏi mới</h3> -->
                                            <div class="row">
                                                <div class="col-12 m-0">
                                                    <form class="form-inline">
                                                        <div class="form-group m-2 col-md-4">
                                                            <button type="submit" (click)="evaluationUsers()"
                                                                class="btn btn-sm btn-success text-white"><i
                                                                    class="fas fa-file-excel mr-2"></i>Đánh giá
                                                                nhiều học viên</button>
                                                        </div>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body" style="display: block;">
                                            <div class="col-12 table-responsive">
                                                <table class="table table-hover table-bordered">
                                                    <thead >
                                                        <tr>
                                                            <th class="text-center">STT</th>
                                                            <th class="text-center">Tên khóa học</th>
                                                            <th class="text-center">Năm</th>
                                                            <th class="text-center">Đánh giá 3 tháng</th>
                                                            <th class="text-center">Đánh giá 6 tháng</th>
                                                            <th class="text-center">Thao tác</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <tr *ngIf="isShowForm">
                                                            <td class="text-center"></td>
                                                            <td class=" w-190 text-center">
                                                                <input type="text" [(ngModel)]="fullname" (ngModelChange)="SearchText()" placeholder="Tên khóa học">
                                                            </td>
                                                            <td class="text-center w-190">
                                                                <input type="number" [(ngModel)]="year" (ngModelChange)="SearchYear()" placeholder="Năm...">
                                                            </td>
                                                            <td class="text-center"></td>
                                                            <td class="text-center"></td>
                                                            <td class="text-center"></td>
                                                        </tr>
                                                        <tr *ngFor="let i = index;let item of courseList">
                                                            <td class="text-center">{{(searchCourse.pageIndex - 1) * searchCourse.pageSize + i + 1}}</td>
                                                            <td class="">{{ item.fullname }}</td>
                                                            <td class="text-center">{{ item.year }}</td>
                                                            <td class="text-center"><i class='fas fa-check fa-2x' *ngIf="item.status3 == 1 "style="color: #00FF7F;"></i></td>
                                                            <td class="text-center"><i class='fas fa-check fa-2x' *ngIf="item.status6 == 1 "style="color: #00FF7F;"></i></td>
                                                            <td class="text-center">
                                                                <button type="button" (click)="showDetail(item)"
                                                                    class="btn btn-default btn-sm mr-1"
                                                                    matTooltip="Xem chi tiết"
                                                                    matTooltipClass="tooltip-red"><i
                                                                        class="fas fa-eye"></i></button>
                                                                    <button  class="btn btn-default  btn-md btn-flat mr-2" type="button" mat-button
                                                                    (click)="addLD(user, item.id)"><i class="fas fa-plus"></i>
                                                                    </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <br />
                                                <p *ngIf="totalRecord==0" class="text-center">{{
                                                    'common.no_search_result' | translate}}</p>
                                            </div>
                                            <div class="card-footer text-center">
                                                <div class="row">
                                                    <mat-paginator showFirstLastButtons [length]="totalRecord"
                                                        [pageSizeOptions]="pageSizeOptions">
                                                    </mat-paginator>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- </section> -->
                        </div>
                    </div>
                </div>
            </div>
        </mat-drawer-container>
    </section>
</main>

<!-- End #main -->
