<div class="content-wrapper">
   <section class="content-header">
     <div class="container-fluid">
       <div class="row mb-2">
         <div class="col-sm-6">
           <h1>Báo cáo giảng viên</h1>
         </div>
         <div class="col-sm-6">
           <ol class="breadcrumb float-sm-right">
             <li class="breadcrumb-item"><a [routerLink]="['/admin']">CMS</a></li>
             <li class="breadcrumb-item active">Báo cáo giảng viên</li>
           </ol>
         </div>
       </div>
     </div>
   </section>
   <section class="content">
     <div class="container-fluid">
       <!--phan danh sach khoa hoc-->
       <div class="">
         <mat-drawer-container autosize class="example-container">
           <!-- <mat-drawer #drawer class="example-sidenav" mode="side" opened>
             <div class="card card-default">
               <div class="card-body">
                 <h6>Cây đơn vị</h6>
                 <hr>
                 <ejs-treeview #departmentTree
                               [fields]="departmentTreeData"
                               (nodeChecked)='nodeDepartmentChecked($event)'
                               [showCheckBox]='true'>
                 </ejs-treeview>
               </div>
             </div>
             </mat-drawer> -->
             <div class="example-sidenav-content">
               <div class="card card-default">
                 <div class="card-body">
                   <h6>Danh sách giảng viên</h6>
                   <hr>
                   <div class="w-100 mb-4">
                    <div class="row">
                      <div class="col-4">
                          <div class="row">
                            <div class="col-5">
                              <div class="align-items-center">
                                Lựa chọn mã giảng viên
                              </div>
                            </div>
                            <div class="col-7">
                              <nz-select  [(ngModel)]="selectedTeacher" (ngModelChange)="changeTeacher($event)" nzShowSearch nzMode="multiple"  nzPlaceHolder="Chọn giảng viên" 
                                [nzDropdownClassName]="'fill-dropdown'" (nzOnSearch)="onSearchTeacher($event)"
                                (nzScrollToBottom)="onScrollDown()">
                                <nz-option *ngFor="let teacher of listTeacher" [nzLabel]="teacher.fullname" [nzValue]="teacher.id"></nz-option>
                              </nz-select>
                            </div>
                          </div>
                      </div>
                      <div class="col-3">
                        <div>
                          <a class="btn btn-block btn-default btn-flat btn-search"
                             role="button" (click)="openTeacherSearchPopup()">
                            <i class="fa fa-search"></i> Tìm kiếm nâng cao
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="row justify-content-end">
                      <div class="col-4 text-right">
                        <a class="btn btn-sm btn-success text-white" (click)="onExportLearningProgressStudents()">
                          <i class="fas fa-file-excel mr-2"></i>Xuất File Excel 
                        </a>
                      </div>
                    </div>
                    </div>
                  <div class="row">
                     <table class="table table-striped">
                       <thead>
                         <tr>
                           <th>TT</th>
                           <th>Tên giảng viên</th>
                           <th>Email</th>
                           <th>Đơn vị</th>
                           <th class="text-center">Năm</th>
                           <th class="text-center">Tổng số giờ dạy</th>
                           <th class="text-center">Tổng điểm</th>
                           <th class="text-center">Xếp hạng</th>
                           <!-- <th class="text-center">Khóa học đăng ký</th> -->
                           <th class="text-center">Thao tác</th>
                         </tr>
                       </thead> 
                       <tbody>
                         <tr *ngFor="let student of listStudent; let i = index">
                           <td>{{(searchUser.pageIndex - 1) * searchUser.pageSize + i + 1}}</td>
                           <td>{{ student.fullname }}</td>
                           <td>{{ student.email }}</td>
                           <td>{{ student.departmentname }}</td>
                           <td class="text-center">{{student.year}}</td>
                           <td class="text-center">{{student.totalteachtime}}</td>
                           <td class="text-center">{{student.grade}}</td>
                           <td class="text-center">{{student.ordernumber}}</td>
                           <!-- <td class="text-center">{{ student.assignedcourse }}</td> -->
                           <td class="text-center"><a [routerLink]="['/admin/report-teacher/detail',student.id]" class="btn btn-default btn-sm" (click)="goToDetail(student.year)"><i class="fas fa-eye"></i></a></td>
                         </tr>
                       </tbody>
                     </table>
                     <br />
                     <p *ngIf="listStudent?.length === 0" class="text-center">{{ 'common.no_search_result' | translate}}</p>
                   </div>
                   <div class="card-footer text-center"  *ngIf="listStudent?.length > 0">
                     <div class="row">
                       <mat-paginator showFirstLastButtons
                           [length]="totalRecord"
                           [pageSize]="searchUser.pageSize"
                           [pageIndex]="searchUser.pageIndex - 1"
                           (page)="changePage($event)"
                           [hidePageSize]="false"
                           [pageSizeOptions]="pageSizeOptions">
                       </mat-paginator>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
               </mat-drawer-container>
       </div>
     </div>
   </section>
 </div>
 
 