.teacher-name.ml-1 {
  padding-left: 15.5px;
  padding-bottom: 5px;
}

.mat-icon-button {

  width: 20px !important;
  height: 20px !important;
  line-height: 20px !important;
}

.mat-list-button {
  display: block;
  cursor: pointer;
  height: 60px !important;
}

.mat-list-button:hover {
  display: block;
  background-color: #e7e7e7;
  cursor: pointer;
}

.mat-list-button:active {
  display: block;
  background-color: #e7e7e7;
  cursor: pointer;
}

.mat-list-base .mat-list-item .mat-list-avatar, .mat-list-base .mat-list-option .mat-list-avatar {
  flex-shrink: 0;
  width: 25px !important;
  height: 25px !important;
  border-radius: 50%;
  object-fit: cover;
}

.example-container {
  width: 95vw;
  /* height: 53rem; */
}

.example-sidenav {
  width: 25vw;

}

.example-sidenav-content {
  height: 72vh;
}

.font-size-14 {
  font-size: 14pt;
}

mat-panel-title,
mat-panel-description,
span {
  display: block;
}

.topic {
  color: #000000;
  font-weight: 300;
}
.text-over{
  display: block;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-basis: 5%;
  font-size:.85rem;
}
.teacher {
  opacity: 0.8;
  font-size: 10pt;
}

::ng-deep .tooltip-red {
  background: #b71c1c !important;
  font-size: 10pt !important;
}

.mat-expansion-panel-header.mat-expanded {
  border-top: solid 3px #007bff;
}
.button-side-toogle {
  display: inline-block;
    position: absolute;
    top: 20px;
    right: 0;
    margin-right: -20px;
}
.bd-highlight {
  background-color: rgb(206, 213, 224);
}



.drop-drag-box {
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.drop-drag-list {
  display: block;
  min-height: 60px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drop-drag-box:last-child {
  border: none;
}

.drop-drag-list.cdk-drop-list-dragging .drop-drag-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.display-none {
  display: none;
}
