<div class="navbar_exam">
  <section class="inner_page_breadcrumb bg-exam fixed-top">
    <div class="container">
      <nav>
        <div class="row">
          <div class="col-xl-12 text-center">
            <div class="breadcrumb_content mt-2" *ngIf="!isTeacher">
              <h4 class="breadcrumb_title">{{quizName}}</h4>
              <span class="text-center" *ngIf="finish===undefined">
              <small class="text-white mb-0">Thời gian còn lại</small></span>
              <span class="text-center mb-0" *ngIf="finish===undefined && !checkgraceperiod && !checkautoabandon"><h2
                class="text-white">
              <countdown #cd *ngIf="timeLimit" (event)="timesUp($event)" [config]="countConfig"></countdown>
              </h2></span>
              <span class="text-center mb-0" *ngIf="isShowExamAlert"><h5 class="text-white text-uppercase mb-0">
              Sắp hết thời gian làm bài, thí sinh chú ý nộp bài!
              </h5></span>
              <span class="text-center mb-0" *ngIf="checkgraceperiod"><h2 class="text-white text-uppercase mb-0">
              Đã hết thời gian làm bài, yêu cầu thí sinh nộp bài!
              </h2></span>
              <span class="text-center mb-0" *ngIf="checkautoabandon"><h2 class="text-white text-uppercase mb-0">
              Thí sinh chưa nộp bài, bài thi sẽ không được tính điểm!
              </h2></span>
            </div>
            <div *ngIf="isTeacher">
              <h4 class="breadcrumb_title">{{quizName}}</h4>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </section>
</div>
<main id="main" class="main_exam">
  <!---Phan noi dung bai hoc-->
  <section id="exam">
    <div class="container">
      <div class="row" [ngClass]="preventClickAnswer ? 'disable-click-event' : ''">
        <div *ngIf="checkattemptisfinish" class="col-12 text-center border p-3">
          <img src="/assets/student.svg" style="height: 25vh;" alt="">
          <h5 class="mt-2">Bài thi đã kết thúc ! Cám ơn bạn đã tham gia</h5>
          <span><button (click)="back()" class="btn btn-secondary btn-md rounded-0"><i class="fas fa-arrow-left"></i> Trở lại</button></span>
        </div>
        <div *ngIf="checkattemptislimited" class="col-12 text-center border p-3">
          <img src="/assets/graduation-cap.svg" style="height: 25vh;" alt="">
          <h5 class="mt-2">Bạn đã hoàn thành bài thi !</h5>
          <span><button (click)="back()" class="btn btn-secondary btn-md rounded-0"><i class="fas fa-arrow-left"></i> Trở lại</button></span>
        </div>
        <div *ngIf="checkattemptisopen" class="col-12 text-center border p-3">
          <img src="/assets/wall-clock.svg" style="height: 25vh;" alt="">
          <h5 class="mt-2">Thời gian thi chưa bắt đầu</h5>
          <span><button (click)="back()" class="btn btn-secondary btn-md rounded-0"><i class="fas fa-arrow-left"></i> Trở lại</button></span>
        </div>

        <div *ngIf="checknoquestion" class="col-12 text-center border p-3">
          <img src="/assets/crane.svg" style="height: 25vh;" alt="">
          <h5 class="mt-2" *ngIf="isRandomQuestionNotEnough">
            Xin lỗi bạn, có vẻ không đủ câu hỏi trong ngân hàng câu hỏi để phục vụ cho bài thi.
            Vui lòng liên hệ giảng viên hoặc quản trị viên để được hỗ trợ.
          </h5>
          <h5 class="mt-2" *ngIf="!isRandomQuestionNotEnough">
            Xin lỗi bạn, có vẻ có chút vấn đề với bài thi. Mong bạn quay lại sau
          </h5>
          <span><button (click)="back()" class="btn btn-secondary btn-md rounded-0"><i class="fas fa-arrow-left"></i> Trở lại</button></span>
        </div>
        <div class="col-lg-9 col-md-auto pb-2">
          <div class="overflow mt-3">
            <form *ngFor="let question of listQuestion;let i = index;">
              <div class="card card-default rounded " [id]="question.slot">
                <div class="card-body p-3">
                  <div class="row form-inline">
                    <div class="col-lg-11 col-md-11">
                      <div class="dot">{{i + 1}}</div>
                    </div>
<!--                    <div class="col-lg-10 col-md-10 noselect"><span [innerHTML]="question.name"></span></div>-->
                    <div class="col-lg-1 col-md-1 noselect " style="white-space: nowrap;">
                      <mat-checkbox class="example-margin" [checked]="question.condition === 3" *ngIf="!isTeacher" [disabled]="question.disabled" (change)="markQuestion($event, question)">Đánh dấu
                      </mat-checkbox>
                    </div>
                  </div>
                  <div class="row mt-3 noselect">
                    <div class="col-lg-12 col-md-6 label-text text-justify noselect"><span [innerHTML]="question.questiontext"></span>
                      <iframe *ngIf="question.linkVideo" width="420" height="315"
                              [src]="question.linkVideo">
                      </iframe>
                    </div>
                    <div class="col-lg-2 col-md-6">
                    </div>
                  </div>
                  <div class="row pl-2 mt-3 noselect">
                    <div class="col-12">
                      <div class="form-check bg-light" *ngFor="let answer of question.answers; let i = index;">

                        <mat-checkbox [disabled]="checkgraceperiod || isTeacher || question.disabled" *ngIf="question.typeCheckBox=='checkbox'"
                                      class="example-margin"
                                      [checked] = "answer.checked"
                                      (change)="answerMulti(question, i, $event)"
                                      name="check">
                          <div>
                            <div class=" form-inline"  *ngIf="question.answernumbertype">{{question.answernumbertype[i]}}.<span [innerHTML]="answer.text"></span>
                              <iframe *ngIf="answer.linkVideo" width="420" height="315"
                                [src]="answer.linkVideo">
                              </iframe> 
                            </div>
                          </div>

                        </mat-checkbox>
                        <mat-radio-button [disabled]="checkgraceperiod || isTeacher || question.disabled" *ngIf="question.typeCheckBox=='radio'"
                                          class="example-margin"
                                          [checked] = "answer.checked"
                                          (change)="answerSingle(question, i)"
                                          [name]="question.slot">
                          <div class="form-inline">
                            <div  *ngIf="question.answernumbertype">{{question.answernumbertype[i]}}.</div>
                            <div>
                              <span [innerHTML]="answer.text | translate"></span>
                              <iframe *ngIf="answer.linkVideo" width="420" height="315"
                                  [src]="answer.linkVideo">
                              </iframe>
                            </div>     
                          </div>
                     </mat-radio-button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="stick-area">
          <span class="text-center" *ngIf="finish!==undefined && !isTeacher"><h3
            class="text-primary">Bạn được: {{finish.correctquestion}}/{{finish.totalquestion}}Câu đúng</h3></span>
            <div class="row"
                 *ngIf="finish===undefined && !checkattemptislimited && !checkattemptisopen && !checkattemptisfinish && !checknoquestion && !isTeacher">
              <div class="card shadow-sm rounded">
                <div class="card-body pl-4 pr-4">
                  <h6 class="m-t-0 m-b-0"><small class="text-muted mr-1">Thí sinh</small>{{ userInfo.firstname }} {{userInfo.lastname}}</h6>
                  <hr>
                  <!-- <p class="text-justify font-italic font-size-11">
                    Thí sinh lưu ý không rời con trỏ khỏi màn hình thi, Quá 03 lần bài thi sẽ tự động kết thúc. Chúc bạn
                    thi tốt !
                  </p> -->
                </div>
              </div>
              <hr>
              <div class="col-12 ">
                <ul class="fa-ul form-inline">
                  <li><i class="fa fa-square text-primary mr-1"></i><small>Đã làm</small></li>
                  <li class="ml-2"><i class="fa fa-square text-gray-light mr-1"></i><small>Chưa làm</small></li>
                  <li class="ml-2"><i class="fa fa-square text-warning mr-1"></i><small>Xem lại</small></li>
                </ul>
              </div>
            </div>
            <div class="row mb-4 mt-2"  *ngIf="!isTeacher">
              <div class="col-12 text-center">
                <button
                  *ngIf="finish===undefined && !checkattemptislimited && !checkattemptisopen && !checkattemptisfinish &&!checknoquestion"
                  [disabled]="checkautoabandon" type="button" (click)="openConfirmPopUp()" class="btn btn-primary">Kết
                  thúc bài thi
                </button>
              </div>
              <hr>
            </div>
            <div class="overflow-auto" style="height: 43vh; padding-left:1rem;" >
              <div *ngFor="let question of listQuestion; let i = index">
                <div [ngClass]="{
                            'square-gray': question.condition==1,
                            'square': question.condition==2 || question.condition==1 || question.condition==3,
                            'square-orange': question.condition==3}" (click)="nextToElement(question.slot)">
                  <div class="content">{{i+1}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- End #main -->
    </div>
  </section>
</main>
