<section class="inner_page_breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 text-center">
        <div class="breadcrumb_content mt-1">
          <h4 class="breadcrumb_title">{{course?.fullname}}</h4>
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
              <a routerLink="/home">{{'common.home' | translate}}</a>
            </li>
            <li class="breadcrumb-item">
              <a routerLink="/my-course">{{'common.course' | translate}}</a>
            </li>
            <li class="breadcrumb-item">
              <a href="#"></a>
            </li>
          </ol>
          <div class="progress mt-0" style="margin-left: 20%; margin-right: 20%;" *ngIf="!isTeacher">
            <div class="progress-bar progress-bar-success" role="progressbar" attr.aria-valuenow="{{progress}}"
                 aria-valuemin="0"
                 aria-valuemax="100" [ngStyle]="{'width.%': progress}">{{progress}}% Hoàn thành
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
</section>

<main id="main" *ngIf="permission; else notPermission" style="min-height: 65vh;">
  <!---Phan noi dung bai hoc-->
  <section id="tabs" class="p-0">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
              <a class="nav-item" [ngClass]="{
                          'active': openTab==1,
                           'nav-link': true}" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                 aria-controls="nav-home" aria-selected="true"><i class="icofont-learn"></i> {{'common.content' | translate}}</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                 aria-controls="nav-profile" aria-selected="false"><i class="icofont-info-circle"></i>{{'common.information' | translate}}</a>
              <a *ngIf="!isTeacher && getDateFromUnix(course?.startdate)?.toDate() < currentDate " class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                 aria-controls="nav-contact" aria-selected="false">
                <i class="icofont-history"></i> {{'common.study_history' | translate}}</a>
              <a *ngIf="isTeacher || (!isTeacher && getDateFromUnix(course?.startdate)?.toDate() < currentDate)
                        && ((['OFFP', 'OFFI', 'OFFE', 'OFFF', 'OFFD'].includes(course?.trainingtype)  && course?.hasquiz == true) || ['ONLR', 'ONLL', ''].includes(course?.trainingtype))  " class="nav-item" [ngClass]="{
                          'active': openTab==2,
                           'nav-link': true}" id="nav-exam-tab" data-toggle="tab" href="#nav-exam" role="tab"
                 aria-controls="nav-exam" aria-selected="false" >
                <i class="icofont-instrument mr-2"></i> {{'common.exam' | translate}} </a>
                <a *ngIf="!isTeacher" class="nav-item nav-link" id="nav-1-tab" data-toggle="tab" href="#nav-1" role="tab"
                aria-controls="nav-3" aria-selected="true"> <i class="fas fa-pen"></i> {{'common.commit_action' | translate}}</a>
              <a *ngIf="!isTeacher && getDateFromUnix(course?.startdate)?.toDate() < currentDate" class="nav-item nav-link" id="nav-quiz-tab" data-toggle="tab" href="#nav-quiz" role="tab"
                 aria-controls="nav-quiz" aria-selected="false">
                <i class="icofont-paper"></i> {{'common.survey' | translate}}</a>
                <a *ngIf="!isTeacher && getDateFromUnix(course?.startdate)?.toDate() < currentDate && ['OFFP', 'OFFI', 'OFFE'].includes(course?.trainingtype)" class="nav-item nav-link" id="nav-badge-tab" data-toggle="tab" href="#nav-badge" role="tab"
                 aria-controls="nav-badge" aria-selected="false">
                <i class="icofont-paper mr-2"></i>{{'common.upload_certificate' | translate}}</a>
                <a *ngIf="!isTeacher && progress==100" class="nav-item nav-link" id="nav-evaluation-tab" data-toggle="tab" href="#nav-evaluation" role="tab"
                 aria-controls="nav-evaluation" aria-selected="false" (click)="loadCommit()">
                <i class="icofont-checked mr-2"></i>{{'common.review' | translate}}</a>
                <a class="nav-item nav-link" id="nav-certificate-tab" data-toggle="tab" href="#nav-certificate" role="tab"
                aria-controls="nav-certificate" aria-selected="false"><i class="icofont-info-circle"></i>{{'common.certificate' | translate}}</a>

            </div>
          </nav>
          <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade" [ngClass]="{
                          'active': openTab==1,
                           'show': openTab==1}" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <app-eu-course-content [courseId]="courseId" [course]="course"></app-eu-course-content>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
              <div class="container profile-page ">
                <h6 class="">{{'common.information' | translate | uppercase}}</h6>
                <div class="row mb-3">
                  <div class="col-4">
                    <img [src]="courseImageUrl" class="rounded" style="height: 25vh; width: 100%;" alt="">
                  </div>
                  <div class="col-8">
                    <div class="row">
                      <div class="col-4">
                        <h6><span class="text-dark">{{'course.study_form.title' | translate}}:</span> {{ course?.trainingtype ? getTrainingType(course?.trainingtype) : ''}}</h6>
                      </div>
                    </div>
                    <h6 class="text-dark">{{'course.description' | translate}}</h6>
                    <div [innerHTML]="course?.summary" class="overflow-auto"></div>
                    <a href="javascript:;" class="linkedin">
                      <i class="icofont-calendar mr-2"></i>
                      <span style="font-size: 10pt;">{{getDateFromUnix(course?.startdate) | date:'dd/MM/yyyy'}} - {{getDateFromUnix(course?.enddate) | date:'dd/MM/yyyy'}} </span></a>
                      <div class="mt-4" *ngIf="course?.enrol === 'self'">
                        <button class="btn btn-outline-primary" (click)="onUnRegisterCourse()">Hủy đăng ký khóa học</button>
                      </div>
                    </div>
                </div>
                <h6 class="">{{'common.teacher' | translate | uppercase}}</h6>
                <div class="row" *ngIf="listTeacher.results?.length > 0;  else elseBlock">
                  <div class="col-4" *ngFor="let teacher of listTeacher.results">
                    <div class="card">
                      <div class="card-body" style="display: flex;">
                        <!-- avatar default -->
                        <div class="person-circle chr-{{teacher.firstname | uppercase | slice:0:1}}"
                             *ngIf="!teacher.userpictureurl"
                             style="cursor: pointer;">
                          {{teacher.firstname | uppercase | slice:0:1 }}{{teacher.lastname | uppercase | slice:0:1 }}
                        </div>

                        <!-- avatar custom-->
                        <img class="person-circle"
                             *ngIf="teacher.userpictureurl"
                             src="{{teacher.userpictureurl}}"
                             alt=""/>

                        <div class="" style="max-width: 315px;">
                          <h6 class="m-t-0 m-b-0 text-primary"><span>{{teacher.firstname}}</span><span class="ml-1">{{teacher.lastname}}</span></h6>
                          <!-- <span class="job_post">Giảng viên BA</span> -->
                          <div mb-0><i class="icofont-stock-mobile mr-2"></i>{{teacher.phone1}}</div>
                          <div mt-0><i class="icofont-mail mr-2"></i>{{teacher.email}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <ng-template #elseBlock>
                  <div class="no-course text-center p-3">{{'common.no_record_enduser' | translate}}</div>
                </ng-template>
                <h6 class="">{{'common.student' | translate | uppercase}}</h6>
                <div class="row" *ngIf="listOtherStudent?.length > 0; else hasNotStudents">
                  <div class="col-4" *ngFor="let student of listOtherStudent">
                    <div class="card">
                      <div class="card-body" style="display: flex;">
                        <!-- avatar default-->
                        <div class="person-circle chr-{{student.firstname | uppercase | slice:0:1}}"
                             *ngIf="!student.userpictureurl"
                             style="cursor: pointer;">
                          {{student.firstname | uppercase | slice:0:1 }}{{student.lastname | uppercase | slice:0:1 }}
                        </div>
                        <!-- avatar custom-->
                        <img class="person-circle"
                             *ngIf="student.userpictureurl"
                             src="{{student.userpictureurl}}"
                             alt=""/>


                        <div class="" style="max-width: 315px;">
                          <h6 class="m-t-0 m-b-0 text-primary"><span class="mr-1">{{student.firstname}}</span><span>{{student.lastname}}</span></h6>
                          <span class="job_post"></span>
                          <div mb-0><i class="icofont-stock-mobile mr-2"></i>{{student.deparmentname}}</div>
                          <div mt-0><i class="icofont-mail mr-2"></i>{{student.email}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer text-center mb-5">
                  <div class="row mb-3">
                    <mat-paginator showFirstLastButtons
                        [length]="totalStudent"
                        [pageSize]="pageSize"
                        [pageIndex]="pageIndex - 1"
                        (page)="changePage($event)"
                        [hidePageSize]="false"
                        [pageSizeOptions]="pageSizeOptions">
                    </mat-paginator>
                  </div>
                </div>
                <ng-template #hasNotStudents>
                  <div class="no-course text-center p-3">{{'common.no_record_enduser' | translate}}</div>
                </ng-template>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
              <app-eu-course-history-content [courseId]="courseId"></app-eu-course-history-content>
            </div>
            <div class="tab-pane fade" [ngClass]="{
                          'active': openTab==2,
                           'show': openTab==2}" id="nav-exam" role="tabpanel" aria-labelledby="nav-exam-tab">
              <app-eu-course-exam-content [courseId]="courseId" [course]="course"></app-eu-course-exam-content>
            </div>
            <div class="tab-pane fade" id="nav-quiz" role="tabpanel" aria-labelledby="nav-quiz-tab">
              <app-eu-course-survey-content [courseId]="courseId"  [course]="course"></app-eu-course-survey-content>
            </div>
            <div class="tab-pane fade" *ngIf="course" id="nav-badge" role="tabpanel" aria-labelledby="nav-badge-tab">
              <app-eu-course-upload-badge [course]="course"></app-eu-course-upload-badge>
            </div>
            <div class="tab-pane fade" *ngIf="course" id="nav-evaluation" role="tabpanel" aria-labelledby="nav-evaluation-tab">
              <app-eu-evaluation [course]="course" #euEvaluation></app-eu-evaluation>
            </div>
            <div class="tab-pane fade" *ngIf="course" id="nav-certificate" role="tabpanel" aria-labelledby="nav-certificate-tab">
              <app-eu-certificate [course]="course.badgeid"></app-eu-certificate>
            </div>
            <div class="tab-pane fade" role="tabpanel" aria-labelledby="nav-1-tab" id="nav-1">
              <!-- <div class="pt-5">
                <h2>Cam kết hành động</h2>
               <div *ngIf="!evaluationInfo3M.commitmentcontent" >
                <div>
                  <label for="">Nội dung hành động</label>
                  <ckeditor  [editor]="Editor" [(ngModel)]="contentCommitment" [config]="editorConfig"></ckeditor>
                </div>
                <div class="commitmentcontent"  *ngIf="evaluationInfo3M.commitmentcontent" [innerHTML]="evaluationInfo3M.commitmentcontent"></div>
                <br>
                <div>
                  <label for="">Phương pháp</label>
                  <ckeditor  [editor]="Editor" [(ngModel)]="method" [config]="editorConfig"></ckeditor>
                </div>
                <br>
                <div>
                  <label for="">Các mục tiêu (mục tiêu 3 tháng,mục tiêu 6 tháng)</label>
                  <ckeditor  [editor]="Editor" [(ngModel)]="objectives" [config]="editorConfig"></ckeditor>
                </div>
                <br>
                <div>
                  <label for="">Thời gian hoàn thành</label>
                  <select class="form-control select2" style="width: 100%;" [(ngModel)]="timeComplete">
                    <option [value]="null" disabled selected>Chọn thời gian hoàn thành</option>
                    <option *ngFor="let item of listCompleteTimeType" [value]="item.value">{{item.name}}</option>
                </select>
                </div>
                <br>
                <div>
                  <label for="">Nguồn lực yêu cầu</label>
                  <ckeditor  [editor]="Editor" [(ngModel)]="cost" [config]="editorConfig"></ckeditor>
                </div>
               </div>
                
                <div class="card-footer-eva mr-0" >
                    <button type="button" class="btn btn-primary" (click)="sendCommitment()"  [disabled]="evaluationInfo3M.commitmentcontent">Gửi</button>
                </div>
              </div> -->
              
                  <form>
                    <div style="float:right" class="pr-4">
                      <button type="button" class="btn btn-flat add-border-commit mr-2 bg-primary" data-toggle="modal" data-target="#addCommitmentModal" (click)="openModal()"><a class="text-blue">Thêm nội dung cam kết</a></button>
                    </div>
  
                    <table class="table table-hover table-bordered mt-4" style="border: 1px solid #dee2e6;float:left">
                      <thead>
                      <tr class="commitment_bg">
                        <th class="text-center" mat-sort-header="id">STT</th>
                        <th class="text-center"  mat-sort-header="fullname">Nội dung hành động</th>
                        <th class="text-center"  mat-sort-header="code">Phương pháp</th>
                        <th  mat-sort-header="startdate" class="text-center">Mục tiêu</th>
                        <th  mat-sort-header="enddate" class="text-center" >Thời gian hoàn thành</th>
                        <th class="text-center"  mat-sort-header="positionname">Nguồn lực yêu cầu</th>
                      </tr>
                      </thead>
                      <tbody>
                       <tr *ngFor="let item of listCommitmentByUser['results'];let ndx = index">
                          <td class="text-center">{{ ndx+1 }}</td>
                          <td>{{ item.contentcommitment }}</td>
                          <td>{{ item.method }}</td>
                          <td class="">{{ item.objectives }}</td>
                          <td class="text-center">{{ item.completetime }} tháng</td>
                          <td class="">{{ item.cost }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </form>
                  <br />
                  <div class="card-footer text-center mt-3">
                    <div class="row mt-5">
                      <mat-paginator showFirstLastButtons
                          [length]="totalRecord"
                          [pageSize]="pageSize"
                          [pageIndex]="pageIndex - 1 "
                          (page)="changePage($event)"
                          [hidePageSize]="false"
                          [pageSizeOptions]="pageSizeOptions">
                      </mat-paginator>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- modal add commit-->
    <div class="modal fade" id="addCommitmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel" style="color: #444444 !important">Thêm nội dung cam kết</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form role="form" [formGroup]="commitmentForm" (ngSubmit)="displayListData()">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Nội dung hành động<span class="text-danger"> *</span></label>
                <textarea class="form-control" formControlName="contentcommitment"></textarea>
                <div *ngIf="commitmentForm.get('contentcommitment')?.touched || commitmentForm.get('contentcommitment')?.dirty">
                  <small class="text-danger" *ngIf="commitmentForm.get('contentcommitment')?.hasError('required')">
                    {{ 'error.validate.input_required' | translate }}
                  </small>
                </div>
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Phương pháp<span class="text-danger"> *</span></label>
                <textarea class="form-control" formControlName="method"></textarea>
                <div *ngIf="commitmentForm.get('method')?.touched || commitmentForm.get('method')?.dirty">
                  <small class="text-danger" *ngIf="commitmentForm.get('method')?.hasError('required')">
                    {{ 'error.validate.input_required' | translate }}
                  </small>
                </div>
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Mục tiêu<span class="text-danger">*</span></label>
                <textarea class="form-control" formControlName="objectives"></textarea>
                <div *ngIf="commitmentForm.get('objectives')?.touched || commitmentForm.get('objectives')?.dirty">
                  <small class="text-danger" *ngIf="commitmentForm.get('objectives')?.hasError('required')">
                    {{ 'error.validate.input_required' | translate }}
                  </small>
                </div>
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Thời gian hoàn thành (tháng)<span class="text-danger"> *</span></label>
                <div>
                  <mat-radio-group formControlName="completetime" [(ngModel)]="chosenItem" >
                    <mat-radio-button class="pr-5" *ngFor="let op of listCheckRadio" [value]="op.value">{{op.value}} Tháng</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Nguồn lực yêu cầu<span class="text-danger"> *</span></label>
                <textarea class="form-control" id="message-text" formControlName="cost"></textarea>
                <div *ngIf="commitmentForm.get('cost')?.touched || commitmentForm.get('cost')?.dirty">
                  <small class="text-danger" *ngIf="commitmentForm.get('cost')?.hasError('required')">
                    {{ 'error.validate.input_required' | translate }}
                  </small>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
           <div  [class]="commitmentForm.invalid ? 'not-allowed': '' " >
            <button type="button" class="btn btn-primary"   data-dismiss="modal" (click)="displayListData()" >Thêm mới cam kết</button>
           </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</main>
<ng-template  #notPermission>
  <div class="container">
    <div class="col-12 text-center border p-3 mt-2">
      <img src="/assets/graduation-cap.svg" style="height: 25vh;" alt="">
      <h5 class="mt-3"><strong>{{'error.cannotviewcourse' | translate}}</strong></h5>
    </div>
  </div>
</ng-template>
<!-- End #main -->
