<div class="modal-header">
    <h5 class="modal-title">Biểu mẫu đánh giá</h5>
    <button type="button" class="close" data-dismiss="modal" aria-span="Close" (click)="activeModal.dismiss('close')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-evluation">
        <div class="info-evluation w-100">
            <div class="info-user d-flex justify-content-between">
                <div class="col-md-6 stu-info stu-info">
                    <div class="font-weight-bold mb-2">Thông tin học viên</div>
                    <div class="row">
                        <div class="col-3">
                            <span>Họ và tên:</span>
                        </div>
                        <div class="col-9 text-value">{{student.fullname}}</div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <span>Email:</span>
                        </div>
                        <div class="col-9 text-value">{{student.email}}</div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <span>Đơn vị:</span>
                        </div>
                        <div class="col-9 text-value">{{student.department}}</div>
                    </div>
                </div>
                <div class="div" style="border: 1px solid #e3e3e3;"></div>
                <div class="col-md-6 stu-info ad-info">
                    <div class="font-weight-bold mb-2">Thông tin CBLĐ đánh giá</div>
                    <div class="row">
                        <div class="col-3">
                            <span>Họ và tên:</span>
                        </div>
                        <div class="col-9 text-value">{{manager.fullname}}</div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <span>Email:</span>
                        </div>
                        <div class="col-9 text-value">{{manager.email}}</div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <span>Đơn vị:</span>
                        </div>
                        <div class="col-9 text-value">{{manager.department}}</div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="font-weight-bold mt-3 mb-2">Đánh giá học viên</div>
            <table class="table mt-2 mb-5">
                <thead class="thead-light">
                    <tr>
                        <th class="first-col col-5"></th>
                        <th class="text-center">Không thay đổi</th>
                        <th class="text-center">Thay đổi ít</th>
                        <th class="text-center">Thay đổi</th>
                        <th class="text-center">Thay đổi nhiều</th>
                        <th class="text-center">Hoàn toàn thay đổi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cri of criterias; let i = index">
                        <td class="first-col">{{cri.name}}</td>
                        <td class="text-center">
                            <label class="label-option-yn"><input type="radio" checked="{{cri.status == 1 ? 'checked' : ''}}" value="1" name="{{cri.code}}" (change)="changeHadle(cri.id, $event)" class="option-evalua" [disabled]="haveEvaluated"/></label>
                        </td>
                        <td class="text-center">
                            <label class="label-option-yn"><input type="radio" checked="{{cri.status == 2 ? 'checked' : ''}}" value="2" name="{{cri.code}}" (change)="changeHadle(cri.id, $event)" class="option-evalua" [disabled]="haveEvaluated"/></label>
                        </td>
                        <td class="text-center">
                            <label class="label-option-yn"><input type="radio" checked="{{cri.status == 3 ? 'checked' : ''}}" value="3" name="{{cri.code}}" (change)="changeHadle(cri.id, $event)" class="option-evalua" [disabled]="haveEvaluated"/></label>
                        </td>
                        <td class="text-center">
                            <label class="label-option-yn"><input type="radio" checked="{{cri.status == 4 ? 'checked' : ''}}" value="4" name="{{cri.code}}" (change)="changeHadle(cri.id, $event)" class="option-evalua" [disabled]="haveEvaluated"/></label>
                        </td>
                        <td class="text-center">
                            <label class="label-option-yn"><input type="radio" checked="{{cri.status == 5 ? 'checked' : ''}}" value="5" name="{{cri.code}}" (change)="changeHadle(cri.id, $event)" class="option-evalua" [disabled]="haveEvaluated"/></label>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
            </div>
        </div>
    </div>
</div>
<div class="modal-footer d-flex justify-content-center" *ngIf="!haveEvaluated">
    <button type="button" class="btn btn-outline-primary cust-btn" (click)="activeModal.close('confirm')">Hủy</button>
    <button type="button" class="btn btn-primary cust-btn" (click)="createEvaluationStd()">Lưu</button>
</div>
