<section class="inner_page_breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 text-center">
          <div class="breadcrumb_content mt-2">
            <h4 class="breadcrumb_title">HỢP ĐỒNG ĐÀO TẠO NGHỀ</h4>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="/home">Trang chủ</a>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
</section>
<main>
    <div class="container pt-4">
      <div class="row">
        <div class="box-object col-lg-12 col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-6"></div>
                <div class="col-6">
                  <div class="d-flex justify-content-end align-items-center float-right">
                    <div class="col-auto">
                      <input type="text" #keyword (change)="onChangeSearch($event)"  placeholder="Tên khóa học" class="form-control" >
                    </div>
                    <div class="col-auto">
                      <select class="form-control" (change)="onChangeStatus($event)" >
                        <option value=""> Toàn bộ </option>
                        <option value="1"> Còn hợp đồng</option>
                        <option value="0"> Hết hợp đồng</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 table-responsive ">
                    <table class="table mt-3 table-hover">
                        <thead>
                            <tr>
                              <th class="text-center">STT</th>
                              <th>Tên khóa học</th>
                              <th>Năm</th>
                              <th>Số tiền</th>
                              <th class="text-center">HĐĐTN tháng</th>
                              <th class="text-center">Thời gian bắt đầu có hiệu lực</th>
                              <th class="text-center">Thời gian kết thúc hiệu lực</th>
                              <th class="text-center">Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor=" let item of listContract; let i = index">
                              <td class="text-center">{{(pageIndex - 1) * pageSize + i + 1}}</td>
                              <td>{{item.fullname}}</td>
                              <td>{{item.year}}</td>
                              <td>{{item.cost}}</td>
                              <td class="text-center">{{item.contractname}}</td>
                              <td class="text-center">{{getDateFromUnix(item.startdate)  | date:'dd/MM/yyyy'}}</td>
                              <td class="text-center">{{getDateFromUnix(item.enddate)  | date:'dd/MM/yyyy'}}</td>   
                              <td class="text-center">{{item.status ? 'Còn hợp đồng':'Hết hợp đồng'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              </div>
            </div>
            <div class="card-footer text-center">
              <div class="row">
                <mat-paginator showFirstLastButtons [length]="totalRecord" [pageSize]="pageSize"
                    [pageIndex]="pageIndex - 1" (page)="changePage($event)" [hidePageSize]="false"
                    [pageSizeOptions]="pageSizeOptions">
                </mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
