<section class="content">
  <div class="content-wrapper" style="min-height: 928.604px">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>BÁO CÁO THEO NGUỒN ĐÀO TẠO</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <a href="#" routerLink="/admin">CMS</a>
              </li>
              <li class="breadcrumb-item active">BÁO CÁO THEO KHUNG ĐÀO TẠO</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <section>
      <mat-drawer-container autosize class="example-container">
        <mat-drawer #drawer class="example-sidenav" mode="side" opened>
          <div class="card card-default">
            <div class="card-body">
              <div class="row">
                <div class="col-7"></div>
                <!-- <div class="col-5">
                    <button type="button" data-toggle="modal" data-target="#createTopic"
                      class="btn btn-primary rounded-0 float-right" (click)="clear()">
                      Đặt lại tìm kiếm
                    </button>
                  </div> -->
              </div>
              <hr />
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header [collapsedHeight]="'50px'">
                    <mat-panel-title>
                      <div class="form-inline">
                        <div class="ml-2 mt-1">
                          <span class="topic">Đơn vị</span>
                        </div>
                      </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <form>
                    <ejs-treeview
                      #departmentTree
                      [fields]="departmentTreeData"
                      (keyPress)="nodeCheck($event)"
                      (nodeClicked)="nodeCheck($event)"
                      (nodeSelected)="nodeDepartmentSelected($event)"
                      (nodeChecked)="nodeDepartmentChecked($event)"
                      [showCheckBox]="true"
                    >
                    </ejs-treeview>
                  </form>
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header [collapsedHeight]="'50px'">
                    <mat-panel-title>
                      <div class="form-inline">
                        <div class="ml-2 mt-1">
                          <span class="topic">Danh mục họ nghề </span>
                        </div>
                      </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <form>
                    <ejs-treeview
                      #categoryTree
                      [fields]="categoryTreeData"
                      (keyPress)="nodeCheckCategory($event)"
                      (nodeClicked)="nodeCheckCategory($event)"
                      (nodeSelected)="nodeSelectedCategory($event)"
                      (nodeChecked)="nodeCategoryChecked($event)"
                      [showCheckBox]="true"
                    >
                    </ejs-treeview>
                  </form>
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header [collapsedHeight]="'50px'">
                    <mat-panel-title>
                      <div class="form-inline">
                        <div class="ml-2 mt-1">
                          <span class="topic">Nguồn đào tạo </span>
                        </div>
                      </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                    <div class="source-content ml-5">
                      <div *ngFor="let item of sourcesDataCheckbox">
                        <mat-checkbox [(ngModel)]="item.checked" (change)="getCheckboxes()">{{item.name}}</mat-checkbox>
                      </div>
                    </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </mat-drawer>
        <div class="example-sidenav-content">
          <div class="card card-default">
            <div class="card-body content-of-topic mt-2">
              <div class="row">
                <div class="col-8">
                  <h6 class="topic mb-2"></h6>
                  <div class="form-inline">
                    <div class="btn-group"></div>
                  </div>
                </div>
                <!-- //content -->
                <section class="content" style="overflow-x: hidden">
                  <div class="container-fluid">
                    <div class="col-12">
                      <div class="card card-default">
                        <div class="card-header">
                          <!-- <h3 class="card-title">Danh sách câu hỏi mới</h3> -->
                          <div class="row">
                            <div class="col-3 mt-0">
                              <div class="form-group">
                                <label class="mr-2">Kế hoạch năm</label
                                ><span class="text-danger">*</span>
                                <app-month-picker
                                  class="month-picker"
                                  inputValue="{{ inputYear }}"
                                  [defaulthYear]="getDefault()"
                                  typePicker="year"
                                  (chooseYearE)="yearSelected($event)"
                                  typePicker="year"
                                  >loading</app-month-picker
                                >
                              </div>
                            </div>
                            <div class="col-3 mt-0">
                              <div class="form-group">
                                <label class="mr-2">Thời gian thực hiện</label
                                ><span class="text-danger">*</span>
                                <app-month-picker
                                  class="month-picker"
                                  inputValue="{{ inputYear }}"
                                  typePicker="month"
                                  (chooseMonthE)="monthSelected($event)"
                                  >loading</app-month-picker
                                >
                              </div>
                            </div>
                            <div class="col-3 mt-5">
                              <form class="form-inline" [formGroup]="">
                                <div class="text-right export-kpi mt-4">
                                  <a
                                    class="btn btn-sm btn-success text-white"
                                    (click)="exportExcel()"
                                    ><i class="fas fa-file-excel mr-2"></i>Xuất
                                    File Excel
                                  </a>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                        <div
                          class="card-body"
                          style="overflow-x: hidden; max-width: 100%"
                        >
                          <div class="row mt-2">
<!--                            <div-->
<!--                              class="col-6 table-responsive"-->
<!--                              id="table_1"-->
<!--                              style="z-index: 9999"-->
<!--                            >-->
<!--                              <table class="table table-hover table-bordered">-->
<!--                                <thead>-->
<!--                                  <tr>-->
<!--                                    <th [attr.rowspan]="3" class="text-center">STT</th>-->
<!--                                    <th [attr.rowspan]="3" class="text-center">-->
<!--                                      Tên nguồn đạo tạo-->
<!--                                    </th>-->
<!--                                    <th class="text-center" [attr.colspan]="3">-->
<!--                                      Kế hoạch năm-->
<!--                                    </th>-->
<!--                                  </tr>-->
<!--                                  <tr id="header2" class="table2" style="margin-left: -13px">-->
<!--                                    <th class="text-center" [attr.rowspan]="2">Số lớp</th>-->
<!--                                    <th class="text-center" [attr.rowspan]="2">-->
<!--                                      Số lượt học viên-->
<!--                                    </th>-->
<!--                                    <th class="text-center" [attr.rowspan]="2">Chi phí (VND)</th>-->
<!--                                  </tr>-->
<!--                                </thead>-->
<!--                                <tbody>-->
<!--                                  <tr-->
<!--                                    class="table1"-->
<!--                                    *ngFor="-->
<!--                                      let item of listReportTraining;-->
<!--                                      let i = index-->
<!--                                    "-->
<!--                                  >-->
<!--                                    <td class="">-->
<!--                                      {{ (pageIndex - 1) * pageSize + i + 1 }}-->
<!--                                    </td>-->
<!--                                    <td-->
<!--                                      class="text-left"-->
<!--                                      style="verticle-align: middle"-->
<!--                                    >-->
<!--                                      {{ item.name }}-->
<!--                                    </td>-->
<!--                                    <td class="text-left">-->
<!--                                      {{ item.plannumofcourse }}-->
<!--                                    </td>-->
<!--                                    <td-->
<!--                                      class="text-left"-->
<!--                                      style="verticle-align: middle"-->
<!--                                    >-->
<!--                                      {{ item.plannumofstudent }}-->
<!--                                    </td>-->
<!--                                    <td class="text-left">-->
<!--                                      {{ item.plantotalcost }}-->
<!--                                    </td>-->
<!--                                  </tr>-->
<!--                                </tbody>-->
<!--                              </table>-->
<!--                            </div>-->
                            <div
                              class="col-12 table-responsive"
                              id="table_2"
                            >
                              <table
                                class="table table-hover table-bordered"
                                style="white-space: nowrap"
                              >
                                <thead class="head2">
                                  <tr>
                                    <th class="text-center" rowspan="3">STT</th>
                                    <th class="text-center" rowspan="3">
                                      Tên nguồn đạo tạo
                                    </th>
                                    <th class="text-center" colspan="3">
                                      Kế hoạch năm
                                    </th>
                                    <th colspan="9" class="text-center">
                                      Thực hiện(tháng T)
                                    </th>
                                    <th colspan="9" class="text-center">
                                      Luỹ kế (tháng 1 năm n đến tháng T năm n)
                                    </th>
                                    <th [colSpan]="numdeptrate"  class="text-center" *ngIf="numdeptrate">
                                      Luỹ kế (tháng 1 năm n đến tháng T năm)
                                    </th>
                                  </tr>
                                  <tr id="header2" class="table2" style="margin-left: -13px">
                                    <th class="text-center" [attr.rowspan]="2">Số lớp</th>
                                    <th class="text-center" [attr.rowspan]="2">
                                      Số lượt học viên
                                    </th>
                                    <th class="text-center" [attr.rowspan]="2">Chi phí (VND)</th>
                                    <th class="text-center" [attr.rowspan]="2">Số khoá</th>
                                    <th class="text-center" [attr.rowspan]="2">
                                      Số lượt học viên
                                    </th>
                                    <th [attr.rowspan]="2">Số CBNV được đào tạo</th>
                                    <th [attr.rowspan]="2">Chi phí</th>
                                    <th [attr.rowspan]="2">Tỷ lệ hoàn thành kế hoạch CP (%)</th>
                                    <th [attr.rowspan]="2">Tỷ lệ học viên đạt của khoá học(%)</th>
                                    <th colspan="3" class="text-center">Đánh giá người học</th>
                                    <th class="text-center" [attr.rowspan]="2">Số khoá</th>
                                    <th class="text-center" [attr.rowspan]="2">
                                      Số lượt học viên
                                    </th>
                                    <th class="text-center" [attr.rowspan]="2">
                                      Số CBNV được đào tạo
                                    </th>
                                    <th [attr.rowspan]="2">Tỷ lệ hoàn thành số lớp(%)</th>
                                    <th [attr.rowspan]="2">Tỷ lệ hoàn thành kế hoạch CP TCT(%)</th>
                                    <th class="text-center" [attr.rowspan]="2">
                                      Tỷ lệ học viên đạt của khoá học
                                    </th>
                                    <th class="text-center" colspan="3">
                                      Đánh giá của người học
                                    </th>
                                      <ng-container *ngFor="let dept of deptcode">
                                        <th class="text-center" [attr.rowspan]="2">{{dept}}</th>
                                      </ng-container>
                                  </tr>
                                  <tr>
                                    <th class="text-center">
                                      Đánh giá giảng viên
                                    </th>
                                    <th class="text-center">
                                      Đánh giá nội dung đào tạo
                                    </th>
                                    <th class="text-center">
                                      Đánh giá khâu tổ chức lớp
                                    </th>
                                    <th class="text-center">
                                      Đánh giá giảng viên
                                    </th>
                                    <th class="text-center">
                                      Đánh giá nội dung đào tạo
                                    </th>
                                    <th class="text-center">
                                      Đánh giá khâu tổ chức lớp
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr
                                    class="table2"
                                    style="margin-left: -16px"
                                    *ngFor="
                                      let item of listReportTraining;
                                      let i = index
                                    "
                                  >
                                    <td class="text-center">{{item.stt}}</td>
                                    <td [ngClass]="item.id === 0 ? 'text-training-sources' : ''">{{formatSourceName(item.name)}}</td>
                                    <td>{{item.plannumofcourse}}</td>
                                    <td>{{item.plannumofstudent}}</td>
                                    <td>{{item.plantotalcost}}</td>
                                    <td>{{ item.numofcourse }}</td>
                                    <td>{{ item.numofstudent }}</td>
                                    <td>{{ item.numofstaff }}</td>
                                    <td>{{ item.totalcost }}</td>
                                    <td>{{ item.totalcost / item.plantotalcost}}</td>
                                    <td>{{ item.completedstudentrate }}</td>
                                    <td>{{ item.teacherevaluate }}</td>
                                    <td>{{ item.classcontentevaluate }}</td>
                                    <td>{{ item.classorgevaluate }}</td>
                                    <td>{{ item.accumulatednumofcourse }}</td>
                                    <td>{{ item.accumulatednumofstudent }}</td>
                                    <td>{{ item.accumulatednumofstaff }}</td>
                                    <td>{{ item.accumulatednumofcourse / item.plannumofcourse }}</td>
                                    <td>{{ item.accumulatedtotalcost / item.plantotalcost }}</td>
                                    <td>{{ item.accumulatedcompletedstudentrate}}</td>
                                    <td>{{ item.accumulatedteacherevaluate}}</td>
                                    <td>{{ item.accumulatedclasscontentevaluate}}</td>
                                    <td>{{ item.accumulatedclassorgevaluate}}</td>
                                    <ng-container *ngFor="let dep of item.deptrate">
                                      <td>{{dep.value}}</td>
                                    </ng-container>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <div class="row">
                              <mat-paginator
                                showFirstLastButtons
                                [length]="total"
                                [pageSize]="searchTrainingReport.pageSize"
                                [pageIndex]="searchTrainingReport.pageIndex - 1"
                                (page)="changePage($event)"
                                [hidePageSize]="false"
                                [pageSizeOptions]="pageSizeOptions"
                              >
                              </mat-paginator>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </mat-drawer-container>
    </section>
  </div>
</section>
