<div class="div">
    <div class="form-evluation">
        <div class="info-evluation w-100">
            <nav>
                <div class="nav nav-tabs nav-fill col-md-12" id="nav-tab" role="tablist">
                    <!-- <a class="nav-item col-md-3 active nav-link" id="nav-1-tab" data-toggle="tab" href="#nav-1" role="tab"
                    aria-controls="nav-3" aria-selected="true"> Cam kết hành động</a> -->
                  <a class="nav-item col-md-3  nav-link" id="nav-3-tab" data-toggle="tab" href="#nav-3" role="tab"
                     aria-controls="nav-3" aria-selected="true"> Đánh giá 3 tháng</a>
                  <a class="nav-item nav-link col-md-3" id="nav-6-tab" data-toggle="tab" href="#nav-6" role="tab"
                     aria-controls="nav-6" aria-selected="false">Đánh giá 6 tháng</a>
                </div>
            </nav>
            
            <div class="tab-pane fade" role="tabpanel" aria-labelledby="nav-3-tab" id="nav-3">
                <div class="info-user d-flex justify-content-between">
                    <div class="col-md-6 stu-info stu-info">
                        <div class="font-weight-bold mb-2">Thông tin học viên</div>
                        <div class="row">
                            <div class="col-3">
                                <span>Họ và tên:</span>
                            </div>
                            <div class="col-9 text-value">{{evaluationInfo3M.fullname}}</div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <span>Email:</span>
                            </div>
                            <div class="col-9 text-value">{{evaluationInfo3M.email?.length <= 58 ? evaluationInfo3M.email : (evaluationInfo3M.email| slice:0:58) + '\n'+ evaluationInfo3M.email.slice(58)}}</div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <span>Đơn vị:</span>
                            </div>
                            <div class="col-9 text-value">{{evaluationInfo3M.department}}</div>
                        </div>
                    </div>
                    <div class="div" style="border: 1px solid #e3e3e3;"></div>
                    <div class="col-md-6 stu-info ad-info">
                        <div class="font-weight-bold mb-2">Thông tin CBLĐ đánh giá</div>
                        <div class="row">
                            <div class="col-3">
                                <div>LĐ đánh giá:</div>
                                <div>Email:</div>
                            </div>
                            <div class="col-9">
                                <div [innerHTML]="evaluationInfo0.mfullname" *ngIf="this.evaluationInfo0.muserid;else noevaluated"></div>
                                <div *ngIf="this.evaluationInfo0.muserid">{{evaluationInfo0.memail}}</div>
                                <ng-template #noevaluated>
                                    <div>Chưa có người đánh giá</div>
                                </ng-template>                                
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                
                <div>
                    <div class="font-weight-bold mt-3 mb-2">Cam kết hành động</div>
                    <form>
                        <table class="table table-hover table-bordered" style="border: 1px solid #dee2e6;float:left">
                          <thead>
                          <tr class="commitment_bg">
                            <th class="text-center" mat-sort-header="id">STT</th>
                            <th class="text-center"  mat-sort-header="fullname">Nội dung hành động</th>
                            <th class="text-center"  mat-sort-header="code">Phương pháp</th>
                            <th  mat-sort-header="startdate" class="text-center">Mục tiêu</th>
                            <th  mat-sort-header="enddate" class="text-center" >Thời gian hoàn thành</th>
                            <th class="text-center"  mat-sort-header="positionname">Nguồn lực yêu cầu</th>
                          </tr>
                          </thead>
                          <tbody>
                           <tr *ngFor="let item of listCommitmentByUser['results'];let ndx = index" >
                              <td *ngIf="item.completetime ===3" class="text-center">{{ ndx+1 }}</td>
                              <td *ngIf="item.completetime ===3">{{ item.contentcommitment }}</td>
                              <td *ngIf="item.completetime ===3">{{ item.method }}</td>
                              <td *ngIf="item.completetime ===3" class="">{{ item.objectives }}</td>
                              <td *ngIf="item.completetime ===3" class="text-center">{{ item.completetime }} tháng</td>
                              <td *ngIf="item.completetime ===3" class="">{{ item.cost }}</td>
                            </tr>
                          </tbody>
                        </table>
                    </form>
                    <br />
                    <div class="card-footer text-center">
                        <div class="row">
                        <mat-paginator showFirstLastButtons
                            [length]="totalCommit"
                            [pageSize]="pageSize"
                            [pageIndex]="pageIndex - 1 "
                            (page)="changePage($event)"
                            [hidePageSize]="false"
                            [pageSizeOptions]="pageSizeOptions">
                        </mat-paginator>
                        </div>
                    </div>
                </div>
                
                <div class="font-weight-bold mt-3 mb-2">Thông tin đánh giá</div>
                <div class="card-evaluation border">
                    <div class="d-flex row col-md-12 p-3">
                        <p class="col-md-3">1. Không thay đổi gì hoặc thay đổi tiêu cực</p>
                        <p class="col-md-3">2. Thay đổi ít (20 - 30%)</p>
                        <p class="col-md-3">3. Thay đổi (40 - 50%)</p>
                        <p class="col-md-3">4. Thay đổi nhiều (60 -80%)</p>
                        <p class="col-md-3">5. Hoàn toàn thay đổi (100%)</p>
                    </div>
                    <div class="border-top border-bottom">
                        <table class="table mt-3 mb-5">
                            <thead class="thead-light">
                                <tr class="text-center">
                                    <th rowspan="2">STT</th>
                                    <th rowspan="2">Hành vi liên quan đến kiến thức, kỹ năng đã được cử đi trước đó 3 tháng,
                                        6
                                        tháng</th>
                                    <th colspan="5" class="col-5">Mức độ thay đổi</th>
                                </tr>
                                <tr class="text-center">
                                    <th class="text-center">1</th>
                                    <th class="text-center">2</th>
                                    <th class="text-center">3</th>
                                    <th class="text-center">4</th>
                                    <th class="text-center">5</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let criteria of evaluationInfo3M.criterias; let i =index;">
                                    <td class="first-col">{{i+1}}</td>
                                    <td class="first-col">{{criteria.name}}</td>
                                    <td class="text-center" *ngFor="let j of [1,2,3,4,5]">
                                        <label class="label-option-yn"><input type="radio" disabled [checked]="criteria.status!=0 && criteria.status==j" value="{{j}}" name="rad_btn{{i}}"
                                                class="option-evalua" /></label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <!-- <div *ngIf="!this.evaluationInfo3M.muserid">
                        <div class="card-footer-eva" >
                            <button type="button" class="btn btn-primary" (click)="sendEvaluation(evaluationInfo3M.type)" >Gửi</button>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="tab-pane fade" role="tabpanel" aria-labelledby="nav-6-tab" id="nav-6">
                <div class="info-user d-flex justify-content-between">
                    <div class="col-md-6 stu-info stu-info">
                        <div class="font-weight-bold mb-2">Thông tin học viên</div>
                        <div class="row">
                            <div class="col-3">
                                <span>Họ và tên:</span>
                            </div>
                            <div class="col-9 text-value">{{evaluationInfo6M.fullname}}</div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <span>Email:</span>
                            </div>
                            <div class="col-9 text-value">{{evaluationInfo6M.email?.length <= 58 ? evaluationInfo6M.email : (evaluationInfo6M.email| slice:0:58) + '\n'+ evaluationInfo6M.email.slice(58)}}</div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <span>Đơn vị:</span>
                            </div>
                            <div class="col-9 text-value">{{evaluationInfo6M.department}}</div>
                        </div>
                    </div>
                    <div class="div" style="border: 1px solid #e3e3e3;"></div>
                    <div class="col-md-6 stu-info ad-info">
                        <div class="font-weight-bold mb-2">Thông tin CBLĐ đánh giá</div>
                        <div class="row">
                            <div class="col-3">
                                <div>LĐ đánh giá:</div>
                                <div>Email:</div>
                            </div>
                            <div class="col-9">
                                <div [innerHTML]="evaluationInfo0.mfullname" *ngIf="this.evaluationInfo0.muserid;else noevaluated"></div>
                                <div *ngIf="this.evaluationInfo0.muserid">{{evaluationInfo0.memail}}</div>
                                <ng-template #noevaluated>
                                    <div>Chưa có người đánh giá</div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                
                <div>
                    <div class="font-weight-bold mt-3 mb-2">Cam kết hành động</div>
                    <form>
                        <table class="table table-hover table-bordered" style="border: 1px solid #dee2e6;float:left">
                          <thead>
                          <tr class="commitment_bg">
                            <th class="text-center" mat-sort-header="id">STT</th>
                            <th class="text-center"  mat-sort-header="fullname">Nội dung hành động</th>
                            <th class="text-center"  mat-sort-header="code">Phương pháp</th>
                            <th  mat-sort-header="startdate" class="text-center">Mục tiêu</th>
                            <th  mat-sort-header="enddate" class="text-center" >Thời gian hoàn thành</th>
                            <th class="text-center"  mat-sort-header="positionname">Nguồn lực yêu cầu</th>
                          </tr>
                          </thead>
                          <tbody>
                           <tr *ngFor="let item of listCommitmentByUser['results'];let a = index">
                              <td *ngIf="item.completetime ===6" class="text-center">{{ a+1 }}</td>
                              <td *ngIf="item.completetime ===6">{{ item.contentcommitment }}</td>
                              <td *ngIf="item.completetime ===6">{{ item.method }}</td>
                              <td *ngIf="item.completetime ===6" class="">{{ item.objectives }}</td>
                              <td *ngIf="item.completetime ===6" class="text-center">{{ item.completetime }} tháng</td>
                              <td *ngIf="item.completetime ===6" class="">{{ item.cost }}</td>
                            </tr>
                          </tbody>
                        </table>
                    </form>
                </div>
                
                <div class="font-weight-bold mt-3 mb-2">Thông tin đánh giá</div>
                <div class="card-evaluation border">
                    <div class="d-flex row col-md-12 p-3">
                        <p class="col-md-3">1. Không thay đổi gì hoặc thay đổi tiêu cực</p>
                        <p class="col-md-3">2. Thay đổi ít (20 - 30%)</p>
                        <p class="col-md-3">3. Thay đổi (40 - 50%)</p>
                        <p class="col-md-3">4. Thay đổi nhiều (60 -80%)</p>
                        <p class="col-md-3">5. Hoàn toàn thay đổi (100%)</p>
                    </div>
                    <div class="border-top border-bottom">
                        <table class="table mt-3 mb-5">
                            <thead class="thead-light">
                                <tr class="text-center">
                                    <th rowspan="2">STT</th>
                                    <th rowspan="2">Hành vi liên quan đến kiến thức, kỹ năng đã được cử đi trước đó 3 tháng,
                                        6
                                        tháng</th>
                                    <th colspan="5" class="col-5">Mức độ thay đổi</th>
                                </tr>
                                <tr class="text-center">
                                    <th class="text-center">1</th>
                                    <th class="text-center">2</th>
                                    <th class="text-center">3</th>
                                    <th class="text-center">4</th>
                                    <th class="text-center">5</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let criteria of evaluationInfo6M.criterias; let i =index;">
                                    <td class="first-col">{{i+1}}</td>
                                    <td class="first-col">{{criteria.name}}</td>
                                    <td class="text-center" *ngFor="let j of [1,2,3,4,5]">
                                        <label class="label-option-yn"><input type="radio" disabled [checked]="criteria.status!=0 && criteria.status==j" value="{{j}}" name="rad_btn6{{i}}"
                                           class="option-evalua" /></label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <!-- <div *ngIf="!this.evaluationInfo6M.muserid">
                        <div class="card-footer-eva" >
                            <button type="button" class="btn btn-primary" [disabled]="!this.evaluationInfo3M.muserid || !this.evaluationInfo3M.evaluated" (click)="sendEvaluation(evaluationInfo6M.type)" >Gửi</button>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>