.table{
    width: 97%;
    margin: 19px;
}
.card-footer-eva{
    margin: 29px 60px;
    text-align: right;
}
.card-footer-eva button{
    padding: 10px 50px;
    margin-left: 40px;
}
.label-option-yn{
    margin-left: -12px;
}
.fade:not(.show){
    display: none;
}
.info-user{
    margin-top:20px;
}
.top-panel.mat-select-panel{
    margin-top: 30px !important;
}
.manager-filter{
    padding: 15px;
    font-size: inherit !important;
    border-bottom: 1px solid #b3b3b3;
}
.commitment_bg{
    background-color: #DFF0FF;
}