<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Quản lý kế hoạch đào tạo cấp dưới</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#" routerLink="/admin">CMS</a></li>
                        <li class="breadcrumb-item active">Quản lý kế hoạch đào tạo cấp dưới</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card card-default">
                    <mat-tab-group dynamicHeight selectedIndex="0">
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon">infor</mat-icon>
                                Danh sách kế hoạch đào tạo
                            </ng-template>
                            <div class="card-body">
                                <mat-drawer-container autosize class="example-container">
                                    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
                                        <div class="card card-default">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-7">
                                                        <h6>Cây đơn vị</h6>
                                                    </div>
                                                    <div class="col-5">
                                                       
                                                    </div>
                                                </div>
                                                <hr>
                                                <form>
                                                    <ejs-treeview #departmentTree [fields]="departmentTreeData"  (keyPress)='nodeCheck($event)' (nodeClicked)='nodeCheck($event)' 
                                                        (nodeSelecting)='nodeSelected($event)' (nodeChecked)='nodeSelected($event)' [showCheckBox]='true'></ejs-treeview>
                                                </form>
                                            </div>
                                        </div>
                                    </mat-drawer>
                                    <div class="example-sidenav-content" style="width: 100% !important;">
                                        <div class="card card-default" >  
                                            <div class="card-body">
                                                <div class="col-12 ">
                                                    <div class="row mt-2">
                                                        <div class="col-3">
                                                            <button class="btn btn-default btn-flat btn-md mr-2" type="button" mat-button
                                                                        (click)="drawer.toggle()"><i class="fas fa-bars"></i>
                                                                    </button>
                                                                    <button type="button" *ngIf="isAdmin" class="btn btn-primary btn-lg mr-1" matTooltipClass="tooltip-red"
                                                                    (click)="goToCreate()" ><i class="fas fa-plus mr-1"></i>Import Kế hoạch</button>
                                                        </div>
                                                        <div class="col-9 ">
                                                            <div class="form-inline float-right" role="form">
                                                                <div class="form-group">
                                                                    <label class="mr-2">Tìm kiếm</label>
                                                                    <input type="search"
                                                                        class="form-control form-control-sm mr-2" placeholder="Mã-Tên kế hoạch"
                                                                        [(ngModel)]="keyword" (change)="onChangeKeyWord()">
                                                                </div>
                                                                <div class="form-group">
                                                                    <app-month-picker typePicker="year" (chooseYearE)="yearSelected($event)">loading
                                                                    </app-month-picker>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <div class="data-table mt-2">
                                                    <table class="table table-hover table-bordered" matSort (matSortChange)="sortData($event)">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center">STT</th>
                                                                <th mat-sort-header="code">Mã kế hoạch</th>
                                                                <th mat-sort-header="name">Tên kế hoạch</th>
                                                                <th class="text-center">Số lượng khóa học</th>
                                                                <th class="text-center">Số lượng học viên</th>
                                                                <th class="text-center">Ngày tạo</th>
                                                                <th class="text-center">Ngày cập nhật</th>
                                                                <th class="text-center">Người tạo</th>
                                                                <th class="text-center">Người cập nhật</th>
                                                                <th class="text-center">Năm kế hoạch</th>
                                                                <th class="text-center">Tổng chi phí (VNĐ)</th>
                                                                <th class="text-center">Thao tác</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of planList; let countPosition = index; ">
                                                                <td class="text-center" [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{(pageIndex - 1)*pageSize + countPosition + 1}}</td>
                                                                <td [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{item.code}}</td>
                                                                <td [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{item.name}}</td>
                                                                <td class="text-center" [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{item.numbercourse}}</td>
                                                                <td class="text-center" [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{item.numberstudent}}</td>   
                                                                <td [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{getDateFromUnix(item.createdat) | date:'dd/MM/yyyy' }}</td>
                                                                <td [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{getDateFromUnix(item.updatedat) | date:'dd/MM/yyyy' }}</td>
                                                                <td [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{item.fullname}}</td>       
                                                                <td [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{item.updateduser}}</td>                               
                                                                <td class="text-center" [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{subYear(item.code)}}</td>
                                                                <td class="text-center" [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{showCost(item.totalcost)}}</td>
                                                                <td class="project-actions text-center">
                                                                    <!-- <button type="button" class="btn btn-default btn-sm mr-1" matTooltip="Xem chi tiết"
                                                                        matTooltipClass="tooltip-red" (click)="goToDetailNB(item.id)"><i class="fas fa-eye"></i></button> -->
                                                                    <button *ngIf="!isAdmin" type="button" (click)="deleteTrainingPlan(item.id)"
                                                                        class="btn btn-default btn-sm mr-1" matTooltip="Xóa" matTooltipClass="tooltip-red">
                                                                        <i class="fas fa-trash"></i>
                                                                    </button>
                                                                    <button  type="button" (click)="goToDetail(item.id)"
                                                                    class="btn btn-default btn-sm mr-1" matTooltip="Sửa" matTooltipClass="tooltip-red">
                                                                    <i class="fas fa-edit"></i>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <br />
                                                    <p *ngIf="planList?.length === 0" class="text-center">{{
                                                        'common.no_search_result' | translate}}</p>
                                                
                                                </div>
                                                <div class="card-footer text-center">
                                                    <div class="row">
                                                        <mat-paginator showFirstLastButtons [length]="totalRecord" [pageSize]="pageSize"
                                                            [pageIndex]="pageIndex - 1" (page)="changePage($event)" [hidePageSize]="false"
                                                            [pageSizeOptions]="pageSizeOptions">
                                                        </mat-paginator>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-drawer-container>   
                            </div>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <img  src="/assets/request-clone.svg" alt="" class="mr-2">
                               Phê duyệt yêu cầu chỉnh sửa
                            </ng-template>
                            <div class="card-body">
                                <mat-drawer-container autosize class="example-container">
                                    <div class="example-sidenav-content" style="width: 100% !important;">
                                        <div class="card card-default" >  
                                            <div class="card-body">
                                                <div class="col-12 ">
                                                    <div class="row mt-2">
                                                        <div class="col-12">
                                                            <div class="form-inline float-right" role="form">
                                                                <div class="form-group mr-3">
                                                                    <span class="fw-bold mx-2 me-2 title-span" >Trạng thái</span>             
                                                                        <select class="form-control form-control-sm ml-2 lclt " (change)="onChangeStatus($event)" >
                                                                        <option>Chọn trạng thái</option>
                                                                        <option value="1">Đang chờ</option>
                                                                        <option value="2">Phê duyệt</option>
                                                                        <option value="3">Từ chối</option>
                                                                        <option value="4">Hủy</option>
                                                                        </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="mr-2">Tìm kiếm</label>
                                                                    <input type="search"
                                                                        class="form-control form-control-sm mr-2" placeholder="Mã-Tên kế hoạch"
                                                                        [(ngModel)]="keywordRequests" (change)="onChangeKeyWordRequests()">
                                                                </div>
                                                                <div class="form-group">
                                                                    <app-month-picker typePicker="year" (chooseYearE)="yearSelectedRequests($event)">loading
                                                                    </app-month-picker>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="data-table mt-2">
                                                    <table class="table table-hover table-bordered" matSort (matSortChange)="sortData($event)">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center">STT</th>
                                                                <th mat-sort-header="code">Mã kế hoạch</th>
                                                                <th mat-sort-header="name">Tên kế hoạch</th>
                                                                <th class="text-center">Số lượng khóa học</th>
                                                                <th class="text-center">Số lượng học viên</th>
                                                                <th class="text-center">Ngày tạo</th>
                                                                <th class="text-center">Ngày cập nhật</th>
                                                                <th class="text-center">Người tạo</th>
                                                                <th class="text-center">Người cập nhật</th>
                                                                <th class="text-center">Năm kế hoạch</th>
                                                                <th class="text-center">Tổng chi phí (VNĐ)</th>
                                                                <th class="text-center">ND yêu cầu</th>
                                                                <th class="text-center" >ND phê duyệt/Từ chối</th>
                                                                <th class="text-center">Trạng thái</th>
                                                                <th class="text-center">Thao tác</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of planListRequests; let countPosition = index; ">
                                                                <td class="text-center" [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{(pageIndex - 1)*pageSize + countPosition + 1}}</td>
                                                                <td [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{item.code}}</td>
                                                                <td [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{item.name}}</td>
                                                                <td class="text-center" [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{item.numbercourse}}</td>
                                                                <td class="text-center" [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{item.numberstudent}}</td>   
                                                                <td [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{getDateFromUnix(item.createdat) | date:'dd/MM/yyyy' }}</td>
                                                                <td [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{getDateFromUnix(item.updatedat) | date:'dd/MM/yyyy' }}</td>
                                                                <td [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{item.fullname}}</td>       
                                                                <td [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{item.updateduser}}</td>                               
                                                                <td class="text-center" [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{subYear(item.code)}}</td>
                                                                <td class="text-center" [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{showCost(item.totalcost)}}</td>
                                                                <td class="text-center">
                                                                    <span matTooltip="{{item.requestcontent}}" matTooltipClass="tooltip-inner">{{item.requestcontent?.length <= 40 ? item.requestcontent : (item.requestcontent | slice:0:40) + '...' }}</span>
                                                                </td>
                                                                <td class="text-center">
                                                                        <span matTooltip="{{item.responsecontent}}" matTooltipClass="tooltip-inner">{{item.responsecontent?.length <= 40 ? item.responsecontent : (item.responsecontent | slice:0:40) + '...' }}</span>
                                                                </td>
                                                                <td>
                                                                    <span class="badge badge-warning" matTooltip="Đang chờ" *ngIf="item.status ==1">Đang chờ</span>
                                                                    <span class="badge badge-primary"  matTooltip="Đã phê duyệt" *ngIf="item.status ==2">Đã phê duyệt</span>
                                                                    <span class="badge badge-ct"  matTooltip="Đã từ chối" *ngIf="item.status ==3">Đã từ chối</span>
                                                                </td>
                                                                <td class="project-actions text-center">
                                                                    <button *ngIf="item.status != 2 && !isAdmin"  type="button" class="btn btn-default btn-sm mr-1" matTooltip="Xem chi tiết"
                                                                        matTooltipClass="tooltip-red" (click)="goToDetailNB(item.planid)"><i class="fas fa-eye"></i>
                                                                    </button>
                                                                    <!-- <button  type="button" (click)="goToDetail(item.planid)"
                                                                    class="btn btn-default btn-sm mr-1" matTooltip="Sửa" matTooltipClass="tooltip-red">
                                                                    <i class="fas fa-edit"></i>
                                                                    </button> -->
                                                                    <button *ngIf="!isAdmin" type="button" (click)="deleteTrainingPlan(item.id)"
                                                                        class="btn btn-default btn-sm mr-1" matTooltip="Xóa" matTooltipClass="tooltip-red">
                                                                        <i class="fas fa-trash"></i>
                                                                    </button>
                                                                    <button *ngIf="item.status == 1" type="button" class="btn btn-default btn-sm mr-1 " (click)="sendRequest(item,2)"  matTooltip="Duyệt" matTooltipClass="tooltip-red">
                                                                        <img height="15" src="assets/check_clone.svg" class="" alt="">
                                                                    </button>  
                                                                    <button *ngIf="item.status == 1" type="button" class="btn btn-default btn-sm mr-1 "  (click)="sendRequest(item,3)" matTooltip="Hủy" matTooltipClass="tooltip-red" >
                                                                        <img height="15" src="assets/close_clone.svg" class="" alt="">
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <br />
                                                    <p *ngIf="planList?.length === 0" class="text-center">{{
                                                        'common.no_search_result' | translate}}</p>
                                                
                                                </div>
                                                <div class="card-footer text-center">
                                                    <div class="row">
                                                        <mat-paginator showFirstLastButtons [length]="totalRecordRequests" [pageSize]="pageSize"
                                                            [pageIndex]="pageIndex - 1" (page)="changePageRequests($event)" [hidePageSize]="false"
                                                            [pageSizeOptions]="pageSizeOptions">
                                                        </mat-paginator>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-drawer-container>   
                            </div>
                        </mat-tab>
                        <mat-tab act *ngIf="false">
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon">book</mat-icon>
                                Danh sách kế hoạch đào tạo nội bộ
                            </ng-template>
                            <div class="card-body">
                                <mat-drawer-container autosize class="example-container">
                                    <mat-drawer #drawer2 class="example-sidenav" mode="side" opened>
                                        <div class="card card-default">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-7">
                                                        <h6>Cây đơn vị</h6>
                                                    </div>
                                                    <div class="col-5">
                                                     
                                                    </div>
                                                </div>
                                                <hr>
                                                <form>
                                                    <ejs-treeview #departmentTreeNB [fields]="departmentTreeDataNB"  (keyPress)='nodeCheckNB($event)' (nodeClicked)='nodeCheckNB($event)' 
                                                    (nodeSelecting)='nodeSelectedNB($event)' (nodeChecked)='nodeSelectedNB($event)' [showCheckBox]='true'></ejs-treeview>
                                                </form>
                                            </div>
                                        </div>
                                    </mat-drawer>
                                    <div class="example-sidenav-content" style="width: 100% !important;">
                                        <div class="card card-default" >
                                            <div class="card-body">
                                                <div class="col-12 ">
                                                    <div class="row mt-2">
                                                        <div class="col-3 ">
                                                            <button class="btn btn-default btn-flat btn-md mr-2" type="button" mat-button
                                                                        (click)="drawer2.toggle()"><i class="fas fa-bars"></i>
                                                                    </button>
                                                                    <button type="button"  class="btn btn-primary btn-lg mr-1" matTooltipClass="tooltip-red"
                                                                    (click)="goToCreateNB()"><i class="fas fa-plus mr-1"></i>Import Kế hoạch</button>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-inline float-right" role="form">
                                                                <div class="form-group">
                                                                    <label class="mr-2">Tìm kiếm</label>
                                                                    <input type="search"
                                                                        class="form-control form-control-sm mr-2" placeholder="Mã-Tên kế hoạch"
                                                                        [(ngModel)]="keywordNB" (change)="onChangeKeyWordNB()">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-3">
                                                            <app-month-picker typePicker="year" (chooseYearE)="yearSelectedNB($event)">loading
                                                            </app-month-picker>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="data-table mt-2">
                                                    <table class="table table-hover table-bordered" matSort (matSrtChange)="sortData($event)">
                                                        <thead>
                                                            <tr>
                                                                <!-- <th>
                                                                    <mat-icon class="custom-m-top">
                                                                        <mat-checkbox class="example-margin" [(ngModel)]="completedAll"
                                                                            (change)="oncheckboxAll($event.checked)"></mat-checkbox>
                                                                    </mat-icon>
                                                                </th> -->
                                                                <th class="text-center">STT</th>
                                                                <th class="text-center">Mã kế hoạch</th>
                                                                <th class="text-center">Tên kế hoạch</th>
                                                                <th class="text-center">Số lượng khóa học</th>
                                                                <th class="text-center">Số lượng học viên</th>
                                                                <th class="text-center">Ngày tạo</th>
                                                                <th class="text-center">Ngày cập nhật</th>
                                                                <th class="text-center">Người tạo</th>
                                                                <th class="text-center">Người cập nhật</th>
                                                                <th class="text-center">Năm kế hoạch</th>
                                                                <th class="text-center">Tổng chi phí (VNĐ)</th>
                                                                <th class="text-center">Thao tác</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of planListNB; let countPosition = index; ">
                                                                <!-- <td>
                                                                    <ng-template>
                                                                        <mat-icon class="mt-1">
                                                                            <mat-checkbox [(ngModel)]="item.completed"
                                                                                (change)="oncheckboxItem(item.id, $event.checked)"
                                                                                class="example-margin"></mat-checkbox>
                                                                        </mat-icon>
                                                                    </ng-template>
                                                                </td> -->
                                                                <td>{{(pageIndex - 1)*pageSize + countPosition + 1}}</td>
                                                                <td>{{item.code}}</td>
                                                                <td>{{item.name}}</td>
                                                                <td class="text-center">{{item.numbercourse}}</td>
                                                                <td class="text-center">{{item.numberstudent}}</td>   
                                                                <td>{{getDateFromUnix(item.createdat) | date:'dd/MM/yyyy' }}</td>
                                                                <td>{{getDateFromUnix(item.updatedat) | date:'dd/MM/yyyy' }}</td>
                                                                <td>{{item.fullname}}</td>
                                                                <td>{{item.updateduser}}</td>                                      
                                                                <td class="text-center">{{subYear(item.code)}}</td>
                                                                <td class="text-center">{{showCost(item.totalcost)}}</td>
                                                                <td class="project-actions text-center">
                                                                    <button type="button" class="btn btn-default btn-sm mr-1" matTooltip="Xem chi tiết"
                                                                        matTooltipClass="tooltip-red" (click)="goToDetail(item.id)"><i class="fas fa-eye"></i></button>
                                                                    <button *ngIf="!isAdmin" type="button" (click)="deleteTrainingPlan(item.id)"
                                                                        class="btn btn-default btn-sm mr-1" matTooltip="Xóa" matTooltipClass="tooltip-red">
                                                                        <i class="fas fa-trash"></i>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <br />
                                                    <p *ngIf="planList?.length === 0" class="text-center">{{
                                                        'common.no_search_result' | translate}}</p>
                                                
                                                </div>
                                                <div class="card-footer text-center">
                                                    <div class="row">
                                                        <mat-paginator showFirstLastButtons [length]="totalRecordNB" [pageSize]="pageSize"
                                                            [pageIndex]="pageIndex - 1" (page)="changePageNB($event)" [hidePageSize]="false"
                                                            [pageSizeOptions]="pageSizeOptions">
                                                        </mat-paginator>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-drawer-container>   
                            </div>
                        </mat-tab>
                    </mat-tab-group>  
                </div>   
            </div>
        </div>
    </section>
</div>