<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Evotek| Reset Password</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet" />
</head>
<body class="hold-transition sidebar-mini layout-fixed login-layout">
<section class="login-block">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4 login-sec">
        <h2 class="text-center">Thay đổi mật khẩu mới</h2>

        <form class="login-form" [formGroup]="resetPasswordForm" (ngSubmit)="showConfirmPopup()">
          <p>Hãy nhập và lặp lại mật khẩu mới của bạn bên dưới, và nhấn "Đặt mật khẩu". Mật khẩu mới của bạn sẽ được lưu lại, và bạn sẽ được đăng nhập.</p>
          <hr />
          <div class="form-group">
            <label class="text-uppercase">Mật khẩu mới</label><span class="text-danger"> *</span>
            <input type="password" class="form-control"
                   minlength="8" maxlength="20"
                   placeholder="Mật khẩu mới" formControlName="newpassword"/>
            <span class="text-danger"
                  *ngIf="resetPasswordForm.get('newpassword').touched && resetPasswordForm.get('newpassword').hasError('required')">
              {{ 'error.validate.input_required' | translate }}
            </span>
            <span class="text-danger"
                  *ngIf="resetPasswordForm.get('newpassword').touched && resetPasswordForm.get('newpassword').hasError('minlength')">
              {{ 'error.validate.password.minlength' | translate }}
            </span>
            <span class="text-danger"
                  *ngIf="resetPasswordForm.get('newpassword').touched && resetPasswordForm.get('newpassword').hasError('maxlength')">
              {{ 'error.validate.password.maxlength' | translate }}
            </span>
            <span class="text-danger"
                  *ngIf="resetPasswordForm.get('newpassword').touched && resetPasswordForm.get('newpassword').hasError('pattern')">
              {{ 'error.validate.password.pattern' | translate }}
            </span>
          </div>

          <div class="form-group">
            <label class="text-uppercase">Nhập lại mật khẩu mới</label><span class="text-danger"> *</span>
            <input type="password" class="form-control" placeholder="Nhập lại mật khẩu mới" formControlName="confirmpassword"/>
            <span class="text-danger"
                  *ngIf="resetPasswordForm.get('confirmpassword').touched && resetPasswordForm.get('confirmpassword').hasError('required')">
              {{ 'error.validate.input_required' | translate }}
            </span>
            <span class="text-danger"
                  *ngIf="resetPasswordForm.get('confirmpassword').touched && resetPasswordForm.hasError('confirmpassword')">
              {{ 'error.validate.password.confirmpassword' | translate }}
            </span>
          </div>

          <div class="form-check-login">
            <button type="submit" class="btn btn-login float-right">
              Đặt mật khẩu
            </button>
          </div>
        </form>
        <div class="copy-text">ONLINE LEARNING <a
          href="#"></a></div>
      </div>
      <div class="col-md-8 banner-sec">
        <div class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="https://static.pexels.com/photos/33972/pexels-photo.jpg" alt="First slide" />
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>THƯ VIỆN TRI THỨC MOBIFONE</h2>
                  <p>Chào mừng bạn tới hệ thống đào tạo trực tuyến</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg" alt="First slide" />
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>THƯ VIỆN TRI THỨC MOBIFONE</h2>
                  <p>Được đào tạo bởi giảng viên ưu tú hàng đầu...</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
