/* .col-md-6.col-xs-12.col-sm-12.p-0 .img-show-cs {
  width: 100%;
  object-fit: cover;
  height: 100vh;
} */

.login-block{
  background: #DE6262;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #007bff, #09519e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #007bff, #09519e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  float:left;
  width:100%;
  padding : 50px 0;
  height:100vh;
}
.banner-sec{background:url(https://static.pexels.com/photos/33972/pexels-photo.jpg)  no-repeat left bottom; background-size:cover; min-height:500px; border-radius: 0 10px 10px 0; padding:0;}
.container{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
.carousel-inner{border-radius:0 10px 10px 0;}
.carousel-caption{text-align:left; left:5%;}
.login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color:#09519e;}
.login-sec .copy-text a{color:#09519e;}
.login-sec h2{margin-bottom:30px; font-weight:300; font-size:25px; color: #09519e;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#09519e; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #09519e; color:#fff; font-weight:600;}
.banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
.banner-text h2{color:#fff; font-weight:600;}
.banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color:#fff;}
.form-check-login {
  position: relative;
  display: block;
  padding-left: 0px !important;
  /* width: 350px; */
}

.forget-password:hover {
  color: #09519e;
  text-decoration: underline;
  cursor: pointer;
}

.forget-password {
  color: #6c757d
}
