::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: .0375em 0;
}
::ng-deep label {
    font-weight: 300 !important;
    font-size: 11pt !important;
}
::ng-deep .tooltip-red {
    background: #b71c1c !important;
    font-size:10pt !important;
  }
  ::ng-deep .right-aligned-header > .mat-content {
    justify-content: space-between;
}

::ng-deep .mat-content > mat-panel-title, .mat-content > mat-panel-description {
  flex: 0 0 auto;
}
.icon_drag {
    color: rgba(0,0,0,.3);
    font-size:15pt;
}
.float_main {
    position: relative;
}
.float_btn {
    position: -webkit-sticky;
    position: sticky;
    right: 0;
    top: 50px;
    margin-right: -30px;
    display: flex;
    text-align: right;
    justify-content: flex-end;
}
#mg16 {
    margin-top:-100px;
}
::ng-deep .mat-expansion-panel-header-description, .mat-expansion-indicator::after {
    color: rgb(0 0 0);
}
.mat-expansion-panel-header.mat-expanded {
    border-top: solid 3px blue;
  }
  .btn-sticky{
      right: 12px !important;
  }
  ::ng-deep .mat-expansion-panel-body {
    padding: 0 24px 16px
}

.mailbox-controls {
    padding: 5px;
}

.example-container {
    width: 95vw;
    /* height: 53rem; */
  }
  
.example-sidenav {
    width: 25vw;
  
}
/*tab topic*/
.mat-expansion-panel-header.mat-expanded {
    border-top: solid 3px #007bff;
}
.quiz-topic .mat-expansion-panel-header.mat-expanded{
    border-top: unset!important;
}
.quiz-topic :ng-deep  .mat-tab-header{
    background: #F3F4F5!important;
    border-radius: 4px!important;
    padding: 8px!important;
}
.quiz-topic ::ng-deep .mat-tab-label-active{
    background: #FFFFFF!important;
    border-radius: 3px!important;
}
.quiz-topic .mat-tab-header {
    border-bottom: unset!important
}
.quiz-topic ::ng-deep .mat-tab-label-container{
    background: #F3F4F5!important;
    border-radius: 4px!important;
    padding: 8px!important;
}
.quiz-topic ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,.final-quiz ::ng-deep .mat-expansion-indicator{
    display: none!important;
}
.quiz-topic ::ng-deep .mat-tab-header {
     border-bottom: unset;
}
.title-tab{
    height: 48px;
    padding: 0 10px;
    line-height: 48px;
}

.acitve-topic{
    background: rgba(0,0,0,.04);
}
.mat-expansion-panel-body {
    padding: 10px 0px!important;
}
.disabled{
    cursor: not-allowed;
    background-color: #e9ecef;
  }

.topic-selected {
    color: #0783C4;
}