<section class="content-header">
  <div class="container-fluid">
    <div class="row mt-5">
      <div class="col-3 quiz-topic">
        <mat-tab-group>
          <mat-tab>
            <ng-template mat-tab-label>
              <div (click)="openCreateQuiz(1)" class="title-tab">Bài thi chủ đề</div>  
            </ng-template>
            <div class="panel-group" role="tablist" aria-multiselectable="true">
              <mat-accordion [multi]="true">
                <div class="" *ngFor="let item of topicContent">
                  <mat-list>
                    <mat-list-item class="mat-list-button" [ngClass]="activeTopic === item?.id ? 'topic-selected' : ''">
                      <h4 mat-line (click)="onClickTopic(item)"><b> {{item.name}} </b></h4>
                      <button class="btn" mat-button [matMenuTriggerFor]="menu" mat-icon-button>
                          <i class="fas fa-ellipsis-v"></i>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button class="btn" mat-menu-item (click)="OpenCreateQuiz(item,1)"><i
                          class="fas fa-pencil-alt mr-2"></i> Thêm mới
                        </button>
                      </mat-menu>
                    </mat-list-item>
                  </mat-list>
                </div>
              </mat-accordion>
            </div>
          </mat-tab>

          <mat-tab >
            <ng-template mat-tab-label>
              <div (click)="openCreateQuiz(0)" class="title-tab">Bài thi khóa học</div>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
      <!-- end -->
      <div class="col-9">
        <div class="row">
          <div class="col-12">
            <button *ngIf="isCheckshowB" type="submit" class="btn btn-primary mb-3" (click)="OpenCreateQuiz(0)">Tạo mới bài thi</button>
          </div>
          <div class="col-12 table-responsive" *ngIf="isCheckTable">
            <table class="table table-hover">
              <thead>
                <tr class="bg-light">
                  <th class="text-center">STT</th>
                  <th >Tên bài thi</th>
                  <th class="text-center">Dạng bài thi</th>
                  <th class="text-center">Ngày bắt đầu</th>
                  <th class="text-center">Ngày kết thúc</th>
                  <th class="text-center">Thời gian(phút)</th>
                  <th class="text-center">Trạng thái</th>
                  <th class="text-center">Thao tác</th>
                </tr>
              </thead>
              <tbody >
                <tr *ngFor="let item  of listQuiz ; let i = index;">
                  <td class="text-center">{{i+1}}</td>
                  <td>{{item.name}}</td>
                  <td class="text-center">{{getTypeQuiz(item.gradepass)}}</td>
                  <td class="text-center">{{getDateFromUnix(item.timeopen) | date:'dd/MM/yyyy'}}</td>
                  <td class="text-center">{{getDateFromUnix(item.timeclose) | date:'dd/MM/yyyy'}}</td>
                  <td class="text-center">{{item.timelimit/60}}</td>
                  <td class="text-center">
                    {{getStatusQuiz(item.timeopen)}}
                  </td>
                  <td class="text-center">
                    <button type="button" class="btn btn-sm btn-default" (click)="OpenDetailQuiz(item)">
                      <i class="fas fa-eye"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-default m-1" (click)="openUpdateQuiz(item)">
                      <i class="fas fa-edit"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-default" (click)="deleteQuiz(item.id)">
                      <i class="fas fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="" *ngIf="isCheckCreateQuiz">   
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                {{getTitleQuiz()}}
              </h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <form role="form" [formGroup]="formModule" (ngSubmit)="submitForm()">
                <div class="row pt-3 bg-white pb-3">
        
                  <div class="col-3 text-right mb-1">Chọn loại bài thi</div>
                  <div class="col-9">
                    <mat-radio-group formControlName="isquiz">
                      <mat-radio-button class="example-margin mr-1" [value]="true" (change)="isShowGadepass($event)" [disabled]="isCheckDetailQuiz ? true : false ">Bài thi</mat-radio-button>
                      <mat-radio-button class="example-margin" [value]="false" (change)="isShowGadepass($event)" [disabled]="isCheckDetailQuiz ? true : false ">Tự kiểm tra</mat-radio-button>
                    </mat-radio-group>
                  </div>
        
                  <div class="col-3 text-right mb-1">Tên bài thi <span class="text-danger">*</span></div>
                  <div class="col-9">
                    <input type="text" formControlName="name" class="form-control" [readOnly]="isCheckDetailQuiz" placeholder="Nhập tên bài thi..." required [ngClass]="isCheckDetailQuiz ? 'disabled' : ''"/>
                    <div *ngIf="formModule.get('name')!.invalid &&(formModule.get('name')!.dirty || formModule.get('name')!.touched)">
                      <small class="text-danger" *ngIf="formModule.get('name')?.errors?.required">
                        {{ 'error.validate.input_required' | translate }}
                      </small>
                      <small class="text-danger" *ngIf="formModule.get('name')?.errors && !formModule.get('name')?.errors?.required">
                        {{ 'error.validate.course.nameMaxlength' | translate }}
                      </small>
                      <small class="text-danger" *ngIf="formModule.get('name')?.errors?.isBlank">
                        {{ 'error.validate.input_required' | translate }}
                      </small>
                    </div>
                  </div>
        
                  <div class="col-3 mt-3 text-right mb-1">Nhập miêu tả <span class="text-danger">*</span></div>
                  <div class="col-9 mt-3">
                    <ckeditor [editor]="Editor" formControlName="description" [config]="editorConfig" [disabled]="isCheckDetailQuiz ? true : false " ></ckeditor>
                    <div *ngIf="formModule.get('description')!.invalid
                        &&(formModule.get('description')!.dirty || formModule.get('description')!.touched)">
                      <small class="text-danger" *ngIf="formModule.get('description')?.errors?.required">
                        {{ 'error.validate.input_required' | translate }}
                      </small>
                    </div>
                  </div>
        
                  <div class="col-3 mt-1 text-right mb-1">Thời gian bắt đầu</div>
                  <div class="col-9 mt-1">
                    <div class="form-inline">
                      <div class="form-group mr-2">
                        <select  class="custom-select " formControlName="houropeningtime" [ngClass]="isCheckDetailQuiz ? 'disabled' : '' ">
                          <option [disabled]="isCheckDetailQuiz" *ngFor="let hour of hoursList" [value]="hour.value">{{hour.label}}</option>
                        </select>
                      </div>
                      <div class="form-group mr-2">
                        <select class="custom-select " formControlName="minuteopeningtime" [ngClass]="isCheckDetailQuiz ? 'disabled' : '' ">
                          <option [disabled]="isCheckDetailQuiz" *ngFor="let minute of minutesList" [value]="minute.value">{{minute.label}}</option>
                        </select>
                      </div>
                      <div class="form-group mr-2">
                        <mat-form-field>
                          <input matInput readonly [disabled]="isCheckDetailQuiz ? true : false "
                                [max]="endDateCourseDate == 0 ? '' : endDateCourseDate" [min]="minOpenDate" (ngModelChange)="setMinEndDate($event)"
                                [matDatepicker]="picker1" formControlName="openingtime">
                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                          <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="form-group mr-2">
                        <input type="button" value="Mặc định" class="btn btn-default" (click)="setDefaultStartDate()" [ngClass]="isCheckDetailQuiz ? 'disabled' : '' ">
                      </div>
                    </div>
        
                    <div class="col-9 mt-1" *ngIf="formModule.hasError('startDateLessThanCourseStartDate')">
                      <small class="text-danger">
                        {{ 'error.timeExamStart' | translate }}
                      </small>
                    </div>
        
                    <div class="col-9 mt-1" *ngIf="formModule.hasError('startDateGreaterThanCourseEndDate')">
                      <small class="text-danger">
                        {{ 'error.timeExamStart2' | translate }}
                      </small>
                    </div>
        
                  </div>
        
                  <div class="col-3 mt-1 text-right mb-1">Thời gian kết thúc</div>
                  <div class="col-9 mt-1">
                    <div class="form-inline">
                      <div class="form-group mr-2">
                        <select class="custom-select" [disabled]="isCheckDetailQuiz" formControlName="hourclosingtime" [ngClass]="isCheckDetailQuiz ? 'disabled' : '' ">
                          <option *ngFor="let hour of hoursList" [value]="hour.value">{{hour.label}}</option>
                        </select>
                      </div>
                      <div class="form-group mr-2">
                        <select class="custom-select" [disabled]="isCheckDetailQuiz" formControlName="minuteclosingtime" [ngClass]="isCheckDetailQuiz ? 'disabled' : '' ">
                          <option *ngFor="let minute of minutesList" [value]="minute.value">{{minute.label}}</option>
                        </select>
                      </div>
                      <div class="form-group mr-2">
                        <mat-form-field>
                          <input  matInput readonly [disabled]="isCheckDetailQuiz ? true : false "
                                  [max]="endDateCourseDate == 0 ? '' :endDateCourseDate" [min]="minCloseDate"
                                  [matDatepicker]="picker2" formControlName="closingtime">
                          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                          <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="form-group mr-2">
                        <input type="button" value="Mặc định" class="btn btn-default" (click)="setDefaultEndDate()" [ngClass]="isCheckDetailQuiz ? 'disabled' : '' ">
                      </div>
                    </div>
        
                    <div class="col-9 mt-1" *ngIf="formModule.hasError('endDateLessThanCourseStartDate')" >
                      <small class="text-danger">
                        {{ 'error.timeExamEnd2' | translate }}
                      </small>
                    </div>
        
                    <div class="col-9 mt-1" *ngIf="formModule.hasError('endDateGreaterThanCourseEndDate')">
                      <small class="text-danger">
                        {{ 'error.timeExamEnd' | translate }}
                      </small>
                    </div>
        
                    <div class="col-9 mt-1" *ngIf="formModule.hasError('endDateLessThanStartDate')">
                      <small class="text-danger">
                        {{ 'error.timeExamEnd3' | translate }}
                      </small>
                    </div>
        
                  </div>
        
                  <div class="col-3 mt-3 text-right mb-1">Thời gian làm bài (Phút) <span class="text-danger">*</span></div>
                  <div class="col-9 mt-3">
                    <div class="row">
                      <div class="col-md-2">
                        <input type="number" formControlName="timelimit" [readOnly]="isCheckDetailQuiz" class="form-control" [ngClass]="isCheckDetailQuiz ? 'disabled' : '' "
                              min="0" (keypress)="numericOnly($event)">
                      </div>
                      <div class="col-md-10">
                        <div *ngIf="formModule.get('timelimit')!.invalid
                                    && (formModule.get('timelimit')!.dirty || formModule.get('timelimit')!.touched)">
                          <small class="text-danger" *ngIf="formModule.get('timelimit')?.errors?.required">
                            {{ 'error.validate.input_required' | translate }}
                          </small>
                          <small class="text-danger" *ngIf="formModule.get('timelimit')?.errors?.invalidNumber">
                            {{ 'error.validate.number' | translate }}
                          </small>
                          <small class="text-danger" *ngIf="formModule.get('timelimit')?.errors?.rangeInvalid">
                            {{ 'error.validate.quiz.maxlengthGrade' | translate }}
                          </small>
                        </div>
                      </div>
                    </div>
                  </div>
        
                  <div class="col-3 mt-3 text-right mb-1">Kết thúc bài thi <span class="text-danger">*</span></div>
                  <div class="col-9 mt-3">
                    <select formControlName="overduehandling" class="custom-select" [ngClass]="isCheckDetailQuiz ? 'disabled' : '' ">
                      <option [disabled]="isCheckDetailQuiz" value="{{OVER_DUE_HANDLING_2[0].key | translate}}">{{OVER_DUE_HANDLING_2[0].value | translate}}</option>
                    </select>
                    <div *ngIf="formModule.get('overduehandling')!.invalid && (formModule.get('overduehandling')!.dirty || formModule.get('overduehandling')!.touched)">
                      <small class="text-danger" *ngIf="formModule.get('overduehandling')?.errors?.required">
                        {{ 'error.validate.input_required' | translate }}
                      </small>
                    </div>
                  </div>
        
                  <div *ngIf="isQuiz" class="col-3 mt-3 text-right mb-1">Điểm chuẩn bài thi <span class="text-danger">*</span></div>
                  <div *ngIf="isQuiz" class="col-9 mt-3">
                    <input type="number" formControlName="gradepass" [readOnly]="isCheckDetailQuiz" class="form-control" min="0" (keypress)="numericOnly($event)" (ngModelChange)="onChangGradepass($event)" [ngClass]="isCheckDetailQuiz ? 'disabled' : '' ">
                    <small class="text-danger" *ngIf="formModule.get('gradepass')?.errors?.gradepassError">
                      {{ 'error.validate.quiz.gradepassError' | translate }}
                    </small>
                    <div *ngIf="formModule.get('gradepass')!.invalid && (formModule.get('gradepass')!.dirty || formModule.get('gradepass')!.touched)">
                      <small class="text-danger" *ngIf="formModule.get('gradepass')?.errors?.rangeInvalid">
                        {{ 'error.validate.quiz.maxlengthGrade' | translate }}
                      </small>
                      <small class="text-danger" *ngIf="formModule.get('gradepass')?.errors?.required">
                        {{ 'error.validate.input_required' | translate }}
                      </small>
                      <small class="text-danger" *ngIf="formModule.get('gradepass')?.errors?.invalidNumber">
                        {{ 'error.validate.number' | translate }}
                      </small>
                    </div>
                  </div>
        
                  <div class="col-3 mt-3 text-right mb-1">Thang điểm bài thi<span class="text-danger">*</span> </div>
                  <div class="col-9 mt-3">
                    <input formControlName="grade" type="number" [readOnly]="isCheckDetailQuiz" class="form-control " name="grade" (keypress)="numericOnly($event)" [ngClass]="isCheckDetailQuiz ? 'disabled' : '' "
                          min="0" (ngModelChange)="onChangGrade($event)">
                    <div *ngIf="formModule.get('grade')!.invalid &&(formModule.get('grade')!.dirty || formModule.get('grade')!.touched)">
                      <small class="text-danger" *ngIf="formModule.get('grade')?.errors?.required">
                        {{ 'error.validate.input_required' | translate }}
                      </small>
                      <small class="text-danger" *ngIf="formModule.get('grade')?.errors?.invalidNumber">
                        {{ 'error.validate.positive_integer' | translate }}
                      </small>
                      <small class="text-danger" *ngIf="formModule.get('grade')?.errors?.rangeInvalid">
                        {{ 'error.validate.quiz.maxlengthGrade' | translate }}
                      </small>
                    </div>
                  </div>
        
                  <div class="col-3 mt-3 text-right mb-1">Số lần tham gia <span class="text-danger">*</span></div>
                  <div class="col-9 mt-3">
                    <select formControlName="attempts" class="custom-select" name="attempts" [ngClass]="isCheckDetailQuiz ? 'disabled' : '' ">
                      <option [value]="attemp.value" [disabled]="isCheckDetailQuiz" *ngFor="let attemp of EXAM_ATTEMPS; let i = index;">{{attemp.lable}}</option>
                    </select>
                    <div *ngIf="formModule.get('attempts')!.invalid &&(formModule.get('attempts')!.dirty || formModule.get('attempts')!.touched)">
                      <small class="text-danger" *ngIf="formModule.get('attempts')?.errors?.required">
                        {{ 'error.validate.input_required' | translate }}
                      </small>
                    </div>
                  </div>
        
                  <div class="col-3 mt-3 text-right mb-1">Phương pháp chấm điểm <span class="text-danger">*</span></div>
                  <div class="col-9 mt-3">
                    <select class="custom-select" formControlName="grademethod" [ngClass]="isCheckDetailQuiz ? 'disabled' : '' " >
                      <option *ngFor="let item of GRADE_METHOD_2" [disabled]="isCheckDetailQuiz"
                        value="{{item.key | translate}}">
                        {{item.value | translate}}
                      </option>
                    </select>
                    <div *ngIf="formModule.get('grademethod')!.invalid &&(formModule.get('grademethod')!.dirty || formModule.get('grademethod')!.touched)">
                      <small class="text-danger" *ngIf="formModule.get('grademethod')?.errors?.required">
                        {{ 'error.validate.input_required' | translate }}
                      </small>
                    </div>
                  </div>
        
                  <div class="col-3 mt-3 text-right mb-1">Hiển thị kết quả sau khi thi</div>
                  <div class="col-9 mt-3">
                    <mat-radio-group formControlName="isShowRGrade">
                      <mat-radio-button class="example-margin mr-2" [value]="1" (change)="isShowGrade($event)" [disabled]="isCheckDetailQuiz ? true : false ">Có</mat-radio-button>
                      <mat-radio-button class="example-margin" [value]="0" (change)="isShowGrade($event)" [disabled]="isCheckDetailQuiz ? true : false ">Không</mat-radio-button>
                    </mat-radio-group>
                  </div>
        
                  <div class="col-12 mt-3 text-center">
                    <button type="button" class="btn btn-default round-0 mr-2" (click)="back()"><i class="fas fa-close"></i>Quay lại
                    </button>
                    <button type="submit" *ngIf="!isCheckDetailQuiz"
                            class="btn btn-primary">
                      <i class="fas fa-save mr-1"></i>Lưu lại</button>
                      <!-- [disabled]="formModule.invalid" -->
                  </div>
                </div>
              </form>
        
            </div>
            <div class="card" *ngIf="isCheckAddQuiz || isCheckDetailQuiz">
              <div class="card-header">
                <h3 class="card-title" >
                  {{getTitleQuestion()}}
                </h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="container">
                    <div class="btn-sticky shadow" *ngIf="isCheckAddQuiz && (isAdmin || isManager || isTeacher)">
                      <div aria-label="Vertical button group" role="group" class="btn-group-vertical">
                        <button [disabled]="courseDetail?.published === 1" type="button" matTooltip="Chọn từ thư viện"
                                (click)="openLibaryCreatePopup()"
                                matTooltipClass="tooltip-red"
                                class="btn btn-default btn-lg"><i class="fas fa-plus"></i></button>
                        <button [disabled]="courseDetail?.published === 1" type="button" matTooltip="Chọn câu hỏi ngẫu nhiên"
                                (click)="openRandomCreateQuestionPopup()"
                                matTooltipClass="tooltip-red"
                                class="btn btn-default btn-lg"><i class="fas fa-random"></i></button>
                        <button [disabled]="courseDetail?.published === 1" type="button" matTooltip="Một lựa chọn"
                                (click)="addQuestion('multichoice')"
                                matTooltipClass="tooltip-red"
                                class="btn btn-default btn-lg"><i class="fas fa-check"></i></button>
                        <button [disabled]="courseDetail?.published === 1" type="button" matTooltip="Nhiều lựa chọn" (click)="addQuestion('multichoiceset')"
                                matTooltipClass="tooltip-red"
                                class="btn btn-default btn-lg"><i class="fas fa-check-double"></i></button>
                        <button [disabled]="courseDetail?.published === 1" type="button" matTooltip="Đúng sai"
                                (click)="addQuestion('truefalse')"
                                matTooltipClass="tooltip-red"
                                class="btn btn-default btn-lg"><i class="fa fa-cubes"></i></button>
                      </div>
                    </div>
                    <div class="row p-4 d-flex">
                      <div class="col-12 align-self-center p-2">
                        <br>  
                        <mat-accordion>
                          <mat-expansion-panel *ngFor="let panel of accordions; let i = index"
                                              (opened)="panelOpenState = true"
                                              (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                              <mat-panel-title class="right-aligned-header">{{ panel.title }}</mat-panel-title>
                              <mat-icon class="mr-1 icon_drag">swap_vert</mat-icon>
                              <mat-panel-description>{{ panel.description }}</mat-panel-description>
                            </mat-expansion-panel-header>
                          <span class="mb-3 d-block" *ngIf="panel.question"> Danh mục: {{ panel.question?.categoryname }}</span> 
                            <ng-container *ngIf="panel.type == 'multichoice'">
                              <app-multichoice
                                [data]="{
                                  question: panel.question,
                                  canEdit: ((!courseDetail?.readonly || isTeacher) && !quizInput?.quizhasstudent && isCheckAddQuiz),
                                  isPublished: (courseDetail?.published === 1),
                                  moduleId: panel.idofquiz,
                                  categoryId: (panel.question ? panel.question?.categoryid : 0),
                                  index: i,
                                  idofquiz:panel.idofquiz
                                }"
                                (deleteQuestionEvent)="onRemoveQuestion($event)"
                                (cloneQuestion)="addQuestion(panel.type, panel.index, $event.value, $event.isViewMode)"
                                [index]="panel.index" [questionInput]="panel.question"
                                [categories]="categories">
          
                              </app-multichoice>
                            </ng-container>
                            <ng-container *ngIf="panel.type == 'multichoiceset'">
                              <app-multichoiceset
                                [data]="{
                                  question: panel.question,
                                  canEdit: ((!courseDetail?.readonly || isTeacher) && !quizInput?.quizhasstudent && isCheckAddQuiz),
                                  isPublished: (courseDetail?.published === 1),
                                  moduleId: panel.idofquiz,
                                  categoryId: (panel.question ? panel.question?.categoryid : 0),
                                  index: i,
                                  idofquiz:panel.idofquiz
                                }"
                                (deleteQuestionEvent)="onRemoveQuestion($event)"
                                (cloneQuestion)="addQuestion(panel.type, panel.index, $event.value, $event.isViewMode)"
                                [index]="panel.index" [questionInput]="panel.question"
                                [categories]="categories">
          
                              </app-multichoiceset>
                            </ng-container>
          
                            <ng-container *ngIf="panel.type == 'truefalse'">
                              <app-truefalse
                                input="panel"
                                [data]="{
                                  question: panel.question,
                                  canEdit: ((!courseDetail?.readonly || isTeacher) && !quizInput?.quizhasstudent && isCheckAddQuiz),
                                  isPublished: (courseDetail?.published === 1),
                                  moduleId: panel.idofquiz,
                                  categoryId: (panel.question ? panel.question?.categoryid : 0),
                                  index: i,
                                  idofquiz:panel.idofquiz
                                }"
                                (deleteQuestionEvent)="onRemoveQuestion($event)"
                                (cloneQuestion)="addQuestion(panel.type, panel.index, $event.value, $event.isViewMode)"
                                [index]="panel.index" [questionInput]="panel.question" 
                                [categories]="categories">
          
                              </app-truefalse>
                            </ng-container>
          
                            <ng-container *ngIf="panel.type == 'random'">
                              <app-random-question
                                input="panel"
                                [data]="{
                                  question: panel.question,
                                  canEdit: ((!courseDetail?.readonly || isTeacher) && !quizInput?.quizhasstudent && isCheckAddQuiz),
                                  isPublished: (courseDetail?.published === 1),
                                  moduleId: panel.idofquiz,
                                  categoryId: (panel.question ? panel.question?.categoryid : 0),
                                  index: i,
                                  idofquiz:panel.idofquiz
                                }"
                                (deleteQuestionEvent)="onRemoveQuestion($event)"
                                (cloneQuestion)="addQuestion(panel.type, panel.index, $event.value, $event.isViewMode)"
                                [index]="panel.index" [questionInput]="panel.question" >
                                [categories]="categories">
                              </app-random-question>
                            </ng-container>
          
                           <!-- <ng-container *ngIf="panel.type == 'multichoice'">
                             <app-multichoice [index]="panel.index" [questionInput]="panel.question" (editQuestionIndex)="editQuestion($event)" (messageEvent)="receiveMulti($event)"></app-multichoice>
                           </ng-container>
                           <ng-container *ngIf="panel.type == 'multichoiceset'">
                             <app-multichoiceset [index]="panel.index" [questionInput]="panel.question" (editQuestionIndex)="editQuestion($event)" (messageEvent)="receiveMultiset($event)"></app-multichoiceset>
                           </ng-container>
                           <ng-container *ngIf="panel.type == 'truefalse'">
                             <app-truefalse input="panel" [index]="panel.index" [questionInput]="panel.question" (editQuestionIndex)="editQuestion($event)" (messageEvent)="receiveTrueFalse($event)"></app-truefalse>
                           </ng-container>
                           <mat-action-row *ngIf="!courseDetail?.readonly && !quizInput?.quizhasstudent">
                             <button [disabled]="courseDetail?.published === 1" type="button" matTooltip="Sao chép" (click)="addQuestion(panel.type, panel.index, panel.question)"
                                     matTooltipClass="tooltip-red" class="btn btn-default btn-lg"><i class="fas fa-copy"></i>
                             </button>
                             <button [disabled]="courseDetail?.published === 1" type="button" matTooltip="Chỉnh sửa" *ngIf="!panel?.enable" (click)="dataService.changeMessage(panel.index, panel.type, null)"
                                     matTooltipClass="tooltip-red" class="btn btn-default btn-lg"><i class="fas fa-edit"></i>
                             </button>
                             <button type="button" matTooltip="Lưu" *ngIf="panel?.enable" (click)="saveQuestions(panel)" [disabled]="panel.btnSaveDisable || courseDetail?.published === 1"
                                     matTooltipClass="tooltip-red" class="btn btn-default btn-lg"><i
                               class="fas fa-save mr-1"></i></button>
                             <button [disabled]="courseDetail?.published === 1" type="button" matTooltip="Xóa" (click)="removeQuestion(panel)" matTooltipClass="tooltip-red"
                                     class="btn btn-default btn-lg"><i class="fas fa-trash"></i></button>
                           </mat-action-row> -->
                          </mat-expansion-panel>
                        </mat-accordion>
                      </div>
                    </div>
          <!--          <div class="row">-->
          <!--            <div class="col-12 text-center">-->
          <!--              <button type="button" *ngIf="accordions.length > 0" [disabled]="questionsTrueFalse.length === 0 && questionsMulti.length === 0" (click)="cancelCreateQues()"-->
          <!--                      class="btn btn-default btn-md mr-2"><i class="nav-icon fas fa-close mr-1"></i>Hủy-->
          <!--              </button>-->
          <!--              <button type="button" *ngIf="accordions.length > 0" [disabled]="!saveEnabled || (questionsTrueFalse.length === 0 && questionsMulti.length === 0)" (click)="saveQuestions()"-->
          <!--                      class="btn btn-primary btn-md"><i class="nav-icon fas fa-save mr-1"></i>Lưu lại-->
          <!--              </button>-->
          <!--            </div>-->
          <!--          </div>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
      
        <!-- <div *ngIf="idModule!==null&&idModule!==undefined" class="card">
          <div class="card-header">
            <h3 class="card-title">
              Thông tin bài thi
            </h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="row pt-3 bg-white pb-3">
              <div class="col-3 text-right mb-1">Loại bài thi</div>
              <div *ngIf="module.gradepass==0" class="col-8">
                Tự kiểm tra
              </div>
              <div *ngIf="module.gradepass>0" class="col-8">
                Bài thi
              </div>
              <div class="col-3 text-right mb-1">Tên bài thi</div>
              <div class="col-8">
                {{module.name}}
              </div>
              <div class="col-3 mt-3 text-right mb-1">Nhập miêu tả:</div>
              <div class="col-8 mt-3">
                <p [innerHTML]="module.intro"></p>
              </div>
              <div class="col-3 mt-1 text-right mb-1">Thời gian bắt đầu:</div>
              <div class="col-8 mt-1">
                <div *ngIf="module.timeopen!==0" class="form-group mr-2">
                  {{getDateFromDatetime(module.timeopen) | date:'HH:mm dd/MM/yyyy'}}
                </div>
                <div *ngIf="module.timeopen==0" class="form-group mr-2">
                  Không giới hạn
                </div>
              </div>
              <div class="col-3 mt-1 text-right mb-1">Thời gian kết thúc:</div>
              <div class="col-8 mt-1">
                <div *ngIf="module.timeclose!==0" class="form-group mr-2">
                  {{getDateFromDatetime(module.timeclose) | date:'HH:mm dd/MM/yyyy'}}
                </div>
                <div *ngIf="module.timeclose==0" class="form-group mr-2">
                  Không giới hạn
                </div>
              </div>
              <div class="col-3 mt-3 text-right mb-1">Thời gian làm bài:</div>
              <div class="col-9 mt-3">
                <div class="row">
                  <div class="col-md-1">
                    {{module.timelimit / 60}} Phút
                  </div>
                  <div class="col-md-2">
                  </div>
                </div>
              </div>
              <div class="col-3 mt-3 text-right mb-1">Kết thúc bài thi:</div>
              <div class="col-7 mt-3">{{getOverDueHandlingValueByKey(module.overduehandling) | translate}}</div>
              <div *ngIf="isQuiz" class="col-3 mt-3 text-right mb-1">Điểm chuẩn bài thi:</div>
              <div *ngIf="isQuiz" class="col-7 mt-3">
                {{module.gradepass}}
              </div>
              <div class="col-3 mt-3 text-right mb-1">Thang điểm bài thi</div>
              <div class="col-7 mt-3">
                {{module.grade}}
              </div>
              <div class="col-3 mt-3 text-right mb-1">Số lần tham gia:</div>
              <div class="col-7 mt-3">
                {{module.attempts === 0 ? 'Không giới hạn' : module.attempts}}
              </div>
              <div class="col-3 mt-3 text-right mb-1">Phương pháp chấm điểm:</div>
              <div class="col-7 mt-3">{{getGradepassValueByKey(module.grademethod) | translate}}</div>
              <div class="col-3 mt-3 text-right mb-1">Hiển thị kết quả sau khi thi:</div>
              <div class="col-8 mt-3">
                {{ module.isshowgrade ? "Có" : "Không"}}
              </div>
              <div class="col-12 mt-3 text-center">
                <button type="button" class="btn btn-default round-0 mr-2" (click)="back()"><i class="fas fa-close"></i>Quay lại</button>
                <button *ngIf="(!courseDetail?.readonly || isTeacher) && courseDetail?.published !== 1" type="submit" class="btn btn-primary" (click)="edit()"><i class="fas fa-save mr-1"></i>Chỉnh sửa</button>
              </div>
            </div>
          </div>
        </div> -->
        </div>
      
    </div>
  </div>
  <!-- <div *ngIf="idModule!==null&&idModule!==undefined" class="card">
    <div class="card-header">
      <h3 class="card-title">
        Thông tin bài thi
      </h3>
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="card-body">
      <div class="row pt-3 bg-white pb-3">
        <div class="col-3 text-right mb-1">Loại bài thi</div>
        <div class="col-3 text-right mb-1">Tên bài thi</div>
        <div class="col-8">
          {{module.name}}
        </div>
        <div class="col-3 mt-3 text-right mb-1">Nhập miêu tả:</div>
        <div class="col-8 mt-3">
          <p [innerHTML]="module.intro"></p>
        </div>
        <div class="col-3 mt-1 text-right mb-1">Thời gian bắt đầu:</div>
        <div class="col-8 mt-1">
          <div *ngIf="module.timeopen!==0" class="form-group mr-2">
            {{getDateFromDatetime(module.timeopen) | date:'HH:mm dd/MM/yyyy'}}
          </div>
          <div *ngIf="module.timeopen==0" class="form-group mr-2">
            Không giới hạn
          </div>
        </div>
        <div class="col-3 mt-1 text-right mb-1">Thời gian kết thúc:</div>
        <div class="col-8 mt-1">
          <div *ngIf="module.timeclose!==0" class="form-group mr-2">
            {{getDateFromDatetime(module.timeclose) | date:'HH:mm dd/MM/yyyy'}}
          </div>
          <div *ngIf="module.timeclose==0" class="form-group mr-2">
            Không giới hạn
          </div>
        </div>
        <div class="col-3 mt-3 text-right mb-1">Thời gian làm bài:</div>
        <div class="col-9 mt-3">
          <div class="row">
            <div class="col-md-1">
              {{module.timelimit / 60}} Phút
            </div>
            <div class="col-md-2">
            </div>
          </div>
        </div>
        <div class="col-3 mt-3 text-right mb-1">Kết thúc bài thi:</div>
        <div class="col-7 mt-3">{{getOverDueHandlingValueByKey(module.overduehandling) | translate}}</div>
        <div *ngIf="isQuiz" class="col-3 mt-3 text-right mb-1">Điểm chuẩn bài thi:</div>
        <div *ngIf="isQuiz" class="col-7 mt-3">
        </div>
        <div class="col-3 mt-3 text-right mb-1">Thang điểm bài thi</div>
        <div class="col-7 mt-3">
          {{module.grade}}
        </div>
        <div class="col-3 mt-3 text-right mb-1">Số lần tham gia:</div>
        <div class="col-7 mt-3">
          {{module.attempts === 0 ? 'Không giới hạn' : module.attempts}}
        </div>
        <div class="col-3 mt-3 text-right mb-1">Phương pháp chấm điểm:</div>
        <div class="col-3 mt-3 text-right mb-1">Hiển thị kết quả sau khi thi:</div>
        <div class="col-8 mt-3">
          {{ module.isshowgrade ? "Có" : "Không"}}
        </div>
        <div class="col-12 mt-3 text-center">
          <button type="button" class="btn btn-default round-0 mr-2" (click)="back()"><i class="fas fa-close"></i>Quay lại</button>
          <button *ngIf="(!courseDetail?.readonly || isTeacher) && courseDetail?.published !== 1" type="submit" class="btn btn-primary" (click)="edit()"><i class="fas fa-save mr-1"></i>Chỉnh sửa</button>
        </div>
      </div>
    </div>
  </div> -->
  
<ngx-spinner [fullScreen]="true" [name]="'listquestion'" type="ball-clip-rotate-multiple" size="medium">
  <p class="loading">{{ 'common.loading' | translate }}</p>
</ngx-spinner>

