<section class="inner_page_breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 text-center">
        <div class="breadcrumb_content mt-2">
          <h4 class="breadcrumb_title">{{ 'user_detail_popup.title' | translate }}</h4>
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a routerLink="/home">Trang chủ</a>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>


<main id="main">
  <!---Phan noi dung bai hoc-->
  <section id="route">
    <div class="container">

      <form role="form" [formGroup]="updateUserInfoForm" *ngIf="user">
        <div class="form-group row mt-3">
          <div class="col-4">
            <div class="row mr-3 justify-content-right">
              <div class="hovereffect person-circle-avatar" style="margin-left: auto">
                <img class="img-responsive img-fluid rounded"
                     src="{{user.userpictureurl}}"
                     alt=""/>
                <a class="overlay">
                  <label style="color: white;" for="files"
                         class="btn">{{ 'user_detail_popup.change_avatar_button' | translate }}</label>
                  <input id="files" type="file"
                         style="visibility:hidden;" (change)="changeAvatar($event)">
                </a>
              </div>
            </div>
            <div class="row mr-3 justify-content-right">
              <div class="message" style="margin-left: auto">
                <small class="text-danger"
                       *ngIf="!isValidAvatarFormat">
                  {{ 'error.validate.input_valid' | translate }}
                </small>
              </div>

            </div>
          </div>


          <div class="col-7">
            <div class="form-group row mt-3">
              <p class="col-3">{{ 'user.full_name' | translate }}</p>
              <label class="col-8">{{user.firstname}} {{user.lastname}}</label>
            </div>

            <div class="form-group row mt-3">
              <p class="col-3">{{ 'user.user_name' | translate }}</p>
              <label class="col-8">{{user.username}}</label>
            </div>

            <div class="form-group row mt-3">
              <p class="col-3">{{ 'user.email' | translate }}</p>
              <label class="col-8">{{user.email}}</label>
            </div>

            <div class="form-group row mt-3">
              <p class="col-3">{{ 'user.description' | translate }}</p>
              <label class="col-8" [innerHTML]="user.description"></label>
            </div>

          </div>
        </div>
      </form>

      <div class="text-center">
        <button type="button"
                [disabled]="!isChangeAvatar || !isValidAvatarFormat"
                class="btn btn-primary" (click)="updateUserInfo()" data-dismiss="modal">
          {{ 'common.save' | translate }}
        </button>
      </div>

    </div>
  </section>
</main>
