.person-circle-avatar {
  background-color: #90a4ae;
  border-radius: 50%;
  color: rgba(255,255,255,.87);
  font-size: 31px;
  font-weight: bold;
  height: 250px;
  width: 250px;
  line-height: 71px;
  text-align: center;
  position: relative;
  margin-right: 10px;
  left: -7px;
}

.overlay {
  padding: 45% 0px;
}

.overlay label {
  color: white;
  position: inherit;
  text-align: center;
  width: 100%;
}

.hovereffect img {
  width: 250px;
  height: 250px;
  transform: translate3d(0,0,0);
}
.message {
  width: 250px;
  text-align: center;
}
