.example-container {
    width: 95vw;
    height: 43rem;
  }
  
  .example-sidenav {
    width: 20vw;
  
  }
  
  .example-sidenav-content {
    height: 60vh;
  }
  .content-wrapper{
    overflow: hidden;
}