<form role="form" [formGroup]="questionForm">
  <div class="btn-group">
    <button type="button" class="btn btn-default" [disabled]="!formEnable"
            [ngStyle]="{'background-color': isLevel1 ? '#58FA58' : ''}" (click)="changeLevel(1)">Dễ
    </button>
    <button type="button" class="btn btn-default" [disabled]="!formEnable"
            [ngStyle]="{'background-color': isLevel2 ? '#FFBF00' : ''}" (click)="changeLevel(2)">Trung bình
    </button>
    <button type="button" class="btn btn-default" [disabled]="!formEnable"
            [ngStyle]="{'background-color': isLevel3 ? '#FE642E' : ''}" (click)="changeLevel(3)">Khó
    </button>
  </div>
  <input type="text" formControlName="id" hidden>
  <input type="text" formControlName="questiontext" hidden>
  <mat-action-row *ngIf="canEdit">
    <button type="button" matTooltip="Chỉnh sửa" (click)="onTurnOnEditmode()"
            [disabled]="isPublished" *ngIf="isViewMode"
            matTooltipClass="tooltip-red" class="btn btn-default btn-lg"><i class="fas fa-edit"></i>
    </button>
    <button type="button" matTooltip="Lưu" (click)="onSaveQuestion()"
            [disabled]="isPublished || questionForm.invalid" *ngIf="!isViewMode"
            matTooltipClass="tooltip-red" class="btn btn-default btn-lg"><i
      class="fas fa-save mr-1"></i></button>
    <button type="button" matTooltip="Xóa"
            [disabled]="isPublished" (click)="onRemoveQuestion()"
            matTooltipClass="tooltip-red"
            class="btn btn-default btn-lg"><i class="fas fa-trash"></i></button>
  </mat-action-row>
</form>


