::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: .0375em 0;
}
::ng-deep label {
  font-weight: 300 !important;
  font-size: 11pt !important;
}
::ng-deep .cdk-overlay-container {
  position: fixed !important;
  z-index: 1200 !important; /* set value you need */
}
