.course-input {
    width:100%;
    padding-bottom: 0 !important;
}
.example-button {
    margin-top: 0px;
  }  
  .example-tooltip-red {
    background: red;
  }
  ::ng-deep .tooltip-red {
  background: #b71c1c !important;
  font-size:10pt !important;
}
::ng-deep .cdk-overlay-container {
  position: fixed !important;
  z-index: 1200 !important; /* set value you need */
}
::ng-deep label {
  font-weight: 500 !important;
  font-size:11pt;
}