<div class="modal-header">
    <h5 class="modal-title">Chi tiết khóa học</h5>
    <button type="button" class="btn btn-tool" data-card-widget="collapse" (click)="activeModal.dismiss()"><i
            class="fas fa-times"></i>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <form role="form" [formGroup]="courseForm">
            <div class="row">
                <div class="col-4">
                    <div class="form-group fullname-require">
                        <label class="control-label"> Mã khóa học
                        </label><span class="text-danger"> *</span>
                        <input type="text" class="form-control" placeholder="Mã khóa học" required=""
                            data-placement="bottom" formControlName="code" [readonly]="action == 'update'">
                        <div
                            *ngIf="courseForm.get('code')!.invalid &&(courseForm.get('code')!.dirty || courseForm.get('code')!.touched)">
                            <small class="text-danger" *ngIf="courseForm.get('code')?.errors?.required">
                                {{ 'error.validate.input_required' | translate }}
                            </small>
                            <small class="text-danger" *ngIf="courseForm.get('code')?.errors?.isBlank">
                                {{ 'error.validate.input_required' | translate }}
                            </small>
                            <small class="text-danger" *ngIf="courseForm.get('code')?.errors?.maxlength">
                                {{ 'error.validate.course.nameMaxlength' | translate }}
                            </small>

                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="form-group fullname-require">
                        <label class="control-label">
                            <span>Tên khóa học</span>
                        </label><span class="text-danger"> *</span>
                        <input type="text" class="form-control" placeholder="Tên đầy đủ" required=""
                            data-placement="bottom" formControlName="name" [readonly]=" !canEdit || courseid">
                        <div
                            *ngIf="courseForm.get('name')!.invalid &&(courseForm.get('name')!.dirty || courseForm.get('name')!.touched)">
                            <small class="text-danger" *ngIf="courseForm.get('name')?.errors?.required">
                                {{ 'error.validate.input_required' | translate }}
                            </small>
                            <small class="text-danger" *ngIf="courseForm.get('name')?.errors?.isBlank">
                                {{ 'error.validate.input_required' | translate }}
                            </small>
                            <small class="text-danger" *ngIf="courseForm.get('name')?.errors?.maxlength">
                                {{ 'error.validate.course.nameMaxlength' | translate }}
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label>Danh mục họ nghề
                        </label><span class="text-danger"> *</span>
                        <select class="form-control select2" style="width: 100%;" formControlName="categoryid"
                            [attr.disabled]="!canEdit ||courseid ? '' : null">
                            <option [value]="null" disabled selected>Chọn danh mục</option>
                            <option *ngFor="let item of categoryMap | keyvalue" [value]="item.key">{{item.value}}
                            </option>
                        </select>
                        <div
                            *ngIf="courseForm.get('categoryid')!.invalid &&(courseForm.get('categoryid')!.dirty || courseForm.get('categoryid')!.touched)">
                            <small class="text-danger" *ngIf="courseForm.get('categoryid')?.errors?.required">
                                {{ 'error.validate.input_required' | translate }}
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label> Đối tượng học
                        </label><span class="text-danger"> *</span>
                        <ng-multiselect-dropdown [placeholder]="'Chọn chức danh'" [settings]="dropdownPositionSettings"
                            [data]="positionList" (onSelect)="onChangePosition()" (onDropDownClose)="onChangePosition()"
                            formControlName="selectedPositions" [disabled]="!canEdit || courseid ">
                        </ng-multiselect-dropdown>
                        <!-- <div
                        *ngIf="createUserForm.get('selectedPositions')!.invalid">
                        <small class="text-danger"
                               *ngIf="createUserForm.get('selectedPositions')?.errors?.required">{{ 'error.validate.input_required' | translate }}</small>
                      </div>
                        <div
                            *ngIf="courseForm.get('trainingobject')!.invalid &&(courseForm.get('trainingobject')!.dirty || courseForm.get('trainingobject')!.touched)">
                            <small class="text-danger" *ngIf="courseForm.get('trainingobject')?.errors?.required">
                                {{ 'error.validate.input_required' | translate }}
                            </small>
                        </div> -->
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label> Hình thức học
                        </label><span class="text-danger"> *</span>
                        <select class="form-control select2" style="width: 100%;" formControlName="trainingtype"
                            [attr.disabled]="!canEdit || courseid ? '' : null">
                            <option [value]="null" disabled selected>Chọn hình thức học</option>
                            <option *ngFor="let item of listTrainingType" [value]="item.value">{{item.label}}</option>
                        </select>
                        <div
                            *ngIf="courseForm.get('trainingtype')!.invalid &&(courseForm.get('trainingtype')!.dirty || courseForm.get('trainingtype')!.touched)">
                            <small class="text-danger" *ngIf="courseForm.get('trainingtype')?.errors?.required">
                                {{ 'error.validate.input_required' | translate }}
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label>Địa điểm
                        </label>
                        <input type="text" class="form-control" placeholder="Nhập địa điểm" data-placement="bottom"
                            formControlName="location" [readonly]="!canEdit || courseid">
                    </div>
                </div>
                <!-- <div class="col-6">
                    <label for="" class="mb-0">Thời gian bắt đầu</label><span class="text-danger"> *</span>
                    <div class="form-row">
                        <div class="col-auto form-inline">
                            <select class="form-control" formControlName="hourStartDate">
                                <option *ngFor="let hour of hoursList" [value]="hour.value">{{hour.label}}</option>
                            </select>
                            <select class="form-control ml-1" formControlName="minuteStartDate">
                                <option *ngFor="let minute of minutesList" [value]="minute.value">{{minute.label}}
                                </option>
                            </select>
                        </div>
                        <div class="col-auto">
                            <mat-form-field class="mr-3 mb-0 course-input">
                                <mat-label>Ngày bắt đầu</mat-label>
                                <input matInput [matDatepicker]="startdateModel" [min]="currentDate"
                                    formControlName="startdate">
                                <mat-datepicker-toggle matSuffix [for]="startdateModel"></mat-datepicker-toggle>
                                <mat-datepicker #startdateModel></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <label class="mb-0">Thời gian kết thúc</label><span class="text-danger">*</span>
                    <div class="form-row">
                        <div class="col-auto form-inline">
                            <select class="form-control" formControlName="hourEndDate">
                                <option *ngFor="let hour of hoursList" [value]="hour.value">{{hour.label}}</option>
                            </select>
                            <select class="form-control ml-1" formControlName="minuteEndDate">
                                <option *ngFor="let minute of minutesList" [value]="minute.value">{{minute.label}}
                                </option>
                            </select>
                        </div>
                        <div class="col-auto">
                            <mat-form-field color="blue" class="course-input mb-0">
                                <mat-label>Ngày kết thúc</mat-label>
                                <input matInput [matDatepicker]="enddateModel" [min]="courseForm.value.startdate"
                                    formControlName="enddate">
                                <mat-datepicker-toggle matSuffix [for]="enddateModel"></mat-datepicker-toggle>
                                <mat-datepicker #enddateModel color="primary"></mat-datepicker>
                            </mat-form-field>

                        </div>
                        <small class="text-danger" *ngIf="startTimeInvalid">
                            {{ 'error.validate.start_date_invalid' | translate }}
                        </small>
                        <small class="text-danger" *ngIf="endTimeInvalid">
                            {{ 'error.validate.end_date_invalid' | translate }}
                        </small>
                    </div>
                </div> -->
                <div class="col-4">
                    <div class="form-group fullname-require">
                        <label class="control-label"> Thời gian đào tạo (ngày)
                        </label>
                        <input type="number" class="form-control" placeholder="Nhập số lượng ngày" min="0"
                            data-placement="bottom" formControlName="duration" [readonly]="!canEdit || courseid">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group fullname-require">
                        <label class="control-label"> Thời gian dự kiến (Quý)
                        </label><span class="text-danger"> *</span>
                        <select class="form-control ml-2"   formControlName="timeexpect" >
                            <option value="">Chọn Quý</option>
                            <option *ngFor="let item of quarterData" value="{{item.value}}" >{{item.name}}</option>
                        </select>
                        <!-- <input type="number" class="form-control" placeholder="Nhập số lượng Quý" required=""
                            data-placement="bottom" formControlName="timeexpect" [readonly]="!canEdit || courseid"> -->

                        <div
                            *ngIf="courseForm.get('timeexpect')!.invalid &&(courseForm.get('timeexpect')!.dirty || courseForm.get('timeexpect')!.touched)">
                            <small class="text-danger" *ngIf="courseForm.get('timeexpect')?.errors?.required">
                                {{ 'error.validate.input_required' | translate }}
                            </small>
                            <small class="text-danger" *ngIf="courseForm.get('timeexpect')?.errors?.isBlank">
                                {{ 'error.validate.input_required' | translate }}
                            </small>
                            <small class="text-danger" *ngIf="courseForm.get('timeexpect')?.errors?.invalidNumber">
                                {{ 'error.validate.number' | translate }}
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group fullname-require">
                        <label class="control-label">Nguồn chi phí tổ chức đào tạo
                        </label><span class="text-danger"> *</span>
                        <select class="form-control select2" style="width: 100%;" formControlName="resource" (change)="onChangeResourse($event)"
                            [attr.disabled]="!canEdit || courseid ? '' : null">
                            <option [value]="null" disabled selected>Chọn nguồn chi phí</option>
                            <option *ngFor="let item of listCostSource" [value]="item.value">{{item.label}}</option>
                        </select>
                        <div
                            *ngIf="courseForm.get('resource')!.invalid &&(courseForm.get('resource')!.dirty || courseForm.get('timeexpect')!.touched)">
                            <small class="text-danger" *ngIf="courseForm.get('resource')?.errors?.required">
                                {{ 'error.validate.input_required' | translate }}
                            </small>
                            <small class="text-danger" *ngIf="courseForm.get('resource')?.errors?.isBlank">
                                {{ 'error.validate.input_required' | translate }}
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-{{courseForm.get('resource').value=='OTHERS'? 8:12}}"></div>
                <div class="col-4" *ngIf="courseForm.get('resource').value=='OTHERS'">
                    <div class="form-group fullname-require">
                        <label class="control-label">Nguồn khác
                        </label><span class="text-danger"> *</span>
                        <input type="text" class="form-control" placeholder="..." required="" data-placement="bottom"
                            formControlName="other">
                        <div
                            *ngIf="courseForm.get('other')!.invalid &&(courseForm.get('other')!.dirty || courseForm.get('other')!.touched)">
                            <small class="text-danger" *ngIf="courseForm.get('other')?.errors?.required">
                                {{ 'error.validate.input_required' | translate }}
                            </small>
                            <small class="text-danger" *ngIf="courseForm.get('other')?.errors?.isBlank">
                                {{ 'error.validate.input_required' | translate }}
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group fullname-require">
                        <label class="control-label"> Số lượng lớp học
                        </label>
                        <input type="number" class="form-control" placeholder="Nhập số lượng lớp học"
                            data-placement="bottom" formControlName="numberclass"  [readonly]="!canEdit || courseid" min="0">
                        <div
                            *ngIf="courseForm.get('numberclass')!.invalid &&(courseForm.get('numberclass')!.dirty || courseForm.get('numberclass')!.touched)">
                            <small class="text-danger" *ngIf="courseForm.get('numberclass')?.errors?.invalidNumber">
                                {{ 'error.validate.number' | translate }}
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group fullname-require">
                        <label class="control-label"> Số lượng học viên
                        </label><span class="text-danger"> *</span>
                        <input type="number" class="form-control" placeholder="Nhập số lượng học viên" required=""
                            data-placement="bottom" formControlName="numberstudent" [readonly]="!canEdit || courseid" min="0">
                        <div
                            *ngIf="courseForm.get('numberstudent')!.invalid &&(courseForm.get('numberstudent')!.dirty || courseForm.get('numberstudent')!.touched)">
                            <small class="text-danger" *ngIf="courseForm.get('numberstudent')?.errors?.required">
                                {{ 'error.validate.input_required' | translate }}
                            </small>
                            <small class="text-danger" *ngIf="courseForm.get('numberstudent')?.errors?.isBlank">
                                {{ 'error.validate.input_required' | translate }}
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group fullname-require">
                        <label class="control-label"> Chi phí (VNĐ)
                        </label><span class="text-danger"> *</span>
                        <input type="text" class="form-control" placeholder="Nhập chi phí" required=""
                            [readonly]="!canEdit || courseid" data-placement="bottom" formControlName="cost"
                            (change)="convertCost($event.target.value)">
                        <div
                            *ngIf="courseForm.get('cost')!.invalid &&(courseForm.get('cost')!.dirty || courseForm.get('cost')!.touched)">
                            <small class="text-danger" *ngIf="courseForm.get('cost')?.errors?.required">
                                {{ 'error.validate.input_required' | translate }}
                            </small>
                            <small class="text-danger" *ngIf="courseForm.get('cost')?.errors?.isBlank">
                                {{ 'error.validate.input_required' | translate }}
                            </small>
                            <small class="text-danger" *ngIf="courseForm.get('cost')?.errors?.maxlength">
                                {{ 'error.validate.course.nameMaxlength' | translate }}
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-12" *ngIf="!isCreateExam">
                    <div>
                        <label>Mô tả khóa học</label>
                    </div>
                    <div>
                        <textarea rows="4" style="width: 100%;" formControlName="description" class="form-control"
                            [readonly]="!canEdit || courseid">
              </textarea>
                        <div
                            *ngIf="courseForm.get('description')!.invalid && (courseForm.get('description')!.dirty || courseForm.get('description')!.touched)">
                            <small class="text-danger" *ngIf="courseForm.get('summary')?.errors?.maxlength">
                                {{ 'error.validate.course.nameCourseMaxlength' | translate }}
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <button type="button" (click)="activeModal.dismiss('close')"
                    class="btn ml-1 btn-secondary rounded-0 mr-2" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" [disabled]="courseForm.invalid"
                    (click)="createNewCourse()" *ngIf="canEdit && !courseid ">Lưu lại </button>
            </div>
        </form>
    </div>
</div>