<div class="content-wrapper" style="min-height: 928.604px">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Báo cáo dữ liệu học tập cá nhân</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#" routerLink="/admin">CMS</a></li>
                        <li class="breadcrumb-item active">Báo cáo dữ liệu học tập cá nhân</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <mat-drawer-container autosize class="example-container">
                    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
                        <div class="card card-default">
                            <div class="card-body">
                                <h6>Cây đơn vị</h6>
                                <hr>
                                <form>
                                    <ejs-treeview #departmentTree
                                        [fields]="departmentTreeData"
                                        (nodeSelecting)='nodeSelected($event)'
                                        (nodeChecked)='nodeSelected($event)'
                                        (keyPress)='nodeCheck($event)'
                                        (nodeClicked)='nodeCheck($event)'
                                        [showCheckBox]='true'>
                                    </ejs-treeview>
                                </form>
                            </div>
                        </div>
                    </mat-drawer>
                    <div class="example-sidenav-content">
                        <div class="card card-default">
                            <div class="card-body content-of-topic mt-1">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row w-100">
                                            <div class="col-6">
                                                <button
                                                    class="btn btn-default btn-flat btn-md mr-2 ml-4"
                                                    type="button" mat-button
                                                    (click)="drawer.toggle()"><i
                                                        class="fas fa-bars"></i>
                                                </button>
                                            </div>
                                            <div class="col-6 text-right">
                                                <a class="btn btn-sm btn-success text-white" (click)="onExportData()">
                                                    <i class="fas fa-file-excel mr-2"></i>Xuất File Excel 
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <section class="content" style="width:100%">
                                        <div class="container-fluid">
                                            <div class="col-12">
                                                <div class="row ml-2">
                                                    <div class="col-12 m-0">
                                                        <div class="w-100">
                                                            <div class="row" style="max-width:1440px">
                                                                <div class="col-3">
                                                                    <label for="">Tên học viên</label>
                                                                    <input
                                                                        type="search"
                                                                        #keyword
                                                                        (change)="onFilterKeyword($event)"
                                                                        class="form-control form-control-sm"
                                                                        aria-describedby="helpId"
                                                                        placeholder="Nhập tên học viên"
                                                                    />
                                                                </div>
                                                                <div class="col-3">
                                                                    <label for="">Thời gian</label>
                                                                    <nz-range-picker [(ngModel)]="date" (ngModelChange)="onFilterDateRange($event)" [nzFormat]="'dd-MM-yyyy'"></nz-range-picker>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card card-default">
                                                    <div class="card-header">
                                                        
                                                    </div>
                                                    <div class="card-body" style="display: block;">
                                                        <div class="col-12 table-responsive">
                                                            <table
                                                                class="table table-hover table-bordered"
                                                                style="white-space: nowrap"
                                                            >
                                                                <thead class="head2">
                                                                <tr>
                                                                    <th class="text-center">STT</th>
                                                                    <th class="text-center" style="min-width: 250px">Tên học viên</th>
                                                                    <th class="text-center">Số khóa đang học</th>
                                                                    <th class="text-center">Số khóa đã hoàn thành</th>
                                                                    <th class="text-center">Số chứng chỉ đã đạt được</th>
                                                                    <th class="text-center">Tổng số giờ học</th>
                                                                    <th class="text-center">Điểm trung bình kiểm tra cuối khóa</th>
                                                                    <th class="text-center">Điểm trung bình kiểm tra cuối khóa sau 3 tháng</th>
                                                                    <th class="text-center">Điểm trung bình kiểm tra cuối khóa sau 6 tháng</th>
                                                                    <th class="text-center">Thao tác</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr *ngFor="let item of listData; let i = index;">
                                                                        <td class="text-center">{{(listParams.pageIndex - 1) * listParams.pageSize + i + 1}}</td>
                                                                        <td class="text-left">{{item.fullname}}</td>
                                                                        <td class="text-center">{{item.courseinprogress}}</td>
                                                                        <td class="text-center">{{item.compeletedcourse}}</td>
                                                                        <td class="text-center">{{item.badgeachieve}}</td>
                                                                        <td class="text-center">{{item.totalstudytime}}</td>
                                                                        <td class="text-center">{{item.gpafinalexam}}</td>
                                                                        <td class="text-center">{{item.gpafinalexam3m}}</td>
                                                                        <td class="text-center">{{item.gpafinalexam6m}}</td>
                                                                        <td class="text-center">
                                                                            <button type="button" class="btn btn-default btn-sm mr-1" (click)="viewDetail(item)" matTooltip="Xem" matTooltipClass="tooltip-red"><i class="fas fa-eye"></i></button>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <br />
                                                            <p *ngIf="totalRecord==0" class="text-center">{{
                                                                'common.no_search_result' | translate}}</p>
                                                        </div>
                                                        <div class="card-footer text-center">
                                                            <div class="row">
                                                                <mat-paginator showFirstLastButtons
                                                                    [length]="totalRecord"
                                                                    [pageSize]="listParams.pageSize"
                                                                    [pageIndex]="listParams.pageIndex - 1"
                                                                    (page)="changePage($event)" [hidePageSize]="false"
                                                                    [pageSizeOptions]="pageSizeOptions">
                                                                </mat-paginator>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-drawer-container>
            </div>
        </div>
    </section>
</div>
