<div class="modal-header">
    <h5 class="modal-title">Cảnh báo</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="eror-list">
        <div *ngFor="let item of data; let i = index;" class="mb-2">
            <div>
                <i class="fas fa-exclamation-triangle"></i> [error] - Không thể xóa <b>{{ item.name }}</b>. Do tồn tại thông tin cấp độ.
            </div>
        </div>
    </div>
    <div class="mt-2">
        <i class="text-danger">*Lưu ý: Nhấn tiếp tục sẽ bỏ qua các lĩnh vực chứa cấp độ.</i>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary"
            (click)="activeModal.dismiss('close')">{{ 'common.cancel' | translate }}</button>
    <button type="button" class="btn btn-danger"
            (click)="activeModal.close('confirm')">{{confirmButton}}</button>
  </div>
  