<div class="card-header pb-0">
    <button class="btn btn-secondary btn-sm" (click)="openListCriteria('course')" type="submit" >
      <i class="nav-icon fas fa-plus mr-1"></i>Thêm tiêu chí
    </button>
  </div>
  <div class="card-body">
    <div class="col-12">
      <div class="table-responsive overflow-auto" >
        <table class="table table-hover table-head-fixed">
          <thead>
            <tr>
              <th>STT</th>
              <th style="width: 50%">Nội dung tiêu chí</th>
              <th>Mô tả</th>
              <th style="width: 8%; text-align: center;">Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cri of listCriteria; let i = index">
              <td>{{ i+1 }}</td>
              <td>{{ cri.name }}</td>
              <td>{{ cri.description }}</td>
              <td class="text-center">
                <button type="button" (click)="removeCri(cri.id)"
                class="btn btn-default btn-sm mr-1" matTooltip="Xóa"
                matTooltipClass="tooltip-red">
                <i class="fas fa-trash">
                </i>
              </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer text-center">
        <div class="row">
          <mat-paginator showFirstLastButtons 
              [length]="totalRecord"
              [pageSize]="pageSize"
              [pageIndex]="pageIndex - 1"
              (page)="changePage($event)"
              [hidePageSize]="false"
              [pageSizeOptions]="pageSizeOptions">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>