<div class="mt-3">
  <form role="form" [formGroup]="editCategoryForm">
      <input type="hidden" class="form-control" formControlName="id">
      <div class="form-body">
          <div class="row">
              <div class="col-6 col-xs-12">
                  <div class="form-group">
                      <label>Tên cấp độ</label><span class="text-danger"> *</span>
                      <input type="text" class="form-control" placeholder="Tên danh mục" formControlName="name">
                      <div *ngIf="editCategoryForm?.get('name')!.invalid &&
                          (editCategoryForm?.get('name')!.dirty || editCategoryForm?.get('name')!.touched)">
                          <span class="text-danger" *ngIf="editCategoryForm?.get('name')?.errors?.required">
                          {{ 'error.validate.input_required' | translate }}
                          </span>
                      </div>
                      <small class="text-danger" *ngIf="editCategoryForm?.get('name')?.invalid && !editCategoryForm?.get('name')?.hasError('required')">
                          {{ 'error.validate.course.nameMaxlength' | translate }}
                      </small>
                  </div>
              </div>
              <div class="col-6 col-xs-12">
                  <div class="form-group">
                      <label>Danh mục lĩnh vực</label><span class="text-danger">*</span>
                      <ng-select class="form-control select2 custom-select-box" formControlName="parent"
                                  [items]="categoryMap | keyvalue"  bindLabel="value" bindValue="key" [editableSearchTerm]="true">
                      </ng-select>
                      <div *ngIf="editCategoryForm?.get('parent')!.invalid &&
                          (editCategoryForm?.get('parent')!.dirty || editCategoryForm?.get('parent')!.touched)">
                          <span class="text-danger" *ngIf="editCategoryForm?.get('parent')?.errors?.required">
                          {{ 'error.validate.input_required' | translate }}
                          </span>
                      </div>
                  </div>
              </div>
  
              <div class="col-12">
                  <div class="form-group">
                      <label>Mô tả</label>
                      <textarea class="form-control" placeholder="Mô tả chi tiết"  formControlName="description"></textarea>
                      <small class="text-danger" *ngIf="editCategoryForm?.get('description')?.errors && !editCategoryForm?.get('description')?.errors?.required">
                      {{ 'error.validate.course.nameCourseMaxlength' | translate }}
                      </small>
                  </div>
              </div>
          </div>
      </div>
  </form>
  <div class="btn-grout-level clearfix text-center">
      <button type="submit" class="btn btn-primary float-right" (click)="createOrUpdateBadgeCategory()">
        {{ 'common.save' | translate }}
      </button>
      <button type="button" [routerLink]="['/admin/badge-level']" [routerLinkActive]="['active']" class="float-right btn ml-1 btn-secondary rounded-0 mr-1">{{ 'common.cancel' | translate }}</button>
  </div>
</div>




