.img-fluid{
  height: 200px !important;
}
.member-info{
  min-height: 105px !important;
  margin-top: 160px;
  display: block;
  width: 100%;
}
.step {
  position: absolute;
  top: -5px;
  width: 90px;
  height: 40px;
  line-height: 45px;
  border-top-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  font-size: 25px;
  color: #fff;
  font-weight: 400px;
  text-align: center;
  background: #ef3b42;
}
.course_reigister_a {
  position: absolute;
    top: 0px;
    right: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    padding: 5px 5px 5px 5px;
    border-radius: 5px 10px 0px 5px;
}