table td, table th {
    padding-left: 8px !important;
}
.badge-ct{
    color: #FFFFFF;
    background: #ED1C24;
}
select.form-control{
    padding: 0px 13px;
    min-width: 151px;
    height: 33px;
}