<div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>QUẢN LÝ YÊU CẦU NHÂN BẢN KHOÁ HỌC</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#" routerLink="/admin">CMS</a></li>
              <li class="breadcrumb-item active">Quản lý nhân bản khóa học</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="container-fluid">
        <div class="col-12">
          <div class="card card-default">
            <mat-tab-group dynamicHeight selectedIndex="0">
              <mat-tab>
                <ng-template mat-tab-label>
                  
                  <img  src="/assets/request-clone.svg" class="" alt="">
                <span class="pl-2">  Phê duyệt yêu cầu</span>
                </ng-template>
                <div class="card-header">
                  <div class="row">
                    <div class="col-6">
                      
                    </div>
                  <div class="col-6">
                    <form class="form-inline float-right" >
                      <div class="form-group m-2">
                        <label class="mr-2">Tìm kiếm</label>
                        <input type="search" name="keyword"  [(ngModel)]="searchCourse.search" (change)="onChangeKeyword()" class="form-control form-control-sm mr-2" placeholder="Tìm kiếm theo tên khoá học" 
                               autocomplete="off">
                      </div>
                      <div class="form-group m-2">
                        <label class="mr-2">Trạng thái</label>
                        <select class="form-control"  (change)="onFilterCourse($event.target.value)">
                          <option value="0">Trạng thái</option>
                          <option value="1"> Đang chờ </option>
                          <option value="2"> Đã duyệt</option>
                          <option value="3"> Đã từ chối</option>
                        </select>
                      </div>
                    </form>
                  </div>
                  </div>
                </div>
                <div class="card-body  pt-0" >
                  <div class="col-12 table-responsive">
                      <table class="table table-hover table-bordered" style="border: 1px solid #dee2e6;" matSort (matSortChange)="sortData($event)">
                          <thead>
                          <tr class="bg-light">
                            <th class="text-center" mat-sort-header="id">STT</th>
                            <th class="text-center"  mat-sort-header="fullname">Tên khóa học</th>
                            <th class="text-center" mat-sort-header="refdepartmentid">Đơn vị chủ trì</th>
                            <th class="text-center">Hình thức học</th>
                            <th class="text-center">Danh mục</th>
                            <th class="text-center" mat-sort-header="published">Đơn vị yêu cầu</th>
                            <th class="text-center" mat-sort-header="status">Thời gian yêu cầu</th>
                            <th class="text-center" mat-sort-header="status">Trạng thái</th>
                            <th class="text-center" style="width:114px" class="text-center"> Thao tác</th>
                          </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of coursesList; let i = index;">
                              <td>{{(searchCourse.pageIndex - 1) * searchCourse.pageSize + i + 1}}</td>
                              <td><a  ><span matTooltip="{{item.fullname}}" matTooltipClass="tooltip-inner">{{item.fullname?.length <= 40 ? item.fullname : (item.fullname | slice:0:40) + '...' }}</span></a></td>
                              <td ><span matTooltip="{{item.ownerdepartmentname}}" matTooltipClass="tooltip-inner">{{item.ownerdepartmentname?.length <= 10 ? item.ownerdepartmentname : (item.ownerdepartmentname | slice:0:12) + '...' }}</span></td>
                              <td [ngSwitch]="item.trainingtype" >
                                <span *ngSwitchCase="'OFFI'" matTooltip="Offline Inhouse">Offline Inhouse</span>
                                <span *ngSwitchCase="'OFFP'" matTooltip="Offline Public">Offline Public</span>
                                <span *ngSwitchCase="'OFFE'" matTooltip="Offline nội bộ">Offline nội bộ</span>
                                <span *ngSwitchCase="'ONLR'" matTooltip="Online video recorded learning">Online video recorded learning</span>
                                <span *ngSwitchCase="'ONLL'" matTooltip="Online live learning zoom">Online live learning zoom</span>
                              </td>
                              <td ><span matTooltip="{{item.categoryname}}">{{item.categoryname}}</span></td>
                              <td ><span matTooltip="{{item.requestdepartmentname}}">{{item.requestdepartmentname}}</span></td>
                              <td ><span matTooltip="{{getDateFromUnix(item.requestdate) | date:'dd/MM/yyyy'}}">{{getDateFromUnix(item.requestdate) | date:'dd/MM/yyyy'}}</span></td>
                              <td>
                                <span class="badge badge-warning" matTooltip="Đang chờ" *ngIf="item.status ==1">Đang chờ</span>
                                <span class="badge badge-primary"  matTooltip="Đã phê duyệt" *ngIf="item.status ==2">Đã phê duyệt</span>
                                <span class="badge badge-ct"  matTooltip="Đã từ chối" *ngIf="item.status ==3">Đã từ chối</span>
                              </td>
                              <td style="width:150px;">
                                  <button type="button" class="btn btn-default btn-sm mr-1 "  (click)="detailClone(item, false )"   matTooltip="Xem" matTooltipClass="tooltip-red"><i  class="fas fa-eye"></i></button>
                                  <button type="button" class="btn btn-default btn-sm mr-1 "  *ngIf="item.status== 1" (click)="sendRequest(2, item)" matTooltip="Duyệt" matTooltipClass="tooltip-red"><img height="15" src="assets/check_clone.svg" class="" alt=""></button>  
                                  <button  type="button" class="btn btn-default btn-sm mr-1 " *ngIf="item.status== 1" (click)="sendRequest(3 ,item )"  matTooltip="Hủy" matTooltipClass="tooltip-red" ><img height="15" src="assets/close_clone.svg" class="" alt=""></button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                  </div>
                  <div class="card-footer text-center">
                      <div class="row">
                        <mat-paginator showFirstLastButtons
                            [length]="totalRecord"
                            [pageSize]="searchCourse.pageSize"
                            [pageIndex]="searchCourse.pageIndex - 1 "
                            (page)="changePage($event)"
                            [hidePageSize]="false"
                            [pageSizeOptions]="pageSizeOptions">
                        </mat-paginator>
                      </div>
                    </div>
                </div>
              </mat-tab>
              <mat-tab act>
                <ng-template mat-tab-label>
                  <img  src="/assets/icon-clone.svg" class="" alt=""> 
                  <span class="pl-2">  Yêu cầu đã gửi</span>
                </ng-template>
                <div class="card-header">
                  <div class="row">
                    <div class="col-6">
                      
                    </div>
                  <div class="col-6">
                    <form class="form-inline float-right" >
                      <div class="form-group m-2">
                        <label class="mr-2">Tìm kiếm</label>
                        <input type="search" name="keyword"  [(ngModel)]="searchCourse.search1" (change)="onChangeKeyword1()" class="form-control form-control-sm mr-2" placeholder="Tìm kiếm theo tên khoá học" 
                               autocomplete="off">
                      </div>
                      <div class="form-group m-2">
                        <label class="mr-2">Trạng thái</label>
                        <select class="form-control" (change)="onFilterCourse1($event.target.value)">
                          <option value="0">Toàn bộ</option>
                          <option value="1"> Đang chờ </option>
                          <option value="2"> Đã duyệt</option>
                          <option value="4"> Đã hủy</option>
                        </select>
                      </div>
                    </form>
                  </div>
                  </div>
                </div>
                <div class="card-body  pt-0" >
                  <div class="col-12 table-responsive">
                      <table class="table table-hover table-bordered" style="border: 1px solid #dee2e6;" matSort (matSortChange)="sortData($event)">
                          <thead>
                          <tr class="bg-light">
                            <th class="text-center" mat-sort-header="id">STT</th>
                            <th class="text-center"  mat-sort-header="fullname">Tên khóa học</th>
                            <th class="text-center" mat-sort-header="refdepartmentid">Đơn vị chủ trì</th>
                            <th class="text-center">Hình thức học</th>
                            <th class="text-center">Danh mục</th>
                            <th class="text-center" mat-sort-header="published">Đơn vị yêu cầu</th>
                            <th class="text-center" mat-sort-header="status">Thời gian yêu cầu</th>
                            <th class="text-center" mat-sort-header="status">Trạng thái</th>
                            <th class="text-center" style="width:114px" class="text-center"> Thao tác</th>
                          </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of requestCloneList; let j = index;">
                              <td>{{(searchCourse.pageIndex1 - 1) * searchCourse.pageSize1 + j + 1}}</td>
                              <td><a  ><span matTooltip="{{item.fullname}}" matTooltipClass="tooltip-inner">{{item.fullname?.length <= 40 ? item.fullname : (item.fullname | slice:0:40) + '...' }}</span></a></td>
                              <td ><span matTooltip="{{item.ownerdepartmentname}}" matTooltipClass="tooltip-inner">{{item.ownerdepartmentname?.length <= 10 ? item.ownerdepartmentname : (item.ownerdepartmentname | slice:0:12) + '...' }}</span></td>
                              <td [ngSwitch]="item.trainingtype" >
                                <span *ngSwitchCase="'OFFI'" matTooltip="Offline Inhouse">Offline Inhouse</span>
                                <span *ngSwitchCase="'OFFP'" matTooltip="Offline Public">Offline Public</span>
                                <span *ngSwitchCase="'OFFE'" matTooltip="Offline nội bộ">Offline nội bộ</span>
                                <span *ngSwitchCase="'ONLR'" matTooltip="Online video recorded learning">Online video recorded learning</span>
                                <span *ngSwitchCase="'ONLL'" matTooltip="Online live learning zoom">Online live learning zoom</span>
                              </td>
                              <td matTooltip="{{item.categoryname}}">{{item.categoryname}}</td>
                              <td matTooltip="{{item.requestdepartmentname}}">{{item.requestdepartmentname}}</td>
                              <td matTooltip="{{getDateFromUnix(item.requestdate) | date:'dd/MM/yyyy'}}">{{getDateFromUnix(item.requestdate) | date:'dd/MM/yyyy'}}</td>
                              <td>
                                <span class="badge badge-warning" matTooltip="Đang chờ" *ngIf="item.status ==1">Đang chờ</span>
                                <span class="badge badge-primary" matTooltip="Đã phê duyệt" *ngIf="item.status ==2">Đã phê duyệt</span>
                                <span class="badge badge-ct" matTooltip="Đã hủy" *ngIf="item.status ==4">Đã hủy</span>
                                <span class="badge badge-ct" matTooltip="Bị từ chối" *ngIf="item.status ==3">Bị từ chối</span>
                              </td>
                              <td style="width:150px;">
                                  <button type="button" class="btn btn-default btn-sm mr-1 " (click)="detailClone(item, true)"  matTooltip="Xem" matTooltipClass="tooltip-red"><i  class="fas fa-eye"></i></button>
                                  <button type="button" class="btn btn-default btn-sm mr-1 " *ngIf="item.status== 1" (click)="sendRequest(4, item)" matTooltip="Hủy yêu cầu" matTooltipClass="tooltip-red"><img height="15" src="assets/cancel-clone.svg" class="" alt=""></button>  
                              </td>
                            </tr>
                          </tbody>
                        </table>
                  </div>
                  <div class="card-footer text-center">
                      <div class="row">
                        <mat-paginator showFirstLastButtons
                            [length]="totalRecord1"
                            [pageSize]="searchCourse.pageSize1"
                            [pageIndex]="searchCourse.pageIndex1 - 1 "
                            (page)="changePage1($event)"
                            [hidePageSize]="false"
                            [pageSizeOptions]="pageSizeOptions1">
                        </mat-paginator>
                      </div>
                    </div>
                </div>
              </mat-tab>
            </mat-tab-group>

              </div>
          </div>
        </div>
    </section>
  </div>
  