::ng-deep .tooltip-red {
  background: #b71c1c !important;
  font-size:10pt !important;
}
.teacher-name.ml-1 {
  padding-left: 15.5px;
  padding-bottom: 5px;
}
.mat-icon-button {

  width: 20px !important;
  height: 20px !important;
  line-height: 20px !important;
}
.mat-list-button {
  display:block;
  cursor:pointer;
  height:50px !important;
}
.mat-list-button:hover {
  display:block;
  background-color: #e7e7e7;
  cursor:pointer;
}
.mat-list-button:active {
  display:block;
  background-color: #78b8e7;
  cursor:pointer;
}
.mat-list-base .mat-list-item .mat-list-avatar, .mat-list-base .mat-list-option .mat-list-avatar {
  flex-shrink: 0;
  width: 25px !important;
  height: 25px !important;
  border-radius: 50%;
  object-fit: cover;
}
.example-container {
  width: auto;
  height: auto;
}
.example-sidenav {
    width:20vw;

}
.example-sidenav-content {
  height:80vh;
}
.font-size-14 {
   font-size:14pt;
}
.font-size-11 {
   font-size:11pt;
}
mat-panel-title,
mat-panel-description,
span {
 display: block;
}
.topic {
   color: #000000;
   font-weight:300;
}
.teacher {
   opacity:0.8;
   font-size:10pt;
}
::ng-deep .tooltip-red {
background: #b71c1c !important;
font-size:10pt !important;
}
::ng-deep section {
  padding: 10px 0;
}
mat-list-option[aria-selected="true"] {
  background: rgba(0, 139, 139, 0.7);
}
/**phan sua them **/
::ng-deep .mat-list-base .mat-list-item .mat-list-text>*, .mat-list-base .mat-list-option .mat-list-text>* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: .9rem !important;
}
::ng-deep .mat-list-button{
  display: block;
  cursor: pointer;
  height: 45px !important;
}
::ng-deep .mat-list-base {
  padding-top: 0px !important;
  display: block;
  -webkit-tap-highlight-color: transparent;
}
.is-active {
  border-left: solid 3px blue !important;
}
.fas.fa-bars {
  cursor: pointer;
}

.bd-highlight {
  background-color: rgb(206, 213, 224);
}

/* drop drag*/
/* Animate items as they're being sorted. */
/* source code: https://stackblitz.com/edit/angular-cdk-drop-table-example */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  display: table;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  padding: 4px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-disabled {
  background: #ccc;
  cursor: default;
}

::ng-deep .cdk-overlay-container {
  position: fixed !important;
  z-index: 1200 !important; /* set value you need */
}
