::ng-deep .modal-open .modal {
    overflow-x: hidden;
    overflow-y: inherit !important
}
.mat-select-menu-container,
.mat-open-menu-container {
    z-index: 999999 !important;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
    z-index: 99999 !important;
 }

 .ishide{
    opacity: 0;
    top: 0
 }
 .removeFile{
     top: 50%;
     transform: translateY(-50%);
     right: 15px;
     z-index: 1;
 }
::ng-deep .cdk-overlay-container{
    z-index: 10000;
}
