<div class="modal-header">
  <h5 class="modal-title">Thêm mới học viên</h5>
  <button type="button" class="btn btn-tool" data-card-widget="collapse"
    (click)="activeModal.close('ok')"><i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <p class="col-12">Danh sách học viên chưa có trong chứng chỉ</p>
    <div class="col-4">
      <div class="form-group">
        <input type="text" (change)="onSearchStudent($event.target.value)" class="form-control" placeholder="Tìm kiếm tên học viên">
      </div>
    </div>
    <div class="col-8">
      <div class="position-relative float-right">
        <div *ngIf="!fileName">
          <i class="text-xs mr-3">PNG <span class="text-danger">(*)</span>, JPG <span class="text-danger">(*)</span>, WEBP <span class="text-danger">(*)</span>, PDF <span class="text-danger">(*)</span></i>
          <button type="submit" class="btn btn-danger" [disabled]="studentId?.length === 0"><i class="fas fa-file-pdf"></i> Thêm file</button>
        </div>
        <div *ngIf="fileName" class="btn btn-light pr-5" matTooltip="{{fileData?.name}}">
          {{fileName}}
          <div class="position-absolute removeFile btn-xs" matTooltip="Xóa file" (click)="removeFile()">
            <i class="fa fa-times"></i>
          </div>
        </div>
        <div class="position-absolute w-100 h-100 ishide">
          <input type="file" name="fileToUpload" (change)="handleFileInput($event?.target?.files)" multiple="false">
        </div>
      </div>
    </div>
    <div class="col-12 mt-3 table-responsive overflow-auto" style="max-height: 380px;">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>

          </th>
          <th>STT</th>
          <th>Họ tên</th>
          <th>Đơn vị</th>
          <th>Chức danh</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let student of studentsOutBadge; let i = index">
          <td>
            <mat-icon class="mt-1">
              <mat-radio-button [checked]="student.checked" (change)="onCheckBoxItem(student.id)" class="example-margin"></mat-radio-button>
            </mat-icon>
          </td>
          <td>{{i + 1 + (searchStudent.page - 1) * searchStudent.limit}}</td>
          <td>{{student.studentname}}</td>
          <td matTooltip="{{student.departmentname}}" matTooltipClass="tooltip-inner">{{student.departmentname?.length <= 50 ? student.departmentname : (student.departmentname | slice:0:50) + '...' }}</td>
          <td matTooltip="{{student.positionname}}" matTooltipClass="tooltip-inner">{{student.positionname?.length <= 50 ? student.positionname : (student.positionname | slice:0:50) + '...' }}</td>
        </tr>
        </tbody>
      </table>
      <p *ngIf="studentsOutBadge?.length === 0" class="text-center">{{ 'common.no_search_result' | translate}}</p>
    </div>
    <div class="card-footer text-center col-12" style="z-index: 100000;">
      <div class="row">
        <mat-paginator showFirstLastButtons
          [length]="totalRecord"
          [pageSize]="searchStudent.limit"
          [pageIndex]="searchStudent.page - 1 "
          (page)="changePage($event)"
          [hidePageSize]="false"
          [pageSizeOptions]="pageSizeOptions">
        </mat-paginator>
      </div>
      <br>
      <div class="row">
        <div class="col-12">
          <button type="submit" (click)="activeModal.close('ok')" class="btn ml-1 btn-secondary rounded-0 mr-2" data-dismiss="modal">Hủy</button>
          <button type="submit" class="btn btn-primary" [disabled]="studentId?.length === 0 || !fileData" (click)="onSubmitForm()" >Xác nhận</button>
        </div>
      </div>
    </div>
  </div>
</div>
