
        <div class="modal-content">
            <div class="modal-header">
                Chi tiết 
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="px-3 mb-2">
                    <p *ngFor="let i of listDetailError; let in = index" >- {{listDetailError[in]}}</p>
                </div>
                <table class="table table-hover table-bordered" >
                    <thead>
                        <tr>
                            <th class="text-center">Danh mục KH</th>
                            <th class="text-center">Tên KH</th>
                            <th class="text-center">Đơn vị</th>
                            <th class="text-center">Hình thức học</th>
                            <th class="text-center">Đối tượng học</th>
                            <th class="text-center">SL học viên</th>
                            <th class="text-center">Thời lượng</th>
                            <th class="text-center">Thời gian dự kiến</th>
                            <th class="text-center">Địa điểm</th>
                            <th class="text-center">Số lượng lớp</th>
                            <th class="text-center">Tổng tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td >{{listError.categoryname}}</td>
                            <td >{{listError.name}}</td>
                            <td >{{listError.departmentname}}</td>
                            <td class="text-center">{{listError.trainingtype}}</td>
                            <td class="text-center">{{listError.trainingobject}}</td>
                            <td class="text-center">{{listError.numberstudent}}</td>
                            <td class="text-center">{{listError.duration}}</td>
                            <td class="text-center">{{listError.timeexpect}}</td>
                            <td class="text-center">{{listError.location}}</td>
                            <td class="text-center">{{listError.numberclass}}</td>
                            <td class="text-center">{{listError.cost}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            
