<div class="modal-header">
    <h5 class="modal-title" *ngIf="!data">Yêu cầu nhân bản khoá học</h5>
    <h5 class="modal-title" *ngIf="data">Yêu cầu chỉnh sửa khoá học</h5>
    <button  type="button" class="close" data-dismiss="modal" aria-label="Close"  (click)="activeModal.dismiss('close')">
      <span aria-hidden="true"><img src="/assets/close.svg" class="brand-image" ></span>
    </button>
  </div>
  <div class="modal-body">
    <div class=" w-100 mb-3"  *ngIf="!data">
        <label  class="control-label w-20 fullname">Khoá học muốn nhân bản</label>
        <div class="input-qr">{{courseClone?.fullname}}</div>
    </div>
    <div class=" w-100 mb-3"  *ngIf="data">
      <label  class="control-label w-20 fullname">Khoá học cần chỉnh sửa</label>
      <div class="input-qr">{{data?.name}}</div>
  </div>
    <div class="w-100 mb-3">
        <label  class="control-label w-20 fullname">Đơn vị sở hữu khoá học</label>
        <div class="input-qr" *ngIf="data">{{data?.departmentname}}</div>
        <div class="input-qr" *ngIf="!data">{{courseClone?.departmentname}}</div>
    </div>
    
    <div class="w-100 mb-3">
        <label  class="control-label w-20 fullname">Nội dung yêu cầu <span class="text-danger"> *</span></label>
        <textarea [(ngModel)]="requestcontent" class="form-control" rows="5" ></textarea>
    </div>
   
  <div class="modal-footer footer-clone">
    <button type="button" class="btn btn-close" (click)="activeModal.close('confirm')"
            >Hủy</button>
    <button type="button" class="btn btn-send" (click)="sendRequest()"
            >Gửi yêu cầu</button>
  </div>
  

  