::ng-deep label {
    font-weight: 300 !important;
    font-size: 11pt !important;
}
::ng-deep .tooltip-red {
    background: #b71c1c !important;
    font-size:10pt !important;
  }
  ::ng-deep .right-aligned-header > .mat-content {
    justify-content: space-between;
}

::ng-deep .mat-content > mat-panel-title, .mat-content > mat-panel-description {
  flex: 0 0 auto;
}
.icon_drag {
    color: rgba(0,0,0,.3);
    font-size:15pt;
}
.float_main {
    position: relative;
}

#mg16 {
    margin-top:-100px;
}
::ng-deep .mat-expansion-panel-header-description, .mat-expansion-indicator::after {
    color: rgb(0 0 0);
}
.mat-expansion-panel-header.mat-expanded {
    border-top: solid 3px blue;
  }
::ng-deep .btn-sticky  {
    top: 30vh !important;
    bottom: auto !important;
}
