<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <img src="/assets/LMS_Logo.png"
         alt="AdminLTE Logo"
         class="brand-image img-circle" style="opacity: .8">

    <span class="brand-text font-weight-light"><img src="assets/logo2.png" class="" alt=""></span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
     <div class="image">
       <img src="{{userInfo.userpictureurl}}" class="img-circle elevation-2" alt="User Image">
     </div>
      <div class="info">
        <a class="d-block">{{userInfo.firstname }} {{userInfo.lastname}}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->

        <li *ngIf="checkCourse" class="nav-header">{{ 'admin.course_group' | translate }}</li>
        <li *ngIf="course" class="nav-item has-treeview">
          <a [routerLink]="['/admin/course']" [routerLinkActive]="['active']" class="nav-link">
            <i class="nav-icon fas fa-book-reader"></i>
            <p>{{ 'admin.course' | translate }}</p>
          </a>
        </li>
        <li *ngIf="course" class="nav-item has-treeview">
          <a [routerLink]="['/admin/course-clone']" [routerLinkActive]="['active']" class="nav-link">
            <i class="nav-icon fas fa-book-reader"></i>
            <p>{{ 'admin.course_clone' | translate }}</p>
          </a>
        </li>
        <li  *ngIf="courseCategory" class="nav-item has-treeview">
          <a [routerLink]="['/admin/course-category']" [routerLinkActive]="['active']" class="nav-link">
            <i class="nav-icon fas fa-folder-open"></i>
            <p>{{ 'admin.course_category' | translate }}</p>
          </a>
        </li>
        <li *ngIf="exam" class="nav-item has-treeview">
          <a [routerLink]="['/admin/exam']" [routerLinkActive]="['active']" class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>{{ 'admin.exam' | translate }}</p>
          </a>
        </li>
        <li *ngIf="badge" class="nav-item has-treeview menu-open">
          <a href="javascript:;" role="button" class="nav-link">
            <i class="nav-icon fas fa-file-contract"></i>
            <p>
              {{ 'admin.badge' | translate }}
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a [routerLink]="['/admin/badge']" [routerLinkActive]="['active']" class="nav-link">
                 <i class="fas fa-angle-right nav-icon"></i>
                <p>{{ 'admin.badgeInternal' | translate }}</p>
              </a>
            </li>

            <li class="nav-item">
              <a [routerLink]="['/admin/badge-external']" [routerLinkActive]="['active']" class="nav-link">
                 <i class="fas fa-angle-right nav-icon"></i>
                <p>{{ 'admin.badgeExternal' | translate }}</p>
              </a>
            </li>

            <li class="nav-item">
              <a *ngIf="role" [routerLink]="['/admin/badge-level']" [routerLinkActive]="['active']" class="nav-link">
                <i class="fas fa-angle-right nav-icon"></i>
                <p>{{ 'admin.badgeLevel' | translate }}</p>
              </a>
            </li>
          </ul>
        </li>
        <li *ngIf="survey" class="nav-item has-treeview">
          <a [routerLink]="['/admin/survey']" [routerLinkActive]="['active']" class="nav-link">
            <i class="nav-icon fas fa-question"></i>
            <p>{{ 'admin.survey' | translate }}</p>
          </a>
        </li>
         <li *ngIf="questionBank" class="nav-item has-treeview">
          <a [routerLink]="['/admin/question-bank']" [routerLinkActive]="['active']" class="nav-link">
            <i class="nav-icon fa fa-university"></i>
            <p>{{ 'admin.questionbank' | translate }}</p>
          </a>
        </li>
         <li *ngIf="planRole" class="nav-item has-treeview">
          <a [routerLink]="['/admin/course-recommended']" [routerLinkActive]="['active']" class="nav-link">
            <i class="nav-icon fa fa-university"></i>
            <p>{{ 'admin.course_recommended' | translate }}</p>
          </a>
        </li> 
        <li *ngIf="checkDepartment|| notification" class="nav-header">{{ 'admin.department_user' | translate }}</li>
        <li class="nav-item has-treeview">
          <a *ngIf="department" [routerLink]="['/admin/department']" [routerLinkActive]="['active']" class="nav-link">
            <i class="nav-icon fas fa-building"></i>
            <p>{{ 'admin.department' | translate }}</p>
          </a>
        </li>
        <li *ngIf="position" class="nav-item has-treeview">
          <a [routerLink]="['/admin/position']" [routerLinkActive]="['active']" class="nav-link">
            <i class="nav-icon fas fa-user-tag"></i>
            <p>{{ 'admin.program_position' | translate }}</p>
          </a>
        </li>
        <li *ngIf="user" class="nav-item has-treeview">
          <a [routerLink]="['/admin/user']" [routerLinkActive]="['active']" class="nav-link">
            <i class="nav-icon fas fa-user"></i>
            <p>{{ 'admin.user' | translate }}</p>
          </a>
        </li>
         <li *ngIf="manageapprover" class="nav-item has-treeview">
          <a [routerLink]="['/admin/approver']" [routerLinkActive]="['active']" class="nav-link">
            <i class="nav-icon fas fa-check"></i>
            <p>{{ 'admin.approver' | translate }}</p>
          </a>
        </li>
        <li *ngIf="trainingplan" class="nav-item has-treeview">
          <a [routerLink]="[planLink]" [routerLinkActive]="['active']" class="nav-link">
            <i class=" nav-icon icofont-education ml-1 mr-2"></i>
            <p>{{ 'admin.trainingplan' | translate }}</p>
          </a>
        </li>
         <li class="nav-item has-treeview" *ngIf="staffAssessment">
          <a [routerLink]="['/admin/staff-assessment']" [routerLinkActive]="['active']" class="nav-link">
            <i class="nav-icon fas fa-building"></i>
            <p>{{ 'admin.assessment' | translate }}</p>
          </a>
        </li>
        <li *ngIf="criteria" class="nav-item has-treeview">
          <a  [routerLink]="['/admin/criteria']" [routerLinkActive]="['active']" class="nav-link">
            <i class="nav-icon icofont-paper ml-1 mr-2"></i>
            <p>{{ 'admin.criteria' | translate }}</p>
          </a>
        </li>
        <li *ngIf="laudatory" class="nav-item has-treeview">
          <a [routerLink]="['/admin/laudatory']" [routerLinkActive]="['active']" class="nav-link">
            <i class="nav-icon icofont-certificate-alt-1 ml-1 mr-2"></i>
            <p>{{ 'admin.laudatory' | translate }}</p>
          </a>
        </li>
         <li *ngIf="rollcall" class="nav-item has-treeview">
          <a [routerLink]="['/admin/roll-call']" [routerLinkActive]="['active']" class="nav-link">
            <i class="nav-icon fas fa-user-check"></i>
            <p>{{ 'admin.roll_call' | translate }}</p>
          </a>
        </li>
        <li *ngIf="reportcontract" class="nav-item">
          <a [routerLink]="['/admin/report-contract']" [routerLinkActive]="['active']" class="nav-link">
            <i class="nav-icon fas fa-file-contract"></i>
            <p>{{ 'admin.report_contract' | translate }}</p>
          </a>
        </li>
         <li class="nav-item" *ngIf="!isTeacher && teacher">
          <a [routerLink]="['/admin/teacher']" [routerLinkActive]="['active']" class="nav-link">
            <i class="nav-icon icofont-waiter-alt ml-1 mr-2"></i>
            <p>{{ 'admin.teacher' | translate }}</p>
          </a>
        </li>
        <li class="nav-item" *ngIf="isTeacher && teacher">
          <a [routerLink]="['/admin/teacher/detail-teacher']" [routerLinkActive]="['active']" class="nav-link">
            <i class="nav-icon icofont-waiter-alt ml-1 mr-2"></i>
            <p>{{ 'admin.teacher' | translate }}</p>
          </a>
        </li>

        <li class="nav-header">{{ 'admin.notification' | translate }}</li>
        <li *ngIf="notification" class="nav-item has-treeview">
          <a [routerLink]="['/admin/notification']" [routerLinkActive]="['active']" class="nav-link">
            <i class="nav-icon fas fa-bell"></i>
            <p>{{ 'admin.notification_user' | translate }}</p>
          </a>
        </li>
        <li *ngIf="role" class="nav-item has-treeview">
          <a [routerLink]="['/admin/role']" [routerLinkActive]="['active']" class="nav-link">
            <i class="nav-icon fas fa-robot"></i>
            <p>{{ 'admin.role' | translate }}</p>
          </a>
        </li>
        <li class="nav-header" *ngIf="checkReport">{{ 'admin.report' | translate }}</li>
        <li  *ngIf="report" class="nav-item has-treeview menu-open">
          <a href="javascript:;" role="button" class="nav-link">
            <i class="nav-icon fas fa-file-contract"></i>
            <p>
              {{ 'admin.report_admin' | translate }}
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a [routerLink]="['/admin/dashboard']" [routerLinkActive]="['active']" class="nav-link">
                <i class="fas fa-angle-right nav-icon"></i>
                <p>{{ 'admin.dashboard' | translate }}</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/admin/result-exam']" [routerLinkActive]="['active']" class="nav-link">
                <i class="fas fa-angle-right nav-icon"></i>
                <p>{{ 'admin.result_exam' | translate }}</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/admin/report']" [routerLinkActive]="['active']" class="nav-link">
                <i class="fas fa-angle-right nav-icon"></i>
                <p>{{ 'admin.course_organization' | translate }}</p>
              </a>
            </li>
            <li class="nav-item">
              <a  [routerLink]="['/admin/report-student']" [routerLinkActive]="['active']" class="nav-link">
                <i class="fas fa-angle-right nav-icon"></i>
                <p>{{ 'admin.report_student' | translate }}</p>
              </a>
            </li>
             <li class="nav-item">
              <a [routerLink]="['/admin/report-student-data']" [routerLinkActive]="['active']" class="nav-link">
                <i class="fas fa-angle-right nav-icon"></i>
                <p>{{ 'admin.report_student_data' | translate }}</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/admin/report-learning-data']" [routerLinkActive]="['active']" class="nav-link">
                <i class="fas fa-angle-right nav-icon"></i>
                <p>{{ 'admin.report_learning_data' | translate }}</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/admin/report-teacher']" [routerLinkActive]="['active']" class="nav-link">
                <i class="fas fa-angle-right nav-icon"></i>
                <p>{{ 'admin.report_teacher' | translate }}</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/admin/report-kpi']" [routerLinkActive]="['active']" class="nav-link">
                <i class="fas fa-angle-right nav-icon"></i>
                <p>{{ 'admin.report_kpi' | translate }}</p>
              </a>
            </li>
             <li class="nav-item">
              <a [routerLink]="['/admin/report-training-plan']" [routerLinkActive]="['active']" class="nav-link">
                <i class="fas fa-angle-right nav-icon"></i>
                <p>{{ 'admin.report_training_plan' | translate }}</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/admin/report-teacher-internal']" [routerLinkActive]="['active']" class="nav-link">
                <i class="fas fa-angle-right nav-icon"></i>
                <p>{{ 'admin.report_teacher_internal' | translate }}</p>
              </a>
            </li>
          </ul>
        </li>
         <li class="nav-item" *ngIf="isTeacher && reportTeacher">
          <a [routerLink]="['/admin/report-teacher-detail']" [routerLinkActive]="['active']" class="nav-link">
            <i class="fas fa-angle-right nav-icon"></i>
            <p>{{ 'admin.report_teacher_detail' | translate }}</p>
          </a>
        </li>
        <li class="nav-item" *ngIf="isTeacher && reportTeacher">
          <a [routerLink]="['/admin/report-teacher-internal']" [routerLinkActive]="['active']" class="nav-link">
            <i class="fas fa-angle-right nav-icon"></i>
            <p>{{ 'admin.report_teacher_internal' | translate }}</p>
          </a>
        </li>
        <li class="nav-item" >
          <a [routerLink]="['/admin/report-training']" [routerLinkActive]="['active']" class="nav-link">
            <i class="fas fa-angle-right nav-icon"></i>
            <p>{{ 'admin.report_training' | translate }}</p>
          </a>
        </li>
        <li class="nav-item" >
          <a [routerLink]="['/admin/report-training-source']" [routerLinkActive]="['active']" class="nav-link">
            <i class="fas fa-angle-right nav-icon"></i>
            <p>{{ 'admin.report_training_source' | translate }}</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>

