<div class="modal-header">
  <h5 class="modal-title">Tìm kiếm nâng cao</h5>
  <button type="button" class="btn btn-default" data-card-widget="collapse"
          (click)="activeModal.dismiss('close')"><i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Chọn chủ đề</label>
        <select class="custom-select" [(ngModel)]="categoryId" name="single">
          <option value="0">Tất cả</option>
          <option *ngFor="let item of categoryMap | keyvalue"
                  [value]="item.key">{{item.value}}</option>
        </select>
      </div>
      <div class="form-group mt-3">
        <label>Dạng câu hỏi</label>
        <select class="custom-select" [(ngModel)]="qtype" name="single">
          <option value="">Tất cả</option>
          <option value="multichoice">{{'qtype.multichoice' | translate}}</option>
          <option value="multichoiceset">{{'qtype.multichoiceset' | translate}}</option>
          <option value="truefalse">{{'qtype.truefalse' | translate}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label>Mức độ câu hỏi</label><br/>
        <div class="btn-group">
          <button (click)="searchLevel(0)" type="button" class="btn2 btn" [ngClass]="active0">
            Tất cả
          </button>
          <button (click)="searchLevel(1)" type="button" class="btn2 btn" [ngClass]="active1">Dễ</button>
          <button (click)="searchLevel(2)" type="button" class="btn2 btn" [ngClass]="active2">
            Trung bình
          </button>
          <button (click)="searchLevel(3)" type="button" class="btn2 btn" [ngClass]="active3">Khó</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="resetSearch()">Đặt lại</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('close')">Đóng</button>
  <button type="button" class="btn btn-primary" (click)="onSearchQuestion()">Tìm kiếm</button>
</div>
