
<div class="modal-header">
    <h5 class="modal-title">{{studentName}}</h5>
    <button type="button" class="btn btn-tool" data-card-widget="collapse" (click)="activeModal.dismiss()">
        <i class="fas fa-times"></i>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12 col-md-auto pb-2">
            <div class="mt-3 overflow-hidden position-relative">
                <ng-container *ngFor="let question of listQuestion;let i = index;">
                    <div class="card card-default rounded " [id]="question.slot">
                        <div class="card-body p-3">
                            <div class="row form-inline">
                                <div class="col-auto">
                                    <div class="dot">{{i + 1}}</div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-lg-12 col-md-6 label-text text-justify"><span [innerHTML]="question.questiontext"></span>
                                    <iframe *ngIf="question.linkVideo" width="420" height="315" [src]="domSanitizer2.bypassSecurityTrustResourceUrl(question.linkVideo)"></iframe>
                                </div>
                                <div class="col-lg-2 col-md-6"></div>
                            </div>
                            <div class="row pl-2 mt-3">
                                <div class="col-12">
                                    <div class="form-check bg-light" *ngFor="let answer of question.answers; let i = index;">
                                        <!-- câu hỏi nhiều lựa chọn -->
                                        <ng-container *ngIf="question.typeCheckBox=='checkbox'">
                                            <mat-icon aria-hidden="false" *ngIf="answer.rightanswer > 0" class="color_green" aria-label="Example home icon">done</mat-icon>
                                            <mat-icon aria-hidden="false" *ngIf="answer.rightanswer == 0"></mat-icon>
                                            <mat-checkbox [checked]="answer.checked" class="example-margin" name="check" [disabled]="true">
                                                <div class="row">
                                                    <div class="col-auto" *ngIf="question.answernumbertype">{{question.answernumbertype[i]}}.</div>
                                                    <div class="col-auto">
                                                        <span [innerHTML]="answer.text | translate"></span>
                                                    </div>
                                                </div>
                                            </mat-checkbox>
                                        </ng-container>

                                        <!-- câu hỏi một lựa chọn/ đúng sai -->
                                        <ng-container *ngIf="question.typeCheckBox=='radio'">
                                            <mat-icon aria-hidden="false" *ngIf="answer.rightanswer > 0" class="color_green" aria-label="Example home icon">done</mat-icon>
                                            <mat-icon aria-hidden="false" *ngIf="answer.rightanswer == 0"></mat-icon>
                                            <mat-radio-button [checked]="answer.checked" class="example-margin" [name]="question.slot" [disabled]="true">
                                                <div class="row">
                                                    <div class="col-auto" *ngIf="question.answernumbertype">{{question.answernumbertype[i]}}.</div>
                                                    <div class="col-auto">
                                                        <span [innerHTML]="answer.text | translate"></span>
                                                    </div>
                                                </div>
                                            </mat-radio-button>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <div class="" style="position: absolute!important; z-index:-1; width: 800px; background:#fff!important; top:0">
                    <div class="w-100" style="min-height: 1000px" id="pdfContent" #pdfContent>
                        <div class="bg-danger p-3 text-center"><b>Báo cáo chi tiết bài thi</b></div>
                        <div class="p-2 mb-3">
                            <h5 class="modal-title ">{{studentName}}</h5>
                            <div>Số câu đúng: <b>{{correctquestion}}</b></div>
                            <div>Số câu sai: <b>{{incorrectquestion}}</b></div>
                            <div>Điểm: <b>{{gradeuser}}/{{grade}}</b></div>
                            <div class="">
                                Trạng thái: 
                                <span class="badge badge-warning" *ngIf="completionstate === 3">Không đạt</span>
                                <span class="badge badge-success" *ngIf="completionstate === 2">Đạt</span>
                            </div>
                            <div> Thời gian làm bài: <b>{{getDateFromUnix(timestart)}}</b></div>
                        </div>
                        
                        <div *ngFor="let question of listQuestion;let i = index;">
                            <div class="card card-default rounded " [id]="question.slot" style="box-shadow: none!important; border-top: 2px solid #ddd">
                                <div class="card-body p-3">
                                    <div class="row form-inline">
                                        <div class="col-auto">
                                            <div class="dot">{{i + 1}}</div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-12 col-md-6 label-text text-justify"><span [innerHTML]="question.questiontext"></span>
                                            <iframe *ngIf="question.linkVideo" width="420" height="315" [src]="domSanitizer2.bypassSecurityTrustResourceUrl(question.linkVideo)"></iframe>
                                        </div>
                                        <div class="col-lg-2 col-md-6"></div>
                                    </div>
                                    <div class="row pl-2 mt-3">
                                        <div class="col-12">
                                            <div class="form-check" *ngFor="let answer of question.answers; let i = index;">
                                                <div *ngIf="question.typeCheckBox=='checkbox'" class="row">
                                                    <div class="color_green mat-icon" *ngIf="answer.rightanswer > 0" style="width: 30px;"><i class="fas fa-check"></i></div>
                                                    <div *ngIf="answer.rightanswer == 0" class="mat-icon" style="width: 30px;"></div>
                                                    <div class="ml-1" style="width:30px;">
                                                        <input type="checkbox" class="mt-1" [checked]="answer.checked"/>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-auto" *ngIf="question.answernumbertype">{{question.answernumbertype[i]}}.</div>
                                                        <div class="col-auto">
                                                            <div style="max-width: 500px;" [innerHTML]="answer.text | translate"></div>
                                                        </div>
                                                    </div>
                                                </div>
                
                                                <div *ngIf="question.typeCheckBox=='radio'" class="row">
                                                    <div class="color_green mat-icon" *ngIf="answer.rightanswer > 0" style="width: 30px;"><i class="fas fa-check"></i></div>
                                                    <div *ngIf="answer.rightanswer == 0" class=" mat-icon" style="width: 30px;"></div>
                                                    <div class="ml-1" style="width:30px;">
                                                        <input type="radio" class="mt-1" [checked]="answer.checked" class="example-margin" [name]="question.slot" [disabled]="true"/>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-auto" *ngIf="question.answernumbertype">{{question.answernumbertype[i]}}.</div>
                                                        <div class="col-auto">
                                                            <div style="max-width: 500px;" [innerHTML]="answer.text | translate"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<div class="modal-footer">
    <button type="button" (click)="activeModal.dismiss()" class="btn btn-default round-0 mr-2"><i class="fas fa-close"></i> Đóng</button>
    <button type="button" (click)="exportPDF()" class="btn btn-danger round-0 mr-2"><i class="fas fa-file-pdf"></i> Xuất PDF</button>
</div>
<ngx-spinner [fullScreen]="true" type="ball-clip-rotate-multiple" size="medium">
  <p class="loading">{{ 'common.loading' | translate }}</p>
</ngx-spinner>
