::ng-deep p {
    font-size:11pt !important;
    margin-bottom: 0px !important;
    display: block;
    max-width: 950px;
}
span {
    max-width: 950px;
}
.dot {
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    font-size: 15px;
    color: #fff;
    text-align: center;
    background: rgb(187 187 187);
}
::ng-deep .mat-checkbox-layout .mat-checkbox-label {
    line-height: 24px;
    color: black !important;
    font-weight: 300 !important;
}
p {
    font-size: 11pt !important;
    margin-bottom: 0px !important;
}

::ng-deep .mat-radio-label {
    white-space: inherit !important;
}
::ng-deep label {
    font-weight:500;
}
::ng-deep .mat-radio-label-content {
    font-weight: 300 !important;
}
::ng-deep .mat-checkbox-layout .mat-checkbox-label {
    line-height: 24px;
    color: black !important;
    font-weight: 300 !important;
}
.color_green { color: #00FF00; }

::ng-deep .mat-radio-button.mat-radio-disabled .mat-radio-label-content{
    color: unset!important;
}

::ng-deep .mat-radio-button.mat-radio-disabled.mat-radio-checked .mat-radio-outer-circle, .mat-radio-button.mat-radio-disabled .mat-radio-outer-circle{
    border-color: #ff4081;
}
::ng-deep .mat-radio-button.mat-radio-disabled .mat-radio-inner-circle{
    background-color: #ff4081;
}

::ng-deep .mat-checkbox-disabled.mat-checkbox-checked .mat-checkbox-background{
    background-color: #ff4081;
}

::ng-deep .mat-checkbox-layout {
  white-space: inherit !important;
}

:host ::ng-deep figure.image img {
  max-width: 100%;
}

:host ::ng-deep figure.video video {
  max-width: 100%;
}
