<div class="modal-header">
  <h5 class="modal-title">Đánh giá nhiều học viên</h5>
  <button
    type="button"
    class="btn btn-tool"
    data-card-widget="collapse"
    (click)="activeModal.dismiss()"
  >
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <div class="div">
    <div class="form-evluation">
      <div class="info-evluation w-100">
        <div class="info-user justify-content-between">
          <div class="col-md-12">
            <div class="row">
              <div class="col-4">
                <div class="font-weight-bold mb-2">
                  Chọn khóa học chung cần đánh giá
                  <span class="text-danger">(*)</span>
                </div>
              </div>
              <div class="col-8 text-value">
                <select
                  class="form-control"
                  (change)="changeIdCourse($event)"
                  [(ngModel)]="courseId"
                >
                  <option value="">--Chọn khóa học--</option>
                  <option *ngFor="let item of courseList" [value]="item.id">
                    {{ item.fullname }}
                  </option>
                </select>
                <small class="text-danger" *ngIf="errorCourse == false">
                  {{ "error.validate.required" | translate }}
                </small>
              </div>
            </div>
          </div>
          <div class="d-flex mt-3 mb-2">
            <div class="font-weight-bold ml-2">
              Chọn kỳ đánh giá<span class="text-danger">(*)</span>:
            </div>
            <div class="col-md-4 text-center">
              <input
                type="radio"
                [value]="3"
                [checked]="defaultChecked == true"
                (change)="setValueRadio($event)"
                name="rad_time"
                id="rad_time3"
                class="option-time mt-1"
              />
              <label class="form-check-label ml-4" for="rad_time3"
                >Đánh giá 3 tháng
              </label>
            </div>
            <div>
              <input
                type="radio"
                [value]="6"
                (change)="setValueRadio($event)"
                name="rad_time"
                class="option-time mt-1"
                id="rad_time6"
              />
              <label class="form-check-label ml-4" for="rad_time6"
                >Đánh giá 6 tháng
              </label>
            </div>
          </div>
          <div>
            <small class="text-danger" *ngIf="errorMonth == false">
              {{ "error.validate.required" | translate }}
            </small>
          </div>
          <hr />
          <div class="col-md-12">
            <div class="form-group">
              <div class="font-weight-bold mb-2">Thông tin:</div>
              <div class="row">
                <span class="mt-2 mb-2"
                  >Bạn đang thực hiện đánh giá khóa học
                  <b *ngIf="courseId">{{ nameCourse }}</b> cho các học
                  viên</span
                >
              </div>
              <ng-multiselect-dropdown
                [placeholder]="'Danh sách học viên'"
                [(ngModel)]="studentSelected"
                [data]="studentData"
                [settings]="dropdownSettings"
              >
              </ng-multiselect-dropdown>
            </div>
          </div>
        </div>
        <hr />
        <div class="font-weight-bold mt-3 mb-2">Thông tin đánh giá</div>
        <div class="card-evaluation border">
          <div class="d-flex row col-md-12 p-3">
            <p class="col-md-3">1. Không thay đổi gì hoặc thay đổi tiêu cực</p>
            <p class="col-md-3">2. Thay đổi ít (20 - 30%)</p>
            <p class="col-md-3">3. Thay đổi (40 - 50%)</p>
            <p class="col-md-3">4. Thay đổi nhiều (60 -80%)</p>
            <p class="col-md-3">5. Hoàn toàn thay đổi (100%)</p>
          </div>
          <div class="border-top border-bottom">
            <table class="table mt-3 mb-5">
              <thead class="thead-light">
                <tr class="text-center">
                  <th rowspan="2" width="50" class="text-center">STT</th>
                  <th rowspan="2" class="text-left">
                    Hành vi liên quan đến kiến thức, kỹ năng đã được cử đi trước
                    đó 3 tháng, 6 tháng
                  </th>
                  <th colspan="5" class="col-5">Mức độ thay đổi</th>
                </tr>
                <tr class="text-center">
                  <th class="text-center">1</th>
                  <th class="text-center">2</th>
                  <th class="text-center">3</th>
                  <th class="text-center">4</th>
                  <th class="text-center">5</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of courseListCriteria; let i = index">
                  <td class="first-col" class="text-center">
                    {{
                      (searchCourse.pageIndex - 1) * searchCourse.pageSize +
                        i +
                        1
                    }}
                  </td>
                  <td class="first-col">{{ item.name }}</td>
                  <td class="text-center" *ngFor="let j of [1, 2, 3, 4, 5]">
                    <label class="label-option-yn"
                      ><input
                        type="radio"
                        style="position: unset"
                        [checked]="item.status != 0 && item.status == j"
                        value="{{ j }}"
                        name="rad_btn{{ i }}"
                        (change)="changeEvaluation(item.id, $event)"
                        class="option-evalua"
                      />
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <mat-checkbox
              class="example-margin col-6"
              [(ngModel)]="checkstudentcanwatchevaluation"
              (change)="changeStudentWatch($event)"
            >
              Cho phép học viên xem đánh giá</mat-checkbox
            >
          </div>
          <div>
            <div class="card-footer-eva">
              <button
                type="button"
                (click)="evaluatationUser()"
                class="btn btn-primary"
              >
                Đánh giá
              </button>
              <button
                type="button"
                (click)="activeModal.dismiss('close')"
                class="btn btn-outline-primary"
              >
                Hủy
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
