.table{
    width: 100%;
    margin: 0px!important;
}
.card-footer-eva{
    margin: 29px 60px;
    text-align: right;
}
.card-footer-eva button{
    padding: 10px 50px;
    margin-left: 40px;
}
.label-option-yn {
    margin-left: 3px;
    height: 27px;
    margin-top: 7px;
}
.criteria{
    overflow-y: auto;
    overflow-x: hidden;
    height:400px !important;
}
.table thead th {
    line-height: 26px;
}
.table td {
    color: #000;
}