<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Quản lý giảng viên</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#" routerLink="/admin">CMS</a></li>
                        <li class="breadcrumb-item active">Quản lý giảng viên</li>
                    </ol>
                    
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <mat-drawer-container autosize class="example-container">
                    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
                        <div class="card card-default">
                            <div class="card-body">
                                <h6>Đơn vị</h6>
                                <hr>
                                <form>
                                    <ejs-treeview #departmentTree [fields]="departmentTreeData"  (keyPress)='nodeCheck($event)' (nodeClicked)='nodeCheck($event)'
                                    (nodeSelecting)='nodeSelected($event)' (nodeChecked)='nodeSelected($event)' [showCheckBox]='true'></ejs-treeview>
                                </form>
                            </div>
                        </div>
                    </mat-drawer>
                    <div class="example-sidenav-content">
                        <div class="card card-default" >  
                            <div class="card-body">
                                <div class="row col-12">
                                    <h6 style="margin-bottom: 0;">Danh sách giảng viên</h6>
                                </div>
                                <hr class="col-12">
                                <div class="row mt-2 mb-2 ml-1">
                                    <div class="form-inline">
                                        <div class="btn-group">
                                            <button class="btn btn-default btn-flat btn-md mr-2" type="button" mat-button
                                                (click)="drawer.toggle()"><i class="fas fa-bars"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>                         
                                <div class="table-responsive">
                                    <table class="table table-hover table-bordered" >
                                        <thead>
                                            <tr>
                                                <th class="text-center">STT</th>
                                                <th class="text-center">Tên giảng viên</th>
                                                <th class="text-center">Đơn vị</th>
                                                <th class="text-center">Loại giảng viên</th>
                                                <th class="text-center">Số chứng chỉ cần duyệt</th>
                                                <th class="text-center">Ngày công nhận</th>
                                                <th class="text-center">Thao tác</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td></td>
                                                <td><input type="text" class="form-control" [(ngModel)]="searchTeacher.keyword" placeholder="Nhập tên giảng viên" (change)="changeName()"></td>
                                                <td></td>
                                                <td>
                                                    <select class="form-control" (change)="changeRole($event)">
                                                        <option  value="">Chọn loại giảng viên</option>
                                                        <option *ngFor="let item of roleList; " [value]="item.value">{{item.name}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select class="form-control" (change)="changeStatus($event)">
                                                        <option  value="">Chọn tình trạng phê duyệt</option>
                                                        <option  value="1">Chưa phê duyệt</option>
                                                        <option  value="0">Đã phê duyệt</option>
                                                    </select>
                                                </td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr *ngFor="let item of teacherList;let i = index; ">
                                                <td class="text-center">{{(searchTeacher.pageIndex - 1) * searchTeacher.pageSize + i + 1}}</td>
                                                <td >{{item.fullname}}</td>
                                                <td >{{item.departmentname}}</td>
                                                <td [ngSwitch]="item.teacherrole" class="">
                                                    <span class="text-center" *ngSwitchCase="1">Giảng viên ngoài</span>
                                                    <span class="text-center" *ngSwitchCase="2">Giảng viên nội bộ</span>
                                                    <span class="text-center" *ngSwitchCase="3">Giảng viên nội bộ đã được công nhận</span>
                                                </td>
                                                <td class="text-center">{{item.badgeapprove}}</td>
                                                <td class="text-center">{{getDateFromUnix(item.timeconfirmed) | date:'dd/MM/yyyy'}}</td>
                                                <td class="text-center">
                                                    <button type="button" class="btn btn-default btn-sm mr-1" matTooltip="Xem chi tiết"
                                                    matTooltipClass="tooltip-red"  (click)="goToDetail(item.id)"><i class="fas fa-eye"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br />
                                    <p *ngIf="totalRecord==0" class="text-center">{{'common.no_search_result' | translate}}</p>
                                </div>
                                <div class="card-footer text-center">
                                    <div class="row">
                                        <mat-paginator showFirstLastButtons [length]="totalRecord" [pageSize]="searchTeacher.pageSize"
                                            [pageIndex]="searchTeacher.pageIndex - 1" (page)="changePage($event)" [hidePageSize]="false"
                                            [pageSizeOptions]="pageSizeOptions">
                                        </mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-drawer-container>   
            </div>
        </div>
    </section>
</div>