.example-sidenav {
    width: 25vw;
}
.example-sidenav-content {
    height:80vh;
}
::ng-deep .mat-drawer-inner-container {
    height: auto!important;
}
table th {
    background: #E3F2FD;
    color: #615e5e;
    height: 30px;
  }
  ::ng-deep .mat-drawer-container{
      width: 100%;
  }