:host ::ng-deep .ck-editor__editable_inline {
    min-height: 200px;
}
::ng-deep .mat-radio-label {
    white-space:normal !important;
    font-weight: 300 !important;
}

::ng-deep .rate .mat-radio-label{
  flex-direction: column-reverse;
}
