<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="d-flex justify-content-between align-items-center">
        <div class="">
          <h1>Quản lý chứng chỉ</h1>
        </div>
        <div class="">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#" routerLink="/admin">CMS</a></li>
            <li class="breadcrumb-item active">Quản lý chứng chỉ ngoài</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
      <button class="btn " [ngClass]="{'btn-success' : activedBadge === false,'btn-default' : activedBadge === true }"
        (click)="chageStatusBadge()">{{activedBadge === false ? 'Sử dụng chứng chỉ' : 'Khóa chứng chỉ'}}</button>
      <!--phan danh sach khoa hoc-->
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            Thông tin chứng chỉ ngoài
          </ng-template>
          <app-badge-external-info [badgeId]="id"></app-badge-external-info>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            Danh sách học viên
          </ng-template>
          <app-badge-external-student [readonly]="badge?.readonly" [badgeId]="id"></app-badge-external-student>
        </mat-tab>
      </mat-tab-group>
    </div><!-- /.container-fluid -->
  </section>
</div>
