<div class="modal-header">
    <h5  class="modal-title">Xác nhận</h5>
    <button  type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div  class="modal-body">
    Bạn có chắc chắn muốn từ chối chứng chỉ này
  </div>
  <div  class="modal-body">
    <form role="form" [formGroup]="approvalBadgeForm">
        <input type="text" class="form-control w-100" placeholder="Lý do" formControlName="description"/>
    </form>
  </div>
  <div class="modal-footer">
    <button  type="button" class="btn btn-secondary"
    (click)="activeModal.close('confirm')">Hủy</button>
    <button type="button" class="btn btn-danger"
    (click)="approvalBadge()">Từ chối</button>
  </div>
  