::ng-deep .tooltip-red {
    background: #b71c1c !important;
    font-size:10pt !important;
  }
  .example-container {
    width: 95vw;
      
  }
  .example-sidenav {
      width:25vw;         
  }
  .example-sidenav-content {
    height:80vh;
  } 
  ::ng-deep  .mat-form-field-infix {
    display: flex!important;
    align-items: center!important;
    width: 100% !important;
}