<div class="">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Quản lý hợp đồng đào tạo nghề</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#" routerLink="/admin">CMS</a></li>
                <li class="breadcrumb-item active">Quản lý hợp đồng đào tạo nghề</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <mat-drawer-container autosize class="example-container">
              <mat-drawer #drawer class="example-sidenav" mode="side" opened>
                <div class="card card-default">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-7">
                        <h6>Đơn vị</h6>
                      </div>
                    </div>
                    <hr>
                    <form>
                        <ejs-treeview #departmentTree [fields]="departmentTreeData" (nodeSelecting)='nodeSelected($event)'></ejs-treeview>
                    </form>
                  </div>
                </div>
              </mat-drawer>
              <div class="example-sidenav-content">
                <div class="card card-default">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="div">
                        <h5>Quản lý hợp đồng đào tạo nghề</h5>
                      </div>
                    </div>
                    <hr>
                    <div class="filter d-flex justify-content-between">
                        <div class="form-inline">
                            <div class="form-group">
                                <input type="search"  #keyword (change)="onSearch($event)" class="form-control form-control-sm2 mr-2" placeholder="Tên học viên">
                            </div>
                          <div class="form-group  mr-2">
                            <app-month-picker inputValue="{{inputYear}}"  typePicker="year" (chooseYearE)="yearSelected($event)" [defaulthYear]="getDefault()">loading</app-month-picker>
                          </div>
                          <div class="form-group">
                            <select class="form-control" (change)="onFilterStatus($event.target.value)" >
                              <option value=""> Toàn bộ </option>
                              <option value="1"> Còn hợp đồng</option>
                              <option value="0"> Hết hợp đồng</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead>
                          <tr class="bg-light">
                            <!-- <th></th> -->
                            <th class="text-center">STT</th>
                            <th>Tên học viên</th>
                            <th>Đơn vị</th>
                            <th class="text-center">Năm</th>
                            <th >Email</th>
                            <th class="text-center">Số HĐĐTN</th>
                            <th class="text-center">Thao tác</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor=" let item of listContract;let i = index ">
                              <td class="text-center">{{(searchUser.pageIndex - 1) * searchUser.pageSize + i + 1}}</td>
                                <td>{{item.fullname}}</td>
                                <td>{{item.departmentname}}</td>
                                <td class="text-center" >{{item.year}}</td>
                                <td >{{item.email}}</td>
                                <td class="text-center">{{item.numbercontract}}</td>
                                <td class="text-center">
                                  <a  class="btn btn-default btn-sm" [routerLink]="['/admin/report-contract/detail',item.id]" (click)="goToDetail()" href="" matTooltip="Xem chi tiết">
                                    <i  class="fas fa-eye"></i>
                                  </a>
                                </td>
                            </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="card-footer text-center">
                      <div class="row">
                        <mat-paginator showFirstLastButtons
                          [length]="totalRecord"
                          [pageSize]="searchUser.pageSize"
                          [pageIndex]="searchUser.pageIndex - 1"
                          (page)="changePage($event)"
                          [hidePageSize]="false"
                          [pageSizeOptions]="pageSizeOptions">
                        </mat-paginator>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-drawer-container>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
  </div>
