<div class="modal-header">
  <h5 class="modal-title">Tải File lên hệ thống</h5>

  <button type="button" class="btn btn-primary rounded-0"
          (click)="dowloadTemplate()">Tải xuống File mẫu</button>
</div>
<div class="modal-body">

  <div draggable="true" ngClass="{{ dragAreaClass }}">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="mb-3">
          <a href="javascript:void(0)" (click)="file.click()">
            <i class="fas fa-upload icon-upload"></i>
          </a>
        </div>
        <div>
          <span>Kéo hoặc lựa chọn file từ máy tính của bạn</span>
        </div>
        <input type="file" #file [multiple]="false" (change)="onFileChange($event)"
               style="display: none" />
      </div>
    </div>
  </div>

  <div class="error text-center mt-2" *ngIf="error">{{error}}</div>
  <div class="text-center mt-2">
    <span class="text-success" *ngIf="fileToUpload"><img
      src="assets/dist/img/ic-excel.svg" alt="icon" class="mr-2">{{
      fileToUpload?.name }}</span>
  </div>

</div>
<div class="card-footer text-center">
  <button type="submit" (click)="activeModal.dismiss('close')"
          class="btn ml-1 btn-secondary rounded-0 mr-2"
          data-dismiss="modal">Hủy
  </button>
  <button type="submit" class="btn btn-primary" [disabled]="isDisable" (click)="importFileUser()">Tải lên</button>
</div>
