<div class="modal-header">
  <h5 class="modal-title">{{title}}</h5>
</div>
<div class="modal-body">
  {{body}}
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary"
          (click)="activeModal.dismiss('close')">{{ 'common.cancel' | translate }}</button>
  <button type="button" class="btn btn-danger"
          (click)="activeModal.close('confirm')">{{confirmButton}}</button>
</div>
