<div class="modal-header">
    <h5 class="modal-title">Danh sách lớp học</h5>
    <button type="button" class="btn btn-tool" data-card-widget="collapse" (click)="activeModal.dismiss()"><i
            class="fas fa-times"></i>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-12">
            <div class="body-tab mt-3">
                <div class="action-header">
                    <!-- <button type="button" class="btn btn-primary mr-2"
                        *ngIf="canEdit"><i
                            class="fas fa-plus mr-2"></i> Thêm
                        mới</button> -->
                </div>
                <div class="data-table mt-2">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">STT</th>
                                <th class="text-center">Tên khóa học</th>
                                <th class="text-center">Hình thức học</th>
                                <!-- <th class="text-center">Đối tượng học</th> -->
                                <th class="text-center">Thời gian tổ chức</th>
                                <th class="text-center">Đơn vị chủ trì</th>
                                <th class="text-center">Đơn vị khởi tạo</th>
                                <th class="text-center">Chi phí (VNĐ)</th>
                                <th class="text-center">Hiển thị</th>
                                <th class="text-center">Trạng thái</th>
                                <th class="text-center">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of listClass; let countPosition = index; ">
                                <td class="text-center {{checkTimeStart(item)}}">{{(pageIndex - 1)*pageSize +
                                    countPosition + 1}}</td>
                                <td class="text-center {{checkTimeStart(item)}}">{{item.fullname}}</td>
                                <td class="text-center {{checkTimeStart(item)}}">{{getTrainingType(item.trainingtype) ||
                                    'Chưa cập nhật'}}
                                </td>
                                <!-- <td class="text-center {{checkTimeStart(item)}}">
                                    <span matTooltip="{{getPositionNames(item.trainingobject)}}"
                                        matTooltipClass="tooltip-inner">{{item.trainingobject?.length
                                        <= 10 ? getPositionNames(item.trainingobject) : (getPositionNames(item.trainingobject) | slice:0:20 )
                                            + '...' ||'Chưa cập nhật' }}</span>
                                </td> -->
                                <td class="text-center {{checkTimeStart(item)}}">{{getDateFromUnix(item.startdate) | date:'dd/MM/yyyy'}} - {{(getDateFromUnix(item.enddate) | date:'dd/MM/yyyy') || 'Không giới hạn'}}</td>
                                <td class="text-center {{checkTimeStart(item)}}">{{item.departmentname || 'Chưa cập
                                    nhật'}}</td>
                                <td class="text-center {{checkTimeStart(item)}}">{{item.firstownerdepartmentname || 'Chưa cập nhật'}}
                                </td>
                                <td class="text-center {{checkTimeStart(item)}}">{{showCost(item.cost) || 'Chưa cập
                                    nhật'}}</td>
                                <td><span class="badge badge-{{item.published === 1 ? 'primary' : 'warning'}}">{{item.published === 1 ? 'Đang hiển thị' : 'Chưa hiển thị'}}</span></td>
                                <td><span class="badge badge-{{item.style}}">{{item.status}}</span></td>
                                <td class="project-actions text-center">
                                    <button type="button" class="btn btn-default btn-sm mr-1"
                                        matTooltip="Xem chi tiết" matTooltipClass="tooltip-red"
                                        (click)="onViewDetail(item)"><i
                                            class="fas fa-share"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-center">
                    <div class="row">
                        <mat-paginator showFirstLastButtons [length]="totalRecord"
                            [pageSize]="pageSize" [pageIndex]="pageIndex - 1"
                            (page)="changePage($event)" [hidePageSize]="false"
                            [pageSizeOptions]="pageSizeOptions">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>