
.input-qr{
    border: 1px solid #CECECE;
    padding: 5px;
    width: 100%;
    min-height: 36px;
}
label{
    line-height: 25px;
    font-size: 12px;
    font-weight: 400!important;
    margin-bottom: 3px;
}
.modal-title{
    font-weight: 500;
    font-size: 16px;
}
.footer-clone{
    justify-content: center;
    border-top:none
}
.footer-clone button{
    width: 120px;
}
.btn-close{
    background: #ED1C24;
    color: #fff;
}
.btn-send{
    background: #0061AF;
    color: #fff;
}
.modal-body {
    padding: 10px 24px;
}
.modal-header{
    padding: 10px 24px;
}
h4{
    font-size: 14px;
    margin-top: 15px;
}
.tc.form-control:disabled, .tc.form-control[readonly] {
    background-color: #fff;
}
.item-badge{
    margin: 0px 3px 6px 1px;
    margin-right: 4px;
    background: #F8F9FE;
    padding: 0 5px;
    color: #000;
    border-radius: 2px;
}
