<div class="modal-header">
    <h5 class="modal-title">Nhân bản khoá học</h5>
    <button  type="button" class="close" data-dismiss="modal" aria-label="Close"  (click)="activeModal.dismiss('close')">
      <span aria-hidden="true"><img src="/assets/close.svg" class="brand-image" ></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-md-12">
      <h4>THÔNG TIN KHOÁ HỌC MUỐN NHÂN BẢN</h4>
      <div class="row">
          <div class="col-md-6">
            <div class=" w-100 mb-3">
              <label  class="control-label w-20 fullname">Khoá học </label>
              <div class="input-qr">{{data.fullname}}</div>
            </div>
            <div class=" w-100 mb-3">
              <label  class="control-label w-20 fullname">Danh mục họ nghề </label>
              <div class="input-qr">{{data.categoryname}}</div>
            </div>
            <div class=" w-100 mb-3">
              <label  class="control-label w-20 fullname">Hình thức học</label>
              <div class="input-qr">
                <span *ngIf="data.trainingtype == 'OFFI' ">Offline Inhouse</span>
                <span *ngIf="data.trainingtype == 'OFFP'">Offline Public</span>
                <span *ngIf="data.trainingtype == 'OFFE'">Offline nội bộ</span>
                <span *ngIf="data.trainingtype == 'ONLR'">Online video recorded learning</span>
                <span *ngIf="data.trainingtype == 'ONLL'">Online live learning zoom</span>
              </div>
             <div class="pt-3">
              <mat-checkbox *ngIf="data.istrainingforeign==1"  [disabled]="true"  [checked]="true" class="example-margin col-6">Đào tạo nước ngoài</mat-checkbox>
              <mat-checkbox  *ngIf="data.requireenglish ==1" [disabled]="true"  [checked]="true" class="example-margin col-6">Yêu cầu tiếng anh</mat-checkbox>
              <mat-checkbox  *ngIf="data.isopen ==1" [disabled]="true"  [checked]="true" class="example-margin col-6">Tự ghi danh</mat-checkbox>
              <mat-checkbox *ngIf="data.hasquiz " [disabled]="true"  [checked]="true" class="example-margin col-6">Bài thi</mat-checkbox>
              <mat-checkbox *ngIf="data.enddate" [disabled]="true"  [checked]="true" class="example-margin col-6">Khóa học có thời hạn</mat-checkbox>
             </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class=" w-100 mb-3">
              <label  class="control-label w-20 fullname">Đơn vị khởi tạo </label>
              <div class="input-qr">{{data.ownerdepartmentname}}</div>
            </div>
            <div class=" w-100 mb-3">
              <label  class="control-label w-20 fullname">Đối tượng học</label>
              <div class="input-qr">
                <span *ngFor="let item of namePosition" class="item-badge">{{item}}</span>
              </div>
            </div>
            <div class=" w-100 mb-3">
              <label  class="control-label w-20 fullname">Chứng nhận/chứng chỉ </label>
              <div class="input-qr">
                <span *ngFor="let item of nameBadge" class="item-badge">{{item}}</span>
              </div>
            </div>
            
          </div>
      </div>
    </div>
    <h4>THÔNG TIN YÊU CẦU NHÂN BẢN</h4>
    <div class="row">
      <div class="col-md-4">
        <div class=" w-100 mb-3">
          <label  class="control-label w-20 fullname">Người yêu cầu </label>
          <div class="input-qr">{{data.requestusername}}</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class=" w-100 mb-3">
          <label  class="control-label w-20 fullname">Đơn vị yêu cầu </label>
          <div class="input-qr">{{data.requestdepartmentname}}</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class=" w-100 mb-3">
          <label  class="control-label w-20 fullname">Thời gian yêu cầu </label>
          <div class="input-qr">{{getDateFromUnix(data.requestdate) | date:'dd/MM/yyyy'}}</div>
        </div>
      </div>
    </div>
    <div class="w-100 mb-3">
        <label  class="control-label w-20 fullname"> <span>Nội dung yêu cầu</span></label>
        <textarea [disabled]="true"  [(ngModel)]="data.requestcontent" class="tc form-control" rows="5" ></textarea>
    </div>
    <div class="w-100 mb-3" *ngIf="(data.status != 1 && type == false) || (type == true && data.status !=4)"  >
      <label  class="control-label w-20 fullname"><span>Nội dung phản hồi</span></label>
      <textarea [disabled]="true"  [(ngModel)]="data.responsecontent" class="tc form-control" rows="5" ></textarea>
    </div>
   
  <div class="modal-footer footer-clone">
    <button type="button" class="btn btn-close" (click)="sendRequest(3, data)" *ngIf="data.status == 1 && type == false"
            >Từ chối</button>
    <button type="button" class="btn btn-send" (click)="sendRequest(2, data)" *ngIf="data.status == 1 && type == false"
            >Phê duyệt</button>
    <button type="button" class="btn btn-close" (click)="sendRequest(4, data)" *ngIf="data.status == 1 && type == true"
            >Hủy gửi</button>
  </div>
  