.font-size-16 {
  font-size: 16pt;
}
.stu-info,
.ad-info {
  width: 45%;
}
.label-option-yn {
  width: 120px;
  /* height: 50px; */
  padding: 15px;
  margin-bottom: 0 !important;
}
.label-option-yn .option-evalua {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5);
}
