.course-input {
    width:100%;
    padding-bottom: 0 !important;
}
.example-button {
    margin-top: 0px;
  }  
  .example-tooltip-red {
    background: red;
  }
  ::ng-deep .tooltip-red {
  background: #b71c1c !important;
  font-size:10pt !important;
}
:host ::ng-deep .mat-tab-body-content {
  height: 100%;
  overflow: auto;
  background-color: white;
}
:host ::ng-deep .mat-tab-group {
  display: block !important;
  flex-direction: column;
}
::ng-deep section {
  padding: 15px 0;
}
::ng-deep .content-header {
  padding: 5px 0.5rem;
}
.img-thumbnail {
  max-width: 15vh !important;
  height: auto;
}
@media only screen and (min-width: 1400px) and (max-width:1920px) {
::ng-deep .mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 105px !important;
}
}
@media only screen and (max-width:1368px) {
  ::ng-deep .mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 93px !important;
  }
}
.pen{
  pointer-events: none!important;
  opacity: .6;
}
::ng-deep .ng-disabled,::ng-deep .ng-disabled input{
  background-color: #e9ecef;
  opacity: 1;
  cursor: not-allowed;
}
.title-tab{
  padding: 0 33px;
  line-height: 48px;
}
