<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Thông tin {{courseDisplayText}} : {{courseForm.value.fullname}}</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">
							<a href="#" routerLink="/admin">CMS</a>
						</li>
						<li class="breadcrumb-item active"><a [routerLink]="['/admin/course']">Quản lý khóa học</a></li>
						<li class="breadcrumb-item active">Thông tin {{courseDisplayText}}</li>
					</ol>
				</div>
			</div>
		</div>
		<!-- /.container-fluid -->
	</section>
	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<!--phan danh sach khoa hoc-->
			<div class="row">
				<div class="col-12">
					<button class="btn btn-success"
						*ngIf="courseDetail.published !== 1 && checkRoleFunction('PUBLISH_COURSE',role) === true && canEditCourse"
						(click)="onPublishCourse()">Hiển thị {{courseDisplayText}}</button>
					<button class="btn btn-default"
						*ngIf="courseDetail.published === 1 && checkRoleFunction('PUBLISH_COURSE',role) === true && canEditCourse"
						(click)="onUnPublishCourse()">Ẩn {{courseDisplayText}}</button>
          			<button class="btn ml-3" [disabled]="checkDisabledNotification()" [ngClass]="checkDisabledNotification() ? 'btn-secondary' : 'btn-success'"
                  		(click)="onNotificationCourse()">Thông báo {{courseDisplayText}}</button>
					<mat-tab-group dynamicHeight selectedIndex="{{selectedId?selectedId:1}}">
						<mat-tab>
							<ng-template mat-tab-label>
								<mat-icon class="example-tab-icon">infor</mat-icon>
								Thông tin {{courseDisplayText}}
							</ng-template>
							<form role="form" [formGroup]="courseForm">
								<div class="container-fluid">
									<div class="row pl-5 pr-5 pt-4">
										<div class="col-12" *ngIf="courseDetail.planid">
											<div class="form-group">
												<label class="text-danger">{{courseDetail.plancode}} -
													{{courseDetail.planname}}</label>
											</div>
										</div>
										<div class="col-6" *ngIf="isTeacher">
											<div class="form-group">
												<label>Lựa chọn đơn vị chủ trì</label>
												<ng-select class="form-control select2 custom-select-box"
													[placeholder]="placeHolder ? 'placeHolder | translate' : null"
													[items]="departmentMap | keyvalue" bindLabel="value" bindValue="key"
													formControlName="departmentid" [editableSearchTerm]="true"
													(change)="onSelectedDepartment($event)"
													[readonly]="!formEnable || courseDetail.publishedat">
													<ng-template ng-option-tmp let-item="item">
														<div [title]="item.value">{{item.value}}</div>
													</ng-template>
												</ng-select>
											</div>
										</div>
										<div class="col-6" *ngIf="isTeacher"></div>
										<div class="col-6">
											<div class="form-group fullname-require">
												<label class="control-label">Tên {{courseDisplayText}}</label><span
													class="text-danger"> *</span>
												<input type="text" class="form-control"
													placeholder="Tên đầy đủ" required="" data-placement="bottom"
													formControlName="fullname" *ngIf="!isApplyTrainingPlan">
												<ng-select [items]="listTrainingPlanCourse" class="form-control select2 custom-select-box"
													*ngIf="isApplyTrainingPlan"
													bindLabel="name"
													bindValue="name"
													[virtualScroll]="true"
													formControlName="fullname"
													(change)="onPickFullname($event)"
													[placeholder]="fullname == '' ? 'Chọn một khóa học' : ''"
													>
												</ng-select>
												<div
													*ngIf="courseForm.get('fullname')!.invalid &&(courseForm.get('fullname')!.dirty || courseForm.get('fullname')!.touched)">
													<small class="text-danger"
														*ngIf="courseForm.get('fullname')?.errors?.required">
														{{ 'error.validate.input_required' | translate }}
													</small>
													<small class="text-danger"
														*ngIf="courseForm.get('fullname')?.errors?.isBlank">
														{{ 'error.validate.input_required' | translate }}
													</small>
													<small class="text-danger"
														*ngIf="courseForm.get('fullname')?.errors?.maxlength">
														{{ 'error.validate.course.nameMaxlength' | translate }}
													</small>
												</div>
											</div>
										</div>
										<div class="col-6">
											<div class="form-group"><label>Danh mục họ nghề</label>
												<span class="text-danger"> *</span>
												<select class="form-control select2" style="width: 100%;"
													formControlName="categoryid">
													<option [value]="0" disabled selected>Chọn danh mục</option>
													<option *ngFor="let item of categoryMap | keyvalue"
														[value]="item.key">{{item.value}}</option>
												</select>
												<div
													*ngIf="courseForm.get('categoryid')!.invalid &&(courseForm.get('categoryid')!.dirty || courseForm.get('categoryid')!.touched)">
													<small class="text-danger"
														*ngIf="courseForm.get('categoryid')?.errors?.required">
														{{ 'error.validate.input_required' | translate }}
													</small>
												</div>
											</div>
										</div>
										<div class="col-12">
											<div class="row">
												<div class="form-group col-2 mt-2">
													<mat-checkbox formControlName="isApplyTrainingPlan" *ngIf="!isCreateExam" class="example-margin"
													(change)="onChangeIsApplyTrainingPlan($event)"
													>{{(isClass) ? 'Lớp học' : 'Khóa học'}} theo kế hoạch</mat-checkbox>
												</div>
												<div class="form-group col-4">
													<select class="form-control select2" style="width: 100%;" formControlName="planid"
													  (change)="onChangePlan($event)">
													  <option [value]="null" disabled selected>Chọn kế hoạch đào tạo</option>
													  <option *ngFor="let item of listTrainingPlan" [value]="item.id">{{item.name}} - {{item.departmentname ? item.departmentname : "Chưa có đơn vị"}}</option>
													</select>
													<div
													  *ngIf="courseForm.get('planid')!.invalid &&(courseForm.get('planid')!.dirty || courseForm.get('planid')!.touched)">
													  <small class="text-danger" *ngIf="courseForm.get('planid')?.errors?.required">
														{{ 'error.validate.input_required' | translate }}
													  </small>
													</div>
												</div>
												<div class="form-group col-1 mt-2">
													<mat-checkbox *ngIf="!isCreateExam" class="example-margin" formControlName="isclass" [disabled]="disabledClass"
													(change)="onChangeCheckClass($event)"
													>Lớp học</mat-checkbox>
												</div>
												<div class="form-group col-5">
													 <ng-select [items]="originalCourseList" class="form-control select2 custom-select-box" [ngClass]="disabledClass ? 'ng-disabled' : ''"
														bindLabel="fullname"
														bindValue="id"
														[virtualScroll]="true"
														formControlName="classofcourseid"
														[readonly]="disabledClass"
														(change)="onChangeOriginalCourse($event)"
														[placeholder]="!isClass ? 'Chọn khóa học trực thuộc':'' "
													>
													</ng-select>
													<!-- <select class="form-control select2" style="width: 100%;" formControlName="classofcourseid"
													  (change)="onChangeOriginalCourse($event)">
													  <option [value]="null" disabled selected>Khóa học trực thuộc</option>
													  <option *ngFor="let item of originalCourseList" [value]="item.id">{{item.fullname}}</option>
													</select> -->
													<div
													  *ngIf="courseForm.get('classofcourseid')!.invalid &&(courseForm.get('classofcourseid')!.dirty || courseForm.get('classofcourseid')!.touched)">
													  <small class="text-danger" *ngIf="courseForm.get('classofcourseid')?.errors?.required">
														{{ 'error.validate.input_required' | translate }}
													  </small>
													</div>
												</div>
											</div>
										</div>
										<div class="col-6">
											<div class="form-group">
												<label> Đối tượng học
												</label><span class="text-danger"> *</span>
												<div [class]="!formEnable? 'pen' : ''">
													<ng-multiselect-dropdown [placeholder]="'Chọn chức danh'"
														[settings]="dropdownPositionSettings" [data]="positionList"
														(onSelect)="onChangePosition()"
														(onDropDownClose)="onChangePosition()"
														formControlName="selectedPositions" [disabled]="!formEnable">

													</ng-multiselect-dropdown>
												</div>
											</div>
										</div>
										<div class="col-6">
											<div class="form-group">
												<label> Hình thức học
												</label><span class="text-danger"> *</span>
												<select class="form-control select2" style="width: 100%;"
													formControlName="trainingtype"
													(change)="selectOpByTrainingType($event)">
													<option [value]="null" disabled selected>Chọn hình thức học</option>
													<option *ngFor="let item of listTrainingType" [value]="item.value"
														[disabled]="courseDetail.publishedat">
														{{item.label}}</option>
												</select>
												<div
													*ngIf="courseForm.get('trainingtype')!.invalid &&(courseForm.get('trainingtype')!.dirty || courseForm.get('trainingtype')!.touched)">
													<small class="text-danger"
														*ngIf="courseForm.get('trainingtype')?.errors?.required">
														{{ 'error.validate.input_required' | translate }}
													</small>
												</div>
											</div>
										</div>
										<div class="col-6">
											<label class="mb-0">Thời gian đào tạo</label><span class="text-danger">
												*</span>
											<div class="form-row">
												<div class="col-auto form-inline">
													<select class="form-control pr-0" style="width:60px;"
														formControlName="hourStartDate"
														(change)="startDateChange($event, 'hourStartDate')">
														<option *ngFor="let hour of hoursList" [value]="hour.value">
															{{hour.label}}</option>
													</select>
													<select class="form-control ml-1 pr-0" style="width:60px;"
														formControlName="minuteStartDate"
														(change)="startDateChange($event, 'minuteStartDate')">
														<option *ngFor="let minute of minutesList"
															[value]="minute.value">{{minute.label}}</option>
													</select>
												</div>
												<div class="col-auto" style="padding-top:10px;">
													<mat-form-field color="blue" class="mr-3 mb-0 course-input">
														<mat-label>Từ ngày</mat-label>
<!--														<input matInput [matDatepicker]="startdateModel"-->
<!--															[min]="checkTypeTrain ? '' : currentDate"-->
<!--															formControlName="startdate"-->
<!--															(dateChange)="startDateChange($event, 'startdate')">-->
<!--														<mat-datepicker-toggle matSuffix [for]="startdateModel">-->

                            <input matInput [matDatepicker]="startdateModel"
                                    formControlName="startdate">
                            <mat-datepicker-toggle matSuffix [for]="startdateModel">

                            </mat-datepicker-toggle>
														<mat-datepicker #startdateModel></mat-datepicker>
													</mat-form-field>
												</div>
												<div *ngIf="courseForm.value.islimited" class="col-auto form-inline">
													<select class="form-control ml-3 pr-0" style="width:60px;"
														formControlName="hourEndDate" (change)="endDateChange($event, 'hourEndDate')">
														<option *ngFor="let hour of hoursList" [value]="hour.value">
															{{hour.label}}</option>
													</select>
													<select class="form-control ml-1 pr-0" style="width:60px;"
														formControlName="minuteEndDate"
														(change)="endDateChange($event, 'minuteEndDate')">
														<option *ngFor="let minute of minutesList"
															[value]="minute.value">{{minute.label}}</option>
													</select>
												</div>
												<div *ngIf="courseForm.value.islimited" class="col-auto" style="padding-top:10px;">
													<mat-form-field class="course-input mb-0">
														<mat-label>Đến ngày</mat-label>
														<input matInput [matDatepicker]="enddateModel"
															[min]="courseForm.value.startdate" formControlName="enddate"
															(dateChange)="endDateChange($event, 'enddate')">
														<mat-datepicker-toggle matSuffix [for]="enddateModel">
														</mat-datepicker-toggle>
														<mat-datepicker #enddateModel color="primary">
														</mat-datepicker>
													</mat-form-field>
												</div>
											</div>
											<div class="form-row">
												<small class="text-danger col-6" *ngIf="startTimeInvalid">
													{{ 'error.validate.start_date_invalid' | translate }}
												</small>
												<small class="text-danger col-6" *ngIf="endTimeInvalid">
													{{ 'error.validate.end_date_invalid' | translate }}
												</small>
											</div>
										</div>
										<div class="col-3">
											<div class="form-group mt-4 pt-2" data-select2-id="39">
												<mat-checkbox formControlName="requireenglish"
													class="example-margin mr-2">
													Yêu cầu tiếng anh</mat-checkbox> <br>
												<mat-checkbox formControlName="isopen" (change)="showOptions($event)"
													class="example-margin">Tự ghi
													danh</mat-checkbox> <br>
												<div *ngIf="showOpExamCheckbox">
													<mat-checkbox formControlName="hasquiz" class="example-margin mr-2">
														Bài thi</mat-checkbox>
													<br>
												</div>
												<div *ngIf="showOpExamCheckbox">
													<mat-checkbox formControlName="istrainingforeign" class="example-margin mr-2">
														Đào tạo ở nước ngoài</mat-checkbox>
													<br>
												</div>
												<mat-checkbox *ngIf="!isShowLocation" [disabled]="true"
													[checked]="courseDetail.badgeid" class="example-margin">Tạo chứng
													chỉ cho {{courseDisplayText}}/ kỳ thi
												</mat-checkbox>
												<mat-checkbox formControlName="islimited" (change)="onChangeLimit($event)"
													class="example-margin">
													{{(isClass) ? 'Lớp học' : 'Khóa học'}} có thời hạn
												</mat-checkbox>

												<div>
													<small class="text-danger" *ngIf="courseForm.hasError('required', 'hasquiz')">
													  {{ 'error.validate.exam_required' | translate }}
													</small>
												  </div>
											</div>
										</div>
										<div class="col-3">
											<label class="control-label">Chứng nhận/Chứng chỉ
											</label>
											<ng-multiselect-dropdown [placeholder]="'Chọn chứng chỉ'"
												[settings]="dropdownPositionSettings" [data]="badgeList"
												(onSelect)="onChangeBadges()" (onDropDownClose)="onChangeBadges()"
												formControlName="badgerequire" [disabled]="!formEnable">
											</ng-multiselect-dropdown>
										</div>
										<div class="col-3">
											<div class="form-group fullname-require">
												<label class="control-label"> Thời gian đào tạo (ngày)
												</label>
												<input type="number" class="form-control"
													placeholder="Nhập số lượng ngày" data-placement="bottom"
													formControlName="duration" min="0" [max] = "maxDuration ? maxDuration : ''">
												<div
													*ngIf="courseForm.get('duration')!.invalid &&(courseForm.get('duration')!.dirty || courseForm.get('duration')!.touched)">
													<small class="text-danger"
														*ngIf="courseForm.get('duration')?.errors?.min">
														{{ 'error.validate.number' | translate }}
													</small>
												</div>
												<div>
													<small class="text-danger" *ngIf="durationInvalid">
													  {{ 'error.validate.durationInvalid' | translate }}
													</small>
												</div>
											</div>
										</div>
										<div class="col-3">
											<div class="form-group fullname-require">
												<label class="control-label"> Số lượng học viên dự kiến
												</label><span class="text-danger" *ngIf="!isOpen"> *</span>
												<input type="text" class="form-control"
													placeholder="Nhập số lượng học viên" required=""
													data-placement="bottom" formControlName="numberstudent"
													(change)="convertNumberstudent($event.target.value)">
												<div
													*ngIf="courseForm.get('numberstudent')!.invalid &&(courseForm.get('numberstudent')!.dirty || courseForm.get('numberstudent')!.touched)">
													<small class="text-danger"
														*ngIf="courseForm.get('numberstudent')?.errors?.required">
														{{ 'error.validate.input_required' | translate }}
													</small>
													<small class="text-danger"
														*ngIf="courseForm.get('numberstudent')?.errors?.isBlank">
														{{ 'error.validate.input_required' | translate }}
													</small>
													<!-- <small class="text-danger"
														*ngIf="courseForm.get('numberstudent')?.errors?.invalidNumber">
														{{ 'error.validate.number' | translate }}
													</small> -->
												</div>
											</div>
										</div>
										<div class="col-3">
											<div class="form-group fullname-require">
												<label class="control-label"> Số lượng học viên thực tế</label>
												<input type="text" class="form-control" readonly="true"
													data-placement="bottom" [value]="courseDetail.totalstudent">
											</div>
										</div>
										<div class="col-3">
											<div class="form-group fullname-require">
												<label class="control-label"> Chi phí (VNĐ)
												</label><span class="text-danger"> *</span>
												<input type="text" class="form-control" placeholder="Nhập chi phí"
													required="" data-placement="bottom" formControlName="cost"
													(change)="convertCost($event.target.value)">
												<div
													*ngIf="courseForm.get('cost')!.invalid &&(courseForm.get('cost')!.dirty || courseForm.get('cost')!.touched)">
													<small class="text-danger"
														*ngIf="courseForm.get('cost')?.errors?.required">
														{{ 'error.validate.input_required' | translate }}
													</small>
													<small class="text-danger"
														*ngIf="courseForm.get('cost')?.errors?.isBlank">
														{{ 'error.validate.input_required' | translate }}
													</small>
													<small class="text-danger"
														*ngIf="courseForm.get('cost')?.errors?.maxlength">
														{{ 'error.validate.course.nameMaxlength' | translate }}
													</small>
												</div>
												<small class="text-danger" *ngIf="costInvalid">
													{{ 'error.validate.costInvalid' | translate }}
												</small>
											</div>
										</div>
										<div class="col-3">
											<div class="form-group fullname-require">
												<label class="control-label">Nguồn chi phí tổ chức đào tạo
												</label><span class="text-danger"> *</span>
												<select class="form-control select2" style="width: 100%;"
													formControlName="resource" (change)="onChangeResourse($event)">
													<option [value]="null" disabled selected>Chọn nguồn chi phí</option>
													<option *ngFor="let item of listCostSource" [value]="item.value">
														{{item.label}}</option>
												</select>
												<div
													*ngIf="courseForm.get('resource')!.invalid &&(courseForm.get('resource')!.dirty || courseForm.get('resource')!.touched)">
													<small class="text-danger"
														*ngIf="courseForm.get('resource')?.errors?.required">
														{{ 'error.validate.input_required' | translate }}
													</small>
													<small class="text-danger"
														*ngIf="courseForm.get('resource')?.errors?.isBlank">
														{{ 'error.validate.input_required' | translate }}
													</small>
												</div>
											</div>
										</div>
										<div class="col-3" *ngIf="courseForm.get('resource').value=='OTHERS'">
											<div class="form-group fullname-require">
												<label class="control-label">Nguồn khác
												</label><span class="text-danger"> *</span>
												<input type="text" class="form-control" placeholder="..." required=""
													data-placement="bottom" formControlName="other">
												<div
													*ngIf="courseForm.get('other')!.invalid &&(courseForm.get('other')!.dirty || courseForm.get('other')!.touched)">
													<small class="text-danger"
														*ngIf="courseForm.get('other')?.errors?.required">
														{{ 'error.validate.input_required' | translate }}
													</small>
													<small class="text-danger"
														*ngIf="courseForm.get('other')?.errors?.isBlank">
														{{ 'error.validate.input_required' | translate }}
													</small>
												</div>
											</div>
										</div>
										<div class="col-6" *ngIf="!isCreateExam && isShowLocation">
											<div class="form-group">
												<label>Địa điểm</label>
												<textarea rows="4" style="width: 100%; height: 15vh;"
													formControlName="location" class="form-control"></textarea>
											</div>
										</div>
										<div class="col-6" *ngIf="!isCreateExam">
											<label>Miêu tả {{courseDisplayText}}</label>
											<textarea rows="4" class="overflow-auto form-control"
												style="width: 100%; height: 15vh;" formControlName="summary">
              						  </textarea>
											<div
												*ngIf="courseForm.get('summary')!.invalid && (courseForm.get('summary')!.dirty || courseForm.get('summary')!.touched)">
												<small class="text-danger" *ngIf="courseForm.get('summary')?.errors">
													{{ 'error.validate.course.nameCourseMaxlength' | translate }}
												</small>
											</div>
										</div>
										<div class="col-6">
											<div class="form-group">
												<label>Ảnh đại diện {{courseDisplayText}}</label><span class="text-danger"> *</span>
												<div class="input-group">
													<input type="file" class="custom-file-input form-control"
														*ngIf="formEnable"
														(change)="handleFileInput($event.target.files)">
													<label class="custom-file-label" *ngIf="formEnable">JPEG,
														PNG...</label>
												</div>
												<small class="text-danger" *ngIf="avatarCourseInvalid">
													{{ 'error.validate.input_valid' | translate }}
												</small>
												<img #imgPreview class="img-thumbnail">
											</div>
										</div>
										<div class="col-4 pt-2">
											<div class="form-group">
											  <label for="">Điều kiện hoàn thành {{courseDisplayText}}</label>
											  <div class="input-group">
												<mat-checkbox formControlName="completealllessions">Học hết tất cả các bài</mat-checkbox>
												<mat-checkbox formControlName="isforcepassexam" (change)="onCheckIsforcepassexam($event)">Bắt buộc qua bài thi</mat-checkbox>
												<mat-checkbox formControlName="isjoinsurvey">Tham gia khảo sát</mat-checkbox>
											</div>
											</div>
										</div>
									</div>
									<div class="card-footer text-center"
										*ngIf="canEditCourse && checkRoleFunction('EDIT_COURSE_INFO',role) === true">
										<button type="submit" class="btn btn-primary"
											*ngIf="!formEnable && courseDetail.published !== 1"
											(click)="onUpdateCourse()" [disabled]="!canEditCourse">Cập
											nhật</button>
										<button type="submit" class="btn btn-default mr-1"
											*ngIf="formEnable && courseDetail.published !== 1"
											(click)="cancelUpdateCourse()">Hủy</button>
										<button type="submit" class="btn btn-success mr-2"
											[disabled]="courseForm.invalid"
											*ngIf="formEnable && courseDetail.published !== 1"
											(click)="onConfirmUpdateCourse()">Lưu lại</button>
									</div>
								</div>
							</form>
						</mat-tab>
						<mat-tab act>
							<ng-template mat-tab-label>
								<mat-icon class="example-tab-icon">book</mat-icon>
								Nội dung {{courseDisplayText}}
							</ng-template>
							<app-course-content *ngIf="courseDetail.id" [courseDetail]="courseDetail">
							</app-course-content>
						</mat-tab>
						<mat-tab>
							<ng-template mat-tab-label>
								<mat-icon class="example-tab-icon">assignment_ind</mat-icon>
								{{isTeacher ? 'Danh sách học viên' : 'Thêm học viên'}}
							</ng-template>
							<app-add-user [changeDepartment]="changeDepartment" *ngIf="courseDetail.id"
								[courseDetail]="courseDetail" [coursetype]="1">
							</app-add-user>
						</mat-tab>
						<mat-tab>
							<ng-template mat-tab-label>
								<mat-icon class="example-tab-icon">group</mat-icon>
								{{isTeacher ? 'Danh sách giảng viên' : 'Thêm giảng viên'}}
							</ng-template>
							<app-add-teacher *ngIf="courseDetail.id" [courseDetail]="courseDetail" [coursetype]="1">
							</app-add-teacher>
						</mat-tab>
						<mat-tab *ngIf="courseDetail.hasquiz || !courseDetail.trainingtype">
							<ng-template mat-tab-label id="exam-tab" >
								<div class="title-tab"  (click)="loadQuiz()">
									<mat-icon class="example-tab-icon mr-1">school</mat-icon>
										Bài thi
								</div>
							</ng-template>
							<app-quiz-create [courseId]="courseId" [checkCreate]="true"  #quizCreate></app-quiz-create>
							<div>
								<!-- <app-quiz-content [courseDetail]="courseDetail"
									*ngIf="showCreateQuiz == false && courseDetail.id" (checkCreate)='check($event)'
									(quizEdit)='showQuiz($event)' (showCreateQuizz)='handleShowCreateQuiz($event)'>
								</app-quiz-content> -->
								<!-- <app-quiz-create *ngIf="courseDetail.id" [courseDetail]="courseDetail"></app-quiz-create> -->
								<!-- <app-quiz-create [courseDetail]="courseDetail" [courseId]="courseId"
									[quizInput]="quizOutput" [checkCreate]="checkC" *ngIf="showCreateQuiz == true"
									(showCreateQuizz)='handleShowListQuiz($event)'>
								</app-quiz-create> -->
							</div>
						</mat-tab>
						<mat-tab *ngIf="courseDetail.hasquiz || !courseDetail.trainingtype">
							<ng-template mat-tab-label>
								<mat-icon class="example-tab-icon">account_balance</mat-icon>Ngân hàng câu hỏi
							</ng-template>
							<app-course-question-bank *ngIf="courseDetail.id" [courseDetail]="courseDetail"
								[type]="type">
							</app-course-question-bank>
						</mat-tab>
					</mat-tab-group>
				</div>
			</div>
		</div>
	</section>
</div>
