.user-image {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 0px;
    border: 1px solid #b1b1b1;
}
.font-size-15 {
    font-size:.95rem;
}
.menu-right {
    color: #FFf;
    line-height: 35px;
    padding-right: 74px;
    position: relative;
}
.menu-right a{
    line-height: 25px!important;
}
.point-student{
    background: #178beb;
    padding: 6px 8px;
    border-radius: 64%;
    border: 1px solid #fff;
    top: -6px;
    box-shadow: 1px 2px 2px #00000082;

}
.point-student p{
    margin-bottom: 0px;
    line-height: 11px;
    font-size: 9px!important;
    text-align: center;
}
.point-student .number-point {
    font-size: 15px;
    font-size: 15px!important;
}
.language{
    width: 120px;
    background: #0563b1;
    border: unset;
    color: white;
    font-size: 12px!important;
}
