<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="text-uppercase">CHI TIẾT HỢP ĐỒNG ĐẠO TÀO NGHỀ</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a [routerLink]="['/admin']">CMS</a></li>
              <li class="breadcrumb-item"><a [routerLink]="['/admin/report-contract']">Quản lý hợp đồng đào tạo nghề</a></li>
              <li class="breadcrumb-item active">Chi tiết hợp đồng đào tạo nghề</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                         <div class=" d-flex mx-3  mt-2">
                            <p class="mr-4"><b>Tên học viên : </b>{{listContract.fullname}}</p>
                            <p><b>Đơn vị :</b>{{listContract.departmentName}}</p>
                         </div>
                        <div class="card">
                            <div class="card-body py-0">
                                <div class="filter d-flex justify-content-between mb-2">
                                    <div class="form-inline">
                                        <div class="form-group">
                                            <input type="search"  #keyword (change)="onSearch($event)"  class="form-control form-control-sm2 mr-2" placeholder="Tên khóa học">
                                        </div>
                                      <div class="form-group  mr-2">
                                        <app-month-picker   inputValue="{{inputYear}}" [defaulthYear]="getDefault()" typePicker="year" (chooseYearE)="yearSelected($event)">loading</app-month-picker>
                                      </div>
                                      <div class="form-group">
                                        <select class="form-control" (change)="onFilterStatus($event.target.value)" >
                                          <option value=""> Toàn bộ </option>
                                          <option value="1"> Còn hợp đồng</option>
                                          <option value="0"> Hết hợp đồng</option>
                                        </select>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                       <div class="row pl-4 pr-4">
                           <table class="table table-striped table-hover">
                            <table class="table mt-3 table-hover">
                                <thead>
                                    <tr>
                                      <th>STT</th>
                                      <th>Tên khóa học</th>
                                      <th>Năm</th>
                                      <th>Số tiền</th>
                                      <th>HĐĐTN tháng</th>
                                      <th>Thời gian bắt đầu có hiệu lực</th>
                                      <th>Thời gian kết thúc hiệu lực</th>
                                      <th>Trạng thái</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor=" let item of listContractDetail; let i = index">
                                      <td class="text-center">{{(searchUser.pageIndex - 1) * searchUser.pageSize + i + 1}}</td>
                                      <td>{{item.fullname}}</td>
                                      <td>{{item.year}}</td>
                                      <td>{{item.cost|number}}</td>
                                      <td>{{item.contractname}}</td>
                                      <td>{{getDateFromUnix(item.startdate)  | date:'dd/MM/yyyy'}}</td>
                                      <td>{{getDateFromUnix(item.enddate)  | date:'dd/MM/yyyy'}}</td>
                                      <td>{{item.status ? 'Còn hợp đồng' : 'Hết hợp đồng'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                           </table>
                       </div>
                       <div class="card-footer text-center" >
                        <div class="row">
                          <mat-paginator showFirstLastButtons
                          [length]="totalRecord"
                          [pageSize]="searchUser.pageSize"
                          [pageIndex]="searchUser.pageIndex - 1"
                          (page)="changePage($event)"
                          [hidePageSize]="false"
                          [pageSizeOptions]="pageSizeOptions">
                        </mat-paginator>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

