.style--width--2 {
  width: 2%;
}

.style--width--3 {
  width: 3%;
}

.style--width--5 {
  width: 5%;
}

.style--width--10 {
  width: 10%;
}

.style--width--15 {
  width: 15%;
}

.style--width--20 {
  width: 20%;
}

.style--width--25 {
  width: 25%;
}

.style--width--30 {
  width: 30%;
}

.style--width--100 {
  width: 100%;
}
