
<main>
  <section *ngIf="certificate?.isinternal == 1" id="certificate">
      <div class="container">
        <div class="row">
          <div class="col-6"></div>
            <div class="col-6">
              <div class="d-flex align-items-center float-right">
                <button class="btn btn-primary btn-export-img" (click)="exportImage(certificate)">Tải chứng chỉ</button>
              </div>
            </div>
          </div>
          <div class="certificate" id="myTableElementId">
            <div class="namecourse text-uppercase ">
                {{certificate.name}}
            </div>
            <div class="useremail font-weight-bold">
              Email: {{userInfo.email}}
            </div>
            <div class="userdepartment font-weight-bold">
              Đơn vị: {{userInfo.departmentname}}
            </div>
            <div class="usercertificate text-uppercase font-weight-bold">
              {{ userInfo.firstname }} {{userInfo.lastname}}
            </div>
            <div class="datecertificate text-uppercase">
              <p>Ngày cấp:  <strong>{{getDateFromUnix(certificate.dateissued) | date:'dd/MM/yyyy'}}</strong></p>
            </div>
            <div class="dateexpired text-uppercase">
              <!-- <p>Ngày hết hạn: <strong>{{item.dateexpire ? (getDateFromUnix(item.dateexpire) | date:'dd/MM/yyyy') : 'Vô thời hạn'}}</strong></p> -->
              <p>Số hiệu: <strong>MOBIFONE-{{certificate.issuedid}}</strong></p>
            </div>
            <br />
        </div>
       
      </div>
  </section>
  <!-- <section *ngIf="certificate?.isinternal == 0" class="container">
    <div class="row">
      <div class="col-6"></div>
            <div class="col-6">
              <div class="d-flex align-items-center float-right">
                <button class="btn btn-primary btn-export-img" (click)="exportImage(certificate)">Tải chứng chỉ</button>
              </div>
            </div>
    </div>
    <div class="text-center" *ngIf="!(certificate.filename).includes('.pdf')">
      <img [src]="viewImage(certificate)" width="60%" id="myTableElementId"/>
    </div>
    <div class="text-center" *ngIf="(certificate.filename).includes('.pdf')">
      <pdf-viewer 
          [src]="viewImage(certificate)" 
          [show-all]="true"
          [render-text]="true"  
          [original-size]="false" 
          style="width: 80%; height: 700px; margin: 0px auto" id="myTableElementId"> 
      </pdf-viewer>
    </div>
  </section> -->
</main>
