.certificate {
    position: relative;
    background-image: url("/assets/certificate.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 618px;
    /* width: 800px; */
  }
  .selectcertificate {
    position: absolute;
    top: 45px;
    left: -37px;
    font-size: 13pt;
    display: block;
    width: 309px;
    text-align: center;
  }
  .namecourse {
    position: absolute;
    top: 340px;
    font-size: 25pt;
    display: block;
    width: 48%;
    left: 351px;
    text-align: center;
  }
  .usercertificate {
    position: absolute;
    top: 160px;
    font-size: 20pt;
    display: block;
    width: 100%;
    text-align: center;
  }
  .userdepartment {
    position: absolute;
    top: 250px;
    font-size: 10pt;
    display: block;
    width: 100%;
    text-align: left;
    margin-left: 32%;
  }
  .useremail {
    position: absolute;
    top: 210px;
    font-size: 10pt;
    display: block;
    width: 100%;
    text-align: left;
    margin-left: 32%;
  }
  .department {
    position: absolute;
    top: 350px;
    font-size: 13pt;
    display: block;
    width: 100%;
    text-align: center;
  }
  .datecertificate {
    position: absolute;
    top: 425px;
    left: 300px;
    font-size: 13pt;
    display: block;
    width: 309px;
    text-align: center;
  }
  .dateexpired {
    position: absolute;
    top: 425px;
    left: 750px;
    font-size: 13pt;
    display: block;
    width: 309px;
    text-align: center;
  }
  .numbercertificate {
    position: absolute;
    top: 475px;
    left: 300px;
    font-size: 13pt;
    display: block;
    width: 309px;
    text-align: center;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
  height: 100px;
  width: 100px;
  /* outline: black; */
  background-size: 100%, 100%;
  border-radius: 50%;
  /* border: 1px solid black; */
  background-image: none;
  }
  
  .carousel-control-next-icon:after
  {
  content: '>';
  font-size: 55px;
  color: red;
  }
  
  .carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
  }
  
  