<div class="modal-header">
  <h4 class="modal-title">{{ titleForm | translate }}</h4>
  <button type="button" class="btn btn-tool" data-card-widget="collapse" (click)="activeModal.close('Close click')"><i
      class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <form role="form" [formGroup]="editProgramForm">
    <div class="form-group">
      <label>Tên chức danh </label><span class="text-danger d-inline-block pl-2">*</span>
      <input type="text" class="form-control" placeholder="Tên chức danh" formControlName="name" required=""
        [(ngModel)]="positionClone.name">
      <div
        *ngIf="editProgramForm.get('name')!.invalid && (editProgramForm.get('name')!.dirty || editProgramForm.get('name')!.touched)">
        <small class="text-danger" *ngIf="editProgramForm.get('name')?.errors?.isBlank">
          {{ 'error.validate.input_required' | translate }}
        </small>
        <small class="text-danger" *ngIf="editProgramForm.get('name')?.errors?.required">
          {{ 'error.validate.input_required' | translate }}
        </small>
        <small class="text-danger" *ngIf="editProgramForm.get('name')?.errors?.maxlength">
          {{ 'error.validate.position.nameMaxlength' | translate }}
        </small>
      </div>
    </div>
    <div class="form-group">
      <label>Mã chức danh </label><span class="text-danger d-inline-block pl-2">*</span>
      <input type="text" class="form-control" placeholder="Mã chức danh" [(ngModel)]="positionClone.code"
        formControlName="code" (change)="mustTypeIdDepartment()">
      <div
        *ngIf="editProgramForm.get('code')!.invalid && (editProgramForm.get('code')!.dirty || editProgramForm.get('code')!.touched);else other_content">
        <small class="text-danger" *ngIf="editProgramForm.get('code')?.errors?.isBlank">
          {{ 'error.validate.input_required' | translate }}
        </small>
        <small class="text-danger" *ngIf="editProgramForm.get('code')?.errors?.required">
          {{ 'error.validate.input_required' | translate }}
        </small>
        <small class="text-danger" *ngIf="editProgramForm.get('code')?.errors?.maxlength">
          {{ 'error.validate.position.codeMaxlength' | translate }}
        </small>
      </div>
      <ng-template #other_content>
        <small class="text-danger" *ngIf="!validateCodePos">
          {{ 'position.code_error' | translate }}
        </small>
      </ng-template>

    </div>
    <div class="form-group">
      <label>Mô tả </label>
      <textarea class="form-control" placeholder="Mô tả chi tiết" [(ngModel)]="positionClone.description"
        formControlName="description"></textarea>
    </div>
    <div class="form-group">
      <label>Ngày hoàn thành lộ trình chức danh </label><span class="text-danger d-inline-block pl-2">*</span>
      <div>
        <mat-form-field color="blue" class="mr-3 w-100 mb-0 course-input">
          <input matInput [matDatepicker]="startdateModel" formControlName="completeTime" [min]="currentDate">
          <mat-datepicker-toggle matSuffix [for]="startdateModel"></mat-datepicker-toggle>
          <mat-datepicker #startdateModel></mat-datepicker>
        </mat-form-field>
      </div>
      <div
        *ngIf="editProgramForm.get('completeTime')!.invalid && (editProgramForm.get('completeTime')!.dirty || editProgramForm.get('completeTime')!.touched);else other_content">
        <small class="text-danger" *ngIf="editProgramForm.get('completeTime')?.errors?.isBlank">
          {{ 'error.validate.input_required' | translate }}
        </small>
        <small class="text-danger" *ngIf="editProgramForm.get('completeTime')?.errors?.required">
          {{ 'error.validate.input_required' | translate }}
        </small>
        <small class="text-danger" *ngIf="editProgramForm.get('completeTime')?.errors?.maxlength">
          {{ 'error.validate.position.codeMaxlength' | translate }}
        </small>
      </div>
    </div>

    <!--    <div *ngIf="editProgramForm.get('description')!.invalid && (editProgramForm.get('description')!.dirty || editProgramForm.get('description')!.touched);">-->
    <!--      <small class="text-danger" *ngIf="editProgramForm.get('description')?.errors?.maxlength">-->
    <!--        {{ 'error.validate.position.descriptionMaxlength' | translate }}-->
    <!--      </small>  -->
    <!--    </div>-->
    <!-- <div class="form-group">
      <label>Đánh giá lộ trình</label>
      <div class="col-8 mt-3">
        <mat-radio-group formControlName="enableevaluation"  [(ngModel)]="positionClone.enableevaluation">
          <mat-radio-button class="example-margin mr-2" [value]="1" (change)="enableEvaluation($event)">Có</mat-radio-button>
          <mat-radio-button class="example-margin" [value]="0" (change)="enableEvaluation($event)">Không</mat-radio-button>
        </mat-radio-group>
      </div>
    </div> -->

  </form>
</div>
<div class="modal-footer text-center">
  <button type="button" class="btn ml-1 btn-secondary rounded-0 mr-1" (click)="activeModal.dismiss('close')">{{
    'common.cancel' | translate }}</button>
  <div *ngIf="position">
    <button type="submit" class="btn btn-primary" (click)="editProgram()">
      {{'common.save' | translate }}
    </button>
    <div>
    </div>
  </div>
</div>