<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Evotek| Login</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

</head>
<body class="hold-transition sidebar-mini layout-fixed login-layout">
<section class="login-block">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4 login-sec">
        <h2 class="text-center">Đăng nhập</h2>

        <form class="login-form" role="form" [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="form-group">
            <div class="row">
              <div class="col text-left">
                <label class="text-uppercase">Tên đăng nhập</label>
              </div>
              <div class="col text-right">
                <span class="forget-password" (click)="forgetPassword()">Quên mật khẩu?</span>
              </div>
            </div>
            <input type="text" class="form-control" placeholder="Tên đăng nhập" formControlName="username" required>
            <span class="text-danger"
                  *ngIf="loginForm.get('username').touched && loginForm.get('username').invalid && loginForm.get('username').dirty">
                        {{ 'error.validate.input_required' | translate }}
                      </span>
          </div>
          <div class="form-group">
            <label class="text-uppercase">Mật khẩu</label>
            <input type="password" class="form-control" placeholder="Mật khẩu" formControlName="password" required>
            <span class="text-danger"
                  *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid && loginForm.get('password').dirty">
                  {{ 'error.validate.input_required' | translate }}
                </span>
          </div>
          <div class="form-check-login">
            <button type="submit" class="btn btn-login float-right" [disabled]="loginForm.invalid">
              {{ 'login.login' | translate }}
            </button>
          </div>
        </form>
        <div class="copy-text">ONLINE LEARNING <a
          href="#"></a></div>
      </div>
      <div class="col-md-8 banner-sec">
        <div class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="overlay-img">

            </div>
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="https://static.pexels.com/photos/33972/pexels-photo.jpg"
                   alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>THƯ VIỆN TRI THỨC MOBIFONE</h2>
                  <p>Chào mừng bạn tới hệ thống đào tạo trực tuyến</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid"
                   src="https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg"
                   alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>THƯ VIỆN TRI THỨC MOBIFONE</h2>
                  <p>Được đào tạo bởi giảng viên ưu tú hàng đầu...</p>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>

</body>
</html>
