.order-number-cir {
    /* margin-right: 10px; */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: rgb(253, 253, 253);
  }
  
  .bg-rank1 {
    background-color: rgb(253, 216, 7);
  }
  .bg-rank2 {
    background-color: rgb(221 221 221);
  }
  .bg-rank3 {
    background-color: rgba(168, 78, 4, 0.897);
    color: #fff;
  }
  .bg-line1 {
    background-color: #fffbe4;
  }
  .bg-line2 {
    background-color: #f3f3f3;
  }
  .bg-line3 {
    background-color: #fff6ef;
  }
  .user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 0px;
    border: 1px solid #e3e3e3;
  }
  .by-ranks {
    border: 1px solid #c5c5c5;
    border-radius: 6px;
    height: 30px;
  }
  .btn-option {
    height: 30px;
  }
  .border-right {
    border-right: 1px solid #c5c5c5;
  }
  
  .btn-active {
    background-color: #c1c1c1;
    color: #fff;
  }
  .example-container {
    width: 95vw;
  }
  .example-sidenav {
    width: 25vw;
  }
  .example-sidenav-content {
    height: 80vh;
  }
  .mat-datepicker-input {
    width: 85%;
  }
  .badge-ct {
    color: #fff;
    background-color: red;
}
  mat-icon {
    position: relative;
    float: right;
    // top: -3px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.54);
  }
  ::ng-deep .date-custom .mat-form-field {
      .mat-form-field-wrapper {
        padding-bottom: 0 !important;
      }
      .mat-form-field-flex {
        align-items: center !important;
        border: 1px solid lightgrey;
        height: 31px;
      }
      .mat-form-field-infix {
        padding: 0 !important;
        border-top: 0 !important;
        display: flex;
        align-items: center;
        width: 100% !important;
      }
      .mat-input-element {
        color: slategray;
        padding: 6px;
      }
    }