<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Quản lý kế hoạch đào tạo</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#" routerLink="/admin">CMS</a></li>
                        <li class="breadcrumb-item active">Quản lý kế hoạch</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="example-sidenav-content">
                <div class="card card-default">
                    <mat-tab-group dynamicHeight selectedIndex="0">
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon">infor</mat-icon>
                                Danh sách kế hoạch đào tạo
                            </ng-template>
                            <div class="card-body">

                                <!-- <hr> -->
                                <div class="row mb-2">
                                    <div class="col-7">
                                        <h6 class="mt-3">Danh sách kế hoạch đào tạo</h6>
                                        <!-- Neu khong phai admin thi khong tao/ xoa department -->
                                        <button type="button"  class="btn btn-primary btn-lg mr-1" matTooltipClass="tooltip-red"
                                            (click)="goToCreate()" *ngIf="canEdit"><i class="fas fa-plus mr-1"></i>Import Kế hoạch</button>
                                            <button type="button" class="btn btn-secondary btn-lg mr-1" matTooltipClass="tooltip-red"
                                            (click)="goToPlanDepartment()"  *ngIf="isReviewerPlan">Kế hoạch của đơn vị khác</button>
                                    </div>
                                    <!--Search -->
                                    <div class="col-5">
                                    <div class="row">
                                        <div class="col-7 mt-2">
                                            <div class="form-inline float-right" role="form">
                                                <div class="form-group">
                                                    <label class="mr-2">Tìm kiếm</label>
                                                    <input type="search"
                                                        class="form-control form-control-sm mr-2" placeholder="Mã-Tên kế hoạch"
                                                        [(ngModel)]="keyword" (change)="onChangeKeyWord()">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-5 mt-2">
                                            <app-month-picker typePicker="year" (chooseYearE)="yearSelected($event)">loading
                                            </app-month-picker>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div>
                                    <table class="table table-hover" matSort (matSortChange)="sortData($event)">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <!-- Neu khong phai admin thi khong hien thi checkbox -->
                                                    <!-- <mat-icon class="custom-m-top">
                                                        <mat-checkbox class="example-margin" [(ngModel)]="completedAll"
                                                            (change)="oncheckboxAll($event.checked)"></mat-checkbox>
                                                    </mat-icon> -->
                                                </th>
                                                <th>STT</th>
                                                <th mat-sort-header="code">Mã kế hoạch</th>
                                                <th mat-sort-header="name">Tên kế hoạch</th>
                                                <th class="text-center">Số lượng khóa học</th>
                                                <th class="text-center">Số lượng học viên</th>
                                                <th>Ngày tạo</th>
                                                <th>Ngày cập nhật</th>
                                                <th>Người tạo</th>
                                                <th>Người cập nhật</th>
                                                <th class="text-center">Năm kế hoạch</th>
                                                <th class="text-center">Tổng chi phí (VNĐ)</th>
                                                <th class="text-center" >Trạng thái</th>
                                                <th class="text-center">Thao tác</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of departmentList; let countPosition = index; ">
                                                <td>
                                                    <ng-template>
                                                        <mat-icon class="mt-1">
                                                            <mat-checkbox [(ngModel)]="item.completed"
                                                                (change)="oncheckboxItem(item.id, $event.checked)"
                                                                class="example-margin"></mat-checkbox>
                                                        </mat-icon>
                                                    </ng-template>
                                                </td>
                                                <td [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{(pageIndex - 1)*pageSize + countPosition + 1}}</td>
                                                <td [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''"> {{item.code}}</td>
                                                <td [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{item.name}}</td>
                                                <td class="text-center" [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{item.numbercourse}}</td>
                                                <td class="text-center" [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{item.numberstudent}}</td>
                                                <td [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{getDateFromUnix(item.createdat) | date:'dd/MM/yyyy' }}</td>
                                                <td [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{getDateFromUnix(item.updatedat) | date:'dd/MM/yyyy' }}</td>
                                                <td [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{item.fullname}}</td>
                                                <td [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{item.updateduser}}</td>
                                                <td class="text-center" [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{subYear(item.code)}}</td>
                                                <td class="text-center" [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{showCost(item.totalcost)}}</td>
                                                <td class="text-center" >
                                                    <span class="badge badge-warning" matTooltip="Đang chờ" *ngIf="item.updatestatus ==1">Đang chờ</span>
                                                    <span class="badge badge-primary"  matTooltip="Đã phê duyệt" *ngIf="item.updatestatus ==2">Đã phê duyệt</span>
                                                    <span class="badge badge-ct"  matTooltip="Đã từ chối" *ngIf="item.updatestatus ==3">Đã từ chối</span>
                                                </td>
                                                <td class="project-actions text-center" >
                                                    <button *ngIf="item.updatestatus != 2" type="button" class="btn btn-default btn-sm mr-1" matTooltip="Xem chi tiết"
                                                        matTooltipClass="tooltip-red" (click)="goToDetail(item.id)"><i class="fas fa-eye"></i></button>
                                                    <button *ngIf="item.updatestatus == 2" type="button" (click)="goToDetail(item.id)"
                                                        class="btn btn-default btn-sm mr-1" matTooltip="Sửa" matTooltipClass="tooltip-red">
                                                        <i class="fas fa-edit"></i>
                                                    </button>
                                                    <button *ngIf="!isAdmin" type="button" (click)="deleteTrainingPlan(item.id)"
                                                        class="btn btn-default btn-sm mr-1" matTooltip="Xóa" matTooltipClass="tooltip-red">
                                                        <i class="fas fa-trash"></i>
                                                    </button>
                                                    <button type="button" mattooltip="" *ngIf="item.updatestatus == null" (click)="sendRequest(item)" mattooltipclass="tooltip-red" class="btn btn-default btn-sm mr-1" >
                                                        <i  class="fas fa-question"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br />
                                    <p *ngIf="departmentList?.length === 0" class="text-center">{{
                                        'common.no_search_result' | translate}}</p>
                                </div>

                                <div class="card-footer text-center">
                                    <div class="row">
                                        <mat-paginator showFirstLastButtons [length]="totalRecord" [pageSize]="pageSize"
                                            [pageIndex]="pageIndex - 1" (page)="changePage($event)" [hidePageSize]="false"
                                            [pageSizeOptions]="pageSizeOptions">
                                        </mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <img  src="/assets/icon-clone.svg" alt="" class="mr-2">
                                Yêu cầu đã gửi
                            </ng-template>
                            <div class="card-body">

                                <!-- <hr> -->
                                <div class="row mb-2">
                                    <div class="col-4">
                                        <h6 class="mt-3">Danh sách kế hoạch đào tạo</h6>
                                        <!-- Neu khong phai admin thi khong tao/ xoa department -->
                                        <button type="button"  class="btn btn-primary btn-lg mr-1" matTooltipClass="tooltip-red"
                                            (click)="goToCreate()" *ngIf="canEdit"><i class="fas fa-plus mr-1"></i>Import Kế hoạch</button>
                                            <button type="button" class="btn btn-secondary btn-lg mr-1" matTooltipClass="tooltip-red"
                                            (click)="goToPlanDepartment()"  *ngIf="isReviewerPlan">Kế hoạch của đơn vị khác</button>
                                    </div>
                                    <!--Search -->
                                    <div class="col-8">
                                        <div class="row float-right">
                                            <div class="form-inline mr-3" role="form">
                                                <div class="form-group mr-3">
                                                    <span class="fw-bold mx-2 me-2 title-span" >Trạng thái</span>             
                                                        <select class="form-control form-control-sm ml-2 lclt " (change)="onChangeStatus($event)" >
                                                        <option>Chọn trạng thái</option>
                                                        <option value="1">Đang chờ</option>
                                                        <option value="2">Phê duyệt</option>
                                                        <option value="3">Từ chối</option>
                                                        <option value="4">Hủy</option>
                                                        </select>
                                                </div>
                                                <div class="form-group">
                                                    <label class="mr-2">Tìm kiếm</label>
                                                    <input type="search"
                                                        class="form-control form-control-sm  mr-2" placeholder="Mã-Tên kế hoạch"
                                                        [(ngModel)]="keywordRequests" (change)="onChangeKeyWordRequests()">
                                                </div>
                                                <div class="form-group">
                                                    <app-month-picker typePicker="year" (chooseYearE)="yearSelectedRequests($event)">loading
                                                    </app-month-picker>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <table class="table table-hover" matSort (matSortChange)="sortData($event)">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <!-- Neu khong phai admin thi khong hien thi checkbox -->
                                                    <!-- <mat-icon class="custom-m-top">
                                                        <mat-checkbox class="example-margin" [(ngModel)]="completedAll"
                                                            (change)="oncheckboxAll($event.checked)"></mat-checkbox>
                                                    </mat-icon> -->
                                                </th>
                                                <th>STT</th>
                                                <th mat-sort-header="code">Mã kế hoạch</th>
                                                <th mat-sort-header="name">Tên kế hoạch</th>
                                                <th class="text-center">Số lượng khóa học</th>
                                                <th class="text-center">Số lượng học viên</th>
                                                <th>Ngày tạo</th>
                                                <th>Ngày cập nhật</th>
                                                <th>Người tạo</th>
                                                <th>Người cập nhật</th>
                                                <th class="text-center">Năm kế hoạch</th>
                                                <th class="text-center">Tổng chi phí (VNĐ)</th>
                                                <th class="text-center" *ngIf="!isAdmin">ND yêu cầu</th>
                                                <th class="text-center" >ND phê duyệt/Từ chối</th>
                                                <th class="text-center" >Trạng thái</th>
                                                <th class="text-center">Thao tác</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of departmentListRequests; let countPosition = index; ">
                                                <td>
                                                    <ng-template>
                                                        <mat-icon class="mt-1">
                                                            <mat-checkbox [(ngModel)]="item.completed"
                                                                (change)="oncheckboxItem(item.id, $event.checked)"
                                                                class="example-margin"></mat-checkbox>
                                                        </mat-icon>
                                                    </ng-template>
                                                </td>
                                                <td [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{(pageIndex - 1)*pageSize + countPosition + 1}}</td>
                                                <td [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''"> {{item.code}}</td>
                                                <td [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{item.name}}</td>
                                                <td class="text-center" [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{item.numbercourse}}</td>
                                                <td class="text-center" [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{item.numberstudent}}</td>
                                                <td [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{getDateFromUnix(item.createdat) | date:'dd/MM/yyyy' }}</td>
                                                <td [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{getDateFromUnix(item.updatedat) | date:'dd/MM/yyyy' }}</td>
                                                <td [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{item.fullname}}</td>
                                                <td [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{item.updateduser}}</td>
                                                <td class="text-center" [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{subYear(item.code)}}</td>
                                                <td class="text-center" [ngClass]="item.unsatisfactory == 1 ? 'text-danger':''">{{showCost(item.totalcost)}}</td>
                                                <td class="text-center" *ngIf="!isAdmin">
                                                    <span  matTooltip="{{item.requestcontent}}"
                                                    matTooltipClass="tooltip-red"> {{item.requestcontent?.length <= 40 ? item.requestcontent : (item.requestcontent | slice:0:40) + '...' }}</span>
                                                  </td>
                                                <td class="text-center" >
                                                  <span  matTooltip="{{item.responsecontent}}"
                                                  matTooltipClass="tooltip-red"> {{item.responsecontent?.length <= 40 ? item.responsecontent : (item.responsecontent | slice:0:40) + '...' }}</span>
                                                </td>
                                                <td class="text-center" >
                                                    <span class="badge badge-warning" matTooltip="Đang chờ" *ngIf="item.status ==1">Đang chờ</span>
                                                    <span class="badge badge-primary"  matTooltip="Đã phê duyệt" *ngIf="item.status ==2">Đã phê duyệt</span>
                                                    <span class="badge badge-ct"  matTooltip="Đã từ chối" *ngIf="item.status ==3">Đã từ chối</span>
                                                </td>
                                                <td class="project-actions text-center" >
                                                    <button *ngIf="item.status != 2 " type="button" class="btn btn-default btn-sm mr-1" matTooltip="Xem chi tiết"
                                                        matTooltipClass="tooltip-red" (click)="goToDetail(item.planid)"><i class="fas fa-eye"></i></button>
                                                    <button *ngIf="item.status == 2" type="button" (click)="goToDetail(item.planid)"
                                                        class="btn btn-default btn-sm mr-1" matTooltip="Sửa" matTooltipClass="tooltip-red">
                                                        <i class="fas fa-edit"></i>
                                                    </button>
                                                    <!-- <button *ngIf="!isAdmin" type="button" (click)="deleteTrainingPlan(item.id)"
                                                        class="btn btn-default btn-sm mr-1" matTooltip="Xóa" matTooltipClass="tooltip-red">
                                                        <i class="fas fa-trash"></i>
                                                    </button> -->
                                                    <button type="button" mattooltip="" *ngIf="item.status == null" (click)="sendRequest(item)" mattooltipclass="tooltip-red" class="btn btn-default btn-sm mr-1" >
                                                        <i  class="fas fa-question"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br />
                                    <p *ngIf="departmentList?.length === 0" class="text-center">{{
                                        'common.no_search_result' | translate}}</p>
                                </div>

                                <div class="card-footer text-center">
                                    <div class="row">
                                        <mat-paginator showFirstLastButtons [length]="totalRecord" [pageSize]="pageSize"
                                            [pageIndex]="pageIndex - 1" (page)="changePage($event)" [hidePageSize]="false"
                                            [pageSizeOptions]="pageSizeOptions">
                                        </mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab act *ngIf="false">
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon">book</mat-icon>
                                Danh sách kế hoạch đào tạo nội bộ
                            </ng-template>
                            <div class="card-body">

                                <!-- <hr> -->
                                <div class="row mb-2">
                                    <div class="col-7">
                                        <h6 class="mt-3">Danh sách kế hoạch đào tạo</h6>
                                        <!-- Neu khong phai admin thi khong tao/ xoa department -->
                                        <button type="button"  class="btn btn-primary btn-lg mr-1" matTooltipClass="tooltip-red"
                                            (click)="goToCreateNB()" *ngIf="canEdit"><i class="fas fa-plus mr-1"></i>Import Kế hoạch</button>
                                            <button type="button" class="btn btn-secondary btn-lg mr-1" matTooltipClass="tooltip-red"
                                            (click)="goToPlanDepartment()"  *ngIf="isReviewerPlan">Kế hoạch của đơn vị khác</button>
                                    </div>
                                    <!--Search -->
                                    <div class="col-5">
                                    <div class="row">
                                        <div class="col-7 mt-2">
                                            <div class="form-inline float-right" role="form">
                                                <div class="form-group">
                                                    <label class="mr-2">Tìm kiếm</label>
                                                    <input type="search"
                                                        class="form-control form-control mr-2" placeholder="Mã-Tên kế hoạch"
                                                        [(ngModel)]="keywordNB" (change)="onChangeKeyWordNB()">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-5 mt-2">
                                            <app-month-picker typePicker="year" (chooseYearE)="yearSelectedNB($event)">loading
                                            </app-month-picker>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div>
                                    <table class="table table-hover" matSort (matSortChange)="sortData($event)">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <!-- Neu khong phai admin thi khong hien thi checkbox -->
                                                    <!-- <mat-icon class="custom-m-top">
                                                        <mat-checkbox class="example-margin" [(ngModel)]="completedAll"
                                                            (change)="oncheckboxAll($event.checked)"></mat-checkbox>
                                                    </mat-icon> -->
                                                </th>
                                                <th>STT</th>
                                                <th mat-sort-header="code">Mã kế hoạch</th>
                                                <th mat-sort-header="name">Tên kế hoạch</th>
                                                <th class="text-center">Số lượng khóa học</th>
                                                <th class="text-center">Số lượng học viên</th>
                                                <th>Ngày tạo</th>
                                                <th>Ngày cập nhật</th>
                                                <th>Người tạo</th>
                                                <th>Người cập nhật</th>
                                                <th class="text-center">Năm kế hoạch</th>
                                                <th class="text-center">Tổng chi phí (VNĐ)</th>
                                                <th class="text-center">Thao tác</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of departmentListNB; let countPosition = index; ">
                                                <td>
                                                    <ng-template>
                                                        <mat-icon class="mt-1">
                                                            <mat-checkbox [(ngModel)]="item.completed"
                                                                (change)="oncheckboxItem(item.id, $event.checked)"
                                                                class="example-margin"></mat-checkbox>
                                                        </mat-icon>
                                                    </ng-template>
                                                </td>
                                                <td>{{(pageIndex - 1)*pageSize + countPosition + 1}}</td>
                                                <td>{{item.code}}</td>
                                                <td>{{item.name}}</td>
                                                <td class="text-center">{{item.numbercourse}}</td>
                                                <td class="text-center">{{item.numberstudent}}</td>
                                                <td>{{getDateFromUnix(item.createdat) | date:'dd/MM/yyyy' }}</td>
                                                <td>{{getDateFromUnix(item.updatedat) | date:'dd/MM/yyyy' }}</td>
                                                <td>{{item.fullname}}</td>
                                                <td>{{item.updateduser}}</td>
                                                <td class="text-center">{{subYear(item.code)}}</td>
                                                <td class="text-center">{{showCost(item.totalcost)}}</td>
                                                <td class="project-actions text-center">
                                                    <button type="button" class="btn btn-default btn-sm mr-1" matTooltip="Xem chi tiết"
                                                        matTooltipClass="tooltip-red" (click)="goToDetail(item.id)"><i class="fas fa-eye"></i></button>
                                                    <button *ngIf="!isAdmin" type="button" (click)="deleteTrainingPlan(item.id)"
                                                        class="btn btn-default btn-sm mr-1" matTooltip="Xóa" matTooltipClass="tooltip-red">
                                                        <i class="fas fa-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br />
                                    <p *ngIf="departmentList?.length === 0" class="text-center">{{
                                        'common.no_search_result' | translate}}</p>
                                </div>

                                <div class="card-footer text-center">
                                    <div class="row">
                                        <mat-paginator showFirstLastButtons [length]="totalRecord" [pageSize]="pageSize"
                                            [pageIndex]="pageIndex - 1" (page)="changePage($event)" [hidePageSize]="false"
                                            [pageSizeOptions]="pageSizeOptions">
                                        </mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </section>
</div>
