<div class="content-wrapper" style="min-height: 928.604px">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Quản lý tiêu chí đánh giá</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#" routerLink="/admin">CMS</a></li>
            <li class="breadcrumb-item active">Tiêu chí đánh giá</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="container-fluid">
      <mat-tab-group dynamicHeight selectedIndex="0">
          <mat-tab>
              <ng-template mat-tab-label>
                  <mat-icon class="example-tab-icon">infor</mat-icon>
                  Ngân hàng tiêu chí đánh giá
              </ng-template>
              <div class="card-body">
                <div class="col-12">
                  <div class="card card-default">
                    <div class="card-header">
                      <!-- <h3 class="card-title">Danh sách câu hỏi mới</h3> -->
                      <div class="row">
                        <div class="col-6">
                          <div class="form-inline">
                            <button type="button" (click)="onCreatedCriteria()" class="btn btn-primary btn-flat float-left m-2"><i
                                class="fas fa-plus mr-2"></i> <a class="text-white">Tạo tiêu chí</a></button>
                            <button type="button" data-toggle="modal" class="btn btn-default btn-lg mr-1"
                              [disabled]="criIdsChecked?.length === 0" (click)="onDeleteCri(criIdsChecked)" matTooltip="Xóa"
                              matTooltipClass="tooltip-red">
                              <i class="fas fa-trash mr-1"></i>
                            </button>
                            <span>Số tiêu chí đã chọn: {{criIdsChecked?.length}}</span>
                          </div>
                        </div>
                        <div class="col-6">
                          <form class="form-inline float-right">
                            <div class="form-group m-2">
                              <label for="" class="mr-2">Tìm kiếm</label>
                              <input type="search" style="width:250px;" (change)="onSearch($event.target.value)"
                                class="form-control form-control-sm mr-2" id="" placeholder="Nhập từ khóa" />
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="card-body" style="display: block">
                      <div class="col-12 table-responsive">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th>
                                <mat-checkbox class="example-margin" [(ngModel)]="checkBoxAllCriDelete"
                                  (change)="checkAllUser($event.checked)">
                                </mat-checkbox>
                              </th>
                              <th>STT</th>
                              <th>Mã tiêu chí</th>
                              <th>Nội dung</th>
                              <th>Mô tả</th>
                              <th>Thao tác</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let cri of listCriteria; let i = index">
                              <td>
                                <mat-icon class="mt-1">
                                  <mat-checkbox class="example-margin" [(ngModel)]="cri.selected"
                                    (change)="checkSelection(cri.id, $event.checked)">
                                  </mat-checkbox>
                                </mat-icon>
                              </td>
                              <td>{{(pageIndex - 1) * pageSize + i + 1}}</td>
                              <td>{{ cri.code }}</td>
                              <td>{{ cri.name }}</td>
                              <td>{{ cri.description }}</td>
                              <td>
                                <button type="button" class="btn btn-default btn-sm mr-1" matTooltip="Chỉnh sửa"
                                  (click)="onUpdateCriteria(cri)" matTooltipClass="tooltip-red">
                                  <i class="fas fa-edit">
                                  </i>
                                </button>
                                <button type="button" class="btn btn-default btn-sm mr-1" matTooltip="Xóa"
                                  (click)="onDeleteCri([cri.id])" matTooltipClass="tooltip-red">
                                  <i class="fas fa-trash">
                                  </i>
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <br />
                        <p *ngIf="listCriteria?.length === 0" class="text-center">{{ 'common.no_search_result' | translate}}</p>
                      </div>
                      <div class="card-footer text-center">
                        <div class="row">
                          <mat-paginator showFirstLastButtons #paginator [length]="totalRecord" [pageIndex]="pageIndex-1"
                            [pageSize]="pageSize" (page)="changePage($event)" [hidePageSize]="false"
                            [pageSizeOptions]="pageSizeOptions">
                          </mat-paginator>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </mat-tab>
           <mat-tab act>
              <ng-template mat-tab-label>
                  <mat-icon class="example-tab-icon">book</mat-icon>
                  Tiêu chí đánh giá khóa học
              </ng-template>
              <div class="card-body">
                <div class="card-body">
                  <div class="col-12">
                      <div class="card card-default">
                        <app-course-criteria>
                        </app-course-criteria>
                      </div>
                  </div>
                </div>
              </div>
          </mat-tab>
      </mat-tab-group>
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
