<div class="modal-header">
    <h5 class="modal-title">Tìm kiếm nâng cao</h5>
    <button type="button" class="btn btn-default" data-card-widget="collapse" (click)="activeModal.dismiss('close')"><i
            class="fas fa-times"></i>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Lựa chọn đơn vị</label>
                <!-- <select name="departmentid" class="form-control select2" style="width: 100%;" [(ngModel)]="departmentId">
                    <option value="null">{{ 'user.choose_department' | translate }}</option>
                    <option *ngFor="let item of departmentMap | keyvalue" [value]="item.key">{{item.value}}</option>
                </select> -->

                <ng-multiselect-dropdown
                    [placeholder]="'user.choose_department' | translate"
                    [data]="departmentMap"
                    [(ngModel)]="departmentData"
                    [settings]="dropdownSettings"
                    (onDeSelect)="onDeSelectDepartment($event)"
                    (onDeSelectAll)="onDeSelectAllDepartment()"
                ></ng-multiselect-dropdown>
                <!-- <ng-select class="form-control select2 custom-select-box"
                    [placeholder]="'user.choose_department' | translate" [items]="departmentMap | keyvalue"
                    bindLabel="value" bindValue="key" [(ngModel)]="departmentId" [editableSearchTerm]="true">
                    <ng-template ng-option-tmp let-item="item">
                        <div [title]="item.value">{{item.value}}</div>
                    </ng-template>
                </ng-select> -->
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>Lựa chọn đơn vị sáp nhập</label>
                <ng-multiselect-dropdown
                    [placeholder]="'-Chọn đơn vị sáp nhập-'"
                    [data]="departmentMergeMap"
                    [(ngModel)]="departmentMergeData"
                    [settings]="dropdownSettings"
                    (onDeSelect)="onDeSelectDepartmentMerge($event)"
                    (onDeSelectAll)="onDeSelectAllDepartmentMerge()"
                ></ng-multiselect-dropdown>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>Lựa chọn mã năng lực</label>
                <ng-multiselect-dropdown
                    [placeholder]="'Chọn mã năng lực'"
                    [settings]="dropdownSettings"
                    [data]="listCategory"
                    [(ngModel)]="selectedCategory"
                    (onSelect)="onSelectCategoryEvent()"
                    (onSelectAll)="onSelectCategoryEvent()"
                    (onDeSelect)="onSelectCategoryEvent()"
                    (onDeSelectAll)="onSelectCategoryEvent()"
                    (onDropDownClose)="changeCategory()">
                </ng-multiselect-dropdown>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label for="">Chọn năm</label>
                <app-month-picker   inputValue="{{inputYear}}" typePicker="year" (chooseYearE)="yearSelected($event)" >loading</app-month-picker>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label for="">Xếp hạng</label>
                <input type="number" min="0" [(ngModel)]="top" class="form-control" placeholder="Nhập hạng"  >
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label for="">Tổng điểm</label>
                <input type="number" min="0" [(ngModel)]="grade"  class="form-control" placeholder="Nhập điểm" >
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="resetSearch($event)">Đặt lại</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('close')">Đóng</button>
    <button type="button" class="btn btn-primary" (click)="onSearchCourses()">Tìm kiếm</button>
</div>