::ng-deep .cdk-overlay-container {
    position: fixed !important;
    z-index: 1200 !important; /* set value you need */
  }
  ::ng-deep .modal-open .modal {
    overflow-x: hidden;
    overflow-y: inherit !important
  }
  ::ng-deep  .mat-form-field-infix {
    display: flex!important;
    align-items: center!important;
    width: 100% !important;
}