<section class="inner_page_breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 text-center">
        <div class="breadcrumb_content mt-2">
          <h4 class="breadcrumb_title">ĐÁNH GIÁ HỌC VIÊN</h4>
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a routerLink="/home">Trang chủ</a>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<main>
  <section id="tabs" class="p-0">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
              <a style="font-size: 14pt;" class="nav-item nav-link active" id="nav-course-tab" data-toggle="tab" href="#nav-course" role="tab"
                aria-controls="nav-course" aria-selected="false"><i class="icofont-paper"></i> Đánh giá theo khóa học</a>
              <a style="font-size: 14pt;" class="nav-item nav-link" id="nav-way-tab" data-toggle="tab" href="#nav-way" role="tab"
                aria-controls="nav-way" aria-selected="false">
                <i class="icofont-paper"></i> Đánh giá theo lộ trình</a>
            </div>
          </nav>
          <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade" [ngClass]="{
                  'active': openTab==1,
                   'show': openTab==1}" id="nav-course" role="tabpanel" aria-labelledby="nav-course-tab">
              <app-course-assessment></app-course-assessment>
            </div>
            <div class="tab-pane fade" id="nav-way" role="tabpanel" aria-labelledby="nav-way-tab">
              <div class="container pt-4">
                <div class="row">
                  <div class="box-object col-lg-12 col-md-12">
                    <div class="card">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-6"></div>
                          <div class="col-6">
                            <div class="d-flex justify-content-end align-items-center float-right">
                              <div class="col-auto">
                                <input type="text" [(ngModel)]="keyword" (change)="onChangeSearch($event)"
                                  placeholder="Tên học viên" class="form-control">
                              </div>
                              <div class="col-auto">
                                <select class="form-control" (change)="onChangeStatus($event)">
                                  <option value=""> Toàn bộ </option>
                                  <option value="0"> Chưa đánh giá </option>
                                  <option value="1"> Đã đánh giá</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12 col-md-12 table-responsive ">
                            <table class="table mt-3 table-hover table-bordered">
                              <thead>
                                <tr>
                                  <th>STT</th>
                                  <th>Họ tên</th>
                                  <th>Email</th>
                                  <th>Đơn vị</th>
                                  <th>Lộ trình chức danh</th>
                                  <th>Trạng thái</th>
                                  <th>Thao tác</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor=" let student of listStudent; let i= index">
                                  <td>{{i +1}}</td>
                                  <td>{{student.fullname}}</td>
                                  <td>{{ student.email }}</td>
                                  <td>{{ student.department }}</td>
                                  <td>{{ student.positionname }}</td>
                                  <td><span
                                      class="badge badge-{{student.evaluationid ? 'success' : 'secondary'}}">{{student.evaluationid
                                      ? 'Đã đánh giá' : 'Chưa đánh giá'}}</span></td>
                                  <td>
                                    <button *ngIf="!student.evaluationid" class="btn btn-sm btn-default"
                                      (click)="openEvaluationForm(student)" matTooltip="Đánh giá"
                                      matTooltipClass="tooltip-red"><i class="far fa-clipboard"></i></button>
                                    <button *ngIf="student.evaluationid" class="btn btn-sm btn-default"
                                      (click)="openEvaluationForm(student)" matTooltip="Xem đánh giá"
                                      matTooltipClass="tooltip-red"><i class="far fa-eye"></i></button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer text-center">
                        <div class="row">
                          <mat-paginator showFirstLastButtons [length]="totalRecord" [pageSize]="pageSize"
                            [pageIndex]="pageIndex - 1" (page)="changePage($event)" [hidePageSize]="false"
                            [pageSizeOptions]="pageSizeOptions">
                          </mat-paginator>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
