/*** timeline ***/
.timeline {
  list-style: none;
  padding: 5px 0 5px;
  position: relative;
}
.timeline h6 {
  margin-bottom: 0px;
  font-size: 15px;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #eeeeee;
  left: 49%;
  margin-left: -1.5px;
  background: rgb(40, 105, 204);
  background: -moz-linear-gradient(
    top,
    rgba(40, 105, 204, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(40, 105, 204, 0) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(30, 87, 153, 1)),
    color-stop(100%, rgba(125, 185, 232, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(40, 105, 204, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(40, 105, 204, 0) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(40, 105, 204, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(40, 105, 204, 0) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(40, 105, 204, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(40, 105, 204, 0) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(40, 105, 204, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(40, 105, 204, 0) 100%
  );
}
.timeline > li {
  margin-bottom: 50px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 45%;
  text-align: left;
  float: right;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  padding: 15px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 7px;
  display: inline-block;
  border-top: 7px solid transparent;
  border-left: 7px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 7px solid transparent;
  content: " ";
  border-left-width: 0;
  border-right-width: 10px;
  left: -10px;
  right: auto;
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 7px;
  display: inline-block;
  border-top: 7px solid transparent;
  border-left: 7px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 7px solid transparent;
  content: " ";
  border-left-width: 0;
  border-right-width: 10px;
  left: -10px;
  right: auto;
}
.timeline > li > .timeline-panel:hover {
  background-color: #d0e9ff;
  cursor: pointer;
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 35px;
  height: 35px;
  line-height: 34px;
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 8px;
  left: 50%;
  margin-left: -28px;
  background-color: #f56363;
  z-index: 8;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 12px;
  border-right-width: 0px;
  left: auto;
  right: -12px;
}
.timeline-inverted {
  padding-top: 5px;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 12px;
  border-right-width: 0px;
  left: auto;
  right: -12px;
}
.timeline-heading {
  color: #000;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
  font-size: 13px;
  color: #777;
}
.timeline-body > p + p {
  margin-top: 5px;
}
.overlay {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
}

.timeline .date-info {
  position: absolute;
  top: -2px;
  left: 40%;
  margin-left: -28px;
  width: 100px;
}
.timeline-inverted .date-info {
  left: 51%;
}

.date-info .month {
  position: absolute;
  top: 10px;
  font-size: 14px;
  left: 70px;
}
.date-info .year {
  position: absolute;
  top: 23px;
  font-size: 14px;
  left: 70px;
}
.date-info .day {
  font-size: 35px;
}
@media (max-width: 768px) {
  .timeline:before {
    left: 0.9%;
  }
  .timeline > li > .timeline-badge {
    left: 2.2%;
  }
  .timeline > li > .timeline-panel {
    width: 94%;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
  }

  .timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 10px;
    left: -10px;
    right: auto;
  }
  .timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 10px;
    left: -10px;
    right: auto;
  }
  .date-info {
    position: absolute;
    top: 1px;
    left: 90%;
    margin-left: -24px;
    width: auto;
  }
  .date-info .day {
    font-size: 12px;
  }
  .date-info .month,
  .date-info .year {
    position: initial;
    font-size: 12px;
  }
}
.teamSelector {
  cursor: pointer;
}
.fix-position {
  margin: auto;
}
::ng-deep p {
  font-size: 11pt !important;
  color: #263238 !important;
}
h5 {
  color: #0563b1 !important;
}
::ng-deep .timeline > div > .fa, .timeline > div > .fas, .timeline > div > .far, .timeline > div > .fab, .timeline > div > .glyphicon, .timeline > div > .ion {
  background: #b1050500 !important;
  border-radius: 50%;
  font-size: 15px;
  height: 30px;
  left: 2px !important;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 3px !important;
  width: 30px;
}
::ng-deep .mat-expansion-panel-body {
  padding: 0 0px 0px !important;
}
/* .mat-expansion-panel-header.mat-expanded {
  border-top: solid 3px #0563b1;
} */
::ng-deep .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {

  height: 60px !important;
}

.mat-list-single-selected-option, .mat-list-single-selected-option:hover, .mat-list-single-selected-option:focus {
  background-color: var(--primary-color, #4a90e2) !important;
  color:white !important
}
.font-size-20 {
  font-size: 20pt;
}
.overflow-auto{
  overflow: auto;
  width: 100%;
  word-break: break-all;
}
table th {
  background: #E3F2FD;
  color: #615e5e;
}