<div class="modal-header">
    <h5 class="modal-title text-center" >Thông tin mã QR</h5>
    <button type="button" class="btn btn-tool" data-card-widget="collapse" (click)="activeModal.dismiss()"><i
        class="fas fa-times"></i>
    </button>
</div>
<div class="modal-body px-4 py-3">
    <qrcode #parent [qrdata]="qrdata" [size]="256" [level]="'M'"></qrcode>
    <div class=" text-center w-100">
        <button type="button" data-dismiss="modal" class="btn ml-1 btn-primary mr-2 mb-3" (click)="saveAsImage(parent)">Tải mã QR</button>
    </div>
</div>
