<section class="inner_page_breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 text-center">
          <div class="breadcrumb_content mt-4">
            <h4 class="breadcrumb_title">{{examName}}</h4>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="/home">Trang chủ</a>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>

  <main *ngIf="permission; else notPermission" style="height: 65vh;">
    <!---Phan noi dung bai hoc-->
    <section>
        <div class="container">

              <div class="row">
                <div class="col-12 col-sm-6 col-md-3">
                  <div class="info-box">
                    <!-- <span class="info-box-icon bg-info opactity_bg"><i class="fas fa-pen-fancy"></i></span> -->

                    <div class="info-box-content">
                      <span class="info-box-text">Số môn thi <small></small></span>
                      <h2 *ngIf="modules" class="info-box-number text-primary">
                       {{modules.length}}
                      </h2>
                    </div>
                    <!-- /.info-box-content -->
                  </div>
                  <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-12 col-sm-6 col-md-3">
                  <div class="info-box mb-3">
                    <!-- <span class="info-box-icon bg-success opactity_bg"><i class="fas fa-pen-fancy"></i></span> -->

                    <div class="info-box-content">
                      <span class="info-box-text">Môn thi qua</span>
                      <h2 class="info-box-number text-success">{{countQuizPass}}</h2>
                    </div>
                    <!-- /.info-box-content -->
                  </div>
                  <!-- /.info-box -->
                </div>
                <!-- /.col -->

                <!-- fix for small devices only -->
                <div class="clearfix hidden-md-up"></div>

                <div class="col-12 col-sm-6 col-md-3">
                  <div class="info-box mb-3">
                    <!-- <span class="info-box-icon bg-danger opactity_bg "><i class="fas fa-pen-fancy"></i></span> -->

                    <div class="info-box-content">
                      <span class="info-box-text">Môn thi chưa qua</span>
                      <h2 class="info-box-number text-danger">{{countQuizFail}}</h2>
                    </div>
                    <!-- /.info-box-content -->
                  </div>
                  <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-12 col-sm-6 col-md-3">
                  <div class="info-box mb-3">
                    <!-- <span class="info-box-icon bg-gray opactity_bg"><i class="fas fa-pen-fancy"></i></span> -->

                    <div class="info-box-content">
                      <span class="info-box-text">Môn chưa thi</span>
                      <h2 class="info-box-number">{{countQuizInComplete}}</h2>
                    </div>
                    <!-- /.info-box-content -->
                  </div>
                  <!-- /.info-box -->
                </div>
                <!-- /.col -->
              </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 table-responsive ">
                    <table class="table mt-3 table-hover">
                        <thead>
                            <tr class="bg-light">
                                <th >STT</th>
                                <th >Môn thi</th>
                                <th >Bắt đầu</th>
                                <th >Kết thúc</th>
                                <th class="text-center">Thời gian(phút)</th>
                                <th class="text-center">Số lần làm bài</th>
                                <th class="text-center">Cách thức lấy điểm</th>
                                <th >Điểm</th>
                                <th >Trạng thái</th>
                                <th >Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of modules; let i = index;">
                          <td>{{i+1}}</td>
                          <td  style="width:450px;">{{item.name}}</td>
                          <td>{{getDateFromUnix(item.timeopen) | date:'dd/MM/yyyy'}}</td>
                          <td>{{getDateFromUnix(item.timeclose )| date:'dd/MM/yyyy'}}</td>
                          <td class="text-center">{{item.timelimit/60}}</td>
                          <td class="text-center"> {{item.attempts}}</td>
                          <td class="text-center">{{item.grademethodName | translate}}</td>
                          <td class="text-center">{{item.isshowgrade == 1 ? (item.sumgrades+'/'+item.gradequiz) : ''}}</td>
                          <td class="text-center"><span class="badge badge-success">{{ item.isshowgrade == 1 ? (item.completionStateName | translate ) : ''}}</span></td>
                          <td class="text-center"><button [disabled]="finished" (click)="localStore(item.name, item.overduehandling)" type="button" class="btn btn-sm btn-primary" [routerLink]="['/exam-details',item.instance]">Vào thi</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
  </main>
  <ng-template  #notPermission>
    <div class="container">
      <div class="col-12 text-center border p-3 mt-2">
        <img src="/assets/graduation-cap.svg" style="height: 25vh;" alt="">
        <h5 class="mt-3"><strong>{{'error.cannotviewcourse' | translate}}</strong></h5>
      </div>
    </div>
  </ng-template>
  <!-- End #main -->

