/* .tag-badge {
    padding: 4px;
    border-radius: 4px;
} */
.info-evluation {
    font-size: 14px;
}
.stu-info, .ad-info {
    width: 45%;
}
.info-user .text-value {
    font-weight: 500;
}
.info-evluation .table .thead-light th {
    font-weight: 500 !important;
}
.cust-btn {
    width: 100px !important;
}
.label-option-yn {
    width: 120px;
    /* height: 50px; */
    padding: 15px;
    margin-bottom: 0 !important;
}
.label-option-yn .option-evalua {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
  }