
<div class="modal-header" style="background-color:#007bff; height: 50px;">
    <h5 class="modal-title" style="color: white; text-align: center;" >Thông tin mã QR</h5>
    <button type="button" style="color: white;" class="btn btn-tool" data-card-widget="collapse" (click)="activeModal.dismiss()"><i
        class="fas fa-times"></i>
    </button>
</div>
<div class="modal-body px-4 py-3">
    <p>Bạn đang khởi tạo mã QR code chứa các thông tin :</p>
    <div class="d-flex w-100 mb-3">
        <label  class="control-label w-20 fullname">Mã khóa học</label>
        <div class="input-qr">{{course.shortname}}</div>
    </div>
    <div class="d-flex  w-100 mb-3">
        <label  class="control-label w-20">Tên khóa học</label>
        <div class="input-qr">{{course.fullname}}</div>
    </div>
    <div class="d-flex  w-100 mb-3 ">
        <label  class="control-label w-20">Ngày khởi tạo</label>
        <div class="input-qr"> {{date | date:'dd/MM/yyyy'}}</div>
    </div>
    <div class=" text-center w-100">
        <button style="width:150px"  type="button" class="btn btn-primary" (click)="openCourseDetailQR(course)">OK</button> &nbsp; &nbsp;
        <button style="width:150px" type="button" data-dismiss="modal" class="btn ml-1 btn-secondary mr-2" (click)="activeModal.dismiss()" >Hủy</button>
    </div>
</div>

