.show{opacity:1; display:block; background-color: rgba(0,0,0,.2);}
.arrow-header{align-self: stretch; justify-content: space-between;}
.list-item:hover{background-color: #ddd;}
.bsa{border:1px solid #ddd;border-radius: 5px;cursor: pointer;}
.add-document{border-bottom:2px solid#ddd;}
.add-icon {border-radius: 50%;color: blue;border: 1px solid blue;}
.custom-input{height: 32px;border:1px solid #ddd;border-right: 0px;outline: steelblue;}
.custom-dr-buttom {border:1px solid#ddd;}
.asc {align-self: center;}
.remove-icon{color: tomato;border: 1px solid tomato;border-radius: 50%}
.modal-header{position: relative;}
.closeForm{border-radius: 50%; color: tomato; background-color: #fff; border:1px solid tomato; position: absolute; right: 0; top: 50%; transform: translateY(-50%);}
.body-content{
    max-height: 380px;
    overflow-y: auto;
}
::ng-deep .cdk-overlay-container{
    z-index: 10000!important;
}