<div class="modal-header position-relative align-items-center bg-default">
  <ul class="nav nav-pills">
    <li classs="nav-item">
      <button [class]="'btn nav-link btn-light mr-3 ' + (badgeActive == 1 ? ' active' : '')"
        (click)="onChangeContent(1)">Chứng chỉ nội bộ</button>
    </li>
    <li classs="nav-item">
      <button [class]="'btn nav-link btn-light' + (badgeActive == 2 ? ' active' : '')"
        (click)="onChangeContent(2)">Chứng chỉ ngoài</button>
    </li>
  </ul>
  <button class="btn btn-tool btn_close" (click)="closeForm()">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-8"></div>
    <div class="col-4">
      <div class="filter asc float-right">
        <div class="input-group">
          <input type="text" class="form-control-sm custom-input" placeholder="Nhập từ khoá tìm kiếm"
            aria-label="Text input with segmented dropdown button" [(ngModel)]="searchData.search"
            (change)="onChangeKeyWord()">
          <div class="input-group-append">
            <button type="button"
              class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split custom-dr-buttom"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">
                <i class="fas fa-search"></i>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="body-content mt-3">
    <table class="table table-hover" *ngIf="badgeActive == 1">
      <thead>
        <tr>
          <th>
            <mat-icon class="custom-m-top">
              <mat-checkbox class="example-margin" [(ngModel)]="completeAll" (change)="oncheckboxAll($event.checked)">
              </mat-checkbox>
            </mat-icon>
          </th>
          <th>STT</th>
          <th>Tên chứng chỉ</th>
          <th>Mô tả</th>
          <th>HSD (ngày)</th>
          <th>Ngày hết hạn</th>
          <th>Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let badge of dataTable; let i=index">
          <td>
            <mat-icon class="mt-1">
              <mat-checkbox [(ngModel)]="badge.completed" (change)="oncheckboxItem(badge.id, $event.checked)"
                class="example-margin"></mat-checkbox>
            </mat-icon>
          </td>
          <td>{{(searchData.pageIndex - 1) * searchData.pageSize + i + 1}}</td>
          <td>{{badge.name}}</td>
          <td>{{limitString(badge?.description)}}</td>
          <td>{{(badge.expireperiod || badge.expiredate) ? convertDays(badge.expireperiod) : 'Vô thời hạn'}}</td>
          <td>{{getDateFromUnix(badge.expiredate) | date:'dd/MM/yyyy'}}</td>
          <td>
            <span class="badge" [ngClass]="getStatusBadge(badge.status).colorBtn">{{getStatusBadge(badge.status).name |
              translate}}</span>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Chứng chỉ ngoài -->
    <table class="table table-hover" *ngIf="badgeActive == 2">
      <thead>
        <tr>
          <th>
            <mat-icon class="custom-m-top">
              <mat-checkbox class="example-margin" [(ngModel)]="completeAll" (change)="oncheckboxAll($event.checked)">
              </mat-checkbox>
            </mat-icon>
          </th>
          <th>STT</th>
          <th>Tên chứng chỉ</th>
          <th>Mô tả</th>
          <th>HSD (ngày)</th>
          <th>Ngày hết hạn</th>
          <th>Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let badge of dataTable; let i=index">
          <td>
            <mat-icon class="mt-1">
              <mat-checkbox [(ngModel)]="badge.completed" (change)="oncheckboxItem(badge.id, $event.checked)"
                class="example-margin"></mat-checkbox>
            </mat-icon>
          </td>
          <td>{{(searchData.pageIndex - 1) * searchData.pageSize + i + 1}}</td>
          <td>{{badge.name}}</td>
          <td>{{limitString(badge?.description)}}</td>
          <td>{{(badge.expireperiod || badge.expiredate) ? convertDays(badge.expireperiod) : 'Vô thời hạn'}}</td>
          <td>{{getDateFromUnix(badge.expiredate) | date:'dd/MM/yyyy'}}</td>
          <td>
            <span class="badge" [ngClass]="getStatusBadge(badge.status).colorBtn">{{getStatusBadge(badge.status).name |
              translate}}</span>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="card-footer text-center">
      <div class="row">
        <mat-paginator showFirstLastButtons [length]="totalRecord" [pageSize]="searchData.pageSize"
          [pageIndex]="searchData.pageIndex-1" (page)="changePage($event)" [hidePageSize]="false"
          [pageSizeOptions]="pageSizeOptions">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer text-center">
  <button class="btn btn-action btn-secondary mr-1" (click)="closeForm()" type="button">Huỷ</button>
  <button type="button" class="btn btn-action btn-danger" (click)="submitForm()">Xác nhận</button>
</div>