<div class="content-wrapper" style="min-height: 928.604px">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Báo cáo Giảng viên nội bộ</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#" routerLink="/admin">CMS</a></li>
              <li class="breadcrumb-item active">Báo cáo GVNB</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
    <section class="content">
      <div class="container-fluid">
        <div class="col-12" *ngIf="isTeacher">
          <div class="card card-default">
            <div class="card-body" >
              <div class="row mt-3">
                <div class="col-md-7">
                  <form [formGroup]="searchFormGV">
                  <mat-form-field class="mr-2 col-5">
                    <input matInput [matDatepicker]="fromGV" #fromInputGV [max]="currentDate" placeholder="Từ ngày"
                      formControlName="startDateGV" (dateChange)="changeStartDateGV($event)">
                    <mat-icon *ngIf="searchTeacher.startDateGV" matDatepickerToggleIcon
                      (click)="clearDateGV($event, 'startDateGV')">clear</mat-icon>
                    <mat-datepicker-toggle matSuffix [for]="fromGV"></mat-datepicker-toggle>
                    <mat-datepicker #fromGV panelClass="example-month-picker">
                    </mat-datepicker>
                  </mat-form-field>
                  <mat-form-field class="test col-5">
                    <input matInput [matDatepicker]="toGV" #toInputGV [min]="searchTeacher.startDateGV" [max]="validYearGV"
                      placeholder="Đến ngày" formControlName="endDateGV"
                      (dateChange)="changeEndDateGV($event)">
                    <mat-icon *ngIf="searchTeacher.endDateGV" matDatepickerToggleIcon
                      (click)="clearDateGV($event, 'endDateGV')">clear</mat-icon>
                    <mat-datepicker-toggle matSuffix [for]="toGV"></mat-datepicker-toggle>
                    <mat-datepicker #toGV panelClass="example-month-picker">
                    </mat-datepicker>
                  </mat-form-field>  
                  </form>
                </div> 
                <div class="col-md-5 float-right ">
                  <button type="button" (click)="onExporGV()" class="btn btn-sm btn-success text-white float-right mt-2 ">Xuất báo cáo</button>
              </div>
              </div>
              <div class="col-12 table-responsive" [style.min-height]="height + 'px'">
                <table class="table table-hover table-bordered"  >
                  <thead>
                    <tr class="text-center">
                      <th>STT</th>
                      <th >Tên khóa học</th>
                      <th >Mã năng lực</th>
                      <th >Hình thức học</th>
                      <th >Thành phần</th>
                      <th >Số học viên hoàn thành khóa học</th>
                      <th >Số giờ</th>
                      <th >Đánh giá giảng viên</th>
                      <th >Đánh giá nội dung đào tạo</th>
                      <th >Đánh giá cấp độ 3</th>
                    </tr>
                  </thead>
                  <tbody >
                      <tr *ngFor="let item of listTeacherInternalGV;let i = index;">
                          <td>{{(searcherTeacher.pageIndexGV - 1) * searcherTeacher.pageSizeGV + i + 1}}</td>
                          <td>{{item.fullname}}</td>
                          <td class="text-center">{{item.categorycode}}</td>                      
                          <td [ngSwitch]="item.trainingtype" >
                            <span *ngSwitchCase="'OFFI'">Offline Inhouse</span>
                            <span *ngSwitchCase="'OFFP'">Offline Public</span>
                            <span *ngSwitchCase="'OFFE'">Offline nội bộ</span>
                            <span *ngSwitchCase="'ONLR'">Online video recorded learning</span>
                            <span *ngSwitchCase="'ONLL'">Online live learning zoom</span>
                          </td>
                          <td>{{item.positionname}}</td>
                          <td class="text-center">{{item.studentcomplete}}</td>
                          <td class="text-center">{{item.hours}}</td>
                          <td class="text-center">{{item.evaluationteacher}}</td>
                          <td class="text-center">{{item.evaluationcourse}}</td>
                          <td class="text-center">{{item.evaluationlevel3}}</td>
                      </tr>
                  </tbody>
                </table>
                <br />
                <p *ngIf="listTeacherInternalGV?.length === 0" class="text-center">{{ 'common.no_search_result' | translate}}</p>
              </div>
              <div class="card-footer text-center">
                <mat-paginator showFirstLastButtons
                  #paginator
                  [length]="totalRecordGV"
                  [pageIndex]="searcherTeacher.pageIndexGV-1"
                  [pageSize]="searcherTeacher.pageSizeGV"
                  (page)="changePageGV($event)"
                  [hidePageSize]="false"
                  [pageSizeOptions]="pageSizeOptionsGV">             
                </mat-paginator>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="!isTeacher">
          <mat-tab-group dynamicHeight selectedIndex="0" class="w-100">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">infor</mat-icon>
                    Báo cáo GVNB Đơn vị
                </ng-template>
                <div class="card-body">
                  <div class="card card-default">
                    <div class="card-header">
                      <div class="row mt-3">
                        <div class="col-md-4">
                            <div class="form-group" [style]="searchTeacher.startDateDV ||searchTeacher.endDateDV? 'margin-top:10px': ''">
                              <label  class="control-label w-20">Chọn đơn vị</label>
                              <ng-multiselect-dropdown class="input-qr"
                              [placeholder]="'Chọn đơn vị' | translate"
                              [data]="departmentMapDV"
                              [(ngModel)]="departmentDataDV"
                              [settings]="dropdownSettings"
                              (onSelect)="onSelectDepartmentDV()"
                              (onDeSelect)="onSelectDepartmentDV()"
                              (onDeSelectAll)="onSelectDepartmentDV()"
                              (onSelectAll)="onSelectDepartmentDV()"
                              (onDropDownClose)="changeDepartmentDV()"
                              >
                              </ng-multiselect-dropdown>
                            </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Lựa chọn mã năng lực</label>
                            <ng-multiselect-dropdown
                                [placeholder]="'Chọn mã năng lực'"
                                [settings]="dropdownSettings"
                                [data]="listCategory"
                                [(ngModel)]="selectedCategory"
                                (onSelect)="onSelectCategoryEvent()"
                                (onSelectAll)="onSelectCategoryEvent()"
                                (onDeSelect)="onSelectCategoryEvent()"
                                (onDeSelectAll)="onSelectCategoryEvent()"
                                (onDropDownClose)="changeCategory()">
                            </ng-multiselect-dropdown>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <label class="ml-2">Thời gian</label>
                          <form [formGroup]="searchFormDV">
                            <mat-form-field class="mr-2 col-md-5">
                              <input matInput [matDatepicker]="fromDV" #fromInputDV [max]="currentDate" placeholder="Từ ngày"
                                formControlName="startDateDV" (dateChange)="changeStartDateDV($event)">
                              <mat-icon *ngIf="searchTeacher.startDateDV" matDatepickerToggleIcon
                                (click)="clearDateDV($event, 'startDateDV')">clear</mat-icon>
                              <mat-datepicker-toggle matSuffix [for]="fromDV"></mat-datepicker-toggle>
                              <mat-datepicker #fromDV panelClass="example-month-picker">
                              </mat-datepicker>
                            </mat-form-field>
                            <mat-form-field class="col-md-5">
                              <input matInput [matDatepicker]="toDV" #toInputDV [min]="searchTeacher.startDateDV" [max]="validYearDV"
                                placeholder="Đến ngày " formControlName="endDateDV"
                                (dateChange)="changeEndDateDV($event)">
                              <mat-icon *ngIf="searchTeacher.endDateDV" matDatepickerToggleIcon
                                (click)="clearDateDV($event, 'endDateDV')">clear</mat-icon>
                              <mat-datepicker-toggle matSuffix [for]="toDV"></mat-datepicker-toggle>
                              <mat-datepicker #toDV panelClass="example-month-picker">
                              </mat-datepicker>
                            </mat-form-field>  
                          </form>
                        </div>
                      </div>
                      <div class="row justify-content-end">
                        <div class="col-md-3">
                          <button type="button" (click)="onExporDV()" class="btn btn-sm btn-success text-white float-right mt-2 ">Xuất báo cáo</button>
                        </div>
                      </div>
                    </div>
                    <div class="card-body" >
                      <div class="col-12 table-responsive" [style.min-height]="height + 'px'">
                        <table class="table table-hover table-bordered"  >
                          <thead>
                            <tr class="text-center">
                              <th>STT</th>
                              <th >Tên đơn vị</th>
                              <th >Tên GVNB</th>
                              <th >Số lớp đã dậy trong năm</th>
                              <th >Số giờ đã dậy trong năm</th>
                              <th >Số học viên hoàn thành khóa học</th>
                              <th >Điểm đánh giá trung bình HV</th>
                              <th >Quy ra điểm</th>
                              <th >Đánh giá cấp độ 3</th>
                            </tr>
                          </thead>
                          <tbody >
                              <tr *ngFor="let item of listTeacherInternalGV; let i = index;" >
                                  <td>{{(searcherTeacher.pageIndexGV - 1) * searcherTeacher.pageSizeGV + i + 1}}</td>
                                  <td >{{item.name}}</td>
                                  <td >{{item.fullname}}</td>                                
                                  <td  class="text-center">{{item.numbercourse}}</td>
                                  <td  class="text-center">{{item.hours}}</td>
                                  <td  class="text-center">{{item.studentcomplete}}</td>
                                  <td  class="text-center">{{item.evaluationteacher}}</td>
                                  <td  class="text-center">{{item.grade}}</td>
                                  <td  class="text-center">{{item.evaluationlevel3}}</td>
                              </tr>
                          </tbody>
                        </table>
                        <br />
                        <p *ngIf="listTeacherInternalGV?.length === 0" class="text-center">{{ 'common.no_search_result' | translate}}</p>
                      </div>
                      <div class="card-footer text-center">
                        <div class="row">
                          <mat-paginator showFirstLastButtons
                            #paginator
                            [length]="totalRecordDV"
                            [pageIndex]="searcherTeacher.pageIndexDV-1"
                            [pageSize]="searcherTeacher.pageSizeDV"
                            (page)="changePageDV($event)"
                            [hidePageSize]="false"
                            [pageSizeOptions]="pageSizeOptionsDV">
                          </mat-paginator>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </mat-tab>
            <mat-tab act>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">book</mat-icon>
                    Báo cáo GVNB Cá nhân
                </ng-template>
                <div class="card-body">
                  <div class="card card-default">
                    <div class="card-header">
                      <div class="row ">
                        </div>
                        <div class="row">
                            <div class="col-md-4 ">
                                <div class="w-100" [style]="searchTeacher.startDate ||searchTeacher.endDate? 'margin-top:10px': ''">
                                    <label  class="control-label w-20">Chọn đơn vị</label>
                                    <ng-multiselect-dropdown class="input-qr"
                                    [placeholder]="'Chọn đơn vị' | translate"
                                    [data]="departmentMap"
                                    [(ngModel)]="departmentData"
                                    [settings]="dropdownSettings"
                                    (onSelect)="onSelectDepartment()"
                                    (onDeSelect)="onSelectDepartment()"
                                    (onDeSelectAll)="onSelectDepartment()"
                                    (onSelectAll)="onSelectDepartment()"
                                    (onDropDownClose)="changeDepartment()"
                                    >
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                            <div class="col-md-4 ">
                              <div class=" teacher-filter w-100 mb-3" [style]="searchTeacher.startDate ||searchTeacher.endDate? 'margin-top:10px': ''">
                                  <label  class="control-label w-20">Chọn GV</label>
                                  <ng-multiselect-dropdown width="300px"
                                    [placeholder]="'Chọn giảng viên'"
                                    [data]="listTeacher"
                                    [(ngModel)]="TeacherData"
                                    [settings]="dropdownSettings"
                                    (onSelect)="onSelectTeacher()"
                                    (onDeSelect)="onSelectTeacher()"
                                    (onDeSelectAll)="onSelectTeacher()"
                                    (onSelectAll)="onSelectTeacher()"
                                    (onDropDownClose)="changeTeacher()">
                                  </ng-multiselect-dropdown>                                        
                              </div>
                            </div>
                            <div class="col-md-4  form-date  style-div">
                              <form [formGroup]="searchForm">
                                <mat-form-field class="mr-2">
                                  <input matInput [matDatepicker]="from" #fromInput [max]="currentDate" placeholder="Từ ngày"
                                    formControlName="startDate" (dateChange)="changeStartDate($event)">
                                  <mat-icon *ngIf="searchTeacher.startDate" matDatepickerToggleIcon
                                    (click)="clearDate($event, 'startDate')">clear</mat-icon>
                                  <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
                                  <mat-datepicker #from panelClass="example-month-picker">
                                  </mat-datepicker>
                                </mat-form-field>
                                <mat-form-field class=" col-md-5 test">
                                  <input matInput [matDatepicker]="to" #toInput [min]="searchTeacher.startDate" [max]="validYear"
                                    placeholder="Đến ngày" formControlName="endDate"
                                    (dateChange)="changeEndDate($event)">
                                  <mat-icon *ngIf="searchTeacher.endDate" matDatepickerToggleIcon
                                    (click)="clearDate($event, 'endDate')">clear</mat-icon>
                                  <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
                                  <mat-datepicker #to panelClass="example-month-picker">
                                  </mat-datepicker>
                                </mat-form-field>  
                                </form>
                                <button type="button" (click)="onExpor()"  class="btn btn-sm btn-success text-white float-right mt-2 ">Xuất báo cáo</button>
                            </div>                 
                        </div>
                    </div>
                    <div class="card-body" >
                      <div class="col-12 table-responsive" [style.min-height]="height + 'px'">
                        <table class="table table-hover table-bordered"  >
                          <thead>
                            <tr class="text-center">
                              <th>STT</th>
                              <th >Tên khóa học</th>
                              <th >Mã năng lực</th>
                              <th >Hình thức học</th>
                              <th >Thành phần</th>
                              <th >Số học viên hoàn thành khóa học</th>
                              <th >Số giờ</th>
                              <th >Đánh giá giảng viên</th>
                              <th >Đánh giá nội dung đào tạo</th>
                              <th >Đánh giá cấp độ 3</th>
                            </tr>
                          </thead>
                          <tbody >
                            <tr *ngFor="let item of listTeacherInternal; let i = index;">
                              <td>{{(searcherTeacher.pageIndex - 1) * searcherTeacher.pageSize + i + 1}}</td>
                              <td>{{item.fullname}}</td>
                              <td class="text-center">{{item.categorycode}}</td>
                              <td [ngSwitch]="item.trainingtype" >
                                <span *ngSwitchCase="'OFFI'">Offline Inhouse</span>
                                <span *ngSwitchCase="'OFFP'">Offline Public</span>
                                <span *ngSwitchCase="'OFFE'">Offline nội bộ</span>
                                <span *ngSwitchCase="'ONLR'">Online video recorded learning</span>
                                <span *ngSwitchCase="'ONLL'">Online live learning zoom</span>
                              </td>
                              <td class="text-center">{{item.positionname}}</td>
                              <td class="text-center">{{item.studentcomplete}}</td>
                              <td class="text-center">{{item.hours}}</td>
                              <td class="text-center">{{item.evaluationteacher}}</td>
                              <td class="text-center">{{item.evaluationcourse}}</td>
                              <td class="text-center">{{item.evaluationlevel3}}</td>
                          </tr>
                          </tbody>
                        </table>
                        <br />
                        <p *ngIf="listTeacherInternal?.length === 0" class="text-center">{{ 'common.no_search_result' | translate}}</p>
                      </div>
                      <div class="card-footer text-center">
                        <div class="row">
                          <mat-paginator showFirstLastButtons
                            #paginator
                            [length]="totalRecord"
                            [pageIndex]="searcherTeacher.pageIndex-1"
                            [pageSize]="searcherTeacher.pageSize"
                            (page)="changePage($event)"
                            [hidePageSize]="false"
                            [pageSizeOptions]="pageSizeOptions">
                          </mat-paginator>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </mat-tab>
        </mat-tab-group>  
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
