.w-20{
    width: 140px;
    max-width: 140px;
}
.input-qr{
    width: 100%;
}
label{
    line-height: 33px;
}
::ng-deep .mat-input-element{
    width: 73% !important;
}
.teacher-filter ::ng-deep ng-multiselect-dropdown.ng-untouched.ng-valid.ng-dirty{
    width: 100%;
}
::ng-deep .mat-form-field-flex {
    margin-top: -10px;
}
.form-date ::ng-deep .mat-form-field{
    width: 140px;
}
.form-date form{
    display: contents;
}
.table thead th {
    background: #E3F2FD;
    color: #615e5e;
    line-height: 40px !important;
}
.table td{
    line-height: 25px !important;
}
/* .table tbody td {

    height: 25px !important;
} */
::ng-deep .mat-icon{
    cursor: pointer;
}

.style-div {
    margin-top: 40px;
}