<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-12 col-sm-12 col-12 topic">
      <mat-tab-group class="mt-2">
        <mat-tab>
          <ng-template mat-tab-label>
              <div class="w-100 h-100" (click)="onChangeExamByTopic()">
                Bài thi chủ đề
              </div>
          </ng-template>
          <div>
            <ul class="topic-list">
              <ng-container *ngFor="let item of listExam;let i = index">
                <li class="topic-item" [ngClass]="activeTopic === item?.topicid ? 'topic-selected' : ''"
                 (click)="onClickTopic(item?.topicid,i)">{{item?.topicname}}</li>
              </ng-container>
            </ul>
          </div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <div (click)="onChangeExamLast()">
              Bài thi cuối khóa
            </div>
          </ng-template>
          <div>
            <ul class="topic-list">
              <ng-container *ngFor="let item of listQuiz">
                <li class="topic-item">{{item?.name}}</li>
              </ng-container>
            </ul>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="exam col-lg-9 col-md-12 col-sm-12 col-12 mt-lg-0 mt-md-3 mt-sm-3 mt-3">
      <!-- *ngIf="listExam?.length >0; else noExam" -->
      <div class="bs-example" > 
        <div class="row" [ngClass]="hiddenTopicStatistic ? 'hidden' : ''" *ngIf="!isTeacher">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <div class="info-box-content">
                <span class="info-box-text">Số chủ đề <small></small></span>
                <h2 class="info-box-number text-primary">
                  {{numberOfTopic}}
                </h2>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <div class="info-box-content">
                <span class="info-box-text">Chủ đề qua <small></small></span>
                <h2 class="info-box-number text-success">
                  {{numberOfTopicPassed}}
                </h2>
              </div>
            </div>
          </div>
          <div class="clearfix hidden-md-up"></div>
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <div class="info-box-content">
                <span class="info-box-text">Chủ đề chưa qua <small></small></span>
                <h2 class="info-box-number text-danger">
                  {{numberOfTopicFailed}}
                </h2>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <div class="info-box-content">
                <span class="info-box-text">Chủ đề chưa thi <small></small></span>
                <h2 class="info-box-number text-secondary">
                  {{numberOfTopicNotTaken}}
                </h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row" [ngClass]="hiddenLastStatistic ? 'hidden' : ''" *ngIf="!isTeacher">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <div class="info-box-content">
                <span class="info-box-text">Số lượng bài thi <small></small></span>
                <h2 class="info-box-number text-primary">
                  {{numberOfExam}}
                </h2>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <div class="info-box-content">
                <span class="info-box-text">Số bài thi đã qua <small></small></span>
                <h2 class="info-box-number text-success">
                  {{numberOfExamPassed}}
                </h2>
              </div>
            </div>
          </div>
          <div class="clearfix hidden-md-up"></div>
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <div class="info-box-content">
                <span class="info-box-text">Chưa qua <small></small></span>
                <h2 class="info-box-number text-danger">
                  {{numberOfExamFailed}}
                </h2>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <div class="info-box-content">
                <span class="info-box-text">Chưa thi <small></small></span>
                <h2 class="info-box-number text-secondary">
                  {{numberOfExamNotTaken}}
                </h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 table-responsive">
            <table class="table table-hover">
              <thead>
                <tr class="bg-light">
                  <th class="text-center">STT</th>
                  <th >Bài thi</th>
                  <th class="text-center">Bắt đầu</th>
                  <th class="text-center">Kết thúc</th>
                  <th class="text-center">Thời gian(phút)</th>
                  <th *ngIf="!isTeacher">Số lần làm bài</th>
                  <th class="text-center">Cách thức lấy điểm</th>
                  <th class="text-center" *ngIf="!isTeacher">Điểm</th>
                  <th class="text-center" *ngIf="!isTeacher">Trạng thái</th>
                  <th >Thao tác</th>
                </tr>
              </thead>
              <tbody >
                <tr *ngFor="let item  of listQuiz ; let i = index;">
                  <td class="text-center">{{i+1}}</td>
                  <td>{{item.name}}</td>
                  <td class="text-center">{{getDateFromUnix(item.timeopen) | date:'dd/MM/yyyy'}}</td>
                  <td class="text-center">{{getDateFromUnix(item.timeclose) | date:'dd/MM/yyyy'}}</td>
                  <td class="text-center">{{item.timelimit/60}}</td>
                  <td class="text-center" *ngIf="!isTeacher">{{item.attempts}}</td>
                  <td class="text-center">{{getGradeMethodName(item.grademethod) | translate}}</td>
                  <td class="text-center" *ngIf="!isTeacher">{{item.isshowgrade == 1 ? item.usegades +'/'+item.grade : ''}}</td>
                  <td class="text-center" *ngIf="!isTeacher">
                    <span class="badge badge-success">{{ item.isshowgrade ? (getCompletionStateName(item.completionstate) | translate ) : ''}}</span>
                  </td>
                  <td class="text-center">
                    <button type="button" *ngIf="!isTeacher" (click)="localStore(item.name, item.overduehandling,listQuiz['disableQuiz'])" [disabled]="(getDateFromUnix(course?.enddate)?.toDate() < currentDate && course?.enddate != 0) || (listQuiz['disableQuiz'] == true)" [routerLink]="['/exam-details',item.id]"
                            class="btn btn-sm btn-primary">
                      Vào thi
                    </button>
                    <button type="button" *ngIf="isTeacher" (click)="localStore(item.name, item.overduehandling, listQuiz['disableQuiz'])" [routerLink]="['/exam-preview',item.id]"
                            class="btn btn-sm btn-primary">
                      Xem
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <ng-template #noExam>
        <div class="row">
          <div class="col-12 text-center border bg-light p-3">
            <img src="/assets/img-program.svg" alt="">
            <p>{{'common.no_user_test' | translate}}</p>
          </div>
        </div>
        <div class="no-course text-center p-3">{{'common.no_record_enduser' | translate}}</div>
      </ng-template>
    </div>
  </div>
</div>
