/* :host ::ng-deep .ck-editor__editable_inline {
    min-height: 200px;
} */

::ng-deep .topic {
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

::ng-deep .example {
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

:host ::ng-deep .topic .mat-tab-header {
    border-bottom: none;
}

:host ::ng-deep .topic .mat-tab-header{
    background: #F3F4F5!important;
    border-radius: 4px!important;
    padding: 3px!important;
}

:host ::ng-deep .topic .mat-tab-label-active{
    background: #FFFFFF!important;
    border-radius: 3px!important;
}

:host ::ng-deep .topic .mat-tab-label-container{
    background: #F3F4F5!important;
    border-radius: 4px!important;
    padding: 3px!important;
}

:host ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, ::ng-deep .mat-expansion-indicator{
    display: none!important;
}

.topic .mat-tab-header {
    border-bottom: unset!important
}

.topic .topic-list {
    padding-top: 10px;
    padding-left: 5px;
    list-style: none;
}

.topic .topic-list .topic-item {
    width: 100%;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
}

.topic-selected {
    color: #0783C4;
}

.hidden {
    display: none;
}