<div class="modal-header">
    <h5 class="modal-title text-center" >Thông tin Export</h5>
    <button type="button" class="btn btn-tool" data-card-widget="collapse" (click)="activeModal.dismiss()"><i
        class="fas fa-times"></i>
    </button>
</div>
<div class="modal-body px-4 py-3">
    <div class="d-flex w-100 mb-3">
        <label  class="control-label w-20 fullname">Chọn tháng cần export</label>
        <div class="input-month ml-3">
            <ng-multiselect-dropdown placeholder="Chọn tháng " [settings]="dropdownSettings"
                              [data]="dataMonth" [(ngModel)]="selectMonth" 
                              (onDeSelect)="onDeSelectMonth($event)" (onDeSelectAll)="onDeSelectAllMonth()"
                              (onSelect)="onItemSelect($event)">
                            </ng-multiselect-dropdown>
        </div>
    </div>
    <div class=" text-center w-100">
        <button  type="button" class="btn btn-primary" (click)="exportDetailAttend()">Export</button>
        <button type="button" data-dismiss="modal" class="btn ml-1 btn-secondary mr-2" (click)="activeModal.dismiss()">Hủy</button>
    </div>
</div>

