<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Báo cáo dữ liệu điểm danh</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#" routerLink="/admin">CMS</a></li>
            <li class="breadcrumb-item active">Báo cáo dữ liệu điểm danh</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- code develop-->
        <mat-drawer-container autosize class="example-container">
          <mat-drawer #drawer class="example-sidenav" mode="side" opened [hidden]="!isManage">
            <div class="card card-default">
              <div class="card-body">
                <h6>Đơn vị</h6>
                <hr>
                <ejs-treeview #departmentTree [fields]="departmentTreeData" (keyPress)='nodeCheck($event)' (nodeClicked)='nodeCheck($event)'
                (nodeChecked)='nodeDepartmentChecked($event)' [showCheckBox]='true'>
                </ejs-treeview>
              </div>
              <!-- code develop-->
            </div>
          </mat-drawer>
          <div class="example-sidenav-content">
            <div class="card card-default">
              <div class="card-body">
                <h6>Danh sách khóa học</h6>
              </div>
              <div class="card-body">
                <button class="btn btn-default btn-flat btn-md mr-2" type="button" mat-button
                  (click)="drawer.toggle()"><i class="fas fa-bars"></i>
                </button>
              </div>
            </div>
            <div class="card card-default">
              <div class="card-body">
                <div class="table-responsive" style="height: 600px;">
                  <table class="table table-hover table-bordered" matSort (matSortChange)="sortData($event)">
                    <thead>
                      <tr class="text-center">
                        <th >STT</th>
                        <th >Tên khóa học</th>
                        <th >Loại khóa học</th>
                        <th style="max-width: 300px;">Tên đơn vị chủ trì </th>
                        <th style="width:230px">Ngày bắt đầu</th>
                        <th style="width:230px">Ngày kết thúc</th>
                        <th >{{'common.action' | translate}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td></td>
                        <td style="vertical-align: middle;"><input type="search" name="search" [(ngModel)]="searchFilter.keyword" (change)="changeName()" class="form-control form-control-sm mr-4" placeholder="Nhập tên khóa học"/></td>
                        <td style="vertical-align: middle;">
                          <select type="search" style="color: #7e7e7e;" class="form-control form-control-sm mr-4" [(ngModel)]="searchFilter.type" (change)="changeTypeCourse($event)">
                            <option value= "">Chọn loại khóa học</option>
                            <option *ngFor="let item of typeCourseOption;"  [value]="item">Offline {{item == 'OFFI' ? 'Inhouse' : (item == 'OFFP' ? 'Public': 'nội bộ')}}</option>
                          </select></td>
                        <td><ng-multiselect-dropdown *ngIf="isTeacher"
                          [placeholder]="'user.choose_department' | translate"
                          [data]="departmentMap"
                          [(ngModel)]="departmentData"
                          [settings]="dropdownSettings"
                          (onDeSelect)="onDeSelectDepartment($event)"
                          (onDeSelectAll)="onDeSelectAllDepartment()"
                          (onSelect)="onItemSelect($event)"
                        >
                        </ng-multiselect-dropdown></td>
                        <td>
                          <mat-form-field class="mr-3 w-100 mb-0 course-input">
                            <input matInput [matDatepicker]="from" #fromInput [max]="currentDate" placeholder="Từ ngày"
                               (dateChange)="changeStartDate($event)">
                            <mat-icon *ngIf="searchFilter.startDate" matDatepickerToggleIcon
                              (click)="clearDate($event, 'startDate')">clear</mat-icon>
                            <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
                            <mat-datepicker #from panelClass="example-month-picker">
                            </mat-datepicker>
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field class="mr-3 w-100 mb-0 course-input">
                            <input matInput [matDatepicker]="to" #toInput [min]="startDate" [max]="validYear"
                              placeholder="Đến ngày"
                              (dateChange)="changeEndDate($event)">
                            <mat-icon *ngIf="searchFilter.endDate" matDatepickerToggleIcon
                              (click)="clearDate($event, 'endDate')">clear</mat-icon>
                            <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
                            <mat-datepicker #to panelClass="example-month-picker">
                            </mat-datepicker>
                          </mat-form-field>
                        </td>
                        <td></td>
                      </tr>
                      <tr *ngFor="let item of listCourse; let i = index;">
                        <td>{{(searchFilter.pageIndex - 1) * searchFilter.pageSize + i + 1}}</td>
                        <td>{{item.fullname}}</td>
                        <td [ngSwitch]="item.trainingtype">
                          <span *ngSwitchCase="'OFFI'">Offline Inhouse</span>
                          <span *ngSwitchCase="'OFFP'">Offline Public</span>
                          <span *ngSwitchCase="'OFFE'">Offline nội bộ</span>
                          <span *ngSwitchCase="'ONLR'">Online video recorded learning</span>
                          <span *ngSwitchCase="'ONLL'">Online live learning zoom</span>
                        </td>
                        <td>{{item.departmentname}}</td>
                        <td>{{ getDateFromUnix(item.startdate) | date:'dd/MM/yyyy'}}</td>
                        <td>{{ getDateFromUnix(item.enddate) | date:'dd/MM/yyyy'}}</td>
                        <td class="text-center">
                          <a class="btn btn-default btn-sm" (click)="goToDetail(item.id)" matTooltip="Xem chi tiết">
                            <i class="fas fa-eye"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <p *ngIf="listCourse?.length === 0" class="text-center">{{ 'common.no_search_result' | translate}}</p>
                </div>
                <div class="card-footer text-center">
                  <div class="row">
                    <mat-paginator showFirstLastButtons
                                    #paginator
                                    [length]="totalRecord"
                                    [pageIndex]="searchFilter.pageIndex-1"
                                    [pageSize]="searchFilter.pageSize"
                                    (page)="changePage($event)"
                                    [hidePageSize]="false"
                                    [pageSizeOptions]="pageSizeOptions">
                    </mat-paginator>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-drawer-container>
      </div>
    </div>
  </section>
</div>