.mat-drawer-container{
    width: 100%;
}
table td input {
    width: 85%;
}
.mat-icon{
    cursor: pointer;
}
.multiselect-dropdown{
    width: 85% !important ;
}
.mat-drawer{
    width: 30% !important;
}
.mat-form-field{
    width: 200px !important;
}
table .mat-form-field-infix input{
    width: 75% !important;
}
.table thead th {
    background: #E3F2FD;
    color: #615e5e;
    height: 30px !important;
}
.example-sidenav {
    width:18vw !important;
}
.course-input {
    background-color: transparent !important;
}