<div class="modal-header">
  <h5 *ngIf="title!=='warning'" class="modal-title">{{title}}</h5>
  <h5 *ngIf="title=='warning'" class="modal-title">Cảnh báo</h5>
  <button *ngIf="title!=='Cảnh báo'&& title!=='warning' " type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('close')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="title!=='warning'" class="modal-body">
  {{body}}
  <div *ngIf="warning" style="color:#f59f00;">
    <i class="fas fa-exclamation-triangle"></i> <i>{{warning}}</i>
  </div>
</div>
<div *ngIf="title=='warning'" class="modal-body">
  Bạn không thể sửa khi kì thi đang diễn ra
</div>
<div class="modal-footer">
  <button *ngIf="title!=='Cảnh báo' && title!=='warning'" type="button" class="btn btn-secondary"
          (click)="activeModal.dismiss('close')">{{ 'common.cancel' | translate }}</button>
  <button type="button" class="btn btn-danger"
          (click)="activeModal.close('confirm')">{{confirmButton}}</button>
</div>
