<div class="content-wrapper">
  <section class="content-header pb-0">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Quản lý kỳ thi : {{examForm.value.fullname}}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
							<a href="#" routerLink="/admin">CMS</a>
						</li>
						<li class="breadcrumb-item active"><a [routerLink]="['/admin/exam']">{{ 'admin.exam' | translate }}</a></li>
						<li class="breadcrumb-item active">{{ 'exam.exam_information' | translate }}</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
  <button  class="btn btn-success" *ngIf="checkRoleFunction('PUBLISH_EXAM',role) === true && !examDetail.published && !examDetail.readonly" (click)="onPublishExam()">{{ 'exam.show_exam' | translate }}</button>
  <button class="btn btn-default" *ngIf="checkRoleFunction('PUBLISH_EXAM',role) === true && examDetail.published  && !examDetail.readonly" (click)="onUnPublishExam()">{{ 'exam.hide_exam' | translate }}</button>
  <mat-tab-group dynamicHeight [selectedIndex]="selectedId ? selectedId: 1">
  <mat-tab>
      <div class="container-fluid">
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">infor</mat-icon>
          {{ 'exam.exam_information' | translate }}
        </ng-template>
        <form role="form" [formGroup]="examForm">
          <div class="row p-5">
            <div class="col-6">
            <div class="form-group fullname-require">
              <label class="control-label"> {{ 'exam.exam_information' | translate }}</label><span class="text-danger"> *</span>
              <input type="text" class="form-control" placeholder="Tên đầy đủ" required="" data-placement="bottom" formControlName="fullname">
              <div *ngIf="examForm.get('fullname')!.invalid &&(examForm.get('fullname')!.dirty || examForm.get('fullname')!.touched)">
                <small class="text-danger" *ngIf="examForm.get('fullname')?.errors?.required">
                  {{ 'error.validate.input_required' | translate }}
                </small>
                <small class="text-danger" *ngIf="examForm.get('fullname')?.errors?.isBlank">
                  {{ 'error.validate.input_required' | translate }}
                </small>
                <small class="text-danger" *ngIf="examForm.get('fullname')?.errors?.maxlength">
                  {{ 'error.validate.course.nameMaxlength' | translate }}
                </small>
              </div>
            </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label>{{ 'exam.list_of_exam_topics' | translate }}</label><span class="text-danger"> *</span>
                <select class="form-control select2" style="width: 100%;" formControlName="categoryid">
                <option [value]="0" disabled selected >{{ 'exam.select_category' | translate }}</option>
                <option *ngFor="let item of categoryMap | keyvalue" [value]="item.key">{{item.value}}</option>
                </select>
                <div *ngIf="examForm.get('categoryid')!.invalid &&(examForm.get('categoryid')!.dirty || examForm.get('categoryid')!.touched)">
                  <small class="text-danger" *ngIf="examForm.get('categoryid')?.errors?.required">
                    {{ 'error.validate.input_required' | translate }}
                  </small>
                </div>
               </div>
              </div>
            <div class="col-12">
            <label>{{ 'exam.exam_time' | translate }}</label><span class="text-danger"> *</span>
            <div class="form-group" >
              <div class="row">
                <div class="col-2">
                  <select class="form-control" formControlName="hourStartDate">
                    <option *ngFor="let hour of hoursList" [value]="hour.value">{{hour.label}}</option>
                  </select>
                </div>
                <div class="col-2">
                  <select class="form-control" formControlName="minuteStartDate">
                    <option *ngFor="let minute of minutesList" [value]="minute.value">{{minute.label}}</option>
                  </select>
                </div>
                <div class="col-2">
                    <mat-form-field color="blue" class="mr-3 mb-0 course-input">
                        <mat-label>{{ 'common.placeholder.form_date' | translate }}</mat-label>
                        <input matInput [matDatepicker]="startdateModel" [min]="!examDetail.publishedat ? currentDate : (getDateFromUnix(examDetail.startdate) > currentDate) ? currentDate : getDateFromUnix(examDetail.startdate)" formControlName="startdate">
                        <mat-datepicker-toggle matSuffix [for]="startdateModel"></mat-datepicker-toggle>
                        <mat-datepicker #startdateModel></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="col-2">
                  <select class="form-control" formControlName="hourEndDate">
                    <option *ngFor="let hour of hoursList" [value]="hour.value">{{hour.label}}</option>
                  </select>
                </div>
                <div class="col-2">
                  <select class="form-control" formControlName="minuteEndDate">
                    <option *ngFor="let minute of minutesList" [value]="minute.value">{{minute.label}}</option>
                  </select>
                </div>

                <div class="col-2">
                    <mat-form-field color="blue" class="course-input mb-0">
                      <mat-label>{{ 'common.placeholder.to_date' | translate }}</mat-label>
                      <input matInput [matDatepicker]="enddateModel" [min]="examForm.value.startdate" formControlName="enddate">
                      <mat-datepicker-toggle matSuffix [for]="enddateModel"></mat-datepicker-toggle>
                      <mat-datepicker #enddateModel color="primary"></mat-datepicker>
                    </mat-form-field>
                </div>
                <small class="text-danger" *ngIf="startTimeInvalid">
                  {{ 'error.validate.start_date_invalid' | translate }}
                </small>
                <small class="text-danger" *ngIf="endTimeInvalid">
                  {{ 'error.validate.end_date_invalid' | translate }}
                </small>
              </div>
            </div>

              <div class="col-6">
                <div class="form-group fullname-require">
                  <mat-checkbox [disabled]="true" [checked]="examDetail.badgeid" class="example-margin">{{ 'exam.create_certificate' | translate }}</mat-checkbox>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="happening!=='yes' && !examDetail.readonly && checkRoleFunction('EDIT_EXAM_INFO',role) === true" class="card-footer text-center">
            <button type="submit" class="btn btn-default" *ngIf="formEnable && examDetail.published !== 1" (click)="cancelUpdateExam()" >{{ 'common.cancel' | translate }}</button>
            <button type="submit" class="btn btn-primary" *ngIf="!formEnable && examDetail.published !== 1" (click)="onUpdateExam()" >{{ 'common.update' | translate }}</button>
            <button type="submit"  class="btn btn-success" *ngIf="formEnable && examDetail.published !== 1" [disabled]="examForm.invalid" (click)="updateExam()" >{{ 'common.save' | translate }}</button>
          </div>
          </form>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">book</mat-icon>
        {{ 'exam.title' | translate }}
      </ng-template>
      <div class="container-fluid">
        <app-list-exam
          [published]="examDetail.published"
          [examhasstudent]="examDetail.coursehasstudent"
          [courseId]="examId"
          [happening]="happening"
          *ngIf="showCreateQuiz == false"
          (quizEdit)='showQuiz($event)'
          (showCreateQuizz)='handleShowCreateQuiz($event)'
          (checkCreate)='check($event)'
          [examReadOnly]="examDetail.readonly">
        </app-list-exam>
        <app-create-exam
          [examDetail]="examDetail"
          *ngIf="showCreateQuiz == true"
          [quizInput]="quizOutput"
          [checkCreate]="checkC"
          (showCreateQuizz)='handleShowListQuiz($event)'>
        </app-create-exam>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">assignment_ind</mat-icon>
        {{isTeacher ? ('exam.student_list' | translate) : ('exam.more_students' | translate)}}
      </ng-template>
      <app-add-user *ngIf="examDetail.id" [courseDetail]="examDetail" [coursetype]="2"></app-add-user>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">group</mat-icon>
        {{isTeacher ? ('exam.more_lecturers' | translate) : ('exam.more_lecturers' | translate)}}
    </ng-template>
    <app-add-teacher *ngIf="examDetail.id" [courseDetail]="examDetail" [coursetype]="2"></app-add-teacher>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">account_balance</mat-icon> {{ 'exam.question_bank' | translate }}
      </ng-template>
      <app-course-question-bank *ngIf="examDetail.id" [courseDetail]="examDetail" [type]="type">
      </app-course-question-bank>
    </mat-tab>
  </mat-tab-group>
</div>
</section>
</div>
