::ng-deep .tooltip-red {
  background: #b71c1c !important;
  font-size:10pt !important;
}
.example-container {
  width: 95vw;
    
}
.example-sidenav {
    width:25vw;         
}
.example-sidenav-content {
  height:80vh;
} 