::ng-deep .date-custom .mat-form-field {
  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }
  .mat-form-field-flex {
    align-items: center !important;
    border: 1px solid lightgrey;
    height: 38px;
  }
  .mat-form-field-infix {
    padding: 0 !important;
    border-top: 0 !important;
  }
  .mat-input-element {
    color: slategray;
    padding: 6px;
  }
}
mat-icon {
  position: relative;
  float: right;
  // top: -3px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.54);
}