<div class="date-custom">
       <mat-form-field #myFormField (click)="dp.open();" appearance="filled">
              <input matInput [matDatepicker]="dp" placeholder="{{datePlaceholder}}" disabled>
              <mat-icon *ngIf="date.value" matDatepickerToggleIcon (click)="clearDate($event)">clear</mat-icon>
              <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
              <mat-datepicker #dp disabled="false" value="2020" startView="multi-year" (yearSelected)="chosenYearHandler($event, dp)"
                     (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
              </mat-datepicker>
       </mat-form-field>
<!-- 
       <mat-form-field #myFormField (click)="dp1.open();" appearance="filled" *ngIf="typePicker == 'year'">
              <input matInput [matDatepicker]="dp1" placeholder="{{datePlaceholder}}" disabled>
              <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
              <mat-datepicker #dp1 disabled="false" startView="multi-year"
                     (yearSelected)="chosenYearHandler($event, dp1)" panelClass="example-month-picker">
              </mat-datepicker>
       </mat-form-field> -->
</div>




<!-- <p>
       date.value: {{date.value | json}}
     </p>
     
     <p>
       date.valid: {{date.valid | json}}
     </p> 
     
     <p>
       date.errors: {{date.errors | json}}
     </p> -->