<div class="content-wrapper" style="min-height: 928.604px">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Học viên hoàn thành OnBoarding</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#" routerLink="/admin">CMS</a></li>
              <li class="breadcrumb-item active">Đánh giá nhân viên</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="container-fluid">
        <div class="col-12">
          <div class="card card-default">
            <div class="card-header">
              <!-- <h3 class="card-title">Danh sách câu hỏi mới</h3> -->
              <div class="row">
                <div class="col-4 m-0">
                    <form class="form-inline">
                        <div class="form-group m-2">
                            <label class="mr-2">Trạng thái</label>
                            <select class="form-control" (change)="onChangeStatus($event)">
                                <option value="">Toàn bộ</option>
                                <option value="0">Chưa đánh giá</option>
                                <option value="1">Đã đánh giá</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-8 m-0">
                    <div class="form-inline float-right">
                        <div class="form-group m-2">
                            <label class="mr-2">Tìm kiếm</label>
                            <input type="search" class="form-control mr-2"
                                placeholder="Tên học viên..." value=""
                               [(ngModel)]="keyword"
                                (change)="onChangeSearch($event)">
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="card-body" style="display: block">
              <div class="col-12 table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>STT</th>
                      <th>Họ tên</th>
                      <th>Email</th>
                      <th>Đơn vị</th>
                      <th>Trạng thái</th>
                      <th>Thao tác</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let student of listStudent; let i = index"  >
                        <td>{{(pageIndex - 1)*pageSize + i + 1}}</td> 
                        <td>{{ student.fullname }}</td>
                        <td>{{ student.email }}</td>
                        <td>{{ student.department }}</td>
                        <td><span class="tag-badge badge-{{student.evaluationid ? 'success' : 'secondary'}}">{{student.evaluationid ? 'Đã đánh giá' : 'Chưa đánh giá'}}</span></td>
                        <td>
                          <button  class="btn btn-sm btn-default" (click)="openEvaluationForm(student)" matTooltip="Xem đánh giá" matTooltipClass="tooltip-red"><i class="far fa-eye"></i></button>
                          <!-- <button *ngIf="student.evaluationid" class="btn btn-sm btn-default" (click)="openEvaluationForm(student)" matTooltip="Xem đánh giá" matTooltipClass="tooltip-red"><i class="far fa-eye"></i></button> -->
                        </td>
                    </tr>
                  </tbody>
                </table>
                <br />
                <p *ngIf="listStudent?.length === 0" class="text-center">{{ 'common.no_search_result' | translate}}</p>
              </div>
              <div class="card-footer text-center">
                <div class="row">
                  <mat-paginator showFirstLastButtons [length]="totalRecord" [pageSize]="pageSize"
                      [pageIndex]="pageIndex - 1" (page)="changePage($event)" [hidePageSize]="false"
                      [pageSizeOptions]="pageSizeOptions">
                  </mat-paginator>
              </div>
              </div>

              
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  