::ng-deep .tag-badge {
    padding: 4px;
    border-radius: 4px;
}
::ng-deep .tooltip-red {
    background: #b71c1c !important;
    font-size:.85rem !important;
  }
  
  ::ng-deep .mat-list-base .mat-list-item .mat-line {
    font-size: .9rem !important;
  }
