<div class="modal-header">
  <h4 class="modal-title">{{ 'quiz.chosen_ran_title' | translate }}</h4>
  <button type="button" class="btn btn-tool" data-card-widget="collapse"
          (click)="activeModal.close('Close click')"><i class="fas fa-minus"></i>
  </button>
</div>
<div class="modal-body">
  <form role="form" [formGroup]="addRandomQuestionsForm">

    <div class="form-group">
      <label>Danh mục câu hỏi<span class="text-danger"> * </span></label>

      <select class="custom-select" formControlName="categoryid" >
        <option [value]="null" disabled selected >Chọn danh mục</option>
        <option *ngFor="let item of categoryMap | keyvalue; let i = index" [selected]="i == 0"
                [value]="item.key">{{item.value}}</option>
      </select>
      <div *ngIf="addRandomQuestionsForm.get('categoryid')!.invalid
      &&(addRandomQuestionsForm.get('categoryid')!.dirty || addRandomQuestionsForm.get('categoryid')!.touched)">
        <small class="text-danger" *ngIf="addRandomQuestionsForm.get('categoryid')?.errors?.required">
          {{ 'error.validate.input_required' | translate }}
        </small>
      </div>
    </div>

    <div class="form-group">
      <!-- Tim quiz.chosen_ran_number_of_easy_question_title o file vi.json va en.json (i18n) -->
      <label>{{ 'quiz.chosen_ran_number_of_easy_question_title' | translate }}<span class="text-danger"> * </span></label>
      <input type="number" class="form-control" (keypress)="numericOnly($event)"
             placeholder="{{ 'quiz.chosen_ran_number_of_easy_question_title' | translate }}"
             formControlName="easy" min="0">
      <small class="text-danger"
             *ngIf="(addRandomQuestionsForm?.get('easy')!.dirty
             || addRandomQuestionsForm?.get('easy')!.touched)
             && addRandomQuestionsForm?.get('easy')?.hasError('required')">
        {{ 'error.validate.input_required' | translate }}
      </small>
    </div>

    <div class="form-group">
      <label>{{ 'quiz.chosen_ran_number_of_medium_question_title' | translate }}<span class="text-danger"> * </span></label>
      <input type="number" class="form-control" (keypress)="numericOnly($event)"
             placeholder="{{ 'quiz.chosen_ran_number_of_medium_question_title' | translate }}"
             formControlName="medium" min="0">
      <small class="text-danger"
             *ngIf="(addRandomQuestionsForm?.get('medium')!.dirty
             || addRandomQuestionsForm?.get('medium')!.touched)
             && addRandomQuestionsForm?.get('medium')?.hasError('required')">
        {{ 'error.validate.input_required' | translate }}
      </small>
    </div>

    <div class="form-group">
      <label>{{ 'quiz.chosen_ran_number_of_difficult_question_title' | translate }}<span class="text-danger"> * </span></label>
      <input type="number" class="form-control" (keypress)="numericOnly($event)"
             placeholder="{{ 'quiz.chosen_ran_number_of_difficult_question_title' | translate }}"
             formControlName="difficult" min="0">
      <small class="text-danger"
             *ngIf="(addRandomQuestionsForm?.get('difficult')!.dirty
             || addRandomQuestionsForm?.get('difficult')!.touched)
             && addRandomQuestionsForm?.get('difficult')?.hasError('required')">
        {{ 'error.validate.input_required' | translate }}
      </small>
      <small class="text-danger"
             *ngIf="addRandomQuestionsForm.hasError('invalidChosenQuestion')">
        {{ 'error.validate.quiz.invalid_chosen_question' | translate }}
      </small>
    </div>
  </form>

</div>
<div class="modal-footer text-center">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()" data-dismiss="modal">
    {{ 'common.cancel' | translate }}
  </button>
  <button type="button" (click)="addQuestions()" class="btn btn-primary">
    {{ 'common.save' | translate }}
  </button>
</div>

<ngx-spinner [fullScreen]="true" [name]="'chosenran'" type="ball-clip-rotate-multiple" size="medium">
  <p class="loading">{{ 'common.loading' | translate }}</p>
</ngx-spinner>

