<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="d-flex align-items-center justify-content-between">
        <div class="">
          <h1>Quản lý Cấp độ chứng chỉ</h1>
        </div>
        <div class="">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#" routerLink="/admin">CMS</a></li>
            <li class="breadcrumb-item active">Quản lý cấp độ chứng chỉ</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <mat-drawer-container autosize class="example-container">
          <mat-drawer #drawer class="example-sidenav" mode="side" opened>
            <div class="card card-default">
              <div class="card-body">
                <div class="row pb-2 border-bottom">
                  <div class="col-7">
                    <div class="custom-title"><b>Danh mục lĩnh vực</b></div>
                  </div>
                  <div class="col-5 float-right">
                    <button type="button" data-toggle="modal" data-target="#createTopic"
                            class="btn btn-primary rounded-0 float-right"
                            (click)="clear()">
                      Đặt lại tìm kiếm
                    </button>
                  </div>
                  
                </div>
                <form>
                  <ejs-treeview #categoryTree [fields]="categoryTreeData" (nodeSelecting)='nodeSelected($event)'></ejs-treeview>
                </form>
              </div>
            </div>
          </mat-drawer>
          <div class="example-sidenav-content">
            <div class="card card-default">
              <div class="d-flex px-2 justify-content-between align-items-center">
                <div class="form-inline">
                  <button type="button" [routerLink]="['/admin/badge-level/create']" [routerLinkActive]="['active']" class="btn btn-primary btn-flat float-left my-2" ><i class="fas fa-plus mr-2"></i> <a class="text-white">Tạo cấp độ </a></button>
                  <button type="button" [routerLink]="['/admin/badge-categories']" [routerLinkActive]="['active']" class="btn btn-secondary btn-flat float-left m-2" ><i class="fas fa-plus mr-2"></i> <a class="text-white">Tạo danh mục lĩnh vực</a></button>
                  <button type="button" (click)="onDeleteMultipleCourse()" [disabled]="courseCateIdsChecked?.length === 0" class="btn btn-default btn-flat mr-2" matTooltip="Xóa" matTooltipClass="tooltip-red"><i class="fas fa-trash mr-1"></i></button>
                  <span>Số cấp độ đã chọn: {{courseCateIdsChecked?.length}}</span>
                </div>
                <form class="form-inline">
                  <div class="form-group mb-0">
                    <label for="" class="mr-2">Tìm kiếm</label>
                    <input
                      type="search" style="width:250px;"
                      class="form-control form-control-sm mr-2"
                      id=""
                      placeholder="Nhập tên cấp độ"
                      (change)="onSearchLevel($event.target.value)"
                    />
                  </div>
                </form>
              </div>
              <div class="card-body pt-0">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>
                          <mat-icon class="mt-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="completedAll" (change)="oncheckboxAll($event.checked)"></mat-checkbox>
                          </mat-icon>
                        </th>
                        <th>STT</th>
                        <th>Tên cấp độ</th>
                        <th>Danh mục </th>
                        <th>Mô tả</th>
                        <th>Thao tác</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let category of categories; let i = index; ">
                        <td>
                          <mat-icon class="mt-1">
                            <mat-checkbox [(ngModel)]="category.completed"
                                          (change)="oncheckboxItem(category.id, $event.checked)"
                                          class="example-margin"></mat-checkbox>
                          </mat-icon>
                        </td>
                        <td>{{(pageIndex - 1) * pageSize + i + 1}}</td>
                        <td>{{category.name}}</td>
                        <td>{{category.parentname ? category.parentname : 'Top'}}</td>
                        <td>{{category.description}}</td>
                        <td>
                          <button [routerLink]="['/admin/badge-level/detail/'+category.id]" [routerLinkActive]="['active']" class="btn btn-sm btn-default mr-1"> <i class="fa fa-edit"></i></button>
                          <button (click)="onDeleteSingleCourse(category.id)"  data-toggle="modal" data-target="#exampleModal" class="btn btn-sm btn-default"> <i class="fa fa-trash"></i></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <br />
                  <p *ngIf="categories?.length === 0" class="text-center">{{ 'common.no_search_result' | translate}}</p>
                </div>
                <div class="card-footer text-center">
                  <div class="row">
                    <mat-paginator showFirstLastButtons
                      [length]="totalRecord"
                      [pageSize]="pageSize"
                      [pageIndex]="pageIndex - 1"
                      (page)="changePage($event)"
                      [hidePageSize]="false"
                      [pageSizeOptions]="pageSizeOptions">
                    </mat-paginator>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- </div> -->
        </mat-drawer-container>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
