<div class="">
  <div class="card card-default">
    <div class="card-body">
      <div class="col-12 table-responsive">
        <div class="row">
          <div class="col-4 m-0">
            <button type="button" (click)="addStudentForm()" class="btn btn-primary btn-flat float-left m-2" ><i class="fas fa-plus mr-2"></i> <a class="text-white">Thêm học viên </a></button>
            <button type="button" [disabled]="studentIdsChecked?.length === 0" class="btn btn-default btn-flat mr-1 m-2" matTooltip="Xóa" (click)="onDeleteMultipleBadge()" matTooltipClass="tooltip-red"><i class="fas fa-trash font-size-18"></i></button>
            <span>Số học viên đã chọn: {{studentIdsChecked?.length}}</span>
          </div>
          <div class="col-8 m-0">
            <form class="form-inline float-right" role="form">
              <div class="form-group m-2">
                <label class="mr-2">Tìm kiếm</label>
                <input type="search" class="form-control mr-2" placeholder="Tên học viên..." value="" (change)="onChangeSearch($event)">
              </div>
            </form>
          </div>
        </div>
        <table class="table table-hover">
          <thead>
          <tr>
            <th><mat-icon class="mt-1">
              <mat-checkbox class="example-margin" [(ngModel)]="completedAll"  (change)="oncheckboxAll($event.checked)"></mat-checkbox>
            </mat-icon></th>
            <th>STT</th>
            <th>Tên học viên</th>
            <!-- <th>Khóa học/kỳ thi</th> -->
            <th>Đơn vị</th>
            <th>Chức danh</th>
            <th>Thao tác</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of studentonBadge; let i = index;">
            <td >
              <mat-icon class="mt-1">
                <mat-checkbox [(ngModel)]="item.completed" (change)="oncheckboxItem(item.id, $event.checked)" class="example-margin"></mat-checkbox>
              </mat-icon>
            </td>
            <td>{{(searchBadgeStudent.page - 1) * searchBadgeStudent.limit + i + 1}}</td>
            <td>{{item.studentname}}</td>
            <td>{{item.departmentname}}</td>
            <td>{{item.positionname}}</td>
            <td>
              <a [href]="viewImage(item)" target="_blank">
                <button type="button" class="btn btn-default btn-sm mr-1" matTooltip="Xem file chứng chỉ" matTooltipClass="tooltip-red">
                  <i class="fas fa-eye"></i>
                </button>
              </a>
              <button type="button" class="btn btn-default btn-sm mr-1" matTooltip="Xóa" matTooltipClass="tooltip-red" (click)="onUnassignStudentToBadge(item.id)">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        <br />
        <p *ngIf="studentonBadge?.length === 0" class="text-center">{{ 'common.no_search_result' | translate}}</p>
      </div>
    </div>
    <div class="card-footer text-center">
      <div class="row">
        <mat-paginator showFirstLastButtons
          [length]="totalRecord"
          [pageSize]="searchBadgeStudent.limit"
          [pageIndex]="searchBadgeStudent.page - 1"
          (page)="changePage($event)"
          [hidePageSize]="false"
          [pageSizeOptions]="pageSizeOptions">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
