<div class="btn-group">
  <button type="button" class="btn btn-default" [disabled]="!formEnable"
          [ngStyle]="{'background-color': isLevel1 ? '#58FA58' : ''}" (click)="changeLevel(1)">Dễ
  </button>
  <button type="button" class="btn btn-default" [disabled]="!formEnable"
          [ngStyle]="{'background-color': isLevel2 ? '#FFBF00' : ''}" (click)="changeLevel(2)">Trung bình
  </button>
  <button type="button" class="btn btn-default" [disabled]="!formEnable"
          [ngStyle]="{'background-color': isLevel3 ? '#FE642E' : ''}" (click)="changeLevel(3)">Khó
  </button>
</div>
<div class="pl-5" style="width:40%; float:right;" *ngIf="categories?.length > 0">
  <select class="custom-select" formControlName="categoryid" name="categoryid">
    <option value="" disabled>- chọn danh mục -</option>
    <option *ngFor="let item of categories | keyvalue" [value]="item.key" [selected]="item.key == 1">{{item.value}}</option>
  </select>
</div>
<div class="col-12 mt-3 border">
  <!-- /.card-header -->
  <h6 class="mt-3">Nhập nội dung câu hỏi</h6>
  <div class="card-body" style="display: block;">
    <form role="form" [formGroup]="questionForm">
      <div class="row">
        <!--        <div class="col-md-3 text-right">-->
        <!--       <p>Câu hỏi<span class="text-danger"> *</span></p>-->
        <!--        </div>-->
        <!--        <div class="col-md-9"> <input type="text" class="form-control" name="name" placeholder="Tên câu hỏi" formControlName="name">-->
        <!--        </div>-->
      </div>
      <div class="row mt-2">
        <div class="col-md-3 text-right">
          <p>Nhập nội dung<span class="text-danger"> *</span></p>
        </div>
        <div class="col-md-9">
          <ckeditor [editor]="Editor" formControlName="questiontext" data="" [config]="questionEditorConfig"></ckeditor>
          <div
            *ngIf="questionForm.get('questiontext')!.invalid && (questionForm.get('questiontext')!.dirty || questionForm.get('questiontext')!.touched)">
            <small class="text-danger" *ngIf="questionForm.get('questiontext')?.errors?.required">
              {{ 'error.validate.input_required' | translate }}
            </small>
            <small class="text-danger" *ngIf="questionForm.get('questiontext')?.errors?.isBlank">
              {{ 'error.validate.input_required' | translate }}
            </small>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3 text-right">
          <p>Đánh dấu câu hỏi</p>
        </div>
        <div class="col-md-1">
          <input type="text" class="form-control" name="defaultmark" value="1" formControlName="defaultmark" size="7">
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3 text-right">
          <p>Lựa chọn kiểu đáp án<span class="text-danger"> *</span></p>
        </div>
        <div class="col-md-2">
          <select class="custom-select" name="answercorrect" formControlName="answercorrect">
            <option value="1">Đúng</option>
            <option value="0">Sai</option>
          </select>
        </div>
      </div>

      <mat-action-row *ngIf="canEdit">
        <button type="button" matTooltip="Sao chép"
                [disabled]="isPublished" (click)="onCloneQuestion()"
                matTooltipClass="tooltip-red" class="btn btn-default btn-lg"><i class="fas fa-copy"></i>
        </button>
        <button type="button" matTooltip="Chỉnh sửa" (click)="onTurnOnEditmode()"
                [disabled]="isPublished" *ngIf="isViewMode"
                matTooltipClass="tooltip-red" class="btn btn-default btn-lg"><i class="fas fa-edit"></i>
        </button>
        <button type="button" matTooltip="Lưu" (click)="onSaveQuestion()"
                [disabled]="isPublished || questionForm.invalid" *ngIf="!isViewMode"
                matTooltipClass="tooltip-red" class="btn btn-default btn-lg"><i
          class="fas fa-save mr-1"></i></button>
        <button type="button" matTooltip="Xóa"
                [disabled]="isPublished" (click)="onRemoveQuestion()"
                matTooltipClass="tooltip-red"
                class="btn btn-default btn-lg"><i class="fas fa-trash"></i></button>
      </mat-action-row>
    </form>
  </div>
</div>

