<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Quản lý khóa học đề xuất</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#" routerLink="/admin">CMS</a></li>
                        <li class="breadcrumb-item active">Quản lý khóa học đề xuất</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="example-sidenav-content">
                <div class="card card-default">
                    <div class="card-body">
                        <h6>Danh sách Khóa học đề xuất</h6>
                        <!-- <hr> -->
                        <div class="row mb-2">
                            <div class="col-8">
                                <button type="button" class="btn btn-primary btn-lg mr-1" matTooltipClass="tooltip-red"
                                    (click)="onCreateDepartment()"><i class="fas fa-plus mr-1"></i>Tạo mới</button>
                                <span>Số khóa học đã chọn: {{courseRecommendIdsChecked?.length}}</span>
                            </div>
                            <!--Search -->
                            <div class="col-4 mt-2">
                                <div class="form-inline float-right" role="form">
                                    <div class="form-group">
                                        <label class="mr-2">Tìm kiếm</label>
                                        <input style="width:250px;" type="search"
                                            class="form-control form-control-sm mr-2" placeholder="Mã-Tên khóa học"
                                            [(ngModel)]="keyword" (change)="onChangeKeyWord()">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <table class="table table-hover" matSort (matSortChange)="sortData($event)">
                                <thead>
                                    <tr>
                                        <th>
                                            <mat-icon class="custom-m-top">
                                                <mat-checkbox class="example-margin" [(ngModel)]="completedAll"
                                                    (change)="oncheckboxAll($event.checked)"></mat-checkbox>
                                            </mat-icon>
                                        </th>
                                        <th>STT</th>
                                        <th>Mã khóa học</th>
                                        <th>Tên khóa học</th>
                                        <th>Đơn vị</th>
                                        <th>Mô tả</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of courseList; let countPosition = index; ">
                                        <td>
                                            <mat-icon class="mt-1">
                                                <mat-checkbox [(ngModel)]="item.completed"
                                                    (change)="oncheckboxItem(item.id, $event.checked)"
                                                    class="example-margin"></mat-checkbox>
                                            </mat-icon>
                                        </td>
                                        <td>{{(pageIndex - 1)*pageSize + countPosition + 1}}</td>
                                        <td>{{item.code}}</td>
                                        <td>{{item.name}}</td>
                                        <td></td>
                                        <td></td>
                                        <td class="project-actions">
                                            <button type="button" matTooltip="Chỉnh sửa" matTooltipClass="tooltip-red"
                                                (click)="onEditDepartment(item)" class="btn btn-default btn-sm mr-1"><i
                                                    class="fas fa-edit"></i></button>
                                            <button type="button" matTooltip="Xóa" matTooltipClass="tooltip-red"
                                                (click)="onDeleteSingleDepartment(item.id)"
                                                class="btn btn-default btn-sm mr-1"><i
                                                    class="fas fa-trash"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br />
                            <p *ngIf="courseList?.length === 0" class="text-center">{{
                                'common.no_search_result' | translate}}</p>
                        </div>

                        <div class="card-footer text-center">
                            <div class="row">
                                <mat-paginator showFirstLastButtons [length]="totalRecord" [pageSize]="pageSize"
                                    [pageIndex]="pageIndex - 1" (page)="changePage($event)" [hidePageSize]="false"
                                    [pageSizeOptions]="pageSizeOptions">
                                </mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>