<div *ngIf="ribbon" class="ribbon ribbon-top-left"><span>{{ribbon}}</span></div>

<router-outlet></router-outlet>
<ngx-spinner [fullScreen]="true" type="ball-clip-rotate-multiple" size="medium">
  <p class="loading">{{ 'common.loading' | translate }}</p>
</ngx-spinner>
