.w-20{
    width: 40%;
}
.input-qr{
    border: 1px solid #eee;
    padding: 7px;
    width: 100%;
}
label{
    line-height: 33px;
    font-weight: 400;
}
.w-100.text-center button{
    width: 70px;
}
.fa-upload{
    font-size: 19px;
}
.input-qr.border-0{
    color: forestgreen;
}
::ng-deep .modal-open .modal {
    overflow-x: hidden;
    overflow-y: scroll !important
  }
  
  .mat-select-menu-container,
  .mat-open-menu-container {
      z-index: 999999 !important;
  }
  
  .cdk-global-overlay-wrapper, .cdk-overlay-container {
      z-index: 99999 !important;
   }
   ::ng-deep .cdk-overlay-container {
    z-index: 9999;
}
.close-img{
    position: absolute;
    right: -7px;
    background: white;
    width: 30px;
    text-align: center;
    border: 0px;
}