<div class="modal-header">
    <h5 class="modal-title text-center" >Thông tin chứng chỉ</h5>
    <button type="button" class="btn btn-tool" data-card-widget="collapse" (click)="activeModal.dismiss()" ><i
        class="fas fa-times"></i>
    </button>
</div>
<div class="modal-body px-4 py-3">
    <div class="modal-body">
        <form role="form" [formGroup]="badgeForm">
            <div class="d-flex w-100 mb-3">
                <label  class="control-label w-20 fullname">Tên chứng chỉ <span class="text-danger"> *</span></label>
                <input type="text" class="control-form input-qr" placeholder="Nhập tên chứng chỉ" formControlName="name"/>

            </div>
            <div class="d-flex w-100 mb-3" style="padding-left: 28%;" >
                <small class="text-danger" *ngIf="badgeForm.get('name')?.errors && !badgeForm.get('name')?.errors?.required">
                {{ 'error.validate.position.nameMaxlength' | translate }}
              </small>
            </div>
            <div class="d-flex w-100 mb-3" style="padding-left: 28%;" *ngIf="dateinvalid">
                <small class="text-danger" >
                  {{ 'error.validate.input_required' | translate }}
                </small>
            </div>
            <div class="d-flex  w-100 mb-3">
                <label  class="control-label w-20">Lãnh vực</label>
                <select class="form-control select2" style="width: 100%;" formControlName="categoryid">
                    <option value="" disabled selected>Chọn lãnh vực</option>
                    <option *ngFor="let item of categoryBadgeMap | keyvalue" [value]="item.key">{{item.value}}</option>
                  </select>
            </div>
            <div class="d-flex  w-100 mb-3 form-group ">
                <label  class="control-label w-20">Ngày hết hạn</label>
                <mat-radio-group class="mr-3 mb-0 course-input w-100" aria-label="Select an option"  formControlName="radio" [(ngModel)]="chosenItem" >
                    <mat-radio-button class="example-radio-button mr-2" *ngFor="let item of radio" [value]="item.value" (click)="setradio(item.value)">{{item.name}}</mat-radio-button>
                    <div *ngIf="isSelected('')">
                    </div>
                    <div *ngIf="isSelected('expiredate')" >
                      <mat-form-field color="blue" class="mr-3 w-100 mb-0 course-input">
                        <mat-label>Ngày hết hạn</mat-label>
                        <input matInput [matDatepicker]="startdateModel" [min]="currentDate"   formControlName="expiredate">
                        <mat-datepicker-toggle matSuffix [for]="startdateModel"></mat-datepicker-toggle>
                        <mat-datepicker #startdateModel></mat-datepicker>
                        <mat-error></mat-error>
                      </mat-form-field>
                    </div>
                  </mat-radio-group>
                <!-- <mat-form-field class="mr-3 mb-0 course-input w-100">
                    <input matInput [matDatepicker]="expiredateModel" [min]="currentDate"   formControlName="expiredate">
                    <mat-datepicker-toggle matSuffix [for]="expiredateModel"></mat-datepicker-toggle>
                    <mat-datepicker #expiredateModel></mat-datepicker>
                </mat-form-field> -->
            </div>
            <div class="d-flex w-100 " *ngIf="isUpload && !isteacher">
                <label  class="control-label w-20">File upload <span  class="text-danger"> *</span></label>
                <div class="mb-3 mr-4">
                    <a href="javascript:void(0)" (click)="file.click()">
                        <i class="fas fa-upload icon-upload"></i>
                    </a>
                </div>
                <div>
                    <span> Chọn chứng chỉ</span>
                </div>
                <input accept=".pdf,.png,.jpeg,.jpg,.gif,.jfif" type="file" #file [multiple]="false" (change)="onFileChange($event)"  style="display: none"/>
            </div>
            <div class="d-flex w-100 mb-3" style="padding-left: 28%;" *ngIf="fileinvalid">
                <small class="text-danger" >
                  {{ 'error.nocertificatefile' | translate }}
                </small>
            </div>
            <div class="d-flex  w-100 mb-3 " >
                <div class="input-qr error text-center mt-2" *ngIf="error">{{error}}</div>
                <div class="input-qr border-0" >
                   
                    <div class="" *ngIf="fileSelected">
                        <img [src]="imageSrc" class="img-badge" width="100%" *ngIf="checkType(imageType)"/>
                        <div *ngIf="checkType(fileType)" class="text-center">
                            <div class="tab-action bg-light d-flex align-item-center">
                            </div>
                            <pdf-viewer 
                                [src]="imageSrc" 
                                [show-all]="true"
                                [render-text]="true" 
                                (page-rendered)="pageRendered($event)"
                                [original-size]="false" 
                                (on-progress)="onProgress($event)"
                                style="width: 100%; height: 300px; margin: 0px auto"> 
                            </pdf-viewer>
                        </div>
                    </div>
                    <div class="">
                        <img [src]="viewFile()" class="img-badge" width="100%" *ngIf="checkType(imageType)"/>
                        <div *ngIf="checkType(fileType)" class="div-pdf-badeg w-100 mt-3">
                            <a [href]="viewFile()" class="d-flex" target="_blank">
                                <pdf-viewer [src]="viewFile()" 
                                    [show-all]="true"
                                    [render-text]="true" 
                                    (page-rendered)="pageRendered($event)"
                                    [original-size]="false" 
                                    (on-progress)="onProgress($event)"
                                    style="width: 100%; height: 300px; margin: 0px auto"> 
                                </pdf-viewer>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer  text-center w-100">
        <button  type="button" class="btn btn-primary" (click)="createNewBadge()" *ngIf="!isSave">OK</button>
        <button  type="button" class="btn btn-primary" (click)="EditBadge()"  *ngIf="isSave && isUpload && !isteacher">Lưu Lại</button>
        <button type="button" data-dismiss="modal" class="btn ml-1 btn-secondary mr-2"  (click)="activeModal.dismiss()">Hủy</button>
    </div>
</div>
