<div class="" id="documentManage">
    <div class="row py-2 bg-white">
        <div class="col-md-2 col-xs-12 col-sm-2 document-col-left">
            <div class="bsa p-2">
                <div class="pb-2" style="border-bottom: 2px solid #ddd">
                    <button class="btn btn-primary mr-2" (click)="onClickShowModel()">
                        <i class="fas fa-plus mr-2"></i>
                        Thêm Chứng chỉ
                    </button>
                </div>
                <div class="list-document pt-2">
                    <div [class]="'list-item p-2 bb1dd' + (badgeActive == 1? ' c_active': '')" (click)="onChangeContent(1)">Chứng chỉ nội bộ</div>
                    <div [class]="'list-item p-2 bb1dd' + (badgeActive == 2? ' c_active': '')" (click)="onChangeContent(2)">Chứng chỉ ngoài</div>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-xs-12 col-md-10 document-col-right">
            <div class="dtail-content content" id="courses">
                <div class="bsa p-2">
                    <div class="">
                        <div class="d-flex arrow-header">
                            <button [disabled]="!selectedRow" type="button" class="btn btn-default btn-sm mr-1" matTooltip="Xóa khỏi cấp độ" matTooltipClass="tooltip-red" (click)="unAssignMultiBadge()">
                                <i class="fas fa-trash"></i>
                            </button>
                            <div class="num-select asc">
                                Số lượng đã chọn: {{selectedRow}}
                            </div>
                            <div class="filter asc">
                                <div class="input-group">
                                    <input type="text" class="form-control-sm custom-input" placeholder="Nhập từ khoá tìm kiếm" aria-label="Text input with segmented dropdown button" (change)="onSearchLBadge($event.target.value)">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split custom-dr-buttom" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="sr-only">
                                                <i class="fas fa-search"></i> 
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2 content-list">
                        <div>
                           <table class="table table-hover" *ngIf="badgeActive == 1">
                              <thead>
                                 <tr>
                                       <th>
                                          <mat-icon class="custom-m-top">
                                             <mat-checkbox class="example-margin" [(ngModel)]="completeAll" (change)="oncheckboxAll($event.checked)"></mat-checkbox>
                                          </mat-icon>
                                       </th>
                                       <th>STT</th>
                                       <th>Tên chứng chỉ</th>
                                       <th>Mô tả</th>
                                       <th>HSD (ngày)</th>
                                       <th>Ngày hết hạn</th>
                                       <th>Trạng thái</th>
                                       <th>Ngày tạo</th>
                                       <th>Thao tác</th>
                                 </tr>
                              </thead>
                              <tbody>
                              <tr *ngFor="let badge of listBadge; let i=index">
                                 <td >
                                    <mat-icon class="mt-1">
                                       <mat-checkbox [(ngModel)]="badge.completed" (change)="oncheckboxItem(badge.id, $event.checked)" class="example-margin"></mat-checkbox>
                                    </mat-icon>
                                 </td>
                                 <td>{{(pageIndex - 1) * pageSize + i + 1}}</td>
                                 <td>{{badge.name}}</td>
                                 <td>{{limitString(badge?.description)}}</td>
                                 <td>{{(badge.expireperiod || badge.expiredate) ? convertDays(badge.expireperiod) : 'Vô thời hạn'}}</td>
                                 <td>{{getDateFromUnix(badge.expiredate)  | date:'dd/MM/yyyy'}}</td>
                                 <td>
                                    <span class="badge"[ngClass]="getStatusBadge(badge.status).colorBtn">{{getStatusBadge(badge.status).name | translate}}</span>
                                </td>
                                 <td>{{getDateFromUnix(badge.timecreated) | date:'dd/MM/yyyy'}}</td>
                                 <td>
                                    <button  type="button" class="btn btn-default btn-sm mr-1" matTooltip="Xóa khỏi cấp độ" matTooltipClass="tooltip-red" (click)="unAssignSingleBadge(badge.id)">
                                        <i class="fas fa-trash"></i>
                                   </button>
                                 </td>
                                 </tr>
                              </tbody>
                            </table>
                            <table class="table table-hover" *ngIf="badgeActive == 2">
                              <thead>
                                 <tr>
                                    <th>
                                       <mat-icon class="custom-m-top">
                                          <mat-checkbox class="example-margin" [(ngModel)]="completeAll" (change)="oncheckboxAll($event.checked)"></mat-checkbox>
                                       </mat-icon>
                                    </th>
                                    <th>STT</th>
                                    <th>Tên chứng chỉ</th>
                                    <th>Mô tả</th>
                                    <th>HSD (ngày)</th>
                                    <th>Ngày hết hạn</th>
                                    <th>Trạng thái</th>
                                    <th>Ngày tạo</th>
                                    <th>Thao tác</th>
                                 </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let badge of listBadge; let i=index">
                                    <td >
                                        <mat-icon class="mt-1">
                                        <mat-checkbox [(ngModel)]="badge.completed" (change)="oncheckboxItem(badge.id, $event.checked)" class="example-margin"></mat-checkbox>
                                        </mat-icon>
                                    </td>
                                    <td>{{(pageIndex - 1) * pageSize + i + 1}}</td>
                                    <td>{{badge.name}}</td>
                                    <td>{{limitString(badge?.description)}}</td>
                                    <td>{{(badge.expireperiod || badge.expiredate) ? convertDays(badge.expireperiod) : 'Vô thời hạn'}}</td>
                                    <td>{{getDateFromUnix(badge.expiredate)  | date:'dd/MM/yyyy'}}</td>
                                    <td>
                                        <span class="badge"[ngClass]="getStatusBadge(badge.status).colorBtn">{{getStatusBadge(badge.status).name | translate}}</span>
                                        </td>
                                    <td>{{getDateFromUnix(badge.timecreated) | date:'dd/MM/yyyy'}}</td>
                                    <td>
                                        <button  type="button" class="btn btn-default btn-sm mr-1" matTooltip="Xóa khỏi cấp độ" matTooltipClass="tooltip-red" (click)="unAssignSingleBadge(badge.id)">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                 </tr>
                              </tbody>
                            </table>
                            <p *ngIf="!listBadge.length" class="text-center">
                                {{ "common.no_search_result" | translate }}
                            </p>
            
                            <div class="card-footer text-center">
                                <div class="row">
                                    <mat-paginator showFirstLastButtons
                                        [length]="totalRecord"
                                        [pageSize]="pageSize"
                                        [pageIndex]="pageIndex-1"
                                        (page)="changePage($event)"
                                        [hidePageSize]="false"
                                        [pageSizeOptions]="pageSizeOptions">
                                    </mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>