.hide{display: none;}
.show{display: block;}
.arrow-header{align-self: stretch; justify-content: space-between;}
.c_active, .list-item:hover{background-color: #e8e8e85c!important;}
.bsa{border:1px solid #ddd;border-radius: 5px;cursor: pointer;}
.add-document{border-bottom:1px solid#ddd;}
.add-icon {border-radius: 50%;color: blue;border: 1px solid blue;}
.custom-input{height: 32px;border:1px solid #ddd;border-right: 0px;outline: steelblue;}
.custom-dr-buttom {border:1px solid#ddd;}
.asc {align-self: center;}
.remove-icon{color: tomato;border: 1px solid tomato;border-radius: 50%}
.content-list{min-height: 400px;}
.pen{pointer-events: none;}
.list-item{font-size: .85em;}
.bb1dd{border-bottom: 1px dotted rgb(236, 230, 230);}