.certificate {
    position: relative;   
    background-image: url("/assets/certificate.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 618px;
    width: 800px;
}
.selectcertificate {
    position: absolute;
    top: 45px;
    left: -37px;
    font-size: 13pt;
    display: block;
    width: 309px;
    text-align: center;
}
.namecourse {
    position: absolute;
    top: 200px;   
    font-size: 25pt;
    display: block;
    width: 100%;
    text-align: center;
}
.usercertificate {
    position: absolute;
    top: 300px;   
    font-size: 18pt;
    display: block;
    width: 100%;
    text-align: center;
}
.department {
    position: absolute;
    top: 350px;   
    font-size: 13pt;
    display: block;
    width: 100%;
    text-align: center;
}
.datecertificate {
    position: absolute;
    top: 425px;
    left: 100px;
    font-size: 13pt;
    display: block;
    width: 309px;
    text-align: center;
}
