<div class="modal-header">
  <h5 class="modal-title" *ngIf="isshowgrade==1">{{'exam_result.title' | translate}}</h5>
  <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('close')">
    <span aria-hidden="true">&times;</span>
  </button> -->
</div>
<div class="modal-body">
  <div class="text-center" *ngIf="isshowgrade==0">
    <img src="/assets/survey.svg" style="height: 25vh; margin-bottom: 20px;" alt="">
    <h5>NỘP BÀI THI THÀNH CÔNG</h5>
    <h6><i>Cảm ơn bạn đã tham gia kì thi !</i></h6>
  </div>
  <table class="table table-striped table-hover" *ngIf="isshowgrade==1">
    <thead>
      <tr>
        <th class="text-center">Tổng số câu</th>
        <th class="text-center">Số câu đúng</th>
        <th class="text-center">Số điểm</th>
        <th class="text-center">Điểm chuẩn</th>
        <th class="text-center">Kết quả</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center">{{totalquestion}}</td>
        <td class="text-center">{{correctquestion}}</td>
        <td class="text-center">{{sumgrades}}</td>
        <td class="text-center">{{grade}}</td>
        <td class="text-center"><span class="badge badge-pill badge-success">{{statusQuiz}}</span></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
    <div class="row">
      <div class="col-12 text-right">
        <button type="button" class="btn btn-primary" [disabled]="!statusQuiz"
        (click)="activeModal.close('confirm')">{{'exam_result.back' | translate}}</button>
      </div>
    </div>
</div>
