<div class="example-sidenav-content">
  <div class="card card-default">
    <div class="card-body">
      <!-- <h6>Danh sách đơn vị sáp nhập</h6>
      <hr> -->
      <div class="row mb-2">
        <div class="col-8 ">
        </div>
        <!--Search -->
        <div class="col-4 mt-2">
          <div class="form-inline float-right" role="form">
            <div class="form-group m-2">
              <label class="mr-2">Tìm kiếm</label>
              <input style="width:250px;" type="search" class="form-control form-control-sm mr-2"
                placeholder="Mã-Tên đơn vị" [(ngModel)]="keyword" (change)="onChangeKeyWord()">
            </div>
          </div>
        </div>
      </div>
      <div>
        <table class="table table-hover" matSort (matSortChange)="sortData($event)">
          <thead>
            <tr>
              <th>STT</th>
              <th mat-sort-header="code">Mã đơn vị</th>
              <th mat-sort-header="name">Tên đơn vị</th>
              <th mat-sort-header="parentname">Đơn vị sáp nhập</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of departmentList; let countPosition = index; ">
              <td>{{(pageIndex - 1)*pageSize + countPosition + 1}}</td>
              <td>{{item.code}}</td>
              <td>{{item.name}}</td>
              <td>{{item.parentname}}</td>
            </tr>
          </tbody>
        </table>
        <br />
        <p *ngIf="departmentList?.length === 0" class="text-center">{{ 'common.no_search_result' |
          translate}}</p>
      </div>

      <div class="card-footer text-center">
        <div class="row">
          <mat-paginator showFirstLastButtons [length]="totalRecord" [pageSize]="pageSize"
            [pageIndex]="pageIndex - 1" (page)="changePage($event)" [hidePageSize]="false"
            [pageSizeOptions]="pageSizeOptions">
          </mat-paginator>
        </div>
      </div>

    </div>
  </div>
</div>