.e-treeview .e-ul {
    margin: 0;
    padding: 0 0 0 2px !important;
}
.form-group {
    margin-bottom: 0.2rem !important;
}
::ng-deep .mat-checkbox.example-margin.checkbox-leader .mat-checkbox-layout{
    margin-top: 6px !important;
}
::ng-deep .cdk-overlay-container {
    position: fixed !important;
    z-index: 1200 !important; /* set value you need */
}
::ng-deep .date-custom .mat-form-field .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }
  ::ng-deep .date-custom .mat-form-field .mat-form-field-flex {
    align-items: center !important;
    border: 1px solid lightgrey;
    height: 38px;
  }
  ::ng-deep .date-custom .mat-form-field .mat-form-field-infix {
    padding: 0 !important;
    border-top: 0 !important;
    display: flex;
    align-items: center;
    width: 100% !important;
  }
  ::ng-deep .date-custom .mat-form-field .mat-input-element {
    color: slategray;
    padding: 6px;
  }
  ::ng-deep  .mat-form-field-infix{
    height: 52px!important;
  }
  ::ng-deep .form-date .mat-form-field-flex {
    height: 36px;
  }
  .icon-eye{
    position: absolute;
    right: 0px;
    top: 2px;
    padding: 6px 10px;
    cursor: pointer;
  }
  .position-relative{
    position: relative;
  }