<div class="div">
    <div *ngIf="course.badgestatus*1 >= 0 && course.badgestatus != null">
        <div>
            <b>Thời gian nộp chứng chỉ:</b> {{course?.badgecreatedat ? (getDateFromUnix(course?.badgecreatedat) | date:'dd/MM/yyyy') : 'Chưa cập nhật'}}
        </div>
        <div class="py-2 d-flex align-items-center">
            <b>Trạng thái:</b> 
            <span [class]="'ml-1 badge badge-' + ['secondary','success','danger'][course?.badgestatus || 0]">
                {{["Đang chờ phê duyệt", "Đã phê duyệt", "Từ chối phê duyệt"][course?.badgestatus || 0]}}
            </span>
        </div>
        <div class="text-xs">
            <i>* Xem chứng chỉ khóa học này tại <a routerLink="/certificate-user">Danh sách Chứng chỉ của bạn</a></i>
        </div>
    </div>
    <div class="position-relative">
        <div *ngIf="course?.badgestatus*1 >= 0 && course?.badgestatus != null">
            <div *ngIf="checkType(imageType)" class="text-center div-img-badge" >
                <img [src]="viewFile()" class="img-badge" width="500px"/>
            </div>
            <div *ngIf="checkType(fileType)" class="div-pdf-badeg w-100 mt-3">
                <a [href]="viewFile()" class="d-flex" target="_blank">
                    <pdf-viewer [src]="viewFile()" 
                        [show-all]="true"
                        [render-text]="true" 
                        (page-rendered)="pageRendered($event)"
                        [original-size]="false" 
                        (on-progress)="onProgress($event)"
                        style="width: 80%; height: 700px; margin: 0px auto">
                    </pdf-viewer>
                </a>
            </div>
        </div>
        
        <section *ngIf="fileSelected" class="mt-3">
            <div class="position-relative">
                <button (click)="deleteBadge()" class="btn-delete bg-light border custom-btn-delete" ><i class="fas fa-times"></i></button>
                <div *ngIf="checkType(imageType)" class="text-center div-img-badge" >
                    <img [src]="imageSrc" class="img-badge" width="500px"/>
                </div>
                <div *ngIf="checkType(fileType)" class="text-center">
                    <div class="tab-action bg-light d-flex align-item-center">
                    </div>
                    <pdf-viewer 
                        [src]="imageSrc" 
                        [show-all]="true"
                        [render-text]="true" 
                        (page-rendered)="pageRendered($event)"
                        [original-size]="false" 
                        (on-progress)="onProgress($event)"
                        style="width: 80%; height: 700px; margin: 0px auto"> 
                    </pdf-viewer>
                </div>
            </div>
        </section>
        
        <div class="container mt-2" [hidden]="course?.badgestatus != null && course?.badgestatus != 2">
            <div [hidden]="!showUpload">
                <div draggable="true" ngClass="{{ dragAreaClass }}" >
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="mb-3">
                                <a href="javascript:void(0)" (click)="file.click()">
                                    <i class="fas fa-upload icon-upload"></i>
                                </a>
                            </div>
                            <div>
                                <span>Kéo hoặc lựa chọn file chứng chỉ từ máy tính của
                                    bạn (pdf, png, jpeg, jpg, gif, jfif)</span>
                            </div>
                            <input accept=".pdf,.png,.jpeg,.jpg,.gif,.jfif" type="file" #file [multiple]="false" (change)="onFileChange($event)" style="display: none" />
                        </div>
                    </div>
                </div>
                <div class="error text-center mt-2" *ngIf="error">{{error}}</div>
                <div class="text-center mt-2">
                    <span class="text-success" *ngIf="fileSelected">{{fileSelected?.name }}</span>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button type="button" class="btn btn-primary w-btn-80 rounded-0 custom-btn" [disabled]="!fileSelected" (click)="uploadBadge()">Tải
                    lên</button>
            </div>
        </div>
    </div>
</div>

