.error {
    color: #f00;
  }
  
  .dragarea {
    border: 2px dashed #cbcbcb;
    padding: 1.5rem;
    background-color: #f3f3f3;
    color: grey;
    /* font-size: 20px; */
    border-radius: 10px;
  }
  
  .droparea {
    /* font-size: 20px; */
    border: 2px dashed #cbcbcb;
    border-radius: 10px;
    padding: 1.5rem;
    background-color: #eff;
    color: #aaa;
  }
  .icon-upload {
    font-size: 50px;
    color: grey !important;
  }
  .select-year {
    width: 250px;
    background: #ffff;
    border: 1px solid #d6d8db;
    padding: 0 8px;
  }
  .custom-select {
    border: none;
    box-shadow: unset;
  }
  .label-select-plan-year {
    padding: 6px 0;
  }
  .w-btn-80 {
    width: 80px;
  }
  .img-badge{
    position: relative;
  }
  .btn-delete{
    border-radius: 50%; 
    color: #428bca !important;
    position: absolute;
    top: 0 ;
    left: 100%;
    transform:translate(-50%, -50%);
  }