<div class="content-wrapper" style="min-height: 928.604px">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Quản lý chứng chỉ</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#" routerLink="/admin">CMS</a></li>
                        <li class="breadcrumb-item"><a href="#" routerLink="/admin/badge-external">Quản lý chứng chỉ ngoài</a></li>
                        <li class="breadcrumb-item active">Xem chi tiết</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="col-12">
                <div class="">
                    <div class="card card-default">
                        <div class="card-body">
                            <div class="col-12 table-responsive">
                                <h6>Danh sách học viên upload chứng chỉ</h6>
                                <div class="row">
                                    <div class="col-4 m-0">
                                        <form class="form-inline" role="form">
                                            <div class="form-group m-2">
                                                <label class="mr-2">Trạng thái</label>
                                                <select class="form-control" (change)="onChangeStatus($event)">
                                                    <option value="">Toàn bộ</option>
                                                    <option value="0">Đang chờ phê duyệt</option>
                                                    <option value="1">Đã phê duyệt</option>
                                                    <option value="2">Từ chối phê duyệt</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-8 m-0">
                                        <form class="form-inline float-right" role="form">
                                            <div class="form-group m-2">
                                                <label class="mr-2">Tìm kiếm</label>
                                                <input type="search" class="form-control mr-2"
                                                    placeholder="Tên học viên..." value=""
                                                    (change)="onChangeSearch($event)">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Tên học viên</th>
                                            <th>Đơn vị</th>
                                            <th>Chức danh</th>
                                            <th>Trạng thái</th>
                                            <th>Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of studentonBadge; let i = index;">
                                            <td>{{(searchBadgeStudent.page - 1) * searchBadgeStudent.limit + i + 1}}
                                            </td>
                                            <td>{{item.studentname}}</td>
                                            <td>{{item.departmentname}}</td>
                                            <td>{{item.positionname}}</td>
                                            <td><span class="badge" [ngClass]="showStatusBadgeOffStd(item.status).colorBtn">{{showStatusBadgeOffStd(item.status).name}}</span></td>
                                            <td>
                                                <a [href]="viewImage(item)" target="_blank">
                                                    <button type="button" class="btn btn-default btn-sm mr-1"
                                                        matTooltip="Xem file chứng chỉ" matTooltipClass="tooltip-red">
                                                        <i class="fas fa-eye"></i>
                                                    </button>
                                                </a>
                                                <button type="button" class="btn btn-default btn-sm mr-1"
                                                    matTooltip="Duyệt" matTooltipClass="tooltip-red"
                                                    (click)="onApprovalBadge(1, item.issuedid)" *ngIf="roleChecked && item.status == 0">
                                                    <i class="fas fa-check"></i>
                                                </button>
                                                <button type="button" class="btn btn-default btn-sm mr-1"
                                                matTooltip="Từ chối" matTooltipClass="tooltip-red"
                                                (click)="onApprovalBadge(2, item.issuedid)" *ngIf="roleChecked && item.status == 0">
                                                <i class="fas fa-window-close"></i>
                                                </button>
                                                <button type="button" class="btn btn-default btn-sm mr-1"
                                                matTooltip="Tải xuống" matTooltipClass="tooltip-red"
                                                 *ngIf="!isShowDownload" (click)="DownloadImage(item)">
                                                <i class="fas fa-download"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br />
                                <p *ngIf="studentonBadge?.length === 0" class="text-center">{{ 'common.no_search_result'
                                    | translate}}</p>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <div class="row">
                                <mat-paginator showFirstLastButtons [length]="totalRecord"
                                    [pageSize]="searchBadgeStudent.limit" [pageIndex]="searchBadgeStudent.page - 1"
                                    (page)="changePage($event)" [hidePageSize]="false"
                                    [pageSizeOptions]="pageSizeOptions">
                                </mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>