<div class="modal-header">
  <h5 class="modal-title">Sáp nhập đơn vị</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('close')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="mergeForm">
  <div class="modal-body">
    <div class="col-12">
      <div class="form-group">
        <label>Tên đơn vị: </label> {{department.name}}
      </div>
    </div>
    <ng-template [ngIf]="this.departmentList.length > 0">
      <div class="col-12">
        <div class="form-group">
          <label>Đơn vị sáp nhập <span class="text-danger">*</span></label>
          <ng-select class="form-control select2 custom-select-box" formControlName="mergeid"
            [items]="departmentMap | keyvalue" bindLabel="value" bindValue="key" [editableSearchTerm]="true">
            <ng-option *ngFor="let item of departmentMap| keyvalue" [value]="item.key">{{item.value}}</ng-option>
          </ng-select>
          <div
            *ngIf="mergeForm.get('mergeid')!.invalid && (mergeForm.get('mergeid')!.dirty || mergeForm.get('mergeid')!.touched)">
            <small class="text-danger" *ngIf="mergeForm.get('mergeid')?.errors?.required">
              {{ 'error.validate.input_required' | translate }}
            </small>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('close')">{{ 'common.cancel' |
      translate }}</button>
    <button type="button" class="btn btn-primary" [disabled]="mergeForm.invalid" (click)="mergeDepartment()">Thực
      hiện</button>
  </div>
</form>