<div class="content-wrapper">
  <!-- Main content -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="filter-dashboard">
        <div class="row">
          <div class="col-6 col-sm-4">
            <div class="form-group">
              <label class="">Đơn vị</label>
              <ng-multiselect-dropdown
                [placeholder]="'Lọc theo đơn vị'"
                [settings]="dropdownRoleSettings"
                [data]="listDepartment"
                [(ngModel)]="selectedDepartment"
                (onSelect)="onSelectDepartmentEvent()"
                (onSelectAll)="onSelectDepartmentEvent()"
                (onDeSelect)="onSelectDepartmentEvent()"
                (onDeSelectAll)="onSelectDepartmentEvent()"
                (onDropDownClose)="changeDepartment()"
              >
              </ng-multiselect-dropdown>

              <!-- <select class="form-control col-9" (change)="onChange($event)" >
                <option value="">Chọn đơn vị</option>
                <option *ngFor="let item of quarterData" value="{{item.value}}" >{{item.name}}</option>
              </select> -->
            </div>
          </div>
          <div class="col-6 col-sm-8">
            <div class="row form-group">
              <div class="col-4">
                <form [formGroup]="form">
                  <div class="col-12 mb-3" style="margin-left: 33px">
                    <label class="col-3 mb">Bộ lọc</label>
                    <br />
                    <select
                      [disabled]="!date1"
                      class="form-control col-9 select-precious mb-2"
                      formControlName="precious"
                      (change)="onChangeFilter($event)"
                    >
                      <option value="">Năm</option>
                      <option value="2">Thời gian</option>
                      <option value="1">Quý</option>   
                    </select>
                  </div>
                </form>
              </div>
              <div class="col-8">
                <div class="row" [hidden]="filterOption != 1">
                  <form [formGroup]="formQuarter">
                    <div class="row">
                      <div class="col-6">
                        <label class="col-3">Quý</label>
                        <br />
                        <select
                          [disabled]="!date1"
                          class="form-control col-9 select-precious"
                          formControlName="precious"
                          (change)="onChange($event)"
                        >
                          <option value="">Chọn Quý</option>
                          <option
                            *ngFor="let item of quarterData"
                            value="{{ item.value }}"
                          >
                            {{ item.name }}
                          </option>
                        </select>
                      </div>
                      <div class="col-6">
                        <label class="">Năm</label>
                        <br />
                        <nz-date-picker
                          formControlName="yearQuarterSelected"
                          nzMode="year"
                          class="styleDate"
                          [(ngModel)]="date1"
                          (ngModelChange)="onChangeYearWidthQuarter($event)"
                          [nzFormat]="yearFormat"
                        ></nz-date-picker>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="" [hidden]="filterOption != ''" >
                  <form [formGroup]="formQuarter">
                    <label class="">Năm</label>
                    <br />
                    <nz-date-picker
                      nzMode="year"
                      class="styleDate"
                      formControlName="yearQuarterSelected"
                      [(ngModel)]="date1"
                      (ngModelChange)="yearSelected($event)"
                      [nzFormat]="yearFormat"
                    ></nz-date-picker>
                  </form>
                </div>
                <div [hidden]="filterOption != 2">
                  <label>Thời gian</label>
                  <br />
                  <form [formGroup]="searchFormDV" class="row">
                    <mat-form-field class="col-5 col-md-5">
                      <input
                        matInput
                        [matDatepicker]="fromDV"
                        #fromInputDV
                        [max]="currentDate"
                        placeholder="Từ ngày"
                        formControlName="startDateDV"
                        (dateChange)="changeStartDateDV($event)"
                      />
                      <mat-icon
                        *ngIf="searchTeacher.startDateDV"
                        matDatepickerToggleIcon
                        (click)="clearDateDV($event, 'startDateDV')"
                        >clear</mat-icon
                      >
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="fromDV"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #fromDV panelClass="example-month-picker">
                      </mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="col-5 col-md-5">
                      <input
                        matInput
                        [matDatepicker]="toDV"
                        #toInputDV
                        [max]="currentDate"
                        placeholder="Đến ngày "
                        formControlName="endDateDV"
                        (dateChange)="changeEndDateDV($event)"
                      />
                      <mat-icon
                        *ngIf="searchTeacher.endDateDV"
                        matDatepickerToggleIcon
                        (click)="clearDateDV($event, 'endDateDV')"
                        >clear</mat-icon
                      >
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="toDV"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #toDV panelClass="example-month-picker">
                      </mat-datepicker>
                    </mat-form-field>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-info"
              ><i class="fas fa-user-alt"></i
            ></span>
            <div class="info-box-content">
              <span class="info-box-text">Số học viên</span>
              <span class="info-box-number">{{
                overviewSystem?.totalstudent ? overviewSystem?.totalstudent : 0
              }}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-success"
              ><i class="fas fa-book"></i
            ></span>

            <div class="info-box-content">
              <span class="info-box-text">Số khóa học</span>
              <span class="info-box-number">{{
                overviewSystem?.totalcourse ? overviewSystem?.totalcourse : 0
              }}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-warning"
              ><i class="far fa-copy"></i
            ></span>

            <div class="info-box-content">
              <span class="info-box-text">Số kỳ thi</span>
              <span class="info-box-number">{{
                overviewSystem?.totalexam ? overviewSystem?.totalexam : 0
              }}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-danger"
              ><i class="far fa-star"></i
            ></span>

            <div class="info-box-content">
              <span class="info-box-text">Số giảng viên</span>
              <span class="info-box-number">{{
                overviewSystem?.totalteacher ? overviewSystem?.totalteacher : 0
              }}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="card card-default">
          <div class="card-header">
            <h6>Thống kê khóa học năm</h6>
          </div>
          <div class="card-body">
            <canvas
              baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
            >
            </canvas>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card card-default">
          <div class="card card-header">
            <h6>Thống kê học viên đạt kỳ thi</h6>
          </div>
          <div class="card-body">
            <div class="card-body">
              <div *ngIf="isCheckDataPieChart">
                <canvas
                  baseChart
                  [data]="pieChartData"
                  [labels]="pieChartLabels"
                  [chartType]="pieChartType"
                  [options]="pieChartOptions"
                  [plugins]="pieChartPlugins"
                  [legend]="pieChartLegend"
                  [colors]="pieChartColors"
                >
                </canvas>
              </div>
              <div class="row blank" *ngIf="!isCheckDataPieChart">
                <div class="col-12 text-center border bg-light p-3">
                  <img src="/assets/img-program.svg" alt="" />
                  <p>Chưa có dữ liệu</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
