.example-sidenav {
  width:20vw;
}
#table_2{
  overflow-x: auto;
}
tr.row-head:hover{
  background-color : #fff;
}
.table thead th {
  background: #E3F2FD;
  color: #615e5e;
}
.table tbody td {
  padding-left: 8px !important;
}
::ng-deep .mat-form-field-flex{
  background-color: #fff;
}
::ng-deep .date-custom .mat-form-field .mat-form-field-flex{
  margin-top: 1px;
}
.head2 th {
  padding-right: 30px !important;
  padding-left: 30px !important;
}
#table_2::-webkit-scrollbar-thumb {

  border-radius: 7px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgba(0,0,0,.1);
}
#table_2::-webkit-scrollbar {
  height: 10px;
  background-color: #F5F5F5;
} 

#table_2::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 7px;
  background-color: #F5F5F5;
}
.department_marker ::marker {
  font-size: 1.5em;
}
#table-body{
height: 80vh !important;
}
::ng-deep .date-custom{
  max-width: 130px;
}
::ng-deep .mat-form-field{
  width: 100%;
}
#table_1 td{
  background-color: #fff;
}
#table_2 {
  margin-left: -16px;
}
.table td{
  line-height: 25px !important;
}
.table th{
  line-height: 30px !important;
} 
/* ::ng-deep .mat-drawer-content{
   margin-left: 28%;
} */
.example-sidenav-content {
  height:80vh;
}
