<div class="card-body">
    <mat-drawer-container autosize class="example-container">
        <mat-drawer #drawer class="example-sidenav" mode="side" opened>
            <div class="card card-default">
                <div class="card-body">
                    <div class="row">
                        <div class="col-7">
                            <h6>Cây đơn vị</h6>
                        </div>           
                    </div>
                    <hr>
                    <form>
                        <ejs-treeview #departmentTree [fields]="departmentTreeData"  (keyPress)='nodeCheck($event)' (nodeClicked)='nodeCheck($event)'
                        (nodeChecked)='nodeSelected($event)' [showCheckBox]='true'></ejs-treeview>
                    </form>
                </div>
            </div>
        </mat-drawer>
        <mat-drawer-content>
            <div class="example-sidenav-content">
                <div class="card card-default" >
                    <div class="card-header">
                        <div class="col-12 ">
                            <div class="row">
                                <div class="col-12 mt-2">
                                    <div class="form-inline" role="form">
                                        <div class="form-group">
                                            <form class="form-inline">
                                                <div class="form-group">
                                                    <button class="btn btn-default btn-flat btn-md mr-2" type="button" mat-button
                                                    (click)="drawer.toggle()"><i class="fas fa-bars"></i>
                                                  </button>
                                            </div>
                                                <div class="form-group">
                                                    <a class="btn btn-sm btn-success text-white" (click)="exportData()"><i class="fas fa-file-excel mr-2"></i>Xuất File Excel </a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" style="overflow-x: hidden; max-width: 100%;">
                        <div class="row mt-2" >
                            <div class="col-6 table-responsive" id="table_1" style="z-index: 9999;">
                                <table class="table table-hover table-bordered" >
                                    <thead >
                                    <tr class="text-center" >
                                        <th colspan="4" class="background1"> Thông tin chung</th>
                                    </tr>
                                    <tr class="text-center" class="tablein1">
                                        <th class="text-center">STT</th>
                                        <th class="text-center">Năm</th>
                                        <th class="text-center">Tên khóa học</th>
                                        <th class="text-center">Đơn vị</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="tablein1">
                                        <td></td>
                                        <td><app-month-picker  inputValue="{{inputYear}}" typePicker="year" (chooseYearE)="yearSelected($event)" [defaulthYear]="getDefault()" >loading</app-month-picker></td>
                                        <td class=""><input type="text" class="form-control" placeholder="Nhập tên khóa học" (change)="changeName($event)" title="Nhập tên khóa học"></td>
                                        <td class=""></td>
                                    </tr>
                                    <tr *ngFor="let item of planList;let i = index" class="tablein1">
                                        <td class="">{{(pageIndex - 1) * pageSize + i + 1}}</td>
                                        <td class="">{{item.year}}</td>
                                        <td class="">{{item.fullname}}</td>
                                        <td class="">{{item.departmentnames}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                </div>
                                <div class=" col-6 table-responsive" id="table_2">
                                <table class="table table-hover table-bordered" style="white-space:nowrap">
                                    <thead class="head2">
                                    <tr>
                                        <th colspan="7" class="text-center" > Kế hoạch năm {{year}}</th>
                                        <th colspan="12" class="text-center"> Thực tế thực hiện</th>
                                    </tr>
                                    <tr class="tablein2">
                                        <th class="text-center">Hình thức khóa học</th>
                                        <th class="text-center">Thành phần</th>
                                        <th  >SLHV dự kiến</th>
                                        <th  >Địa điểm</th>
                                        <th  >Thời gian đào tạo (Ngày)</th>
                                        <th class="text-center">Số tiền dự kiến (Chưa VAT)</th>
                                        <th class="text-center">Danh mục họ nghề</th>
                                        <th class="text-center">Hình thức học</th>
                                        <th class="text-center">Thành phần</th>
                                        <th class="text-center">SLHV thực tế</th>
                                        <th class="text-center">Địa điểm</th>
                                        <th class="text-center">Thời gian đạo tạo (Ngày)</th>
                                        <th class="text-center">Số tiền thực tế (Chưa VAT)</th>
                                        <th class="text-center">Danh mục họ nghề</th>
                                        <th class="text-center">Đánh giá giảng viên</th>
                                        <th class="text-center">Đánh giá nội dung đào tạo</th>
                                        <th class="text-center">Đánh giá khâu tổ chức lớp</th>
                                        <th class="text-center">Hành vi liên quan đến kiến thức, kỹ năng đã được cử đi trước đó</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="tablein2">
                                        <td ></td>
                                        <td ></td>
                                        <td ></td>
                                        <td ></td>
                                        <td ></td>
                                        <td ></td>
                                        <td ></td>
                                        <td ></td>
                                        <td ></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr *ngFor="let item of planList;let i = index" class="tablein2" >
                                        <td [ngSwitch]="item.trainingtypeplan" class="">
                                            <span *ngSwitchCase="'OFFI'">Offline Inhouse</span>
                                            <span *ngSwitchCase="'OFFP'">Offline Public</span>
                                            <span *ngSwitchCase="'OFFE'">Offline nội bộ</span>
                                            <span *ngSwitchCase="'ONLR'">Online video recorded learning</span>
                                            <span *ngSwitchCase="'ONLL'">Online live learning zoom</span>
                                            </td>
                                        <td class="" ><span matTooltip="{{getPositionNames(item.positionplan)}}"
                                            matTooltipClass="tooltip-inner">{{item.positionplan?.length
                                            <= 10 ? getPositionNames(item.positionplan) : (getPositionNames(item.positionplan) | slice:0:20 )
                                                + '...' ||'Chưa cập nhật' }}</span></td>
                                        <td class="text-center ">{{item.numberplan | number}}</td>
                                        <td >{{item.locationplan}}</td>
                                        <td class="text-center">{{item.durationplan}}</td>
                                        <td class="text-center">{{item.costplan | number}}</td>
                                        <td>{{item.categorynameplan}}</td>
                                        <td [ngSwitch]="item.trainingtype" >
                                            <span *ngSwitchCase="'OFFI'">Offline Inhouse</span>
                                            <span *ngSwitchCase="'OFFP'">Offline Public</span>
                                            <span *ngSwitchCase="'OFFE'">Offline nội bộ</span>
                                            <span *ngSwitchCase="'ONLR'">Online video recorded learning</span>
                                            <span *ngSwitchCase="'ONLL'">Online live learning zoom</span>
                                            </td>
                                        <td ><span matTooltip="{{getPositionNames(item.trainingobject)}}"
                                            matTooltipClass="tooltip-inner">{{item.position?.length
                                            <= 10 ? getPositionNames(item.position) : (getPositionNames(item.position) | slice:0:20 )
                                                + '...' ||'Chưa cập nhật' }}</span></td>
                                        <td class="text-center">{{item.number | number}}</td>
                                        <td >{{item.location}}</td>
                                        <td class="text-center">{{item.duration}}</td>
                                        <td class="text-center">{{item.cost | number}}</td>
                                        <td >{{item.categoryname}}</td>
                                        <td class="text-center">{{item.evaluationteacher}}</td>
                                        <td class="text-center">{{item.evaluationcourse}}</td>
                                        <td class="text-center">{{item.managedcourse}}</td>
                                        <td class="text-center">{{item.studenteva}}</td>
                                    </tr>
                                    
                                    </tbody>
                                </table>
                                </div>
                        </div>
                        <br />
                        <div *ngIf="totalRecord==0" class="row">
                            <p  class="text-center col-12">{{
                                'common.no_search_result' | translate}}</p>
                        </div>
                        <div class="card-footer text-center">
                            <div class="row">
                                <mat-paginator showFirstLastButtons [length]="totalRecord" [pageSize]="pageSize"
                                [pageIndex]="pageIndex - 1" (page)="changePage($event)" [hidePageSize]="false"
                                [pageSizeOptions]="pageSizeOptions">
                                </mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>

