/**
* Template Name: Mamba - v2.3.0
* Template URL: https://bootstrapmade.com/mamba-one-page-bootstrap-template-free/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html {
    font-family: "Roboto", Arial;
  }
  body {
    font-family: "Roboto", Arial;
    color: #444;
 }
  a {
    color: #428bca;
  }

  a:hover {
    color: #9eccf4;
    text-decoration: none;
  }

  h1, h2, h3, h4, h5, h6, .font-primary {
    font-family: "Roboto", Arial;
  }
  p {
    font-size:.9rem !important;
  }
  .custom-select {
    font-size:.9rem !important;
  }

  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
    position: fixed;
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    right: 15px;
    bottom: 15px;
    background: #428bca;
    color: #fff;
    transition: display 0.5s ease-in-out;
    z-index: 99999;
  }

  .back-to-top i {
    font-size: 24px;
    position: absolute;
    top: 8px;
    left: 8px;
  }

  .back-to-top:hover {
    color: #fff;
    background: #629fd3;
    transition: background 0.2s ease-in-out;
  }

  /*--------------------------------------------------------------
  # Top Bar
  --------------------------------------------------------------*/
  #topbar {
    background: #0563b1;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: 12px;
  }

  #topbar .contact-info a {
    line-height: 1;
    color: #fff;
    transition: 0.3s;
  }

  #topbar .contact-info a:hover {
    color: #428bca;
  }

  #topbar .contact-info i {
    color: #fff;
    padding: 4px;
  }

  #topbar .contact-info .icofont-phone {
    padding-left: 20px;
    margin-left: 10px;
  }

  #topbar .social-links a {
    color: #5c768d;
    padding: 4px 12px;
    display: inline-block;
    line-height: 1px;
    transition: 0.3s;
  }

  #topbar .social-links a:hover {
    color: #428bca;
  }

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    height: 50px;
    transition: all 0.5s;
    transition: all 0.5s;
    /* padding: 10px 0; */
    background: #fff;
    z-index: 997;
  }

  #header.header-scrolled {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  }

  #header .logo h1 {
    font-size: 28px;
    margin: 0;
    /* padding: 10px 0; */
    line-height: 1;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  #header .logo h1 a, #header .logo h1 a:hover {
    color: #1c5c93;
    text-decoration: none;
  }

  #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 50px;
  }

  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /* Desktop Navigation */
  .nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    float: left;
  }

  .nav-menu a {
    display: block;
    position: relative;
    color: #428bca;
    padding: 12px 15px;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Roboto", Arial;
  }

  .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #ca4242;
    text-decoration: none;
  }

  .nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: ease all 0.3s;
  }

  .nav-menu .drop-down:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
  }

  .nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #103453;
  }

  .nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
    color: #428bca;
  }

  .nav-menu .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 5px;
  }

  .nav-menu .drop-down .drop-down ul {
    top: 0;
    left: 100%;
  }

  .nav-menu .drop-down .drop-down:hover > ul {
    opacity: 1;
    top: 0;
  }

  .nav-menu .drop-down .drop-down > a {
    padding-right: 35px;
  }

  .nav-menu .drop-down .drop-down > a:after {
    content: "\eaa0";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
  }

  @media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
      left: -90%;
    }
    .nav-menu .drop-down .drop-down:hover > ul {
      left: -100%;
    }
    .nav-menu .drop-down .drop-down > a:after {
      content: "\ea9d";
    }
  }
  /**progress **/
  .progress {
    display: -ms-flexbox;
    display: flex;
    height: 1.2rem !important;
    overflow: hidden;
    line-height: 0;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
  }
  .progress-bar-success {
    background-color: #5cb85c;
  }
  .progress-bar-danger {
    background-color: #ca4242;
  }
  /* Mobile Navigation */
  .mobile-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999;
    overflow-y: auto;
    left: -260px;
    width: 260px;
    padding-top: 18px;
    background: #1f3548;
    transition: 0.4s;
  }

  .mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .mobile-nav a {
    display: block;
    position: relative;
    color: #e3f0fc;
    padding: 10px 20px;
    font-weight: 500;
  }

  .mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
    color: #9eccf4;
    text-decoration: none;
  }

  .mobile-nav .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 10px;
    position: absolute;
    right: 15px;
  }

  .mobile-nav .active.drop-down > a:after {
    content: "\eaa0";
  }

  .mobile-nav .drop-down > a {
    padding-right: 35px;
  }

  .mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
  }

  .mobile-nav .drop-down li {
    padding-left: 20px;
  }

  .mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 20px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
  }

  .mobile-nav-toggle i {
    color: #5c768d;
  }

  .mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(31, 53, 72, 0.7);
    overflow: hidden;
    display: none;
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .mobile-nav {
    left: 0;
  }
 
  .mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
  }

  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
    width: 100%;
    height: 450px;
    padding: 0;
    overflow: hidden;
  }

  #hero .carousel-item {
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  #hero .carousel-item::before {
    content: '';
    /* background-color: rgba(0, 0, 0, 0.3); */
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
  }

  #hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }

  #hero .carousel-content {
    text-align: left;
  }

  @media (max-width: 992px) {
    #hero, #hero .carousel-item {
      height:450px ;
    }
    #hero .carousel-content.container {
      padding: 0 50px;
    }
  }
  @media (max-width: 1368px) {
    #hero, #hero .carousel-item {
      height: 450px;
    }
    #hero .carousel-content.container {
      padding: 0 50px;
    }
  }

  #hero h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 900;
  }

  #hero p {
    width: 80%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    color: #fff;
  }

  #hero .carousel-inner .carousel-item {
    transition-property: opacity;
    background-position: center top;
  }

  #hero .carousel-inner .carousel-item,
  #hero .carousel-inner .active.carousel-item-left,
  #hero .carousel-inner .active.carousel-item-right {
    opacity: 0;
  }

  #hero .carousel-inner .active,
  #hero .carousel-inner .carousel-item-next.carousel-item-left,
  #hero .carousel-inner .carousel-item-prev.carousel-item-right {
    opacity: 1;
    transition: 0.5s;
  }

  #hero .carousel-inner .carousel-item-next,
  #hero .carousel-inner .carousel-item-prev,
  #hero .carousel-inner .active.carousel-item-left,
  #hero .carousel-inner .active.carousel-item-right {
    left: 0;
    transform: translate3d(0, 0, 0);
  }

  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 10%;
  }

  #hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
    background: none;
    font-size: 48px;
    line-height: 1;
    width: auto;
    height: auto;
  }

  #hero .carousel-indicators li {
    cursor: pointer;
  }

  #hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 5px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 0;
    background: #428bca;
  }

  #hero .btn-get-started:hover {
    background: #1c5c93;
  }

  @media (max-width: 768px) {
    #hero h2 {
      font-size: 28px;
    }

  }

  @media (min-width: 1024px) {
    #hero p {
      width: 60%;
    }
    #hero .carousel-control-prev, #hero .carousel-control-next {
      width: 5%;
    }
  }

  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
    padding: 20px 0;
  }

  .section-bg {
    background-color: #f5f9fc;

  }
  .bg-blur {
    background-image: url('../../../assets/hero-bg.jpg') ;
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }

  .section-title {
    text-align: center;
    padding-bottom: 10px;
  }

  .section-title h2 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #0563b1;
    font-family: "Roboto", Arial;
  }

  .section-title p {
    margin-bottom: 0;
  }

  /*--------------------------------------------------------------
  # Breadcrumbs
  --------------------------------------------------------------*/
  .breadcrumbs {
    padding: 15px 0;
    background-color: #f5f9fc;
    min-height: 40px;
  }

  .breadcrumbs h2 {
    font-size: 24px;
    font-weight: 300;
  }

  .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
  }

  .breadcrumbs ol li + li {
    padding-left: 10px;
  }

  .breadcrumbs ol li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: #6c757d;
    content: "/";
  }

  @media (max-width: 768px) {
    .breadcrumbs .d-flex {
      display: block !important;
    }
    .breadcrumbs ol {
      display: block;
    }
    .breadcrumbs ol li {
      display: inline-block;
    }
  }

  /*--------------------------------------------------------------
  # About Us
  --------------------------------------------------------------*/
  .about {
    padding-bottom: 30px;
  }

  .about .container {
    box-shadow: 0 5px 25px 0 rgba(214, 215, 216, 0.6);
  }

  .about .video-box img {
    padding: 15px 0;
  }

  .about .section-title p {
    text-align: left;
    font-style: italic;
    color: #666;
  }

  .about .about-content {
    padding: 40px;
  }

  .about .icon-box + .icon-box {
    margin-top: 40px;
  }

  .about .icon-box .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    background: #f1f7fb;
    border-radius: 6px;
    transition: 0.5s;
  }

  .about .icon-box .icon i {
    color: #428bca;
    font-size: 32px;
  }

  .about .icon-box:hover .icon {
    background: #428bca;
  }

  .about .icon-box:hover .icon i {
    color: #fff;
  }

  .about .icon-box .title {
    margin-left: 95px;
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
  }

  .about .icon-box .title a {
    color: #343a40;
    transition: 0.3s;
  }

  .about .icon-box .title a:hover {
    color: #428bca;
  }

  .about .icon-box .description {
    margin-left: 95px;
    line-height: 24px;
    font-size: 14px;
  }

  .about .video-box {
    position: relative;
  }

  .about .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#428bca 50%, rgba(66, 139, 202, 0.4) 52%);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
  }

  .about .play-btn::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .about .play-btn::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(66, 139, 202, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
  }

  .about .play-btn:hover::after {
    border-left: 15px solid #428bca;
    transform: scale(20);
  }

  .about .play-btn:hover::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
  }

  @-webkit-keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }

  @keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }

  /*--------------------------------------------------------------
  # About Lists
  --------------------------------------------------------------*/
  .about-lists {
    padding: 40px;
  }

  .about-lists .row {
    overflow: hidden;
  }

  .about-lists .content-item {
    padding: 40px;
    border-left: 1px solid #d9e8f4;
    border-bottom: 1px solid #d9e8f4;
    margin: -1px;
  }

  .about-lists .content-item span {
    display: block;
    font-size: 24px;
    font-weight: 400;
    color: #9eccf4;
  }

  .about-lists .content-item h4 {
    font-size: 28px;
    font-weight: 400;
    padding: 0;
    margin: 20px 0;
  }

  .about-lists .content-item p {
    color: #aaaaaa;
    font-size: 15px;
    margin: 0;
    padding: 0;
  }

  @media (max-width: 768px) {
    .about-lists .content-item {
      padding: 40px 0;
    }
  }

  /*--------------------------------------------------------------
  # Counts
  --------------------------------------------------------------*/
  .counts {
    /* padding-bottom: 30px; */
  }

  .counts .count-box {
    box-shadow: 0px 0 16px rgba(0, 0, 0, 0.1);
    padding: 0px;
    background: #fff;
    margin: 30px;
  }

  .counts .count-box i {
    display: block;
    font-size: 39px;
    margin-bottom: 1px;
    padding-top: 20px;
    line-height: 0;
  }

  .counts .count-box span {
    font-size: 35px;
    display: block;
    font-weight: 600;
    color: #000000a8;
  }

  .counts .count-box p {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
  }

  /*--------------------------------------------------------------
  # Services
  --------------------------------------------------------------*/
  .services {
    padding-bottom: 30px;
  }

  .services .icon-box {
    margin-bottom: 20px;
    text-align: center;
  }

  .services .icon {
    display: flex;
    justify-content: center;
  }

  .services .icon i {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 50%;
    transition: 0.5s;
    color: #428bca;
    font-size: 40px;
    overflow: hidden;
    padding-top: 20px;
    box-shadow: 0px 0 25px rgba(0, 0, 0, 0.15);
  }

  .services .icon-box:hover .icon i {
    box-shadow: 0px 0 30px rgba(66, 139, 202, 0.5);
  }

  .services .title {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 18px;
    position: relative;
    padding-bottom: 15px;
  }

  .services .title a {
    color: #444;
    transition: 0.3s;
  }

  .services .title a:hover {
    color: #428bca;
  }

  .services .title::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: #428bca;
    bottom: 0;
    left: calc(50% - 25px);
  }

  .services .description {
    line-height: 24px;
    font-size: 14px;
  }

  /*--------------------------------------------------------------
  # Our Portfolio
  --------------------------------------------------------------*/
  .portfolio .portfolio-item {
    margin-bottom: 30px;
  }

  .portfolio #portfolio-flters {
    padding: 0;
    margin: 0 0 35px 0;
    list-style: none;
    text-align: center;
  }

  .portfolio #portfolio-flters li {
    cursor: pointer;
    margin: 0 15px 15px 0;
    display: inline-block;
    padding: 10px 20px;
    font-size: 12px;
    line-height: 20px;
    color: #444;
    border-radius: 4px;
    text-transform: uppercase;
    background: #fff;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
  }

  .portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
    background: #428bca;
    color: #fff;
  }

  .portfolio #portfolio-flters li:last-child {
    margin-right: 0;
  }

  .portfolio .portfolio-wrap {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
    position: relative;
    overflow: hidden;
  }

  .portfolio .portfolio-wrap img {
    transition: 0.3s;
  }

  .portfolio .portfolio-wrap .portfolio-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.3s;
    text-align: center;
    background: rgba(31, 53, 72, 0.6);
    padding-bottom: 30px;
  }

  .portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
  }

  .portfolio .portfolio-wrap .portfolio-info p {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
  }

  .portfolio .portfolio-wrap .portfolio-info a {
    color: #428bca;
    margin: 0 4px;
    font-size: 18px;
    line-height: 1;
    background-color: #fff;
    padding-top: 7px;
    border-radius: 50px;
    text-align: center;
    width: 36px;
    height: 35px;
    display: inline-block;
    transition: 0.3s;
  }

  .portfolio .portfolio-wrap .portfolio-info a:hover {
    background: #428bca;
    color: #fff;
  }

  .portfolio .portfolio-wrap:hover {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
  }

  .portfolio .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
    padding-bottom: 0;
  }

  .portfolio .portfolio-wrap:hover img {
    transform: scale(1.1);
  }

  /*--------------------------------------------------------------
  # Portfolio Details
  --------------------------------------------------------------*/
  .portfolio-details {
    padding-top: 30px;
  }

  .portfolio-details .portfolio-details-container {
    position: relative;
  }

  .portfolio-details .portfolio-details-carousel {
    position: relative;
    z-index: 1;
  }

  .portfolio-details .portfolio-details-carousel .owl-nav, .portfolio-details .portfolio-details-carousel .owl-dots {
    margin-top: 5px;
    text-align: left;
  }

  .portfolio-details .portfolio-details-carousel .owl-dot {
    display: inline-block;
    margin: 0 10px 0 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd !important;
  }

  .portfolio-details .portfolio-details-carousel .owl-dot.active {
    background-color: #428bca !important;
  }

  .portfolio-details .portfolio-info {
    padding: 30px;
    position: absolute;
    right: 0;
    bottom: -70px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    z-index: 2;
  }

  .portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }

  .portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
  }

  .portfolio-details .portfolio-info ul li + li {
    margin-top: 10px;
  }

  .portfolio-details .portfolio-description {
    padding-top: 50px;
  }

  .portfolio-details .portfolio-description h2 {
    width: 50%;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .portfolio-details .portfolio-description p {
    padding: 0 0 0 0;
  }

  @media (max-width: 768px) {
    .portfolio-details .portfolio-description h2 {
      width: 100%;
    }
    .portfolio-details .portfolio-info {
      position: static;
      margin-top: 30px;
    }
  }

  /*--------------------------------------------------------------
  # Our Team
  --------------------------------------------------------------*/
  .team {
    background: #fff;
    padding: 60px 0 30px 0;
  }

  .team .member {
    text-align: center;
    margin-bottom: 80px;
    position: relative;
  }

  .team .member .pic {
    border-radius: 4px;
    overflow: hidden;
  }

  .team .member img {
    transition: all ease-in-out 0.4s;
  }

  .team .member:hover img {
    transform: scale(1.1);
  }

  .team .member .member-info {
    position: absolute;
    bottom: -48px;
    left: 20px;
    right: 20px;
    background: linear-gradient(360deg, #428bca 0%, rgba(102, 157, 228, 0.9) 35%, rgba(172, 216, 255, 0.8) 100%);
    padding: 15px 0;
    border-radius: 4px;
  }

  .team .member h4 {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 16px;
    color: #fff;
    position: relative;
    padding-bottom: 10px;
  }

  .team .member h4::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #fff;
    bottom: 0;
    left: calc(50% - 25px);
  }

  .team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #fff;
  }

  .team .member .social {
    margin-top: 15px;
  }

  .team .member .social a {
    transition: color 0.3s;
    color: #fff;
  }

  .team .member .social a:hover {
    color: #9eccf4;
  }

  .team .member .social i {
    font-size: 16px;
    margin: 0 2px;
  }

  @media (max-width: 992px) {
    .team .member {
      margin-bottom: 100px;
    }
  }

  /*--------------------------------------------------------------
  # Frequently Asked Questions
  --------------------------------------------------------------*/
  .faq {
    padding-bottom: 30px;
  }

  .faq .faq-item {
    margin-bottom: 40px;
  }

  .faq .faq-item h4 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #1f3548;
  }

  /*--------------------------------------------------------------
  # Contact Us
  --------------------------------------------------------------*/
  .contact .info-box {
    color: #444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
    margin-bottom: 30px;
    width: 100%;
  }

  .contact .info-box i {
    font-size: 32px;
    color: #428bca;
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #9eccf4;
  }

  .contact .info-box h3 {
    font-size: 20px;
    color: #666;
    font-weight: 700;
    margin: 10px 0;
  }

  .contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }

  .contact .php-email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
  }

  .contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }

  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }

  .contact .php-email-form .error-message br + br {
    margin-top: 25px;
  }

  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }

  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }

  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }

  .contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }

  .contact .php-email-form input::focus, .contact .php-email-form textarea::focus {
    background-color: #428bca;
  }

  .contact .php-email-form input {
    padding: 20px 15px;
  }

  .contact .php-email-form textarea {
    padding: 12px 15px;
  }

  .contact .php-email-form button[type="submit"] {
    background: #428bca;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
  }

  .contact .php-email-form button[type="submit"]:hover {
    background: #6aa3d5;
  }

  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  #footer {
    background: #edf7ff;
    padding: 0 0 10px 0;
    color: #0563b1;
    font-size: 14px;
    /* position: fixed; */
    width: 100%;
  }

  #footer .footer-top {
    background: #0563b1;
    border-top: 1px solid #768fa6;
    border-bottom: 1px solid #67839c;
    padding: 60px 0 30px 0;
  }

  #footer .footer-top .footer-info {
    margin-bottom: 15px;
  }

  #footer .footer-top .footer-info h3 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }

  #footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;  
  }

  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #0783C4;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }

  #footer .footer-top .social-links a:hover {
    background: #428bca;
    color: #fff;
    text-decoration: none;
  }

  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
  }

  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }

  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #9eccf4;
    font-size: 18px;
    line-height: 1;
  }

  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }

  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }

  #footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }

  #footer .footer-top .footer-links ul a:hover {
    color: #9eccf4;
  }

  #footer .footer-top .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4;
  }

  #footer .footer-top .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 4px;
    width: calc(100% - 110px);
  }

  #footer .footer-top .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #428bca;
    color: #fff;
    transition: 0.3s;
    border-radius: 4;
  }

  #footer .footer-top .footer-newsletter form input[type="submit"]:hover {
    background: #5295ce;
  }

  #footer .copyright {
    text-align: center;
    padding-top: 22px;
  }

  #footer .credits {
    /* padding-top: 10px; */
    text-align: center;
    font-size: 13px;
  }

  #footer .credits a {
    color: #9eccf4;
  }
  .box-object {
    /* box-shadow: 0 2px 7px rgba(0,0,0,.15);*/
    margin-bottom: 20px;
    border-radius: 1.2rem;
    border: 0.5rem solid #fff;

  }
  .box-sub-object {
    background-color: white;
    margin-bottom: 20px;
    border: 1px solid #eeee;
  }
  .hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: pointer;
    background: #0783C4;
    border-radius: 0.85rem;
  }

  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 90px 20px;
  }

  .hovereffect img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .hovereffect:hover img {
    opacity: 0.5;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  .hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    overflow: hidden;
    padding: 0.5em 0;
    background-color: transparent;
  }

  .hovereffect h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
  }

  .hovereffect:hover h2:after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  .hovereffect a, .hovereffect p {
    color: #FFF;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
  }

  .hovereffect:hover a, .hovereffect:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  /*** search ***/
  .searchbar{
      margin-bottom: auto;
      margin-top: auto;
      height: 45px;
      background-color: #c4e4ff;
      border-radius: 40px;
      color: #1f3548;
      /* padding: 10px; */
      }

      .search_input{
      color: white;
      border: 0;
      outline: 0;
      background: none;
      width: 0;
      caret-color:transparent;
      line-height: 40px;
      transition: width 0.4s linear;
      }

      .searchbar:hover > .search_input{
      padding: 0 10px;
      width: 250px;
      caret-color:red;
      transition: width 0.4s linear;
      }

      .searchbar:hover > .search_icon{
      background: white;
      color: #e74c3c;
      }

      .search_icon{
      height: 45px;
      width: 45px;
      float: right;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color:white;
      text-decoration:none;
      }
      .button-round
       {
         border-radius: 30px;
        width:150px;
        }

  /**breadcum-page**/
  .inner_page_breadcrumb {
    background-image: url("../../../assets/1.jpg");
    background-repeat: no-repeat;
    height: auto;
    margin-top: -1px;
    position: relative;
    background-size: cover;
  }
  .inner_page_breadcrumb:before {
    content: "";
    background-image: -webkit-linear-gradient(135deg, rgb(255, 16, 83) 0%, rgb(52, 82, 255) 100%);
    background-image: -ms-linear-gradient(135deg, rgb(255, 16, 83) 0%, rgb(52, 82, 255) 100%);
    background-image: -moz-linear-gradient(135deg, rgb(255, 16, 83) 0%, rgb(52, 82, 255) 100%);
    height: 100%;
    left: 0px;
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 0px;
  }
  .inner_page_breadcrumb .breadcrumb_content .breadcrumb {
    background-color: transparent;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
    padding-top: 5px;
  }
  .breadcrumb .breadcrumb-item {
    color: #858585;
  }
  .inner_page_breadcrumb .breadcrumb_content {
    margin-top: 50px;
    /* padding-top: 20px; */
  }
  .inner_page_breadcrumb .breadcrumb_title {
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  .inner_page_breadcrumb .breadcrumb-item a, .inner_page_breadcrumb .breadcrumb-item.active, .inner_page_breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    color: #ffffff;
    text-transform: capitalize;
  }
  .inner_page_breadcrumb .breadcrumb-item a:hover {
   color: #18d26e;
  }
  .breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: "/";
  }

  .breadcrumb-item + .breadcrumb-item::before {
    content: "/";
    content: "/";
  }
  .breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #868e96;
    content: "/";
  }
  /**phan tab**/
  #tabs{
    color: #7e7e7e;
  }
  #tabs h6.section-title{
      color: #ababab;
  }

  #tabs .nav-tabs .nav-item.show .nav-link {
      color: #7e7e7e;
      background-color: transparent;
      border-color: transparent transparent #f3f3f3;
      border-bottom: 4px solid !important;
      font-size: 11pt;
      font-weight: bold;
  }
  #tabs  .nav-tabs .nav-link.active {
    color: #0783C4;
    border-color: transparent transparent #0783C4;
    border-bottom: 4px solid !important;
  }
  #tabs .nav-tabs .nav-link {
      border: 1px solid transparent;
      border-top-left-radius: .25rem;
      border-top-right-radius: .25rem;
      color: #7e7e7e;
      font-size: 11pt;
  }
  /***phan sidebar ***/
  #sidebar {
    z-index: 999;
    /* position: fixed; */
    width: 100%;
    height: 100%;
    left: 0px;
    overflow-y: auto;
    /* background: #f7f7f7; */
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  #sidebar .sidebar-header a {
    color: #fff;
    display: block;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 5px 0px;
  }
  #sidebar .sidebar-header {
    background-color: #e22a69;
    font-size: 20px;
    line-height: 52px;
    text-align: center;
  }
  #sidebar ul li a {
    padding: 10px 10px;
    font-size: 13px;
    display: block;
    color: #444;
    border-bottom: 1px solid #f1f1f1;
    text-decoration: none;
    transition: 0.4s;
  }
  #sidebar ul li a:hover {
    color: #263238;
    background: #fff;
  }
  #sidebar ul ul a {
    font-size: 13px !important;
    padding-left: 30px !important;
    background: #f5f5f5;
  }
  a.dropdown-toggle.collapsed.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
    vertical-align: 5px;
    content: "";
    border-bottom: 5px solid;
    border-right: 5px solid transparent;
    border-top: 0;

    margin-top: 10px;
  }
  #sidebar .dropdown-toggle::after {
    float: right;
    margin-top: 10px;
  }
  #sidebar .icon {
    padding-right: 15px;
  }
  /*** Dot score ***/
   .dot-score {
      height: 50px;
      width: 50px;
      background-color: #007bff;
      border-radius: 50%;
      display: inline-block;
      color: white;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      padding-top: 10px;
  }
  .checked {
    color: #007bff;
  }
  /** rating **/
  .wrapper {
    position: relative;
    display: inline-block;
    border: none;
    font-size: 11px;
    left: 25%;
    transform: translateX(-50%);
  }

  .wrapper input {
    border: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    opacity: 0;
  }

  .wrapper label {
    position: relative;
    float: right;
    color: #C8C8C8;
  }

  .wrapper label:before {
    margin: 5px;
    content: "\f005";
    font-family: FontAwesome;
    display: inline-block;
    font-size: 1.5em;
    color: #ccc;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .wrapper input:checked ~ label:before {
    color: #FFC107;
  }

  .wrapper label:hover ~ label:before {
    color: #ffdb70;
  }

  .wrapper label:hover:before {
    color: #FFC107;
  }
  /**card body**/
  .card {
    background: #fff;
    margin-bottom: 10px;
    transition: .5s;
    border: 0;
    border-radius: .1875rem;
    display: inline-block;
    position: relative;
    width: 100%;
    box-shadow: none;
  }
  .card .body {
    font-size: 14px;
    color: #424242;
    padding: 20px;
    font-weight: 400;
  }
  .profile-page .profile-header {
    position: relative
  }

  .profile-page .profile-header .profile-image img {
    border-radius: 50%;
    width: 140px;
    /* border: 3px solid #fff; */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
  }

  .profile-page .profile-header .social-icon a {
    margin: 0 5px
  }

  .profile-page .profile-sub-header {
    min-height: 60px;
    width: 100%
  }

  .profile-page .profile-sub-header ul.box-list {
    display: inline-table;
    table-layout: fixed;
    width: 100%;
    background: #eee
  }

  .profile-page .profile-sub-header ul.box-list li {
    border-right: 1px solid #e0e0e0;
    display: table-cell;
    list-style: none
  }

  .profile-page .profile-sub-header ul.box-list li:last-child {
    border-right: none
  }

  .profile-page .profile-sub-header ul.box-list li a {
    display: block;
    padding: 15px 0;
    color: #424242
  }

  /*** phần label ***/
  .label {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  .label-success {
    background-color: #5cb85c;
  }
  .label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 300;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
  }
  .label-default {
    background-color: #777;
  }
  /** table**/
  .table-light tbody+tbody, .table-light td, .table-light th, .table-light thead th {
    font-size: 11pt !important;
  }

  /**Gridlayout**/
  .square {
    background-color: rgba(0, 114, 245, 0.8);
    text-align: center;
    display: block;
    width: 40px;
    height: 40px;
    float: left;
    margin: 0.15em;
    cursor: pointer;
    border-radius: 50%;
  }
  .square-gray {
    background-color: gray;
  }
  .square-orange {
    background-color: orange;
  }
  .square .content {
    font-size: 1.4em;
    padding-top: 12%;
    color: white;
    }

  /**list product**/
  .information-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 10pt;
  }
  .information-list-in-box>.item {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #f4f4f4;
  }
  .information-list>.item {
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    padding: 10px 0;
    background: #fff;
  }
  .information-list .information-img {
    float: right;
  }
  .information-list .information-info {
    margin-left: 0px;
  }
  /**scrollbar**/
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  /*Check box*/
  input[type="checkbox"], input[type="radio"]{
      position: absolute;
  }

  input[type="checkbox"] + .label-text:before{
      content: "\f096";
      font-family: "FontAwesome";
      /* speak: none; */
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing:antialiased;
      width: 1em;
      display: inline-block;
      margin-right: 5px;
  }

  input[type="checkbox"]:checked + .label-text:before{
      content: "\f14a";
      color: rgba(0, 114, 245, 0.8);
      animation: effect 250ms ease-in;
  }

  input[type="checkbox"]:disabled + .label-text{
      color: #aaa;
  }

  input[type="checkbox"]:disabled + .label-text:before{
      content: "\f0c8";
      color: #ccc;
  }
  /**scrollbar **/
  div.scrollbar {
    /* background-color: lightblue; */
    width: 100%;
    height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .centerbutton {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /**phan search**/
  .active-cyan-2 input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1 !important;
    box-shadow: 0 1px 0 0 #4dd0e1 !important;
  }
  .active-cyan input.form-control[type=text] {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
  }
  .active-cyan .fa, .active-cyan-2 .icon {
    color: #4dd0e1;
  }
  .title-exam {
    font-size:12pt;
    font-weight: 400;
  }
  .des-exam {
    font-size:11pt;
  }
  @media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1368px !important;
  }
  }
@media screen and (min-width: 1600px) and (max-width:1920px){
    .table td, .table th {
        padding: .15rem !important;
        /* line-height: 1.5rem; */
        font-size: .9rem !important;
        vertical-align: middle;
        color: #7e7e7e;
      }
}
@media screen and (min-width: 1368px) and (max-width:1600px){
    .table td, .table th {
        padding: .15rem !important;
        /* line-height: 1.5rem; */
        font-size: .8rem !important;
        vertical-align: middle;
        color: #7e7e7e;
      }
}

  .feature_course_widget {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(238, 238, 238);
    border-radius: 5px;
    background-color: rgba(243, 243, 246, 0);
    padding: 20px 0 15px;
    margin-bottom: 30px;
  }
  .list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
  }
  .list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
  }
  .feature_course_widget ul li {
    border-bottom: 1px solid #eeeeee;
    color: #7e7e7e;
    font-size: 12px;
    line-height: 2.667;
    padding: 0 5px;
  }
  .align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
  }
  .justify-content-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
  }
  .d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
  }
  .text-mobi {
    color:#0060af;
  }
  .mat-list-base .mat-list-item.mat-list-item-with-avatar .mat-list-item-content .mat-list-text, .mat-list-base .mat-list-item.mat-list-option .mat-list-item-content .mat-list-text, .mat-list-base .mat-list-option.mat-list-item-with-avatar .mat-list-item-content .mat-list-text, .mat-list-base .mat-list-option.mat-list-option .mat-list-item-content .mat-list-text {
    padding-right: 0;
    padding-left: 5px !important;
    /* padding-top: 6px !important; */
    font-size:.9rem !important
}
.mat-list-base {
  padding-top: 0px !important;
}
.table thead th {
  vertical-align: middle !important;
  border-bottom: 1px solid #dee2e6 !important;
  /* line-height: 21px; */
}
.form-control {
  font-size:.9rem !important;
}
.badge {
  text-transform: uppercase !important;
  font-size: 10px !important;
  font-weight:400 !important;
}
.btn-sticky {
  position: fixed;
  z-index: 1;
  bottom: 20px;
  right: 100px;
  overflow-x: hidden;
  transition-duration: 250ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(.7,1,.7,1);
}


@media screen and (max-height: 450px) {
  .btn-sticky {padding-top: 15px;}
  .btn-sticky a {font-size: 18px;}
}
.card-box {
  background-color: #fff;
  padding: .7rem;
  box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
  margin-bottom: 24px;
  border-radius: .25rem;
}
/**avatar**/
.person-circle {
  background-color: #90a4ae;
  border-radius: 50%;
  color: rgba(255,255,255,.87);
  font-size: 31px;
  font-weight: bold;
  height: 70px;
  line-height: 71px;
  text-align: center;
  width: 70px;
  position: relative;
  margin-right: 10px;
  left: -7px;
}
.preson-circle-avatar {
  height: 28px;
  width: 28px;
  line-height: 30px;
}
.person-circle.chr-A {
  background-color: #ef5350;
}

.person-circle.chr-B {
  background-color: #ec407a;
}
.person-circle.chr-C{
  background-color: #7e57c2;
}
.person-circle.chr-E {
  background-color: #5c6bc0;
}
.person-circle.chr-G {
  background-color: #0288d1;
}
.person-circle.chr-H {
  background-color: #0097a7;
}
.person-circle.chr-D {
  background-color: #7e57c2;
}
.person-circle.chr-J {
  background-color: #43a047;
}
.person-circle.chr-K {
  background-color: #7cb342;
}
.person-circle.chr-L {
  background-color: #827717;
}
.person-circle.chr-M {
  background-color: #fdd835;
}
.person-circle.chr-N {
  background-color: #ffb300;
}
.person-circle.chr-S {
  background-color: #ff5722;
}
.multiselect-dropdown  .dropdown-btn {
  line-height: 1.3!important;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border-radius: 0px !important;
}
.mat-list-base .mat-list-item .mat-list-item-content-reverse, .mat-list-base .mat-list-option .mat-list-item-content-reverse {
        border-bottom: 1px solid #eeeeee !important;
}

.custom-select-box .ng-dropdown-panel{
  opacity: 1;
  background: #fff;
  padding-left: 5px;
  border: 1px solid #ccc;
  margin-left: -13px;
  margin-top: 8px;
}
@media (max-width: 550px) {
	#hero, #hero .carousel-item {
	  height: 400px!important;
  }
  #hero .carousel-item .top10 p {
	margin-bottom: 5px;
	font-size: 15px!important;
  }
  #hero .carousel-item .top10 h2{
    margin-bottom: 5px;
    font-size: 20px!important;
    }
   #hero .top10{
	  position: relative;
    left: 0px;
  }
  #hero .carousel-item .container .top10 p span{
      font-size: 16px!important;
      position: absolute;
      right: 28px!important;
    }
  }
  .sidebar{
    overflow-y: scroll!important;
  }
  .sidebar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
  }
  /* .mat-form-field-wrapper{
    padding-bottom: 0px !important
  }
   */