::ng-deep .tooltip-red {
  background: #b71c1c !important;
  font-size:10pt !important;
}
.mat-icon-button {
  width: 20px !important;
  height: 20px !important;
  line-height: 20px !important;
}
.mat-list-button {
  display:block;
  cursor:pointer;
  height:60px !important;
}
.mat-list-button:hover {
  display:block;
  background-color: #e7e7e7;
  cursor:pointer;
}
.mat-list-button:active {
  display:block;
  background-color: #78b8e7;
  cursor:pointer;
}
.mat-list-base .mat-list-item .mat-list-avatar, .mat-list-base .mat-list-option .mat-list-avatar {
  flex-shrink: 0;
  width: 25px !important;
  height: 25px !important;
  border-radius: 50%;
  object-fit: cover;
}
.example-container {
  width: 80vw;
  height: auto;
}
.example-sidenav {
    width:20vw;

}
::ng-deep .example-sidenav-content {
  height:80vh;
}
.font-size-14 {
   font-size:14pt;
}
.font-size-11 {
   font-size:11pt;
}
mat-panel-title,
mat-panel-description,
span {
 display: block;
}
.topic {
   color: #000000;
   font-weight:300;
}
.teacher {
   opacity:0.8;
   font-size:10pt;
}
::ng-deep .tooltip-red {
background: #b71c1c !important;
font-size:10pt !important;
}
.table td, .table th {
   line-height: 2rem;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #dee2e6;
}
::ng-deep section {
  padding: 10px 0;
}

/**phan sua them **/
::ng-deep .mat-list-base .mat-list-item .mat-list-text>*, .mat-list-base .mat-list-option .mat-list-text>* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 11pt !important;
}
::ng-deep .mat-list-button{
  display: block;
  cursor: pointer;
  height: 45px !important;
}
::ng-deep .mat-list-base {
  padding-top: 0px !important;
  display: block;
  -webkit-tap-highlight-color: transparent;
}
.is-active {
  border-left: solid 3px blue !important;
}