<div class="content-wrapper" style="min-height: 928.604px">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>{{ 'report.report-student-data.title' | translate }}</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#" routerLink="/admin">CMS</a></li>
                        <li class="breadcrumb-item active">{{ 'report.report-student-data.title' | translate }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- code develop-->
                <mat-drawer-container autosize class="example-container">
                    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
                        <div class="card card-default">
                            <div class="card-body">
                                <h6>{{ 'report.report_student.deparment' | translate }}</h6>
                                <hr>
                                <form>
                                    <ejs-treeview #departmentTree
                                        [fields]="departmentTreeData"
                                        (nodeSelecting)='nodeSelected($event)'
                                        (nodeChecked)='nodeSelected($event)'
                                        (keyPress)='nodeCheck($event)'
                                        (nodeClicked)='nodeCheck($event)'
                                        [showCheckBox]='true'>
                                    </ejs-treeview>
                                </form>
                            </div>
                        </div>
                    </mat-drawer>
                    <div class="example-sidenav-content">
                        <div class="card card-default">
                            <div class="card-body content-of-topic mt-2">
                                <div class="row">
                                    <div class="col-8">
                                        <h6 class="topic mb-2"></h6>
                                        <div class="form-inline">
                                            <div class="btn-group">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- //content -->
                                    <section class="content" style="width:100%">
                                        <div class="container-fluid">
                                            <div class="col-12">
                                                <div class="card card-default">
                                                    <div class="card-header">
                                                        <!-- <h3 class="card-title">Danh sách câu hỏi mới</h3> -->
                                                        <div class="row">
                                                            <div class="col-12 m-0">
                                                                <form class="form-inline">
                                                                    <div class="form-group m-2 col-md-4">
                                                                        <button
                                                                            class="btn btn-default btn-flat btn-md mr-2"
                                                                            type="button" mat-button
                                                                            (click)="drawer.toggle()"><i
                                                                                class="fas fa-bars"></i>
                                                                        </button>

                                                                        &nbsp; &nbsp;
                                                                        <a class="btn btn-sm btn-success text-white"
                                                                            (click)="exportStudent()"><i
                                                                                class="fas fa-file-excel mr-2"></i>{{ 'report.report_student.export' | translate }}</a>
                                                                    </div>
                                                                </form>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body" style="display: block;">
                                                        <div class="col-12 table-responsive">
                                                            <table class="table table-hover table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="height:30px;" class="text-center">{{ 'report.report_student.stt' | translate }}
                                                                        </th>
                                                                        <th style="height:30px;" class="text-center"
                                                                            width="140">{{ 'user.full_name' | translate }}</th>
                                                                        <th style="height:30px;" width="100px"
                                                                            class="text-center">{{ 'report.report_student.email' | translate }}</th>
                                                                        <th style="height:30px;" width="200px"
                                                                            class="text-center">Khóa học đã tham gia
                                                                        </th>
                                                                        <th style="height:30px;" class="text-center">
                                                                            {{ 'report.report-student-data.cetificate' | translate }}
                                                                        </th>
                                                                        <th style="height:30px;" class="text-center">
                                                                            {{ 'report.report-student-data.level' | translate }}
                                                                        </th>
                                                                        <th style="height:30px;" width="200px"
                                                                            class="text-center"> {{ 'report.report-student-data.experience' | translate }}
                                                                        </th>
                                                                        <th style="height:30px;" width="50px"
                                                                            class="text-center">{{ 'report.report-student-data.position' | translate }}</th>
                                                                        <th style="height:30px;" width="200px"
                                                                            class="text-center">{{ 'report.report_student.deparment' | translate }}</th>
                                                                    </tr>
                                                                    <tr>
                                                                        <td></td>
                                                                        <td class="text-center">
                                                                            <input type="search"
                                                                                style="border:1px solid #adadad"
                                                                                #keyword
                                                                                class="form-control form-control-sm mr-2"
                                                                                data-toggle="tooltip"
                                                                                data-placement="bottom"
                                                                                title="{{ 'report.report-student-data.search_name' | translate }}"
                                                                                placeholder="{{ 'report.report-student-data.search_name' | translate }}"
                                                                                (change)="onSearch($event)"
                                                                                autocomplete="off">
                                                                        </td>

                                                                        <td class="text-center"></td>
                                                                        <td class="text-center"><button type="submit"
                                                                                (click)="openListCourse('course')"
                                                                                class="btn btn-sm btn-primary text-white"><i
                                                                                    class="fas fa-search mr-2"></i> {{ 'common.search' | translate }}</button></td>
                                                                        <td class="text-center w-190">
                                                                            <ng-multiselect-dropdown
                                                                                [placeholder]="'report.report-student-data.select_cetificate' | translate "
                                                                                [data]="badgeList"
                                                                                [(ngModel)]="badgeData"
                                                                                [settings]="dropdownSettings"
                                                                                (onSelect)="onSelectBadge()"
                                                                                (onDeSelect)="onSelectBadge()"
                                                                                (onDeSelectAll)="onSelectBadge()"
                                                                                (onSelectAll)="onSelectBadge()"
                                                                                (onDropDownClose)="changeBadge()">
                                                                            </ng-multiselect-dropdown>
                                                                        </td>
                                                                        <td class="text-center w-190">
                                                                            <ng-multiselect-dropdown
                                                                                [placeholder]="'report.report-student-data.select_level' | translate "
                                                                                [data]="levelList"
                                                                                [(ngModel)]="levelData"
                                                                                [settings]="dropdownSettings"
                                                                                (onSelect)="onSelectLevel()"
                                                                                (onDeSelect)="onSelectLevel()"
                                                                                (onDeSelectAll)="onSelectLevel()"
                                                                                (onSelectAll)="onSelectLevel()"
                                                                                (onDropDownClose)="changeLevel()">
                                                                            </ng-multiselect-dropdown>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <!-- <input type="number" style="border:1px solid #adadad"  #seniority [min]='minNumbder'   class="form-control form-control-sm mr-2" placeholder="Nhập kinh nghiệm" (change)="onSearchSeniority($event)" autocomplete="off"> -->
                                                                            <ng-multiselect-dropdown
                                                                                [placeholder]="'report.report-student-data.select_experience' | translate "
                                                                                [settings]="dropdownSettings"
                                                                                [data]="senirorityList"
                                                                                [(ngModel)]="seniorityData"
                                                                                (onDropDownClose)="changeSeniority()"
                                                                                (onSelect)="onSelectSeniority()"
                                                                                (onDeSelect)="onSelectSeniority()"
                                                                                (onSelectAll)="onSelectSeniority()"
                                                                                (onDeSelectAll)="onSelectSeniority()">
                                                                            </ng-multiselect-dropdown>
                                                                        </td>
                                                                        <td class="text-center w-230">
                                                                            <ng-multiselect-dropdown
                                                                                [placeholder]="'report.report-student-data.select_position' | translate "
                                                                                [data]="positionList"
                                                                                [(ngModel)]="positionData"
                                                                                [settings]="dropdownSettings"
                                                                                (onSelect)="onSelectPosition()"
                                                                                (onDeSelect)="onSelectPosition()"
                                                                                (onSelectAll)="onSelectPosition()"
                                                                                (onDeSelectAll)="onSelectPosition()"
                                                                                (onDropDownClose)="changePosition()">
                                                                            </ng-multiselect-dropdown>
                                                                        </td>
                                                                        <td class="text-center"></td>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr *ngFor="let item of studentList;let i = index;">
                                                                        <td class="text-center">
                                                                            {{(searchStudent.pageIndex - 1) *
                                                                            searchStudent.pageSize + i + 1}}</td>
                                                                        <td><span matTooltip="{{item.fullname}}"
                                                                                matTooltipClass="tooltip-inner">{{item.fullname?.length
                                                                                <= 10 ? item.fullname : (item.fullname |
                                                                                    slice:0:20) + '...' }}</span>
                                                                        </td>
                                                                        <td class="text-center"><span
                                                                                matTooltip="{{item.email}}"
                                                                                matTooltipClass="tooltip-inner">{{item.email?.length
                                                                                <= 30 ? item.email : (item.email |
                                                                                    slice:0:20) + '...' }}</span>
                                                                        </td>
                                                                        <td class="text-center"><span
                                                                                matTooltip="{{item.coursenames}}"
                                                                                matTooltipClass="tooltip-inner">{{item.coursenames?.length
                                                                                <= 30 ? item.coursenames :
                                                                                    (item.coursenames | slice:0:20)
                                                                                    + '...' }}</span>
                                                                        </td>
                                                                        <td class="text-center"><span
                                                                                matTooltip="{{item.badgenames}}"
                                                                                matTooltipClass="tooltip-inner">{{item.badgenames?.length
                                                                                <= 30 ? item.badgenames :
                                                                                    (item.badgenames | slice:0:20)
                                                                                    + '...' }}</span>
                                                                        </td>
                                                                        <td class="text-center"><span
                                                                                matTooltip="{{item.levels}}"
                                                                                matTooltipClass="tooltip-inner">{{item.levels?.length
                                                                                <= 30 ? item.levels : (item.levels |
                                                                                    slice:0:20) + '...' }}</span>
                                                                        </td>
                                                                        <td class="text-center">{{item.seniority}}</td>
                                                                        <td class="text-center"><span
                                                                                matTooltip="{{item.positionnames}}"
                                                                                matTooltipClass="tooltip-inner">{{item.positionnames?.length
                                                                                <= 30 ? item.positionnames :
                                                                                    (item.positionnames | slice:0:20)
                                                                                    + '...' }}</span>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <span>{{item.departmentname}}</span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <br />
                                                            <p *ngIf="totalRecord==0" class="text-center">{{
                                                                'common.no_search_result' | translate}}</p>
                                                        </div>
                                                        <div class="card-footer text-center">
                                                            <div class="row">
                                                                <mat-paginator showFirstLastButtons
                                                                    [length]="totalRecord"
                                                                    [pageSize]="searchStudent.pageSize"
                                                                    [pageIndex]="searchStudent.pageIndex - 1"
                                                                    (page)="changePage($event)" [hidePageSize]="false"
                                                                    [pageSizeOptions]="pageSizeOptions">
                                                                </mat-paginator>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-drawer-container>
            </div>
        </div>
    </section>
</div>
