<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Kết quả thi</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a href="#" routerLink="/admin">CMS</a>
            </li>
            <li class="breadcrumb-item active">Báo cáo thi</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 mr-0">
        <div class="card">
          <div class="card-body">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header [collapsedHeight]="'50px'">
                  <mat-panel-title>
                    <div class="form-inline">
                      <div class="ml-2 mt-1">
                        <span class="topic">Đơn vị</span>
                      </div>
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <form>
                  <ejs-treeview
                    #departmentTree
                    [fields]="departmentTreeData"
                    (keyPress)="nodeCheck($event)"
                    (nodeClicked)="nodeCheck($event)"
                    (nodeSelected)="nodeDepartmentSelected($event)"
                    (nodeChecked)="nodeDepartmentChecked($event)"
                    [showCheckBox]="true"
                  >
                  </ejs-treeview>
                </form>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
      <div class="col-9 ml-0">
        <div class="card">
          <div class="card-body">
            <div class="row mt-3 mb-3">
              <div class="form-group col-3 ">
                <label class="fw-bold mx-2 me-2">Lựa chọn kỳ thi</label>
                <br />
                <select
                  style="width: 279px"
                  class="form-control form-control-sm ml-2 lclt"
                  name=""
                  id=""
                  [(ngModel)]="searchExam.coursetype"
                  (change)="onChangeType($event)"
                >
                  <option value="">Toàn bộ</option>
                  <option value="1">Theo khóa học</option>
                  <option value="2">Độc lập</option>
                </select>
              </div>
              <div class="form-group col-3 ">
                <div class="row">
                  <div class="col-12">
                    <label class="mx-1">Lọc theo học viên</label>
                    <br />
                    <nz-select
                      [(ngModel)]="selectedRole"
                      (ngModelChange)="changeStudent($event)"
                      nzShowSearch
                      nzMode="multiple"
                      nzPlaceHolder="Chọn học viên"
                      [nzDropdownClassName]="'fill-dropdown'"
                      (nzOnSearch)="reqQuestionUpdate.next($event)"
                      (nzScrollToBottom)="onScrollDown()"
                    >
                      <nz-option
                        *ngFor="let option of roleList"
                        [nzLabel]="option.fullname"
                        [nzValue]="option.id"
                      ></nz-option>
                    </nz-select>
                  </div>
                </div>
              </div>
              <div class="form-group col-6">
                <label class="mx-1">Tìm kiếm</label>
                <div class="row">
                  <div class="col-5">
                    <input
                      type="search"            
                      #keyword
                      (change)="onSearch($event)"
                      class="form-control form-control-sm ml-2 tk"
                      name=""
                      id=""
                      aria-describedby="helpId"
                      placeholder="Tìm kiếm tên kỳ thi, khóa học"
                    />
                  </div>
                  <div class="col-6">
                    <a
                      (click)="onExportListExamReport()"
                      class="ml-2 btn btn-sm btn-success text-white excel-style"
                      ><i class="fas fa-file-excel mr-2"></i>Export
                    </a>
                  </div>
                </div>

                <!-- <button
                    type="button"
                    (click)="onExportListExamReport()"
                    mattooltip="Xuất File Excel"
                    mattooltipclass="tooltip-red"
                    class="btn btn-default btn-lg ml-1"
                    matTooltip="Export"
                  >
                    <i class="fas fa-file-excel"></i>
                  </button> -->
                <!-- <button class="btn btn-default rounded-0 ml-2"><i class="fas fa-search mr-2"></i> Tìm kiếm nâng
                    cao</button> -->
              </div>
            </div>
            <label for="">Danh sách</label>
            <div class="table-responsive">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>TT</th>
                    <th style="width: 280px">Tên khóa học/kỳ thi</th>
                    <!-- <th>Tên khóa học</th> -->
                    <th class="text-center">Số lượng bài thi</th>
                    <th class="text-center">Học viên tham gia</th>
                    <th class="text-center">HV hoàn thành</th>
                    <th class="text-center">HV chưa hoàn thành</th>
                    <th>Thao tác</th>
                    <th class="text-center">Chọn loại báo cáo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let course of courses; let i = index">
                    <td>{{ (pageIndex - 1) * pageSize + i + 1 }}</td>
                    <td>
                      {{
                        course.fullname?.length <= 40
                          ? course.fullname
                          : (course.fullname | slice : 0 : 40) + "..."
                      }}
                    </td>
                    <td class="text-center">
                      {{ course?.numberofquiz ? course?.numberofquiz : 0 }}
                    </td>
                    <td class="text-center">{{ course?.totalstudent }}</td>
                    <td class="text-center">{{ course?.studentpassed }}</td>
                    <td class="text-center">{{ course?.studentfailed }}</td>
                    <td>
                      <a
                        class="btn btn-default btn-sm"
                        [routerLink]="['/admin/result-exam/detail', course.id]"
                        (click)="goToDetail()"
                        matTooltip="Xem chi tiết"
                        ><i class="fas fa-eye"></i
                      ></a>
                      <button
                        class="btn btn-default btn-sm ml-2"
                        (click)="onExport(course.id)"
                        matTooltip="Export"
                      >
                        <i class="fas fa-file-excel"></i>
                      </button>
                    </td>
                    <td class="text-center">
                      <select
                        class="form-control form-control-sm ml-2 col-7"
                        name=""
                        id=""
                        (change)="onChangeReportType($event, course.id)"
                      >
                        <option value="">Theo phương pháp chấm điểm</option>
                        <option [value]="1">Tất cả lần thi</option>
                      </select>
                    </td>
                  </tr>
                </tbody>
              </table>
              <br />
              <p *ngIf="courses?.length === 0" class="text-center">
                {{ "common.no_search_result" | translate }}
              </p>
            </div>
            <div class="card-footer text-center" *ngIf="courses?.length > 0">
              <div class="row">
                <mat-paginator
                  showFirstLastButtons
                  [length]="totalRecord"
                  [pageSize]="pageSize"
                  [pageIndex]="pageIndex - 1"
                  (page)="changePage($event)"
                  [hidePageSize]="false"
                  [pageSizeOptions]="pageSizeOptions"
                >
                </mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
