.hv {
    width: 800px;
}

.title-span {
    font-weight: 700;
    line-height: 31px;
}

.lclt {
    height: 34px;
    width: 279px;
}

.tk {
    width: 279px;
    height: 34px;
}
.multiselect-dropdown{
    width: 350px;
}
.content-wrapper{
    overflow: hidden;
}
nz-select {
    width: 303px;
}

::ng-deep .ant-select-selector {
    height: 34px !important;
}

.excel-style {
    height: 33px;
    padding-top: 7px;
}

.input-style {
    width: 279px;
}


