<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>CHI TIẾT BÁO CÁO GIẢNG VIÊN</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['/admin']">CMS</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/admin/report-teacher']">Báo cáo giảng viên</a></li>
            <li class="breadcrumb-item active">Chi tiết báo cáo giảng viên</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between pb-2">
              <div class="d-flex align-items-center justify-content-between">
                <div class="mr-3">
                  <p class="mt-1 mb-0"><strong class="text-dark">Tên giảng viên: </strong>{{teacherInfo.fullname}}</p>
                </div>

                <div class="mr-3"><p class="mt-1 mb-0"><strong class="text-dark">Email: </strong>{{teacherInfo.email}}
                </p></div>
                <div class="mr-3"><p class="mt-1 mb-0"><strong class="text-dark">Đơn
                  vị: </strong>{{teacherInfo.departmentName}}</p></div>
                <div class="mr-3"><p class="mt-1 mb-0"><strong class="text-dark">Tổng
                  điểm: </strong>{{teacherInfo.grade}}</p></div>
                <div class="mr-3"><p class="mt-1 mb-0"><strong class="text-dark">Xếp hạng: </strong>{{teacherInfo.rank}}
                </p></div>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-between pb-2 pt-3">
              <div class="d-flex align-items-center form-group">
                <div class="">
                  <!-- <label class="mr-2">Tìm kiếm</label> -->
                  <input #keyword (change)="onSearch($event)" style="width:250px;" type="search"
                         class="form-control form-control-sm mr-2" placeholder="Tên khóa học">
                </div>
                <div class="card-tools float-right">
                  <a class="btn btn-block btn-default btn-flat"
                     role="button">
                    <i class="fa fa-search"></i>
                  </a>
                </div>
                <div class="col-auto ml-3 mt-1">
                  <div class="d-flex">
                    <label class="lable-conrse pr-2 pt-1" style="font-weight: 300">Trạng thái</label>
                    <select style="width:250px;" class="form-control form-control-sm mr-2" (change)="onFilterStatus($event.target.value)">
                      <option value="0" selected>Toàn bộ</option>
                      <option *ngFor="let item of statusSearchData" [value]="item.id">{{item.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-auto ml-3 mt-1 ">
                  <div class="d-flex">
                    <label class="lable-conrse pr-2 pt-1" style="font-weight: 300">Năm</label>
                  
                    <app-month-picker typePicker="year"   [defaulthYear]="getDefault()" (chooseYearE)="yearSelected($event)">loading</app-month-picker>
                  </div>
                </div>
              </div>
              <a class="btn btn-sm btn-success text-white" (click)="onExportLearningDetail()"><i
                class="fas fa-file-excel mr-2"></i>Xuất File Excel </a>
            </div>
            <div class="col-12 table-responsive">
              <table class="table table-striped table-hover">
                <thead>
                <tr>
                  <th>STT</th>
                  <th style="width: 30%">Tên khóa học</th>
                  <th class="text-center">Thời gian bắt đầu</th>
                  <th class="text-center">Thời gian kết thúc</th>
                  <th class="text-center">Năm</th>
                  <th class="text-center">Trạng thái</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of listCourse; let i=index">
                  <td>{{i + 1}}</td>
                  <td>{{item.fullname}}</td>
                  <td class="text-center">{{getDateFromUnix(item.startdate) | date:'dd/MM/yyyy' }}</td>
                  <td class="text-center">{{getDateFromUnix(item.enddate) | date:'dd/MM/yyyy' }}</td>
                  <td class="text-center">{{item.year}}</td>
                  <td class="text-center"><span *ngIf="item.published === 1"
                                                class="badge badge-{{item.style}}">{{item.status}}</span></td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer text-center"  *ngIf="listCourse?.length > 0">
              <div class="row">
                  <mat-paginator showFirstLastButtons
                  [length]="totalRecord"
                  [pageSize]="searchCourse.pageSize"
                  [pageIndex]="searchCourse.pageIndex - 1"
                  (page)="changePage($event)"
                  [hidePageSize]="false"
                  [pageSizeOptions]="pageSizeOptions">
              </mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

