::ng-deep  .mat-form-field-infix {
    display: flex!important;
    align-items: center!important;
    width: 100% !important;
    height: 31px !important;
}
::ng-deep  .mat-form-field-flex {
    height: 31px !important;
}