::ng-deep .cdk-overlay-container {
  position: fixed !important;
  z-index: 1200 !important; /* set value you need */
}
::ng-deep .modal-open .modal {
  overflow-x: hidden;
  overflow-y: scroll !important
}