<section class="content">
  <div class="content-wrapper" style="min-height: 928.604px">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Báo cáo KPI</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#" routerLink="/admin">CMS</a></li>
              <li class="breadcrumb-item active">Báo cáo KPI</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <section>
      <mat-drawer-container autosize class="example-container">
        <mat-drawer #drawer class="example-sidenav" mode="side" opened>
          <div class="card card-default">
            <div class="card-body">
              <div class="row">
                <div class="col-7">
                </div>
                <!-- <div class="col-5">
                <button type="button" data-toggle="modal" data-target="#createTopic"
                  class="btn btn-primary rounded-0 float-right" (click)="clear()">
                  Đặt lại tìm kiếm
                </button>
              </div> -->
              </div>
              <hr>
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header [collapsedHeight]="'50px'">
                    <mat-panel-title>
                      <div class="form-inline">
                        <div class="ml-2 mt-1">
                          <span class="topic">Đơn vị</span>
                        </div>
                      </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <form>
                    <ejs-treeview #departmentTree [fields]="departmentTreeData" (nodeSelecting)='nodeSelected($event)'>
                    </ejs-treeview>
                  </form>
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header [collapsedHeight]="'50px'">
                    <mat-panel-title>
                      <div class="form-inline">
                        <div class="ml-2 mt-1">
                          <span class="topic">Danh mục họ nghề
                          </span>
                        </div>
                      </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <form>
                    <ejs-treeview #categoryTree [fields]="categoryTreeData"
                    (nodeSelecting)='nodeSelectedCategory($event)'>
                  </ejs-treeview>
                  </form>
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header [collapsedHeight]="'50px'">
                    <mat-panel-title>
                      <div class="form-inline">
                        <div class="ml-2 mt-1">
                          <span class="topic">Đơn vị sáp nhập
                          </span>
                        </div>
                      </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <form>
                    <ejs-treeview #departmentMergeTree [fields]="departmentMergeTreeData"
                    (nodeSelecting)='nodeSelectedDepartmentMerge($event)'>
                </ejs-treeview>
                  </form>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </mat-drawer>
        <div class="example-sidenav-content">
          <div class="card card-default">
            <div class="card-body content-of-topic mt-2">
              <div class="row">
                <div class="col-8">
                  <h6 class="topic mb-2"></h6>
                  <div class="form-inline">
                    <div class="btn-group">
                    </div>
                  </div>
                </div>
                <!-- //content -->
                <section class="content" style="overflow-x: hidden;">
                  <div class="container-fluid">
                    <div class="col-12">
                      <div class="card card-default">
                        <div class="card-header">
                          <!-- <h3 class="card-title">Danh sách câu hỏi mới</h3> -->
                          <div class="row">
                            <div class="col-12 m-0">
                              <form class="form-inline" [formGroup]="searchForm">
                                <div class="form-group m-2 col-md-1">
                                  <!-- <ng-select class="form-control select2 custom-select-box col-md-12"
                                  (change)="onSearch($event.key)" [placeholder]="'--Đơn vị--' | translate"
                                  [items]="departmentMap | keyvalue" bindLabel="value" bindValue="key">
                                  <ng-template ng-option-tmp let-item="item">
                                    <div [title]="item.value">{{item.value}}</div>
                                  </ng-template>
                                </ng-select> -->
                                  <button class="btn btn-default btn-flat btn-md mr-2" type="button" mat-button
                                    (click)="drawer.toggle()"><i class="fas fa-bars"></i>
                                  </button>
                                </div>
                                <!-- <div class="form-group m-3 col-md-3">
                                <ng-select class="form-control select2 custom-select-box col-md-12"
                                  (change)="onFilterCategory($event.key)" [placeholder]="'--Lãnh vực--' | translate"
                                  [items]="categoryMap | keyvalue" bindLabel="value" bindValue="key"
                                  [editableSearchTerm]="true">
                                  <ng-template ng-option-tmp let-item="item">
                                    <div [title]="item.value">{{item.value}}</div>
                                  </ng-template>
                                </ng-select>
                              </div> -->
                                <div class="form-group m-3">
                                  <mat-form-field class="mr-2">
                                    <input matInput [matDatepicker]="from" #fromInput [max]="currentDate"
                                      placeholder="Từ ngày" formControlName="startDate"
                                      (dateChange)="changeStartDate($event)">
                                    <mat-icon *ngIf="searchKpi.startDate" matDatepickerToggleIcon
                                      (click)="clearDate($event, 'startDate')">clear</mat-icon>
                                    <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
                                    <mat-datepicker #from panelClass="example-month-picker">
                                    </mat-datepicker>
                                  </mat-form-field>
                                  <mat-form-field class="test">
                                    <input matInput [matDatepicker]="to" #toInput [min]="searchKpi.startDate"
                                      [max]="validYear" placeholder="Đến ngày" formControlName="endDate"
                                      (dateChange)="changeEndDate($event)">
                                    <mat-icon *ngIf="searchKpi.endDate" matDatepickerToggleIcon
                                      (click)="clearDate($event, 'endDate')">clear</mat-icon>
                                    <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
                                    <mat-datepicker #to panelClass="example-month-picker">
                                    </mat-datepicker>
                                  </mat-form-field>
                                </div>
                                <div class="form-group m-3">
                                  <label style="font-weight: 400;" class="mr-2">Thời lượng khóa học</label> 
                                  <select class="form-control" (change)="onFilterCourseLimit($event.target.value)">
                                    <option value="0"> Toàn bộ </option>
                                    <option value="1"> Vô thời han</option>
                                    <option value="2"> Có thời han</option>
                                  </select>
                                </div>
                                <div class="text-right export-kpi">
                                  <a class="btn btn-sm btn-success text-white" (click)="onExporKPI()"><i
                                      class="fas fa-file-excel mr-2"></i>Xuất File Excel </a>
                                </div>
                              </form>

                            </div>
                          </div>
                        </div>
                        <div class="card-body" id="table-body" style="display: block">
                          <div class="row">
                            <div class="col-4 table-responsive" id="table_1">
                              <table class="table table-hover">
                                <thead>
                                  <tr id="header1" [style]="'height:' + setHeight + 'px'">
                                    <th class="text-center">STT</th>
                                    <th>Đơn vị</th>
                                    <th class="text-center">Năm</th>
                                    <th class="text-center">Tổng số khóa học</th>
                                    <th class="text-center" *ngIf="searchKpi.categoryid">Lãnh vực</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let item of listKpi;let i = index" class="table1">
                                    <td class="text-center">{{(searchKpi.pageIndex - 1) * searchKpi.pageSize + i + 1}}
                                    </td>
                                    <td>{{item.departmentname}}</td>
                                    <td class="text-center">{{item.year}}</td>
                                    <td class="text-center">{{item.totalcourse}}</td>
                                    <td class="text-center" *ngIf="searchKpi.categoryid">{{item.categoryname}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <div class="col-8 table-responsive" id="table_2">
                              <table class="table table-hover " style="white-space:nowrap">
                                <thead class="head2">
                                  <tr id="header2" [style]="'height:' + setHeight + 'px'">
                                    <th class="text-center" [attr.rowspan]="2">Tổng giờ đào tạo</th>
                                    <th class="text-center" [attr.rowspan]="2">Tổng học viên tham gia</th>
                                    <th class="text-center " [attr.rowspan]="2">Mức độ hoàn thành kế hoạch, đào tạo nội
                                      bộ (%)
                                    </th>
                                    <th class="text-center " [attr.rowspan]="2">Tỷ lệ giảng viên nội bộ hoàn thành kế
                                      hoạch theo
                                      khóa
                                      học
                                      (%) </th>
                                    <th class="text-center " [attr.rowspan]="2">Tỷ lệ giảng viên nội bộ hoàn thành khóa
                                      học theo
                                      giờ (%)
                                    </th>
                                    <th class="text-center " [attr.rowspan]="2">Tỷ lệ học viên hoàn thành khóa học (%)
                                    </th>
                                    <th class="text-center " [attr.rowspan]="2">Tỷ lệ học viên đạt chứng chỉ (%)</th>
                                    <th class="text-center " [attr.rowspan]="2">Số học viên đạt chứng chỉ quốc tế mới
                                      trong năm
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let item of listKpi;let i = index" class="table2">
                                    <td class="text-center">{{item.totalhour}}</td>
                                    <td class="text-center">{{item.totalstudent}}</td>
                                    <td class="text-center">{{item.completionplan}} %</td>
                                    <td class="text-center">{{item.teachercompletioncourse}}%</td>
                                    <td class="text-center">{{item.teachercompletionhour}}%</td>
                                    <td class="text-center">{{item.studentcompletioncourse}}%</td>
                                    <td class="text-center">{{item.studentbadge}}%</td>
                                    <td class="text-center">{{item.studentinternationalbadge}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div class="card-footer text-center" *ngIf="listKpi?.length > 0">
                            <div class="row">
                              <mat-paginator showFirstLastButtons [length]="totalRecord" [pageSize]="searchKpi.pageSize"
                                [pageIndex]="searchKpi.pageIndex - 1" (page)="changePage($event)" [hidePageSize]="false"
                                [pageSizeOptions]="pageSizeOptions">
                              </mat-paginator>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </mat-drawer-container>
    </section>
  </div>
</section>