::ng-deep .tooltip-red {
  background: #b71c1c !important;
  font-size:10pt !important;
}
::ng-deep label {
    font-weight: 400 !important;
    font-size:11pt !important; 
}
.example-container {
  width: 95vw;
    
}
.example-sidenav {
    width:20vw;         
}
.example-sidenav-content {
  height:80vh;
} 
::ng-deep .multiselect-dropdown .dropdown-btn {
    border: 1px solid #dadada !important;
}
::ng-deep  .mat-slide-toggle.btn-leader.mat-checked .mat-slide-toggle-bar {
  background-color: #95cbf7;
}

::ng-deep .mat-slide-toggle.btn-leader.mat-checked .mat-slide-toggle-thumb {
  background-color: #2c98f0;
}