<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Danh sách chi tiết điểm danh khóa học: {{nameCourse}}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#" routerLink="/admin">CMS</a></li>
            <li class="breadcrumb-item"><a href="#" routerLink="/admin/roll-call">Báo cáo dữ liệu điểm danh</a></li>
            <li class="breadcrumb-item active">Danh sách chi tiết điểm danh</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="content" style="overflow-x: auto;">
    <div class="container-fluid">
      <!--phan danh sach khoa hoc-->
      <div class="row">
        <mat-drawer-container autosize class="example-container">
          <div class="example-sidenav-content">
            <div class="card card-default">
              <div class="card-body" id="table-body" style="display: block">
                <div class="row mb-4">
                  <div class="col-2">
                    <a class="btn btn-sm btn-success text-white"
                      (click)="openModalExport(keyword,checkedDepartmentIds)"><i class="fas fa-file-excel mr-2"></i>Xuất
                      File Excel
                    </a>
                  </div>
                </div>
                <div class="row" style="min-height:450px">
                  <div class="col-md-7 table-responsive pr-0" id="table_1" [style]="'overflow: hidden; min-height:500px;' + (totalRecord < 10 && totalRecord != 0 ? 'min-height:500px;': '')">
                    <table class="table table-hover table-bordered">
                      <thead>
                        <tr id="header1" [style]="'height:' + setHeight + 'px'">
                          <th class="text-center">STT</th>
                          <th class="text-center">Tên học viên</th>
                          <th class="text-center">Đơn vị</th>
                          <th class="text-center">Tổng</th>
                          <th class="text-center">Tháng</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr id="body1" [style]="'height:' + setHeight + 'px'">
                          <td class="text-center"></td>
                          <td class="text-left"><input type="search" name="search" [(ngModel)]="keyword"
                              (change)="changeName()" class="form-control form-control-sm mr-4"
                              placeholder="Nhập tên học viên" /></td>
                          <td class="text-center" style="min-width: 250px;">
                            <ng-multiselect-dropdown [placeholder]="'user.choose_department' | translate"
                              [data]="departmentMap" [(ngModel)]="departmentData" [settings]="dropdownSettings"
                              (onDeSelect)="onDeSelectDepartment($event)" (onDeSelectAll)="onDeSelectAllDepartment()"
                              (onSelect)="onItemSelect($event)">
                            </ng-multiselect-dropdown>
                          </td>
                          <td class="text-center"></td>
                          <td class="text-center">
                            <select class="form-control form-control-sm mr-4" style="color:#7e7e7e;min-width: 50px;"
                              [(ngModel)]="month" (change)="changeMonth($event)">
                              <option *ngFor="let item of monthOptions" [value]="item">
                                Tháng {{item}}</option>
                            </select>
                          </td>
                        </tr>

                        <tr class="table1" *ngFor="let student of listStudent; let i = index;" id="tr1_{{i}}"
                          [style]="'height:' + setHeight + 'px'">
                          <td class="text-center">{{(pageIndex - 1) * pageSize + i + 1}}</td>
                          <td class="text-center">{{ student.fullname}}</td>
                          <td class="text-center">{{student.departmentname}}</td>
                          <td class="text-center">{{student.totalattend}}</td>
                          <td class="text-center">
                            {{student.month}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-5 table-responsive pl-0" id="table_2">
                    <table class="table table-hover table-bordered" style="white-space:nowrap">
                      <thead class="head2">
                        <tr id="header2" [style]="'height:' + setHeight + 'px'">
                          <th class="text-center" *ngFor="let item of listSchedule">T{{item.week}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr id="body2" [style]="'height:' + setHeight + 'px'">
                          <td class="text-center" *ngFor="let item of listSchedule">{{item.date | date:'dd-MM-yyyy' }}
                          </td>
                        </tr>
                        <tr class="table2" *ngFor="let schedule of listStudent; let i =index;" id="tr2_{{i}}"
                          [style]="'height:' + setHeight + 'px'">
                          <td class="text-center" *ngFor="let item of schedule.attendances;"><span *ngIf="item.status"
                              [matTooltip]="item.status == 1 ? item.time :''"
                              matTooltipClass="tooltip-inner">{{item.status == 1 ? 'X':''}}</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-12">
                    <p *ngIf="listStudent?.length === 0" class="text-center">{{ 'common.no_search_result' | translate}}</p>
                  </div>
                  <br />
                </div>
                <div class="card-footer text-center" *ngIf="listStudent?.length > 0">
                  <div class="row">
                    <mat-paginator showFirstLastButtons 
                    [length]="totalRecord" 
                    [pageSize]="pageSize"
                    [pageIndex]="pageIndex - 1" 
                    (page)="changePage($event)" 
                    [hidePageSize]="false"
                    [pageSizeOptions]="pageSizeOptions">
                    </mat-paginator>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-drawer-container>
      </div>
    </div>
  </section>
</div>