::ng-deep .tooltip-red {
    background: #b71c1c !important;
    font-size:10pt !important;
  }
  .example-container {
    width: 95vw;
      
  }
  .example-sidenav {
      width:25vw;         
  }
  .example-sidenav-content {
    height:80vh;
  } 
  #table_2::-webkit-scrollbar-thumb {

    border-radius: 7px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgba(0,0,0,.1);
  }
  #table_2::-webkit-scrollbar {
    height: 10px;
    background-color: #F5F5F5;
} 
  
  #table_2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 7px;
    background-color: #F5F5F5;
  }
  table td input{
    width: 85%;
    margin-left: 15px;
  }
  .border-right{
    border-right: 1px solid #ccc;
  }
  .table-hover tbody tr:first-child:hover{
    background-color: #fff !important;
  }
  .table thead th {
    background: #E3F2FD;
    color: #615e5e;
    height: 30px;
  }