<form role="form" [formGroup]="questionForm">
  <div class="btn-group">
    <button type="button" class="btn btn-default" [disabled]="!formEnable"
            [ngStyle]="{'background-color': isLevel1 ? '#58FA58' : ''}" (click)="changeLevel(1)">Dễ
    </button>
    <button type="button" class="btn btn-default" [disabled]="!formEnable"
            [ngStyle]="{'background-color': isLevel2 ? '#FFBF00' : ''}" (click)="changeLevel(2)">Trung bình
    </button>
    <button type="button" class="btn btn-default" [disabled]="!formEnable"
            [ngStyle]="{'background-color': isLevel3 ? '#FE642E' : ''}" (click)="changeLevel(3)">Khó
    </button>
  </div>
  <div class="pl-5" style="width:40%; float:right;" *ngIf="categories?.length > 0">
    <select class="custom-select" formControlName="categoryid" name="categoryid">
      <option value="" disabled>- chọn danh mục -</option>
      <option *ngFor="let item of categories | keyvalue" [value]="item.key" [selected]="item.key == 1">{{item.value}}</option>
    </select>
  </div>
  <div class="col-12 mt-3 border">
    <!-- /.card-header -->
    <h6 class="mt-3">Nhập nội dung câu hỏi</h6>
    <div class="card-body" style="display: block;">
      <div class="row">
        <input type="text" formControlName="id" hidden>
      </div>
      <div class="row mt-2">
        <div class="col-md-3 text-right">
          <p>Nhập nội dung<span class="text-danger"> *</span></p>
        </div>
        <div class="col-md-9">
          <ckeditor [editor]="Editor" formControlName="questiontext" data="" [config]="questionEditorConfig"></ckeditor>
          <div
            *ngIf="questionForm.get('questiontext')!.invalid && (questionForm.get('questiontext')!.dirty || questionForm.get('questiontext')!.touched)">
            <small class="text-danger" *ngIf="questionForm.get('questiontext')?.errors?.required">
              {{ 'error.validate.input_required' | translate }}
            </small>
            <small class="text-danger" *ngIf="questionForm.get('questiontext')?.errors?.isBlank">
              {{ 'error.validate.input_required' | translate }}
            </small>
          </div>

        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3 text-right">
          <p>Đánh dấu câu hỏi</p>
        </div>
        <div class="col-md-1">
          <input type="text" class="form-control " name="defaultmark" formControlName="defaultmark" value="1" size="7">
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3 text-right">
          <p>Lựa chọn kiểu đáp án<span class="text-danger"> *</span></p>
        </div>
        <div class="col-md-2">
          <select class="custom-select" formControlName="single" name="single">
            <option value="0" selected="">Nhiều đáp án</option>
            <!-- <option value="1" selected="">01 đáp án</option> -->
          </select>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3 text-right">
          <p>Định dạng đáp án<span class="text-danger"> *</span></p>
        </div>
        <div class="col-md-2">
          <select class="custom-select" formControlName="answernumbering" name="answernumbering">
            <option value="ABCD" selected="">A., B., C., ...</option>
            <option value="abc">a., b., c., ...</option>
            <option value="123">1., 2., 3., ...</option>
            <option value="iii">i., ii., iii., ...</option>
            <option value="IIII">I., II., III., ...</option>
            <option value="none">-Không chọn -</option>
          </select>
        </div>
      </div>
    </div>
    <hr>
    <div formArrayName="answer">
      <div *ngFor="let item of answer.controls; let i=index">
        <div class="col-12 mt-3" [formGroupName]="i">
          <!-- /.card-header -->
          <h6 class="mt-3">Đáp án {{i + 1}}</h6>
          <div class="card-body" style="display: block;">
            <div class="row mt-2">
              <div class="col-md-3 text-right">
                <p>Nhập nội dung<span class="text-danger"> *</span></p>
              </div>
              <div class="col-md-9">
                <ckeditor [editor]="Editor" formControlName="text" (ngModelChange)="onChangeCkeditorAnswer($event, i)"
                          data="" [config]="answerEditorConfig"></ckeditor>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-3 text-right">
                <p>Đáp án đúng<span class="text-danger"> *</span></p>
              </div>
              <div class="col-md-2">
                <select class="custom-select" formControlName="grade" name="grade">
                  <option value="0.0" selected="">None</option>
                  <option value="1.0">100%</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-3 text-center">
            </div>
            <div class="col-md-6 text-left">
              <button type="submit" *ngIf="i > 0 && formEnable" (click)="removeAnswer(i)" class="btn btn-danger btn-sm">
                <i class="nav-icon fas fa-plus mr-1"></i>Xóa
              </button>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-3 text-center">
      </div>
      <div class="col-md-6 text-left">
        <button type="submit" (click)="addAnswer()" *ngIf="formEnable" class="btn btn-secondary btn-sm"><i
          class="nav-icon fas fa-plus mr-1"></i>Thêm đáp án
        </button>
      </div>
    </div>
  </div>
  <mat-action-row *ngIf="canEdit">
    <button type="button" matTooltip="Sao chép"
            [disabled]="isPublished" (click)="onCloneQuestion()"
            matTooltipClass="tooltip-red" class="btn btn-default btn-lg"><i class="fas fa-copy"></i>
    </button>
    <button type="button" matTooltip="Chỉnh sửa" (click)="onTurnOnEditmode()"
            [disabled]="isPublished" *ngIf="isViewMode"
            matTooltipClass="tooltip-red" class="btn btn-default btn-lg"><i class="fas fa-edit"></i>
    </button>
    <button type="button" matTooltip="Lưu" (click)="onSaveQuestion()"
            [disabled]="isPublished || questionForm.invalid" *ngIf="!isViewMode"
            matTooltipClass="tooltip-red" class="btn btn-default btn-lg"><i
      class="fas fa-save mr-1"></i></button>
    <button type="button" matTooltip="Xóa"
            [disabled]="isPublished" (click)="onRemoveQuestion()"
            matTooltipClass="tooltip-red"
            class="btn btn-default btn-lg"><i class="fas fa-trash"></i></button>
  </mat-action-row>
</form>


