<section class="content">
  <div class="container-fluid">
    <!--phan danh sach khoa hoc-->
    <div class="row">
      <mat-drawer-container autosize class="example-container" >
        <mat-drawer #drawer [ngClass]="isNotify ? 'example-sidenav-notify' : 'example-sidenav'" mode="side" opened="true" *ngIf="checkRoleFunction(roleAssign,role) === true && (courseDetail?.canEditCourse || !courseDetail)">
          <div class="card card-default">
            <div class="card-body">
              <div class="row mb-2">
                <!--Search -->
                <!-- <div class="col-7">
                  <input [hidden]="isNotify" type="search" class="form-control form-control-sm mr-2"
                         placeholder="Tìm học viên">
                </div> -->
                <!--[disabled]="((positionIds.length === 0 && !selectedDepartment) || courseDetail?.published === 1) && courseDetail?.isopen !== 1" -->
                <div class="col-12" *ngIf="courseDetail?.canEditCourse || !courseDetail">
                  <button *ngIf="!isNotify" type="button" data-toggle="modal" data-target="#createTopic"
                          [disabled]="courseDetail?.published === 1 && courseDetail?.isopen !== 1"
                          (click)="isNotify ? assignDepartmentPositionToNotify() : assignDepartmentPositionTocourse()"
                          class="btn btn-primary rounded-0 float-right"
                          style="margin-left: 5px;">
                    <i class="fas fa-plus mr-2"></i>{{'common.select' | translate}}
                  </button>
                  <!-- [disabled]="((positionIds.length === 0 && !selectedDepartment) || courseDetail?.published === 1) && courseDetail?.isopen !== 1" -->
                </div>
                <!--end-->
              </div>
              <div class="panel-group" role="tablist" aria-multiselectable="true">
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header [collapsedHeight]="'50px'">
                      <mat-panel-title>
                        <div class="form-inline">
                          <div class="ml-2 mt-1">
                            <span class="topic">{{'quiz.select_unit' | translate}}</span>
                          </div>
                        </div>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <form>
                      <ejs-treeview #departmentTree [fields]="departmentTreeData"
                                    (nodeChecked)='nodeSelected($event)' [showCheckBox]="courseDetail?.canEditCourse || !courseDetail"></ejs-treeview>
                    </form>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header [collapsedHeight]="'50px'">
                      <mat-panel-title>
                        <div class="form-inline">
                          <div class="ml-2 mt-1">
                            <span class="topic">{{'quiz.select_title' | translate}}</span>
                          </div>
                        </div>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list *ngFor="let position of positions;" class="mt-0">
                      <mat-list-item class="mat-list-button">
                        <h3 mat-line>{{position.name}}</h3>
                        <mat-icon matListAvatar class="mt-1" *ngIf="courseDetail?.canEditCourse || !courseDetail">
                          <mat-checkbox [disabled]="courseDetail?.published === 1" [(ngModel)]="position.checked"
                                        (change)="addPositionIds(position.id, $event.checked)"
                                        class="example-margin"></mat-checkbox>
                        </mat-icon>
                      </mat-list-item>
                      <mat-divider></mat-divider>
                    </mat-list>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
          </div>
        </mat-drawer>
        <div *ngIf="!isNotify" class="example-sidenav-content">
          <div class="card card-default">
            <div class="card-body content-of-topic">
              <div class="row">
                <div class="col-8">
                  <h6 class="topic mb-2">{{'exam.student_list' | translate}}</h6>
                  <div class="form-inline">
                    <button *ngIf="checkRoleFunction(roleAssign,role) === true" class="btn btn-default btn-md btn-flat mr-2" type="button" mat-button
                            (click)="drawer.toggle()"><i class="fas fa-bars"></i>
                    </button>
                    <p class="teacher mb-0"><strong>{{'exam.number_student' | translate}}</strong> {{totalRecord}}</p>
                    <p class="teacher ml-5 mb-0">
                      <!-- <strong>Chức danh</strong> Nhân viên CNTT -->
                    </p></div>
                </div>
                <div class="col-4">
                </div>
              </div>
              <hr>
              <div class="row">
                <!-- hiển thị với khảo sát độc lập kiểm tra !courseDetail -->
                <div class="col-8" *ngIf="checkRoleFunction(roleUnAssign,role) === true && (courseDetail?.canEditCourse || !courseDetail)">
                  <div class="btn-group ">
                    <button type="button" matTooltip="{{'exam.more_students' | translate}}"
                            (click)="openAddSingleStudentPopup()" matTooltipClass="tooltip-red"
                            class="btn btn-default btn-md btn-flat mr-2"><i class="fas fa-user-alt"></i></button>
                    <button type="button" data-toggle="modal" matTooltip="{{'common.excel' | translate}}" *ngIf="courseDetail"
                            (click)="openImportFile()"
                            matTooltipClass="tooltip-red" class="btn btn-default btn-lg mr-1">
                      <i class="fas fa-file-excel"> </i>
                    </button>
                    <button type="button" [disabled]="courseDetail?.published === 1 || studentIdsChecked?.length === 0" matTooltip="{{'common.remove' | translate}}"
                            matTooltipClass="tooltip-red" (click)="onUnassignStudentsOnCourse()"
                            class="btn btn-default btn-md btn-flat ml-1"><i class="fas fa-trash"></i></button>
                    <span class="pl-1">{{'quiz.number_students_selected' | translate}}: {{studentIdsChecked?.length}}</span>
                  </div>
                </div>
                <!--Search -->
                <div class="col-4 pr-2">
                  <input type="search" class="form-control pr-2" (change)="onSearchStudent($event.target.value)" placeholder="{{'quiz.search_student' | translate}}">
                </div>
                <div class="col-12 pt-3" *ngIf="courseDetail">
                  <a class="btn btn-sm btn-success text-white" (click)="onExportStudents()"><i class="fas fa-file-excel mr-2"></i>{{'common.export_excel' | translate}} </a>
                </div>
                <div class="table-responsive ">
                  <table class="table table-hover mt-3">
                    <thead>
                    <tr>
                      <th *ngIf="checkRoleFunction(roleUnAssign,role) === true && (courseDetail?.canEditCourse || !courseDetail)">
                        <mat-icon class="mt-1">
                          <mat-checkbox class="example-margin" [disabled]="courseDetail?.published === 1" [(ngModel)]="completedAll"
                                        (change)="oncheckboxAll($event.checked)"></mat-checkbox>
                        </mat-icon>
                      </th>
                      <th>{{'user.stt' | translate}}</th>
                      <th>{{'user.full_name' | translate}}</th>
                      <th>{{'user.position' | translate}}</th>
                      <th>{{'user.leadership_assessment' | translate}}</th>
                      <th>{{'user.department' | translate}}</th>
                      <th *ngIf="checkRoleFunction(roleUnAssign,role) === true && (courseDetail?.canEditCourse || !courseDetail)">{{'common.action' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of students; let i = index;">
                      <td *ngIf="checkRoleFunction(roleUnAssign,role) === true && (courseDetail?.canEditCourse || !courseDetail)">
                        <mat-icon class="mt-1">
                          <mat-checkbox [(ngModel)]="item.completed" [disabled]="courseDetail?.published === 1"
                                        (change)="oncheckboxItem(item.id, $event.checked)"
                                        class="example-margin"></mat-checkbox>
                        </mat-icon>
                      </td>
                      <td>{{(searchUser.pageIndex - 1) * searchUser.pageSize + i + 1}}</td>
                      <td><a matTooltip="{{item.firstname + ' ' + item.lastname}}"
                             matTooltipClass="tooltip-inner">{{(item.firstname?.length + item.lastname?.length) <= 30 ? item.firstname + ' ' + item.lastname : (item.firstname + ' ' + item.lastname | slice:0:30) + '...' }}</a>
                      </td>
                      <td matTooltip="{{item.positionname}}"
                          matTooltipClass="tooltip-inner">{{item.positionname?.length <= 30 ? item.positionname : (item.positionname | slice:0:30) + '...' }}</td>
                      <td>{{item.fullevaluatedusername}}

                        <button  class="btn  btn-default btn-md btn-flat mr-2" type="button" mat-button title="Thêm mới lãnh đạo đánh giá"
                            (click)="addLD(item,courseDetail.id)"><i class="fas fa-plus"></i>
                        </button>
                      </td>
                          <td matTooltip="{{item.departmentname}}"
                          matTooltipClass="tooltip-inner">{{item.departmentname?.length <= 30 ? item.departmentname : (item.departmentname | slice:0:30) + '...' }}</td>
                      <td *ngIf="checkRoleFunction(roleUnAssign,role) === true && (courseDetail?.canEditCourse || !courseDetail)">
                        <button [disabled]="courseDetail?.published === 1" type="button"
                                class="btn btn-default btn-sm mr-1 {{item.id}}" matTooltip="Xóa"
                                (click)="onUnassignStudentOnCourse(item.id)" matTooltipClass="tooltip-red"><i
                          class="fas fa-trash mr-1"></i></button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <br />
                  <p *ngIf="students?.length === 0" class="text-center">{{ 'common.no_search_result' | translate}}</p>
                </div>
              </div>
            </div>
            <div class="card-footer text-center">
              <div class="row">
                <mat-paginator showFirstLastButtons
                               [length]="totalRecord"
                               [pageSize]="searchUser.pageSize"
                               [pageIndex]="searchUser.pageIndex - 1 "
                               (page)="changePage($event)"
                               [hidePageSize]="false"
                               [pageSizeOptions]="pageSizeOptions">
                </mat-paginator>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="isNotify" class="example-sidenav-content">
          <div class="card card-default">
            <div class="card-body content-of-topic">
              <div class="row">
                <div class="col-12">
                  <div class="form-inline">
                    <button [hidden]="true" class="btn btn-default btn-md btn-flat mr-2" type="button" mat-button
                            (click)="drawer.toggle()"><i class="fas fa-bars"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-drawer-container>
    </div>
  </div>
</section>
  <!--
  // dùng cho 4 màn course, exam, notify, survey.
  // check quyền course, exam theo courseDetail.canEditCourse: 
  // - thêm giảng viên có full quyền quản lý khóa học do mình tạo
  // - giảng viên có quyền sửa xóa thông tin nội dung khóa học
  // - giảng viên có quyền sửa xóa bài thi trong kỳ thi do mình tạo
  // màn notify chỉ cần dùng đến chọn đơn vị và chức danh.
  // màn survey không check courseDetail.canEditCourse.
  -->