.teacher-name.ml-1 {
  padding-left: 15.5px;
  padding-bottom: 5px;
}

.mat-icon-button {

  width: 20px !important;
  height: 20px !important;
  line-height: 20px !important;
}

.mat-list-button {
  display: block;
  cursor: pointer;
  height: 50px !important;
}

.mat-list-button:hover {
  display: block;
  background-color: #e7e7e7;
  cursor: pointer;
}

.mat-list-button:active {
  display: block;
  background-color: #e7e7e7;
  cursor: pointer;
}

.mat-list-base .mat-list-item .mat-list-avatar, .mat-list-base .mat-list-option .mat-list-avatar {
  flex-shrink: 0;
  width: 25px !important;
  height: 25px !important;
  border-radius: 50%;
  object-fit: cover;
}

.example-container {
  width: 95vw;
  height: auto;
}

.example-sidenav {
  width: 25vw;
}

.example-sidenav-notify {
  width: 90vw;
}

.example-sidenav-content {
  height: 70vh;
}

.font-size-14 {
  font-size: 14pt;
}

.topic {
  color: #000000;
  font-weight: 300;
}

.teacher {
  opacity: 0.8;
  font-size: 10pt;
}

::ng-deep .tooltip-red {
  background: #b71c1c !important;
  font-size: 10pt !important;
}
