<div class="modal-header">
    <h5 class="modal-title">Đánh giá học viên</h5>
    <button type="button" class="btn btn-tool" data-card-widget="collapse" (click)="activeModal.dismiss()"><i
            class="fas fa-times"></i>
    </button>
</div>
<div class="modal-body">
    <div class="div">
        <div class="form-evluation">
            <div class="info-evluation w-100">
                <div class="info-user justify-content-between">
                    <nav>
                        <div class="nav nav-tabs nav-fill col-md-12" id="nav-tab" role="tablist">
                            <a class="nav-item col-md-3 active nav-link" id="nav-3-tab" data-toggle="tab" href="#nav-3"
                                role="tab" aria-controls="nav-3" aria-selected="true"> Đánh giá 3 tháng</a>
                            <a class="nav-item nav-link col-md-3" id="nav-6-tab" data-toggle="tab" href="#nav-6"
                                role="tab" aria-controls="nav-6" aria-selected="false">Đánh giá 6 tháng</a>
                        </div>
                    </nav>

                </div>
                <div class="tab-pane fade active show mt-3" role="tabpanel" aria-labelledby="nav-3-tab" id="nav-3">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="font-weight-bold mb-2">Thông tin: </div>
                            <!-- <div class="row"> -->
                            <span class="mt-2">Bạn đang thực hiện đánh giá khóa học <b>{{courseInfo?.fullname}}</b> cho học viên
                                <b>{{fullname}}</b></span>
                            <!-- </div> -->
                        </div>
                    </div>
                    <hr />

                    <div>
                        <div class="font-weight-bold mt-3 mb-2">Cam kết hành động</div>
                        <form>
                            <table class="table table-hover table-bordered" style="border: 1px solid #dee2e6;float:left">
                              <thead>
                              <tr class="commitment_bg">
                                <th class="text-center" mat-sort-header="id">STT</th>
                                <th class="text-center"  mat-sort-header="fullname">Nội dung hành động</th>
                                <th class="text-center"  mat-sort-header="code">Phương pháp</th>
                                <th  mat-sort-header="startdate" class="text-center">Mục tiêu</th>
                                <th  mat-sort-header="enddate" class="text-center" >Thời gian hoàn thành</th>
                                <th class="text-center"  mat-sort-header="positionname">Nguồn lực yêu cầu</th>
                              </tr>
                              </thead>
                              <tbody>
                               <tr *ngFor="let item of listCommitmentThreeMonth;let ndx = index">
                                  <td class="text-center" *ngIf="item.completetime === 3">{{ ndx+1 }}</td>
                                  <td *ngIf="item.completetime === 3">{{ item.contentcommitment }}</td>
                                  <td *ngIf="item.completetime === 3">{{ item.method }}</td>
                                  <td *ngIf="item.completetime === 3" class="">{{ item.objectives }}</td>
                                  <td *ngIf="item.completetime === 3" class="text-center">{{ item.completetime }} tháng</td>
                                  <td *ngIf="item.completetime === 3" class="">{{ item.cost }}</td>
                                </tr>
                              </tbody>
                            </table>
                        </form>
                    </div>

                    <div class="font-weight-bold mt-3 mb-2">Thông tin đánh giá</div>
                    <div class="card-evaluation border">
                        <div class="d-flex row col-md-12 p-3">
                            <p class="col-md-3">1. Không thay đổi gì hoặc thay đổi tiêu cực</p>
                            <p class="col-md-3">2. Thay đổi ít (20 - 30%)</p>
                            <p class="col-md-3">3. Thay đổi (40 - 50%)</p>
                            <p class="col-md-3">4. Thay đổi nhiều (60 -80%)</p>
                            <p class="col-md-3">5. Hoàn toàn thay đổi (100%)</p>
                        </div>
                        <div class="border-top border-bottom">
                            <table class="table mt-3 mb-5">
                                <thead class="thead-light">
                                    <tr class="text-center">
                                        <th rowspan="2">STT</th>
                                        <th rowspan="2">Hành vi liên quan đến kiến thức, kỹ năng đã được cử đi trước đó 3 tháng,
                                            6
                                            tháng</th>
                                        <th colspan="5" class="col-5">Mức độ thay đổi</th>
                                    </tr>
                                    <tr class="text-center">
                                        <th class="text-center">1</th>
                                        <th class="text-center">2</th>
                                        <th class="text-center">3</th>
                                        <th class="text-center">4</th>
                                        <th class="text-center">5</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let criteria of evaluationInfo3M.criterias; let i =index;">
                                        <td class="first-col">{{i+1}}</td>
                                        <td class="first-col">{{criteria.name}}</td>
                                        <td class="text-center" *ngFor="let j of [1,2,3,4,5]">
                                            <label class="label-option-yn"><input type="radio" [disabled]="courseInfo?.readonly3==1||courseInfo?.status3==1" [checked]="criteria.status!=0 && criteria.status==j" value="{{j}}" name="rad_btn{{i}}"
                                                (change)="changeEvaluation(criteria.id, $event,evaluationInfo3M.type)"    class="option-evalua" /></label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div>
                            <mat-checkbox class="example-margin col-6" [(ngModel)] ="checkstudentcanwatchevaluation" (change)="changeStudentWatch($event)">
                            Cho phép học viên xem đánh giá</mat-checkbox>
                        </div>
                        <div>
                            <div class="card-footer-eva">
                                <button *ngIf="courseInfo?.readonly3==0" type="button" (click)="evaluatationUser(evaluationInfo3M.type)" [disabled]="courseInfo?.status3==1" class="btn btn-primary">Đánh giá</button>
                                <button type="button" (click)="activeModal.dismiss('close')"
                                    class="btn btn-outline-primary">Hủy</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade active mt-3" role="tabpanel" aria-labelledby="nav-6-tab" id="nav-6">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="font-weight-bold mb-2">Thông tin: </div>
                            <!-- <div class="row"> -->
                                <span class="mt-2">Bạn đang thực hiện đánh giá khóa học <b>{{courseInfo?.fullname}}</b> cho học viên
                                    <b>{{fullname}}</b></span>
                            <!-- </div> -->
                        </div>
                    </div>
                    <hr />

                    <div>
                        <div class="font-weight-bold mt-3 mb-2">Cam kết hành động</div>
                        <form>
                            <table class="table table-hover table-bordered" style="border: 1px solid #dee2e6;float:left">
                              <thead>
                              <tr class="commitment_bg">
                                <th class="text-center" mat-sort-header="id">STT</th>
                                <th class="text-center"  mat-sort-header="fullname">Nội dung hành động</th>
                                <th class="text-center"  mat-sort-header="code">Phương pháp</th>
                                <th  mat-sort-header="startdate" class="text-center">Mục tiêu</th>
                                <th  mat-sort-header="enddate" class="text-center" >Thời gian hoàn thành</th>
                                <th class="text-center"  mat-sort-header="positionname">Nguồn lực yêu cầu</th>
                              </tr>
                              </thead>
                              <tbody>
                               <tr *ngFor="let item of listCommitmentSixMonth;let a = index">
                                  <td *ngIf="item.completetime === 6" class="text-center">{{ (a) + 1 }}</td>
                                  <td *ngIf="item.completetime === 6">{{ item.contentcommitment }}</td>
                                  <td *ngIf="item.completetime === 6">{{ item.method }}</td>
                                  <td *ngIf="item.completetime === 6" class="">{{ item.objectives }}</td>
                                  <td *ngIf="item.completetime === 6" class="text-center">{{ item.completetime }} tháng</td>
                                  <td *ngIf="item.completetime === 6" class="">{{ item.cost }}</td>
                                </tr>
                              </tbody>
                            </table>
                        </form>
                    </div>

                    <div class="font-weight-bold mt-3 mb-2">Thông tin đánh giá</div>
                    <div class="card-evaluation border">
                        <div class="d-flex row col-md-12 p-3">
                            <p class="col-md-3">1. Không thay đổi gì hoặc thay đổi tiêu cực</p>
                            <p class="col-md-3">2. Thay đổi ít (20 - 30%)</p>
                            <p class="col-md-3">3. Thay đổi (40 - 50%)</p>
                            <p class="col-md-3">4. Thay đổi nhiều (60 -80%)</p>
                            <p class="col-md-3">5. Hoàn toàn thay đổi (100%)</p>
                        </div>
                        <div class="border-top border-bottom">
                            <table class="table mt-3 mb-5">
                                <thead class="thead-light">
                                    <tr class="text-center">
                                        <th rowspan="2">STT</th>
                                        <th rowspan="2">Hành vi liên quan đến kiến thức, kỹ năng đã được cử đi trước đó 3 tháng,
                                            6
                                            tháng</th>
                                        <th colspan="5" class="col-5">Mức độ thay đổi</th>
                                    </tr>
                                    <tr class="text-center">
                                        <th class="text-center">1</th>
                                        <th class="text-center">2</th>
                                        <th class="text-center">3</th>
                                        <th class="text-center">4</th>
                                        <th class="text-center">5</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let criteria of evaluationInfo6M.criterias; let i =index;">
                                        <td class="first-col">{{i+1}}</td>
                                        <td class="first-col">{{criteria.name}}</td>
                                        <td class="text-center" *ngFor="let j of [1,2,3,4,5]">
                                            <label class="label-option-yn"><input type="radio" [disabled]="courseInfo?.readonly6==1||courseInfo?.status6==1 ||courseInfo?.status3==0" [checked]="criteria.status!=0 && criteria.status==j" value="{{j}}" name="rad_btn{{criteria.id}}"
                                                (change)="changeEvaluation(criteria.id, $event,evaluationInfo6M.type)"    class="option-evalua" /></label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <!-- <div>
                            <mat-checkbox class="example-margin col-6" [(ngModel)]="checkstudentcanwatchevaluation" (change)="changeStudentWatch($event)">
                            Cho phép học viên xem đánh giá</mat-checkbox>
                        </div> -->
                        <div>
                            <div class="card-footer-eva">
                                <button *ngIf="courseInfo?.readonly6==0" type="button" [disabled]="courseInfo?.status6==1||courseInfo?.status3==0" (click)="evaluatationUser(evaluationInfo6M.type)" class="btn btn-primary">Đánh giá</button>
                                <button type="button" (click)="activeModal.dismiss('close')"
                                    class="btn btn-outline-primary">Hủy</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
