.table{
    width: 97%;
    margin: 19px;
}
.card-footer-eva{
    margin: 29px 60px;
    text-align: right;
}
.card-footer-eva button{
    padding: 10px 50px;
    margin-left: 40px;
}
nav .nav-tabs .nav-link.active {
    color: #0783C4;
    border-color: transparent transparent #0783C4;
    border-bottom: 4px solid !important;
}
nav .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: #7e7e7e;
}
.fade:not(.show){
    display: none;
}
.info-evluation{
    min-height: 600px
}

.commitment_bg{
    background-color: #DFF0FF;
  }