:host ::ng-deep .ck-editor__editable_inline {
  min-height: 200px;
}

.zoom {
  transition: transform .2s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

:host ::ng-deep figure.image img {
  max-width: 100%;
}

:host ::ng-deep figure.video video {
  max-width: 100%;
}
