.mat-select-menu-container,
.mat-open-menu-container {
    z-index: 999999 !important;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
    z-index: 99999 !important;
 }
.active2, .btn2:hover {
  background-color: #607d8b;
  color: white;
}
p {
  margin-bottom: 0px !important;
}