.mat-form-field {
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: left;
}
.mat-card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 4px;
    width: 90%;
}
.mat-card-actions, .mat-card-subtitle, .mat-card-content {
    display: block;
    margin-bottom: 5px;
}