<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="text-uppercase">{{ 'report.report_student.title' | translate }}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a [routerLink]="['/admin']">CMS</a></li>
              <li class="breadcrumb-item"><a [routerLink]="['/admin/report-student']">{{ 'report.report_student.title' | translate }}</a></li>
              <li class="breadcrumb-item active">{{ 'common.detail' | translate }}</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                         <div class="row flex-column p-4">
                            <h3 class="card-title">{{userFullname}}</h3>
                            <p>{{departmentName}}</p>
                         </div>
                        <div class="card">
                            <div class="card-body px-3">
                                <div class="d-flex align-items-center justify-content-between ">
                                  <div class="d-flex align-items-center form-group">
                                    <div class="">
                                      <!-- <label class="mr-2">Tìm kiếm</label> -->
                                      <input #keyword  (change)="onSearch($event)"   style="width:250px;" type="search"
                                             class="form-control form-control-sm mr-2" placeholder="{{ 'report.report_student.namecourse' | translate }}">
                                    </div>
                                    <div class="card-tools float-right">
                                      <a class="btn btn-block btn-default btn-flat"
                                         role="button">
                                        <i class="fa fa-search"></i>
                                      </a>
                                    </div>
                                    <div class="col-auto ml-3 mt-1">
                                      <div class="d-flex">
                                        <label class="lable-conrse pr-2 w-160" style="font-weight: 300">{{ 'report.report_student.type_course' | translate }}</label>
                                        <select class="form-control form-control-sm" (change)="onFilterCourseType($event.target.value)" >
                                          <option value="0" selected>{{ 'report.report_student.type_all' | translate }}</option>
                                          <option *ngFor="let item of typeSearchData" [value]="item.id">{{item.name}}</option>
                                        </select>
                                      </div>
                                    </div>
                                  </div>
                                  <a class="btn btn-sm btn-success text-white" (click)="onExportLearningDetail()"><i
                                    class="fas fa-file-excel mr-2"></i>{{ 'report.report_student.export' | translate }} </a>
                                </div>
                            </div>
                        </div>
                       <div class="row pl-4 pr-4">
                           <table class="table table-striped table-hover">
                               <thead>
                                   <tr>
                                       <th>{{ 'report.report_student.stt' | translate }}</th>
                                       <th>{{ 'report.report_student.name_student' | translate }}</th>
                                       <th>{{ 'report.report_student.type_course' | translate }}</th>
                                       <th class="text-center">{{ 'report.report_student.completeditems' | translate }}</th>
                                       <th class="text-center">{{ 'report.report_student.uncompleteditems' | translate }}</th>
                                       <th class="text-center">{{ 'report.report_student.timestart' | translate }}</th>
                                       <th>{{ 'report.report_student.status' | translate }}</th>
                                       <th class="text-center">{{ 'common.action' | translate }}</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   <tr *ngFor="let item of listCourse; let i=index">
                                       <td>{{i+1}}</td>
                                       <td>{{item.fullname}}</td>
                                       <td [ngSwitch]="item.type">
                                        <div *ngSwitchCase="1">Khóa học theo lộ trình chức danh</div>
                                        <div *ngSwitchCase="2">Khóa học theo nhân sự đăng ký</div>
                                        <div *ngSwitchCase="3">Khóa học do Quản trị hệ thống gán</div>
                                        <div *ngSwitchCase="4">Khóa học theo lãnh đạo thi cử</div>
                                       </td>
                                       <td class="text-center">{{item.completeditems}}</td>
                                       <td class="text-center">{{item.uncompleteditems}}</td>
                                       <td class="text-center">{{getDateFromUnix(item.timestart) | date:'dd/MM/yyyy' }}</td>
                                       <td><span class="badge badge-{{item.completion === 100 ? 'success' : (item.completion < 100 && item.completion > 50) ? 'warning': 'danger'}}">{{item.completion}}%</span></td>
                                       <td class="text-center"><a class="btn btn-default btn-sm" (click)="openLearningHistory(item.id,item.fullname)" matTooltip="Xem"> <i class="fas fa-eye"></i></a></td>
                                   </tr>
                               </tbody>
                           </table>
                       </div>
                       <div class="card-footer text-center"  *ngIf="listCourse?.length > 0">
                        <div class="row">
                          <mat-paginator showFirstLastButtons
                              [length]="totalRecord"
                              [pageSize]="searchType.pageSize"
                              [pageIndex]="searchType.pageIndex - 1"
                              (page)="changePage($event)"
                              [hidePageSize]="false"
                              [pageSizeOptions]="pageSizeOptions">
                          </mat-paginator>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

