<div class="modal-header">
  <!-- <h5 class="modal-title" *ngIf="!isCreateExam && !courseClone">Tạo mới khóa học</h5>
  <h5 class="modal-title" *ngIf="!isCreateExam && courseClone">Nhân bản khóa học</h5>
  <h5 class="modal-title" *ngIf="isCreateExam">Tạo mới kỳ thi</h5>
  <button type="button" class="btn btn-tool" data-card-widget="collapse"
  (click)="activeModal.dismiss()"><i class="fas fa-times"></i>
</button> -->
</div>
<div class="modal-body">
  <div class="text-center">
    <div *ngIf="(status < 1000) && (operation == 'backup')">
      <h5>Hệ thống đang backup dữ liệu</h5>
      <h5>Vui lòng chờ trong ít phút...</h5>
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <!-- <ngx-spinner bdColor = "transparent" size = "large" color = "#333" type = "ball-elastic-dots" [fullScreen] = "false" [name]="'temp-process'"></ngx-spinner> -->
    </div>
    <div *ngIf="(status < 1000)  && (status != 900) && (operation == 'restore')">
      <h5>Backup dữ liệu thành công</h5>
      <h5>Hệ thống đang nhân bản khóa học</h5>
      <h5>Vui lòng chờ trong ít phút...</h5>
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <!-- <ngx-spinner bdColor = "transparent" size = "large" color = "#333" type = "ball-elastic-dots" [fullScreen] = "false" [name]="'temp-process'"></ngx-spinner> -->
    </div>
    <div class="progress mt-2 mb-2" style="width: 100%;" *ngIf="status < 1000 && status != 900">
      <div class="progress-bar progress-bar-primary" role="progressbar" attr.aria-valuenow="{{process}}"
        aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width.%': process}">{{process}}%
      </div>
    </div>
    <div *ngIf="process == 100 && status == 1000">
      <div class="text-success mb-3">
        <i class="far fa-check-circle fa-7x"></i>
      </div>
      <h5>Nhân bản khóa học thành công</h5>
      <div class="mt-3">
        <button type="button" class="btn btn-default mr-2" (click)="goToList()">Quay lại danh sách</button>
        <button type="button" class="btn btn-primary" (click)="goToDetail()">Đi đến chi tiết khóa học</button>
      </div>
    </div>
    <div *ngIf="process == 100 && status == 900">
      <div class="text-danger mb-3">
        <i class="far fa-times-circle fa-7x"></i>
      </div>
      <h5>Đã có lỗi xảy ra trong quá trình nhân bản</h5>
      <h5>Vui lòng thử lại sau</h5>
      <div class="mt-3">
        <button type="button" class="btn btn-default mr-2" (click)="goToList()">Quay lại danh sách</button>
      </div>
    </div>
  </div>
</div>