<div class="">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Khen thưởng</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#" routerLink="/admin">CMS</a></li>
              <li class="breadcrumb-item active">Khen thưởng</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <mat-drawer-container autosize class="example-container">
            <mat-drawer #drawer class="example-sidenav" mode="side" opened>
              <div class="card card-default">
                <div class="card-body">
                  <div class="row">
                    <div class="col-7">
                      <h6>Đơn vị</h6>
                    </div>
                    <!-- <div class="col-5">
                      <button type="button" data-toggle="modal" data-target="#createTopic"
                        class="btn btn-primary rounded-0 float-right" (click)="clear()">
                        Đặt lại tìm kiếm
                      </button>
                    </div> -->
                  </div>
                  <hr>
                  <form>
                    <ejs-treeview #departmentTree [fields]="departmentTreeData" (nodeSelecting)='nodeSelected($event)'>
                    </ejs-treeview>
                  </form>
                </div>
              </div>
            </mat-drawer>
            <div class="example-sidenav-content">
              <div class="card card-default">
                <div class="card-body">
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="div">
                      <h5>Bảng xếp hạng</h5>
                    </div>
                    <!-- <div class="by-ranks d-flex align-items-center">
                      <button type="button" class="btn btn-option border-right btn-{{rankBy == 1 ? 'active' : 'none'}}"
                        (click)="setRankTable(1)">Ngày</button>
                      <button type="button" class="btn btn-option border-right btn-{{rankBy == 2 ? 'active' : 'none'}}"
                        (click)="setRankTable(2)">Tháng</button>
                      <button type="button" class="btn btn-option border-right btn-{{rankBy == 3 ? 'active' : 'none'}}"
                        (click)="setRankTable(3)">Năm</button>
                      <button type="button" class="btn btn-option btn-{{rankBy == 4 ? 'active' : 'none'}}"
                        (click)="setRankTable(4)">Thời gian khác</button>
                    </div> -->
                  </div>
                  <hr>
                  <div class="filter d-flex justify-content-between"> 
                    <form class="form-inline">
                      <div class="form-group">
                        <input type="search" name="search" [(ngModel)]="searchRank.search" class="form-control form-control-sm2 mr-1" style="width:200px;" (change)="onChangeKeyword()" placeholder="Tìm kiếm học viên"
                                autocomplete="off">
                        <input type="number" min="0" name="rank" [(ngModel)]="searchRank.rank" class="form-control form-control-sm2 mr-1" style="width:150px;" placeholder="Nhập hạng" (change)="onChangeRank()">
                      </div>
                    </form>
                    <!-- <div class="date-custom" *ngIf="rankBy == 1">
                      <mat-form-field #myFormField (click)="dp.open();" appearance="filled">
                        <input matInput [matDatepicker]="dp" placeholder="Chọn ngày" disabled [(ngModel)]="searchRank.day" (dateChange)="changeDay($event)">
                        <mat-icon *ngIf="searchRank.day" matDatepickerToggleIcon (click)="clearDate($event, 'day')">clear</mat-icon>
                        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                        <mat-datepicker #dp disabled="false" panelClass="example-month-picker">
                      </mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div *ngIf="rankBy == 2">
                      <app-month-picker typePicker="month" (chooseMonthE)="monthSelected($event)">loading</app-month-picker>
                    </div>  -->
                    <div *ngIf="rankBy == 3">
                      <app-month-picker typePicker="year" (chooseYearE)="yearSelected($event)">loading</app-month-picker>
                    </div> 
                    <!-- <div class="date-custom" *ngIf="rankBy == 4">
                      <mat-form-field #myFormFieldFrom (click)="from.open();" appearance="filled" class="mr-2">
                        <input matInput [matDatepicker]="from" [max]="currentDate" placeholder="Từ ngày" disabled [(ngModel)]="searchRank.startDate" (dateChange)="changeStartDate($event)">
                        <mat-icon *ngIf="searchRank.startDate" matDatepickerToggleIcon (click)="clearDate($event, 'startDate')">clear</mat-icon>
                        <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
                        <mat-datepicker #from disabled="false" panelClass="example-month-picker">
                      </mat-datepicker>
                      </mat-form-field>

                      <mat-form-field #myFormFieldTo (click)="to.open();" appearance="filled" class="test">
                        <input matInput [matDatepicker]="to" [min]="searchRank.startDate" [max]="currentDate" placeholder="Đến ngày" [(ngModel)]="searchRank.endDate" (dateChange)="changeEndDate($event)">
                        <mat-icon *ngIf="searchRank.endDate" matDatepickerToggleIcon (click)="clearDate($event, 'endDate')">clear</mat-icon>
                        <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
                        <mat-datepicker #to  panelClass="example-month-picker">
                          currentDate -->
                          <!-- [disabled]="!searchRank.startDate"
                      </mat-datepicker>
                      </mat-form-field>
                    </div> -->
                  </div>
                  <div class="row mb-4">
                    <div class="col-2">
                      <a class="btn btn-sm btn-success text-white" (click)="onExporLaudatory()"><i class="fas fa-file-excel mr-2"></i>Xuất File Excel </a>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-hover table-borderless">
                      <thead>
                        <tr class="bg-light">
                          <!-- <th></th> -->
                          <th>Học viên</th>
                          <th>Năm</th>
                          <th>Email</th>
                          <th>Đơn vị</th>
                          <th class="text-center">Số giờ học</th>
                          <th class="text-center">Số điểm</th>
                          <th class="text-center">Xếp hạng</th>                         
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of rankTable; let i = index;"
                          class="bg-{{item.ordernumber === 1 ? 'line1' : (item.ordernumber === 2) ? 'line2': (item.ordernumber === 3) ? 'line3' : 'default'}}">
                          <!-- <td>
                              <img [src]="userInfo.userpictureurl" class="user-image">
                            </td>   -->
                          <td>
                            <img [src]="userInfo.userpictureurl" class="user-image">
                            {{item.fullname}}
                          </td>
                          <td>{{item.year}}</td>
                          <td>{{item.email}}</td>
                          <td>{{item.departmentname}}</td>
                          <td class="text-center">{{item.totallearnttime || 0}}</td>
                          <td class="text-center">{{item.grade}}</td>
                          <td class="text-center d-flex justify-content-center align-items-center">
                            <div
                              class="order-number-cir bg-{{item.ordernumber === 1 ? 'rank1' : (item.ordernumber === 2) ? 'rank2': (item.ordernumber === 3) ? 'rank3' : 'default'}}">
                              {{item.ordernumber}}
                            </div>
                            <div *ngIf="item.ordernumber === 1" class="text-success ml-2">
                              <i class="fas fa-sort-up"></i>
                            </div>
                            <div *ngIf="item.ordernumber === 2" class="text-danger ml-2">
                              <i class="fas fa-sort-down"></i>
                            </div>
                            <div *ngIf="item.ordernumber > 2" class="text-default ml-2">
                              -
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <br />
                    <p *ngIf="rankTable?.length === 0" class="text-center">{{ 'common.no_search_result' | translate}}</p>
                  </div>
                  <div class="card-footer text-center">
                    <div class="row">
                      <mat-paginator showFirstLastButtons [length]="totalRecord" [pageSize]="searchRank.pageSize"
                        [pageIndex]="searchRank.pageIndex - 1 " (page)="changePage($event)" [hidePageSize]="false"
                        [pageSizeOptions]="pageSizeOptions">
                      </mat-paginator>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-drawer-container>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
</div>