
::ng-deep .date-custom .mat-form-field .mat-input-element{
  width: 50%;
}
::ng-deep .mat-tab-group{
  max-width: 100%;
}
.nav-fill .nav-item, .nav-fill>.nav-link{
    white-space: nowrap;
    height: 48px;
    padding: 0 24px;
    cursor: pointer;
    box-sizing: border-box;
    opacity: .6;
    min-width: 160px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,.87);
    font-size: 14px;
    font-weight: 500;
}
.nav-tabs .nav-link:hover{
  border: none;
}
.nav-tabs .nav-link.active {
  color: #495057;
  background-color: unset;
  /* border-color: unset; */
  border: none;
  border-bottom: 3px solid #3f51b5;
  border-radius: 0;
  opacity: 1;
}