<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Báo cáo kế hoạch đào tạo</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#" routerLink="/admin">CMS</a></li>
                        <li class="breadcrumb-item active">Báo cáo kế hoạch đào tạo</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content" style="overflow-x: hidden;">
        <div class="container-fluid">
            <div class="row">
                <mat-tab-group dynamicHeight selectedIndex="0">
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">infor</mat-icon>
                            Báo cáo kế hoạch đào tạo
                        </ng-template>
                        <app-external-training-plan></app-external-training-plan>
                    </mat-tab>
                    <mat-tab act>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">book</mat-icon>
                            Báo cáo kế hoạch đào tạo nội bộ
                        </ng-template>
                        <app-internal-training-plan></app-internal-training-plan>
                    </mat-tab>
                </mat-tab-group>  
            </div>
        </div>
    </section>
</div>