::ng-deep .modal-open .modal {
    overflow-x: hidden;
    overflow-y: scroll !important
  }
  
  .mat-select-menu-container,
  .mat-open-menu-container {
      z-index: 999999 !important;
  }
  
  .cdk-global-overlay-wrapper, .cdk-overlay-container {
      z-index: 99999 !important;
   }
   ::ng-deep .cdk-overlay-container {
    z-index: 9999;
}
   