<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>  {{ 'report.report_student.title' | translate }}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['/admin']">CMS</a></li>
            <li class="breadcrumb-item active">{{ 'report.report_student.title' | translate }}</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="container-fluid">
      <!--phan danh sach khoa hoc-->
      <div class="row">
        <mat-drawer-container autosize class="example-container">
          <mat-drawer #drawer class="example-sidenav" mode="side" opened>
            <div class="card card-default">
              <div class="card-body">
                <div class="row">
                  <div class="col-7">
                  </div>
                  <!-- <div class="col-5">
                    <button type="button" data-toggle="modal" data-target="#createTopic"
                      class="btn btn-primary rounded-0 float-right" (click)="clear()">
                      Đặt lại tìm kiếm
                    </button>
                  </div> -->
                </div>
                <hr>
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header [collapsedHeight]="'50px'">
                      <mat-panel-title>
                        <div class="form-inline">
                          <div class="ml-2 mt-1">
                            <span class="topic">{{ 'report.report_student.deparment' | translate }}</span>
                          </div>
                        </div>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <form>
                      <ejs-treeview #departmentTree [fields]="departmentTreeData"
                        (nodeChecked)='nodeDepartmentChecked($event)' [showCheckBox]='true'
                        (nodeClicked)='nodeCheck($event)'>
                      </ejs-treeview>
                    </form>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header [collapsedHeight]="'50px'">
                      <mat-panel-title>
                        <div class="form-inline">
                          <div class="ml-2 mt-1">
                            <span class="topic">{{ 'report.report_student.deparment_merger' | translate }}
                            </span>
                          </div>
                        </div>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <form>
                      <ejs-treeview #departmentMergeTree [fields]="departmentMergeTreeData"
                      (nodeSelecting)='nodeSelectedDepartmentMerge($event)'
                      (nodeChecked)='nodeSelectedDepartmentMerge($event)' 
                      (keyPress)='nodeCheckDepartmentMerge($event)'
                      [showCheckBox]='true'
                      (nodeClicked)='nodeCheckDepartmentMerge($event)'>
                  </ejs-treeview>
                    </form>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
          </mat-drawer>
          <div class="example-sidenav-content">
            <div class="card card-default">
              <div class="card-body">
                <h6>{{ 'report.report_student.list_student' | translate }}</h6>
                <hr>
                <div class="row mb-2">

                  <!--Search -->
                  <div class="col-3">
                    <!-- <form class="form-inline float-right" role="form"> -->
                    <div class="form-group">
                      <label class="mr-2">{{ 'common.search' | translate }}</label>
                      <input #keyword (change)="onSearch($event)" type="search" class="form-control  mr-2"
                        placeholder="Tên học viên">
                    </div>
                    <!-- </form> -->
                  </div>
                  <div class="col-3">
                    <label>{{ 'report.report_student.type_course' | translate }}</label>
                    <select class="form-control" (change)="onFilterCourseType($event.target.value)">
                      <option value="0">{{ 'report.report_student.type_all' | translate }}</option>
                      <option value="1"> Khóa học theo lộ trình chức danh</option>
                      <option value="2"> Khóa học theo nhân sự đăng ký</option>
                      <option value="3"> Khóa học do Quản trị hệ thống gán</option>
                      <option value="4"> Khóa học theo lãnh đạo cử đi học</option>
                    </select>
                  </div>
                  <div class="col-3">
                    <label>{{ 'report.report_student.time-course' | translate }}</label>
                    <select class="form-control" (change)="onFilterCourseLimit($event.target.value)">
                      <option value="0"> Toàn bộ </option>
                      <option value="1"> Vô thời han</option>
                      <option value="2"> Có thời han</option>
                    </select>
                  </div>
                  <div class="col-3">
                    <label class="w-100"> &nbsp; </label>
                    <a class="btn btn-sm btn-success text-white float-right mt-1"
                      (click)="onExportLearningProgressStudents()"><i class="fas fa-file-excel mr-2"></i>{{ 'report.report_student.export' | translate }}
                    </a>
                  </div>
                </div>
                <div class="card-body" id="table-body" style="display: block">
                  <div class="row">
                    <div class="col-5 table-responsive" id="table_1">
                      <table class="table table-hover">
                        <thead>
                          <tr id="header1">
                            <th>{{ 'report.report_student.stt' | translate }}</th>
                            <th>{{ 'report.report_student.name_student' | translate }}</th>
                            <th>{{ 'report.report_student.email' | translate }}</th>
                            <th>{{ 'report.report_student.deparment' | translate }}</th>
                            <th class="text-center blue">{{ 'report.report_student.total' | translate }} </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let student of listStudent; let i = index" class="table1">
                            <td>{{(searchUser.pageIndex - 1) * searchUser.pageSize + i + 1}}</td>
                            <td>{{ student.fullname }}</td>
                            <td><span matTooltip="{{student.email}}" matTooltipClass="tooltip-inner">{{student.email?.length <= 10 ? student.email : (student.email | slice:0:12) + '...' }}</span></td>
                            <td>{{ student.departmentname }}</td>
                            <th class="text-center blue">{{ student.assignedcourse}}</th>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-7 table-responsive" id="table_2">
                      <table class="table table-hover" style="white-space:nowrap">
                        <thead class="head2">
                          <tr id="header2" [style]="'height:' + setHeight + 'px'">
                            <th class="text-center">{{ 'report.report_student.registercourse' | translate }} </th>
                            <th class="text-center">{{ 'report.report_student.managerassignedcourse' | translate }}</th>
                            <th class="text-center">{{ 'report.report_student.positioncourse' | translate }}</th>
                            <th class="text-center">{{ 'report.report_student.sendcourse' | translate }}</th>
                            <th class="text-center">{{ 'report.report_student.enrolledcourse' | translate }}</th>
                            <th class="text-center">{{ 'report.report_student.compeletedcourse' | translate }}</th>
                            <th class="text-center">{{ 'common.action' | translate }}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let student of listStudent; let i = index" class="table2"
                            [style]="'height:' + setHeight + 'px'">
                            <td class="text-center">{{ student.registercourse }}</td>
                            <td class="text-center">{{ student.managerassignedcourse}}</td>
                            <td class="text-center">{{ student.positioncourse !=null ? student.positioncourse : 0}}</td>
                            <td class="text-center">{{ student.sendcourse}}</td>
                            <td class="text-center">{{ student.enrolledcourse }}</td>
                            <td class="text-center">{{ student.compeletedcourse }}</td>
                            <td class="text-center"><a [routerLink]="['/admin/report-student/detail',student.id]"
                                class="btn btn-default btn-sm" (click)="goToDetail()" matTooltip="Xem"><i
                                  class="fas fa-eye"></i></a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <br />
                    <p *ngIf="listStudent?.length === 0" class="text-center">{{ 'common.no_search_result' | translate}}
                    </p>
                  </div>
                  <div class="card-footer text-center" *ngIf="listStudent?.length > 0">
                    <div class="row">
                      <mat-paginator showFirstLastButtons [length]="totalRecord" [pageSize]="searchUser.pageSize"
                        [pageIndex]="searchUser.pageIndex - 1" (page)="changePage($event)" [hidePageSize]="false"
                        [pageSizeOptions]="pageSizeOptions">
                      </mat-paginator>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-drawer-container>
      </div>
    </div>
  </section>
</div>