::ng-deep .tooltip-red {
    background: #b71c1c !important;
    font-size:10pt !important;
  }
  .example-container {
    width: 95vw;
  }
  .example-sidenav {
      width:25vw;         
  }
  .example-sidenav-content {
    height:80vh;
  } 
.blue{
  color: #007bff;
}
td span{
  cursor: pointer;
}
.head2 th {
  padding-right: 30px !important;
  padding-left: 30px !important;
}
#table_2::-webkit-scrollbar-thumb {

  border-radius: 7px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgba(0,0,0,.1);
}
#table_2::-webkit-scrollbar {
  height: 10px;
  background-color: #F5F5F5;
} 

#table_2::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 7px;
  background-color: #F5F5F5;
}
.department_marker ::marker {
  font-size: 1.5em;
}
#table-body{
height: 80vh !important;
}

