<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Evotek| Reset Password</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

</head>
<body class="hold-transition sidebar-mini layout-fixed login-layout">
<section class="login-block">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4 login-sec">
        <h2 class="text-center">Quên mật khẩu ?</h2>
        <span class="fontSize__14">
          <span class="text-danger">*</span>
          Để đặt lại mật khẩu, hãy cung cấp tên đăng nhập hoặc email của bạn ở dưới và nhấn nút "Tiếp tục".
          Nếu tên email bạn cung cấp là chính xác thì hệ thống sẽ gửi hướng dẫn về cách đặt lại mật khẩu vào email của bạn.
        </span>
        <br/><br/><br/>
        <div class="row">
          <div class="col-4 text-right mb-1">Nhập</div>
          <div class="col-8">
            <mat-radio-group>
              <mat-radio-button class="example-margin mr-1" [value]="true" (change)="isShowEmailForm($event)" [checked]="true">
                Email
              </mat-radio-button>
              <br/>
              <mat-radio-button class="example-margin" [value]="false" (change)="isShowEmailForm($event)">
                Tên đăng nhập
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <form [formGroup]="emailForm" (ngSubmit)="onSubmitEmailForm()" role="form" *ngIf="showEmailForm">
          <div class="row mt-3">
            <div class="col-4 mt-3 text-right mb-1">
              <p>Email <span class="text-danger">*</span></p>
            </div>
            <div class="col-8 mt-3">
              <input type="text" class="form-control" formControlName="email"
                     [placeholder]="'Nhập email'">
              <div
                *ngIf="emailForm.get('email')!.invalid && (emailForm.get('email')!.dirty || emailForm.get('email')!.touched)">
                <small class="text-danger"
                       *ngIf="emailForm.get('email')?.errors?.required">{{ 'error.validate.input_required' | translate }}</small>
                <small class="text-danger"
                       *ngIf="emailForm.get('email').errors?.pattern">{{ 'error.validate.email.pattern' | translate }}</small>
              </div>
            </div>
            <div class="col-12 mt-3">
              <button class="btn btn-sm btn-primary float-right round-0 mr-2">
                Tiếp tục
              </button>
              <input type="button"
                     class="btn btn-sm btn-default float-right round-0 mr-2" (click)="backToLogin()"
                     value="Quay lại">
            </div>
          </div>
        </form>

        <form [formGroup]="usernameForm" (ngSubmit)="onSubmitUsernameForm()" role="form" *ngIf="!showEmailForm">
          <div class="row mt-3">
            <div class="col-4 mt-3 text-right mb-1">
              <p>Tên đăng nhập <span class="text-danger">*</span></p>
            </div>
            <div class="col-8 mt-3">
              <input type="text" class="form-control" formControlName="username"
                     [placeholder]="'Nhập tên đăng nhập'">
              <div
                *ngIf="usernameForm.get('username')!.invalid && (usernameForm.get('username')!.dirty || usernameForm.get('username')!.touched)">
                <small class="text-danger"
                       *ngIf="usernameForm.get('username')?.errors?.required">{{ 'error.validate.input_required' | translate }}</small>
              </div>
            </div>
            <div class="col-12 mt-3">
              <button class="btn btn-sm btn-primary float-right round-0 mr-2">
                Tiếp tục
              </button>
              <input type="button"
                     class="btn btn-sm btn-default float-right round-0 mr-2" (click)="backToLogin()"
                     value="Quay lại">
            </div>
          </div>
        </form>

        <div class="copy-text">ONLINE LEARNING <a
          href="#"></a></div>
      </div>
      <div class="col-md-8 banner-sec">
        <div class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="https://static.pexels.com/photos/33972/pexels-photo.jpg"
                   alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>THƯ VIỆN TRI THỨC MOBIFONE</h2>
                  <p>Chào mừng bạn tới hệ thống đào tạo trực tuyến</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid"
                   src="https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg"
                   alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>THƯ VIỆN TRI THỨC MOBIFONE</h2>
                  <p>Được đào tạo bởi giảng viên ưu tú hàng đầu...</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
