.course-input {
  width: 100%;
  padding-bottom: 0 !important;
}
.example-button {
  margin-top: 0px;
}
.example-tooltip-red {
  background: red;
}
::ng-deep .tooltip-red {
  background: #b71c1c !important;
  font-size: 10pt !important;
}
::ng-deep .cdk-overlay-container {
  position: fixed !important;
  z-index: 1200 !important; /* set value you need */
}
::ng-deep label {
  font-weight: 500 !important;
  font-size: 11pt;
}
::ng-deep .date-custom .mat-form-field .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}
::ng-deep .date-custom .mat-form-field .mat-form-field-flex {
  align-items: center !important;
  border: 1px solid lightgrey;
  height: 38px;
}
::ng-deep .date-custom .mat-form-field .mat-form-field-infix {
  padding: 0 !important;
  border-top: 0 !important;
  display: flex;
  align-items: center;
  width: 100% !important;
}
::ng-deep .date-custom .mat-form-field .mat-input-element {
  color: slategray;
  padding: 6px;
}
::ng-deep  .mat-form-field-infix{
  height: 52px!important;
}
::ng-deep .ng-disabled,::ng-deep .ng-disabled input{
  background-color: #e9ecef;
  opacity: 1;
  cursor: not-allowed;
}
