<div class="modal-header">
  <h5 class="modal-title" *ngIf="!isCreateExam && !courseClone">  {{ 'course.create_course' | translate }}</h5>
  <h5 class="modal-title" *ngIf="!isCreateExam && courseClone">Nhân bản khóa học</h5>
  <h5 class="modal-title" *ngIf="isCreateExam">Tạo mới kỳ thi</h5>
  <button type="button" class="btn btn-tool" data-card-widget="collapse" (click)="activeModal.dismiss()"><i
      class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <form role="form" [formGroup]="courseForm">
      <div class="row">
        <!-- <div class="col-12">
          <mat-checkbox *ngIf="!isCreateExam" class="example-margin col-6" (change)="selectOptionCre($event)"
            [checked]="creFollwingPlan">Theo kế hoạch</mat-checkbox>
        </div> -->
        <!-- <div class="col-8" *ngIf="!isManagerNotRoot">
          <div class="form-group" *ngIf="creFollwingPlan">
            <label>Lựa chọn đơn vị</label>
            <ng-select class="form-control select2 custom-select-box"
                        [placeholder]="'user.choose_department' | translate"
                        [items]="departmentMap | keyvalue"
                        bindLabel="value" bindValue="key"

                        [editableSearchTerm]="true"
                        (change)="onSelectedDepartment($event)">
              <ng-template ng-option-tmp let-item="item">
                <div [title]="item.value">{{item.value}}</div>
              </ng-template>
            </ng-select>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group chose-plan-year" *ngIf="creFollwingPlan">
            <label>Năm kế hoạch </label>
            <app-month-picker typePicker="year" (chooseYearE)="yearSelected($event)">loading
            </app-month-picker>
          </div>
        </div> -->
        <div class="col-12" *ngIf="isTeacher">
          <div class="form-group">
            <label>Lựa chọn đơn vị chủ trì</label>
            <ng-select class="form-control select2 custom-select-box"
              [placeholder]="'user.choose_department2' | translate" [items]="departmentMap | keyvalue" bindLabel="value"
              bindValue="key" [editableSearchTerm]="true" (change)="onSelectedDepartment($event)">
              <ng-template ng-option-tmp let-item="item">
                <div [title]="item.value">{{item.value}}</div>
              </ng-template>
            </ng-select>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group fullname-require">
            <label class="control-label">
              <span *ngIf="!isCreateExam">Tên khóa học</span>
              <span *ngIf="isCreateExam">Tên kỳ thi</span>
            </label><span class="text-danger"> *</span>
            <input type="text" [readonly]="isCreatePlanCourse" class="form-control" placeholder="Tên đầy đủ" required=""
              *ngIf="!checkApplyTrainingPlan"
              data-placement="bottom" formControlName="fullname">
              <ng-select [items]="listTrainingPlanCourse" class="form-control select2 custom-select-box"
                *ngIf="checkApplyTrainingPlan"
                  bindLabel="name"
                  bindValue="name"
                  [virtualScroll]="true"
                  formControlName="fullname"
                  (change)="onPickFullname($event)"
                  [placeholder]="fullname == '' ? 'Chọn một khóa học' : ''"
                  >
              </ng-select>
            <!-- <select formControlName="fullname" class="form-control" *ngIf="creFollwingPlan" (change)="initCourePlan()">
              <option [value]="null" disabled selected>Chọn khóa học theo kế hoạch</option>
              <option *ngFor="let item of listCoursePlan" [value]="item.code">{{item.name}}</option>
            </select> -->
            <div
              *ngIf="courseForm.get('fullname')!.invalid &&(courseForm.get('fullname')!.dirty || courseForm.get('fullname')!.touched)">
              <small class="text-danger" *ngIf="courseForm.get('fullname')?.errors?.required">
                {{ 'error.validate.input_required' | translate }}
              </small>
              <small class="text-danger" *ngIf="courseForm.get('fullname')?.errors?.isBlank">
                {{ 'error.validate.input_required' | translate }}
              </small>
              <small class="text-danger" *ngIf="courseForm.get('fullname')?.errors?.maxlength">
                {{ 'error.validate.course.nameMaxlength' | translate }}
              </small>

            </div>
          </div>
        </div>

        <div class="col-12" *ngIf="!isCreateExam">
          <div class="row">
            <div class="form-group col-2 mt-2">
              <mat-checkbox formControlName="checkApplyTrainingPlan" *ngIf="!isCreateExam" class="example-margin"
              (change)="onChangeCheckApplyTrainingPlan($event)" [disabled]="disabledPlan"
              >Khóa học theo kế hoạch</mat-checkbox>
            </div>
            <div class="form-group col-4">
              <select class="form-control select2" style="width: 100%;" formControlName="planid"
                [attr.disabled]="!checkApplyTrainingPlan ? 'disabled' : null" (change)="onChangePlan($event)" [disabled]="disabledPlan">
                <option [value]="null" disabled selected>Chọn kế hoạch đào tạo</option>
                <option *ngFor="let item of listTrainingPlan" [value]="item.id">{{item.name}} - {{item.departmentname ? item.departmentname : "Chưa có đơn vị"}}</option>
              </select>
              <div
                *ngIf="courseForm.get('planid')!.invalid &&(courseForm.get('planid')!.dirty || courseForm.get('planid')!.touched)">
                <small class="text-danger" *ngIf="courseForm.get('planid')?.errors?.required">
                  {{ 'error.validate.input_required' | translate }}
                </small>
              </div>
            </div>
            <div class="form-group col-1 mt-2">
              <mat-checkbox *ngIf="!isCreateExam" class="example-margin" formControlName="isClass" [disabled]="disabledClass"
              (change)="onChangeCheckClass($event)"
              >Lớp học</mat-checkbox>
            </div>
            <div class="form-group col-5">
              <ng-select [items]="originalCourseList" class="form-control select2 custom-select-box" [ngClass]="!isClass || disabledClass ? 'ng-disabled' : ''"
                  bindLabel="fullname"
                  bindValue="id"
                  [virtualScroll]="true"
                  formControlName="classofcourseid" 
                  [readonly]="!isClass || disabledClass"
                  (change)="onChangeOriginalCourse($event)"
                  [placeholder]="classofcourseid =='' ? 'Chọn khóa học trực thuộc':'' "
                  >
              </ng-select>
              <!-- <select class="form-control select2" style="width: 100%;" formControlName="classofcourseid" 
                [attr.disabled]="!isClass ? 'disabled' : null" (change)="onChangeOriginalCourse($event)">
                <option [value]="null" disabled selected>Khóa học trực thuộc</option>
                <option *ngFor="let item of originalCourseList" [value]="item.id">{{item.fullname}}</option>
              </select> -->
              <div
                *ngIf="courseForm.get('classofcourseid')!.invalid &&(courseForm.get('classofcourseid')!.dirty || courseForm.get('classofcourseid')!.touched)">
                <small class="text-danger" *ngIf="courseForm.get('classofcourseid')?.errors?.required">
                  {{ 'error.validate.input_required' | translate }}
                </small>
              </div>
            </div>
          </div>
        </div>
        <!-- <div *ngIf="isTeacher" class="col-{{isCreateExam ? '6' : '12'}}">
          <div class="form-group">
            <label>Đơn vị</label><span class="text-danger"> *</span>
            <ng-select class="form-control select2 custom-select-box"
                [placeholder]="'user.choose_department' | translate" [items]="departmentMap | keyvalue"
                bindLabel="value" bindValue="key" formControlName="departmentId" [editableSearchTerm]="true">
                <ng-template ng-option-tmp let-item="item">
                    <div [title]="item.value">{{item.value}}</div>
                </ng-template>
            </ng-select>
            <div
              *ngIf="courseForm.get('departmentId')!.invalid &&(courseForm.get('departmentId')!.dirty || courseForm.get('departmentId')!.touched)">
              <small class="text-danger" *ngIf="courseForm.get('departmentId')?.errors?.required">
                {{ 'error.validate.input_required' | translate }}
              </small>
            </div>
          </div>
        </div> -->

        <div class="col-{{isCreateExam ? '6' : '12'}}">
          <div class="form-group">
            <label>Danh mục họ nghề
              <!-- <span *ngIf="!isCreateExam">khóa học</span>
              <span *ngIf="isCreateExam">kỳ thi</span> -->
            </label><span class="text-danger"> *</span>
            <select class="form-control select2" style="width: 100%;" formControlName="categoryid">
              <option [value]="null" disabled selected>Chọn danh mục họ nghề</option>
              <option *ngFor="let item of categoryMap | keyvalue" [value]="item.key">{{item.value}}</option>
            </select>
            <div
              *ngIf="courseForm.get('categoryid')!.invalid &&(courseForm.get('categoryid')!.dirty || courseForm.get('categoryid')!.touched)">
              <small class="text-danger" *ngIf="courseForm.get('categoryid')?.errors?.required">
                {{ 'error.validate.input_required' | translate }}
              </small>
            </div>
          </div>
        </div>
        <div class="col-12" *ngIf="!isCreateExam">
          <div class="form-group">
            <label class="control-label">Chứng nhận/Chứng chỉ</label>
            <ng-multiselect-dropdown [placeholder]="'Chọn chứng chỉ'" [settings]="dropdownPositionSettings"
              [data]="badgeList" (onSelect)="onChangeBadges()" (onDropDownClose)="onChangeBadges()"
              formControlName="badgerequire">
            </ng-multiselect-dropdown>
          </div>
        </div>
        <div class="col-4" *ngIf="!isCreateExam">
          <div class="form-group">
            <label> Đối tượng học
            </label><span class="text-danger"> *</span>
            <ng-multiselect-dropdown [placeholder]="'Chọn chức danh'" [settings]="dropdownPositionSettings"
              [data]="positionList" (onSelect)="onChangePosition()" (onDropDownClose)="onChangePosition()"
              formControlName="selectedPositions">
            </ng-multiselect-dropdown>
            <div
              *ngIf="courseForm.get('selectedPositions')!.invalid &&(courseForm.get('selectedPositions')!.dirty || courseForm.get('selectedPositions')!.touched)">
              <small class="text-danger" *ngIf="courseForm.get('selectedPositions')?.errors?.required">
                {{ 'error.validate.input_required' | translate }}
              </small>
            </div>
          </div>
        </div>
        <div class="col-4" *ngIf="!isCreateExam">
          <div class="form-group">
            <label> Hình thức học
            </label><span class="text-danger"> *</span>
            <select class="form-control select2" style="width: 100%;" formControlName="trainingtype"
              (change)="selectOpByTrainingType($event)">
              <option [value]="null" disabled selected>Chọn hình thức học</option>
              <option *ngFor="let item of listTrainingType" [value]="item.value">{{item.label}}</option>
            </select>
            <div
              *ngIf="courseForm.get('trainingtype')!.invalid &&(courseForm.get('trainingtype')!.dirty || courseForm.get('trainingtype')!.touched)">
              <small class="text-danger" *ngIf="courseForm.get('trainingtype')?.errors?.required">
                {{ 'error.validate.input_required' | translate }}
              </small>
            </div>
          </div>
        </div>
        <div class="col-{{isCreateExam ? '6' : '4'}} pt-4">
          <mat-checkbox formControlName="requireenglish" *ngIf="!isCreateExam" class="example-margin col-6">Yêu cầu
            tiếng anh</mat-checkbox>
          <mat-checkbox formControlName="isopen" *ngIf="!isCreateExam" (change)="showOptions($event)"
            class="example-margin col-6">Tự ghi danh
          </mat-checkbox>
          <mat-checkbox formControlName="hasquiz" *ngIf="!isCreateExam"
            class="example-margin col-6">
            Bài thi</mat-checkbox>
          <mat-checkbox class="example-margin col-6" formControlName="istrainingforeign" *ngIf="!isCreateExam && showOpExamCheckbox">Đào tạo ở nước ngoài</mat-checkbox>
          <mat-checkbox *ngIf="isCreateExam || isShowCreateBadge" formControlName="iscreatebadge"
            [checked]="courseDetail?.badgeid" class="example-margin col-6">
            Tạo chứng chỉ cho khóa học/ kỳ thi</mat-checkbox>
          <mat-checkbox *ngIf="!isCreateExam" (change)="onChangeLimit($event)"
            [checked]="islimited" class="example-margin col-6">
            Khóa học có thời hạn
          </mat-checkbox>
          <div>
            <small class="text-danger" *ngIf="courseForm.hasError('required', 'hasquiz')">
              {{ 'error.validate.exam_required' | translate }}
            </small>
          </div>
        </div>
        <div class="col-6">
          <label for="" class="mb-0">Thời gian bắt đầu</label><span class="text-danger"> *</span>
          <div class="form-row">
            <div class="col-auto form-inline">
              <select class="form-control" formControlName="hourStartDate" (change)="startDateChange($event)">
                <option *ngFor="let hour of hoursList" [value]="hour.value">{{hour.label}}</option>
              </select>
              <select class="form-control ml-1" formControlName="minuteStartDate" (change)="startDateChange($event)">
                <option *ngFor="let minute of minutesList" [value]="minute.value">{{minute.label}}</option>
              </select>
            </div>
            <div class="col-auto">
              <mat-form-field class="mr-3 mb-0 course-input">
                <mat-label>Ngày bắt đầu</mat-label>
                <input matInput [matDatepicker]="startdateModel" [min]="checkTypeTrain ? '' : currentDate"
                  formControlName="startdate" (dateChange)="startDateChange($event)">
                <mat-datepicker-toggle matSuffix [for]="startdateModel"></mat-datepicker-toggle>
                <mat-datepicker #startdateModel></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <small class="text-danger" *ngIf="startTimeInvalid">
            {{ 'error.validate.start_date_invalid' | translate }}
          </small>
          <small class="text-danger" *ngIf="startTimeCloneInvalid">
            {{ 'error.validate.start_date_clone_invalid' | translate }}
          </small>
          <small class="text-danger" *ngIf="dateTimeCloneInvalid && courseForm.get('enddate').value">
            {{ 'error.validate.date_clone_invalid' | translate }}
          </small>
          <div
            *ngIf="courseForm.get('hourStartDate')!.invalid &&(courseForm.get('hourStartDate')!.dirty || courseForm.get('hourStartDate')!.touched) ||
        courseForm.get('minuteStartDate')!.invalid &&(courseForm.get('minuteStartDate')!.dirty || courseForm.get('minuteStartDate')!.touched)">
            <small class="text-danger" *ngIf="courseForm.get('hourStartDate')?.errors?.required">
              {{ 'error.validate.hour_valid' | translate }}
            </small> &emsp;
            <small class="text-danger" *ngIf="courseForm.get('minuteStartDate')?.errors?.required">
              {{ 'error.validate.minutes_valid' | translate }}
            </small>
          </div>

        </div>
        <div class="col-6" *ngIf="!islimited"></div>
        <div class="col-6" *ngIf="isCreateExam || islimited">
          <label class="mb-0">Thời gian kết thúc</label><span class="text-danger"> *</span>
          <div class="form-row">
            <div class="col-auto form-inline">
              <select class="form-control" formControlName="hourEndDate" (change)="endDateChange($event)">
                <option *ngFor="let hour of hoursList" [value]="hour.value">{{hour.label}}</option>
              </select>
              <select class="form-control ml-1" formControlName="minuteEndDate" (change)="endDateChange($event)">
                <option *ngFor="let minute of minutesList" [value]="minute.value">{{minute.label}}</option>
              </select>
            </div>
            <div class="col-auto">
              <mat-form-field color="blue" class="course-input mb-0">
                <mat-label>Ngày kết thúc</mat-label>
                <input matInput [matDatepicker]="enddateModel" [min]="checkTypeTrain ? '' :courseForm.value.startdate"
                  formControlName="enddate" (dateChange)="endDateChange($event)">
                <mat-datepicker-toggle matSuffix [for]="enddateModel"></mat-datepicker-toggle>
                <mat-datepicker #enddateModel color="primary"></mat-datepicker>
              </mat-form-field>

            </div>
            <small class="text-danger" *ngIf="endTimeInvalid">
              {{ 'error.validate.end_date_invalid' | translate }}
            </small>
            <small class="text-danger" *ngIf="endTimeCloneInvalid">
              {{ 'error.validate.end_date_clone_invalid' | translate }}
            </small>
            <div
              *ngIf="courseForm.get('hourEndDate')!.invalid &&(courseForm.get('hourEndDate')!.dirty || courseForm.get('hourEndDate')!.touched) ||
          courseForm.get('minuteEndDate')!.invalid &&(courseForm.get('minuteEndDate')!.dirty || courseForm.get('minuteEndDate')!.touched)">
              <small class="text-danger" *ngIf="courseForm.get('hourEndDate')?.errors?.required">
                {{ 'error.validate.hour_valid' | translate }}
              </small> &emsp;
              <small class="text-danger" *ngIf="courseForm.get('minuteEndDate')?.errors?.required">
                {{ 'error.validate.minutes_valid' | translate }}
              </small>
            </div>

          </div>
        </div>
        <div class="col-4" *ngIf="!isCreateExam">
          <div class="form-group fullname-require">
            <label class="control-label"> Thời gian đào tạo (ngày)
            </label><span class="text-danger"> *</span>
            <input step="any" type="number" class="form-control" placeholder="Nhập số lượng ngày" min="0" [max] = "courseForm.get('enddate').value ? calculateDiff(courseForm.get('startdate').value, courseForm.get('enddate').value) : ''"
              data-placement="bottom" formControlName="duration">
            <div
              *ngIf="courseForm.get('duration')!.invalid &&(courseForm.get('duration')!.dirty || courseForm.get('duration')!.touched)">
              <small class="text-danger" *ngIf="courseForm.get('duration')?.errors?.min">
                {{ 'error.validate.number' | translate }}
              </small>
              <small class="text-danger" *ngIf="courseForm.get('duration')?.errors?.required">
                {{ 'error.validate.input_required' | translate }}
              </small>
            </div>
            <div>
              <small class="text-danger" *ngIf="durationInvalid">
                {{ 'error.validate.durationInvalid' | translate }}
              </small>
            </div>
          </div>
        </div>
        <div class="col-4" *ngIf="!isCreateExam">
          <div class="form-group fullname-require">
            <label class="control-label"> Số lượng học viên
            </label><span class="text-danger" *ngIf="!isOpen"> *</span>
            <input type="text" id="numberStudentCheck" class="form-control" placeholder="Nhập số lượng học viên" min="0"
              required="" data-placement="bottom" formControlName="numberstudent"
              (change)="convertNumberstudent($event.target.value)">
            <div
              *ngIf="courseForm.get('numberstudent')!.invalid &&(courseForm.get('numberstudent')!.dirty || courseForm.get('numberstudent')!.touched)">
              <small class="text-danger" *ngIf="courseForm.get('numberstudent')?.errors?.required">
                {{ 'error.validate.input_required' | translate }}
              </small>
              <small class="text-danger" *ngIf="courseForm.get('numberstudent')?.errors?.maxlength">
                {{ 'error.validate.maxNumber' | translate }}
              </small>
              <small class="text-danger" *ngIf="courseForm.get('numberstudent')?.errors?.isBlank">
                {{ 'error.validate.input_required' | translate }}
              </small>
              <!-- <small class="text-danger" *ngIf="courseForm.get('numberstudent')?.errors?.invalidNumber">
                {{ 'error.validate.number' | translate }}
              </small> -->
            </div>
          </div>
        </div>
        <div class="col-4" *ngIf="!isCreateExam">
          <div class="form-group fullname-require">
            <label class="control-label"> Chi phí (VNĐ)
            </label><span class="text-danger"> *</span>
            <input type="text" class="form-control" placeholder="Nhập chi phí" required="" data-placement="bottom"
              formControlName="costDisplay" (change)="convertCost($event.target.value)">
            <div
              *ngIf="courseForm.get('costDisplay')!.invalid &&(courseForm.get('costDisplay')!.dirty || courseForm.get('costDisplay')!.touched) || courseForm.get('cost')?.errors?.max">
              <small class="text-danger" *ngIf="courseForm.get('cost')?.errors?.required">
                {{ 'error.validate.input_required' | translate }}
              </small>
              <small class="text-danger" *ngIf="courseForm.get('cost')?.errors?.isBlank">
                {{ 'error.validate.input_required' | translate }}
              </small>
              <small class="text-danger" *ngIf="courseForm.get('costDisplay')?.errors?.maxlength">
                {{ 'error.validate.maxNumberCost' | translate }}
              </small>
              <!-- <small class="text-danger" *ngIf="courseForm.get('cost')?.errors?.invalidNumber">
                {{ 'error.validate.number' | translate }}
              </small> -->
              <small class="text-danger" *ngIf="courseForm.get('cost')?.errors?.max && !courseForm.get('costDisplay')?.errors?.maxlength">
                {{ 'error.validate.maxValueCost' | translate:{param:maxCostValue|number} }}
              </small>
            </div>
            <small class="text-danger" *ngIf="costInvalid">
              {{ 'error.validate.costInvalid' | translate }}
            </small>
          </div>
        </div>
        <div class="col-4" *ngIf="!isCreateExam">
          <div class="form-group fullname-require">
            <label class="control-label">Nguồn chi phí tổ chức đào tạo
            </label><span class="text-danger"> *</span>
            <select class="form-control select2" style="width: 100%;" formControlName="resource"
              (change)="onChangeResourse($event)">
              <option [value]="null" selected hidden>Chọn nguồn chi phí</option>
              <option *ngFor="let item of listCostSource" [value]="item.value">{{item.label}}</option>
            </select>
            <div
              *ngIf="courseForm.get('resource')!.invalid &&(courseForm.get('resource')!.dirty || courseForm.get('resource')!.touched)">
              <small class="text-danger" *ngIf="courseForm.get('resource')?.errors?.required">
                {{ 'error.validate.input_required' | translate }}
              </small>
              <small class="text-danger" *ngIf="courseForm.get('resource')?.errors?.isBlank">
                {{ 'error.validate.input_required' | translate }}
              </small>
            </div>
          </div>
        </div>
        <!-- <div class="col-9" *ngIf="!coursePlan||courseForm.get('resource').value=='OTHERS'"></div> -->
        <div class="col-4" *ngIf="courseForm.get('resource').value=='OTHERS'">
          <div class="form-group fullname-require">
            <label class="control-label">Nguồn khác
            </label><span class="text-danger"> *</span>
            <input type="text" class="form-control" placeholder="Nhập nguồn khác" required="" data-placement="bottom"
              formControlName="other">
            <div
              *ngIf="courseForm.get('other')!.invalid &&(courseForm.get('other')!.dirty || courseForm.get('other')!.touched)">
              <small class="text-danger" *ngIf="courseForm.get('other')?.errors?.required">
                {{ 'error.validate.input_required' | translate }}
              </small>
              <small class="text-danger" *ngIf="courseForm.get('other')?.errors?.isBlank">
                {{ 'error.validate.input_required' | translate }}
              </small>
            </div>
          </div>
        </div>
        <div class="col-6" *ngIf="!isCreateExam && isShowLocation">
          <div class="form-group">
            <label>Địa điểm</label>
            <textarea rows="4" style="width: 100%;" formControlName="location" class="form-control"></textarea>
          </div>
        </div>
        <div class="col-6" *ngIf="!isCreateExam">
          <div>
            <label>Miêu tả khóa học</label>
          </div>
          <div>
            <textarea rows="4" style="width: 100%;" formControlName="summary" class="form-control">
            </textarea>
            <div
              *ngIf="courseForm.get('summary')!.invalid && (courseForm.get('summary')!.dirty || courseForm.get('summary')!.touched)">
              <small class="text-danger" *ngIf="courseForm.get('summary')?.errors?.maxlength">
                {{ 'error.validate.course.nameCourseMaxlength' | translate }}
              </small>
            </div>
          </div>
        </div>
        <div class="col-4" *ngIf="!isCreateExam">
          <div class="form-group">
            <label for="">Điều kiện hoàn thành khóa học</label><span class="text-danger"> *</span>
            <div >
            <p class="mb-0"><mat-checkbox formControlName="completealllessions">Học hết tất cả các bài</mat-checkbox></p>  
            <p class="mb-0"><mat-checkbox formControlName="isforcepassexam" (change)="onCheckIsforcepassexam($event)">Bắt buộc qua bài thi</mat-checkbox></p> 
            <p class="mb-0"><mat-checkbox formControlName="isjoinsurvey">Tham gia khảo sát</mat-checkbox></p>  
            <small class="text-danger" *ngIf="isCheckComplete">
              {{ 'error.validate.input_required' | translate }}
            </small>        
            </div>
          </div>
        </div>
        <div class="col-4" *ngIf="!isCreateExam">
          <div class="form-group">
            <label>Ảnh đại diện khóa học</label><span class="text-danger"> *</span>
            <div class="input-group">
              <input type="file" class="form-control-file" (change)="handleFileInput($event.target.files)">
              <small class="text-danger" *ngIf="avatarCourseErrorRequired && !avatarCourseInvalid">
                {{ 'error.validate.input_required' | translate }}
              </small>
              <small class="text-danger" *ngIf="avatarCourseInvalid">
                {{ 'error.validate.avatar_course_invalid' | translate }}
              </small>
            </div>
          </div>
        </div>
      </div>
      <div style="width:200px" *ngIf="!courseFile">
        <img #imgPreview class="img-thumbnail">
      </div>
      <div class="card-footer text-center">
        <button type="button" (click)="activeModal.dismiss('close')" class="btn ml-1 btn-secondary rounded-0 mr-2"
          data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary" (click)="createNewCourse()">Lưu
          lại</button>
      </div>
    </form>
  </div>
</div>
<script>
  window.onload = function () {

    var textInput = document.getElementById("numberStudentCheck");

    textInput.oninput = function () {
      var temp;
      temp = this.value.replace(/[^\w\s]/gi, '');
      if (temp.length > 9) {
        alert("Invalid"); // Or other stuff you want to do
      }
    };
  };
</script>