.font-size-18  {
    font-size: 18pt;
}
.img-course-route-detail {
   border-radius: .85rem;
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.section-title-route {
	font-size: 19px;
    line-height: 1.5;
    margin-bottom: 5px;
    margin-top: -9px;
    padding-left: 10px;
    word-break: break-word;
}
.box-object-route {
    box-shadow: 0 2px 7px rgba(0,0,0,.15);
    margin-bottom: 20px;  
    border-radius: 1.2rem;
    border: 0.5rem solid #fff;
    
  }
.reptro-event-item .reptro-event-date {
    flex-grow: 1;
    /* padding: 17px 15px; */
    text-align: center;
    flex-basis: 60px;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}
.reptro-event-item .reptro-event-date span.reptro-event-day {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}
.reptro-event-date>span {
    display: block;
    width: 100%;
    text-align: center;
}
.reptro-event-item .reptro-event-date span.reptro-event-month {
	font-size: .8rem;
    margin-bottom: 3px;
    text-transform: uppercase;
    color: #aeaeae;
    letter-spacing: 0;
    font-weight: 400;
}

.reptro-event-date>span {
    display: block;
    width: 100%;
    text-align: center;
}
.reptro-event-item .reptro-event-date span.reptro-event-year {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 2px;
    background-color: #f7f7f7;
    padding: 1px 5px 1px 7px;
    border-radius: 3px;
    display: inline;
}

.reptro-event-date>span {
    display: block;
    width: 100%;
    text-align: center;
}
.card-box {
    border-radius: .85rem !important;
}
