<section class="content">
  <div class="content-wrapper" style="min-height: 928.604px">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>BÁO CÁO THEO KHUNG ĐÀO TẠO</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <a href="#" routerLink="/admin">CMS</a>
              </li>
              <li class="breadcrumb-item active">BÁO CÁO THEO KHUNG ĐÀO TẠO</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <section>
      <mat-drawer-container autosize class="example-container">
        <mat-drawer #drawer class="example-sidenav" mode="side" opened>
          <div class="card card-default">
            <div class="card-body">
              <div class="row">
                <div class="col-7"></div>
                <!-- <div class="col-5">
                  <button type="button" data-toggle="modal" data-target="#createTopic"
                    class="btn btn-primary rounded-0 float-right" (click)="clear()">
                    Đặt lại tìm kiếm
                  </button>
                </div> -->
              </div>
              <hr />
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header [collapsedHeight]="'50px'">
                    <mat-panel-title>
                      <div class="form-inline">
                        <div class="ml-2 mt-1">
                          <span class="topic">Đơn vị</span>
                        </div>
                      </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <form>
                    <ejs-treeview
                      #departmentTree
                      [fields]="departmentTreeData"
                      (keyPress)="nodeCheck($event)"
                      (nodeClicked)="nodeCheck($event)"
                      (nodeSelected)="nodeDepartmentSelected($event)"
                      (nodeChecked)="nodeDepartmentChecked($event)"
                      [showCheckBox]="true"
                    >
                    </ejs-treeview>
                  </form>
                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header [collapsedHeight]="'50px'">
                    <mat-panel-title>
                      <div class="form-inline">
                        <div class="ml-2 mt-1">
                          <span class="topic">Danh mục họ nghề</span>
                        </div>
                      </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <form>
                    <ejs-treeview
                      #categoryTree
                      [fields]="categoryTreeData"
                      (keyPress)="nodeCheckCategory($event)"
                      (nodeClicked)="nodeCheckCategory($event)"
                      (nodeSelected)="nodeSelectedCategory($event)"
                      (nodeChecked)="nodeCategoryChecked($event)"
                      [showCheckBox]="true"
                    >
                    </ejs-treeview>
                  </form>
                </mat-expansion-panel>     
              </mat-accordion>
            </div>
          </div>
        </mat-drawer>
        <div class="example-sidenav-content">
          <div class="card card-default">
            <div class="card-body content-of-topic mt-2">
              <div class="row">
                <div class="col-8">
                  <h6 class="topic mb-2"></h6>
                  <div class="form-inline">
                    <div class="btn-group"></div>
                  </div>
                </div>
                <!-- //content -->
                <section class="content" style="overflow-x: hidden">
                  <div class="container-fluid">
                    <div class="col-12">
                      <div class="card card-default">
                        <div class="card-header">
                          <!-- <h3 class="card-title">Danh sách câu hỏi mới</h3> -->
                          <div class="row">
                            <div class="col-4 mt-0">
                              <div class="form-group">
                                <label class="mr-2">Kế hoạch năm</label
                                ><span class="text-danger">*</span>
                                <app-month-picker
                                  class="month-picker"
                                  inputValue="{{ inputYear }}"
                                  inputValue="{{ inputYear }}"
                                  [defaulthYear]="getDefault()"
                                  typePicker="year"
                                  (chooseYearE)="yearSelected($event)"
                                  typePicker="year"
                                  >loading</app-month-picker
                                >
                              </div>
                            </div>
                            <div class="col-4 mt-0">
                              <div class="form-group">
                                <label class="mr-2">Thời gian thực hiện</label
                                ><span class="text-danger">*</span>
                                <app-month-picker
                                  class="month-picker"
                                  inputValue="{{ inputYear }}"
                                  typePicker="month"
                                  (chooseMonthE)="monthSelected($event)"
                                  >loading</app-month-picker
                                >
                              </div>
                            </div>
                            <div class="col-4 mt-5">
                              <form
                                class="form-inline"
                                [formGroup]="searchForm"
                              >
                                <div class="text-right export-kpi mt-4">
                                  <a
                                    class="btn btn-sm btn-success text-white"
                                    (click)="onExporKPI()"
                                  >
                                    <i class="fas fa-file-excel mr-2"></i>Xuất
                                    File Excel
                                  </a>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                        <div
                          class="card-body"
                          id="table-body"
                          style="display: block"
                        >
                          <div class="row">
                            <div class="col-12 table-responsive" id="table_2">
                              <table
                                class="table table-hover table-bordered"
                                style="white-space: nowrap"
                              >
                                <thead class="head2">
                                  <tr>
                                    <th class="text-center" [attr.rowspan]="3">
                                      STT
                                    </th>
                                    <th class="text-center" [attr.rowspan]="3">
                                      Nội dung
                                    </th>
                                    <th class="text-center" [attr.colspan]="7">
                                      Thực hiện (Tháng T)
                                    </th>
                                    <th class="text-center" [attr.colspan]="7">
                                      Luỹ kế (Tháng 1 đến tháng T)
                                    </th>
                                  </tr>
                                  <tr>
                                    <th class="text-center" [rowSpan]="2">Số khoá</th>
                                    <th class="text-center" [rowSpan]="2">
                                      Số lượt học viên
                                    </th>
                                    <th class="text-center" [rowSpan]="2">
                                      Số CBNV được đào tạo
                                    </th>
                                    <th class="text-center" [rowSpan]="2">
                                      Tỷ lệ học viên đạt của khoá học(%)
                                    </th>
                                    <th class="text-center" colspan="3">
                                      Đánh giá của người học
                                    </th>
                                    <th class="text-center" [rowSpan]="2">Số khoá</th>
                                    <th class="text-center" [rowSpan]="2">
                                      Số lượt học viên
                                    </th>
                                    <th class="text-center" [rowSpan]="2">
                                      Số CBNV được đào tạo
                                    </th>
                                    <th class="text-center" [rowSpan]="2" >
                                      Tỷ lệ học viên đạt của khoá học(%)
                                    </th>
                                    <th class="text-center" colspan="3">
                                      Đánh giá của người học
                                    </th>
                                  </tr>
                                  <tr>
                                    <th class="text-center">
                                      Đánh giá giảng viên
                                    </th>
                                    <th class="text-center">
                                      Đánh giá nội dung đào tạo
                                    </th>
                                    <th class="text-center">
                                      Đánh giá khâu tổ chức lớp
                                    </th>
                                    <th class="text-center">
                                      Đánh giá giảng viên
                                    </th>
                                    <th class="text-center">
                                      Đánh giá nội dung đào tạo
                                    </th>
                                    <th class="text-center">
                                      Đánh giá khâu tổ chức lớp
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr
                                    *ngFor="
                                      let item of listReportTraining;
                                      let i = index
                                    "
                                    class="table2"
                                  >
                                    <td class="text-center">
                                      {{ item.stt }}
                                    </td>
                                    <td class="text-left">{{ item.name }}</td>
                                    <td class="text-right">
                                      {{ item.numofcourse }}
                                    </td>
                                    <td class="text-right">
                                      {{ item.numofstudent }}
                                    </td>
                                    <td class="text-right">
                                      {{ item.numofstaff }}
                                    </td>
                                    <td class="text-right">
                                      {{ item.completedstudentrate }}
                                    </td>
                                    <td class="text-right">
                                      {{ item.teacherevaluate }}
                                    </td>
                                    <td class="text-right">
                                      {{ item.classcontentevaluate }}
                                    </td>
                                    <td class="text-right">
                                      {{ item.classorgevaluate }}
                                    </td>
                                    <td class="text-right">
                                      {{ item.accumulatednumofcourse }}
                                    </td>
                                    <td class="text-right">
                                      {{ item.accumulatednumofstudent }}
                                    </td>
                                    <td class="text-right">
                                      {{ item.accumulatednumofstaff }}
                                    </td>
                                    <td class="text-right">
                                      {{ item.accumulatedcompletedstudentrate }}
                                    </td>
                                    <td class="text-right">
                                      {{ item.accumulatedteacherevaluate }}
                                    </td>
                                    <td class="text-right">
                                      {{ item.accumulatedclasscontentevaluate }}
                                    </td>
                                    <td class="text-right">
                                      {{ item.accumulatedclassorgevaluate }}
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div
                            class="card-footer text-center"
                            *ngIf="listReportTraining?.length > 0"
                          >
                            <div class="row">
                              <mat-paginator
                                showFirstLastButtons
                                [length]="total"
                                [pageSize]="searchTrainingReport.pageSize"
                                [pageIndex]="searchTrainingReport.pageIndex - 1"
                                (page)="changePage($event)"
                                [hidePageSize]="false"
                                [pageSizeOptions]="pageSizeOptions"
                              >
                              </mat-paginator>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </mat-drawer-container>
    </section>
  </div>
</section>
