<div class="content-wrapper">
   <section class="content-header">
     <div class="container-fluid">
       <div class="row">
         <div class="col-sm-6">
           <h1>Quản lý Cấp độ chứng chỉ</h1>
         </div>
         <div class="col-sm-6">
           <ol class="breadcrumb float-sm-right">
             <li class="breadcrumb-item"><a href="#" routerLink="/admin">CMS</a></li>
             <li class="breadcrumb-item active">Quản lý Cấp độ chứng chỉ</li>
           </ol>
         </div>
       </div>
     </div>
   </section>
   <section class="content">
     <div class="">
       <mat-tab-group dynamicHeight selectedIndex="{{selectedId ? selectedId : 0}}">
         <mat-tab>
           <ng-template mat-tab-label>
             Chi tiết cấp độ
           </ng-template>
           <app-badge-level-info [id]="id" (seletedIndexEvent)="selectedIndex($event)"></app-badge-level-info>
         </mat-tab>
         <mat-tab [disabled]="id ? false: true">
           <ng-template mat-tab-label>
             Chứng chỉ
           </ng-template>
           <app-level-badge [id]="id" ></app-level-badge>
         </mat-tab>
       </mat-tab-group>
     </div><!-- /.container-fluid -->
   </section>
 </div>
   