<section class="inner_page_breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 text-center">
          <div class="breadcrumb_content mt-2">
            <h4 class="breadcrumb_title">{{'certificate.user' | translate | uppercase}}</h4>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="/home">{{'common.home' | translate}}</a>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
</section>
<main>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-6"></div>
              <div class="col-6">
                <div class="d-flex justify-content-end align-items-center float-right">
                  <div class="col-auto">
                    <input type="text" placeholder="Tên khóa học" class="form-control" (change)="onSearch($event.target.value)">
                  </div>
                  <div class="col-auto">
                    <select class="form-control" (change)="onFilterBadge($event.target.value)">
                      <option value="-1">{{'certificate.type.all' | translate}}</option>
                      <option value="0">{{'certificate.type.external' | translate}}</option>
                      <option value="1">{{'certificate.type.internal' | translate}}</option>
                      <option value="2">{{'certificate.type.offline' | translate}} </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 table-responsive ">
                  <table class="table mt-3 table-hover">
                      <thead>
                        <tr class="bg-light">
                          <th >{{'certificate.index' | translate}}</th>
                          <th >{{'certificate.name' | translate}}</th>
                          <th >{{'certificate.level' | translate}}</th>
                          <th >{{'certificate.criteria' | translate}}</th>
                          <th >{{'certificate.numeral' | translate}}</th>
                          <th >{{'certificate.create_at' | translate}}</th>
                          <th >{{'certificate.end_date' | translate}}</th>
                          <th >{{'certificate.type.title' | translate}}</th>
                          <th >{{'common.action' | translate}}</th>
                        </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let item of certificate; let i = index">
                        <td>{{(pageIndex - 1) * pageSize + i + 1}}</td>
                        <td style="width:450px;">{{item.name}}</td>
                        <td>{{item.levelname}}</td>
                        <td>{{item.field}}</td>
                        <td>MOBIFONE-{{item.issuedid}}</td>
                        <td>{{getDateFromUnix(item.dateissued) | date:'dd/MM/yyyy'}}</td>
                        <td>{{item.dateexpire ? (getDateFromUnix(item.dateexpire) | date:'dd/MM/yyyy') : 'Vô thời hạn'}}</td>
                        <td>
                          <span [class]="'badge badge-' + ['primary','info','success'][item.badgetype]">{{["certificate.type.external", "certificate.type.internal", "certificate.type.offline"][item.badgetype || 0] | translate}}</span>
                        </td>
                        <td><button matTooltip="{{'common.view' | translate}}" (click)="goToDetail(item?.id)" class="btn btn-default"><i class="fas fa-eye"></i></button></td>
                      </tr>
                      </tbody>
                      <tr class="text-center" *ngIf="certificate?.length === 0"><td colspan="8">{{'common.no_user_certificate' | translate}}</td></tr>
                  </table>
              </div>
            </div>
          </div>
          <div class="card-footer text-center" *ngIf="certificate?.length > 0">
            <div class="row">
              <mat-paginator showFirstLastButtons
                  [length]="totalRecord"
                  [pageSize]="pageSize"
                  [pageIndex]="pageIndex - 1"
                  (page)="changePage($event)"
                  [hidePageSize]="false"
                  [pageSizeOptions]="pageSizeOptions">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
