.dragarea {
  border: 2px dashed #cbcbcb;
  padding: 1.5rem;
  background-color: #f3f3f3;
  color: grey;
  /* font-size: 20px; */
  border-radius: 10px;
}

.droparea {
  /* font-size: 20px; */
  border: 2px dashed #cbcbcb;
  border-radius: 10px;
  padding: 1.5rem;
  background-color: #eff;
  color: #aaa;
}
