::ng-deep .card-header {
    font-size: 12pt !important;
}
::ng-deep p {
    font-size: 11pt !important;
    color: #263238 !important;
  }
  .dot {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: rgba(39,135,232,1);
}

.column-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

small {
  word-wrap: break-word;      /* IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  white-space: pre-wrap;      /* current browsers */
}
::ng-deep .mat-radio-label-content {
  white-space: normal !important;
  font-weight: 300;
}

::ng-deep .rate .mat-radio-label{
  flex-direction: column-reverse;
}
