::ng-deep  .mat-form-field-infix {
  display: flex!important;
  align-items: center!important;
  width: 100% !important;
}
.export-kpi{
  position: absolute;
  right: 0px;
}
.head2 th {
  padding-right: 30px !important;
  padding-left: 30px !important;
}
.department_marker ::marker {
  font-size: 1.5em;
}
#table-body{
  height: 80vh !important;
}
input[type="number"]{
  margin-top: 2px;
}
::ng-deep .dropdown-multiselect__caret {
  width: 28px!important;
  height: 34px!important;
}
::ng-deep  .dropdown-multiselect__caret:before {
  border-width: 5px 5px 0!important;
}
.w-230{
  width: 230px;
}
.w-190{
  width: 190px;
}
@media(max-width:1366px){
.card-body .col-12{
  overflow-x: scroll;
}
.table {
    width: 1200px;
 }
.table-responsive::-webkit-scrollbar-thumb {
  border-radius: 7px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgba(0,0,0,.1);
}
.table-responsive::-webkit-scrollbar {
  height: 10px;
  background-color: #F5F5F5;
}
.table-responsive::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 7px;
  background-color: #F5F5F5;
}
}
.example-container {
  width: 95vw;

}
.example-sidenav {
  width: 18vw;
}
.example-sidenav-content {
  max-height: 80vh;
}
.table-responsive{
  max-height: 75vh;
}
.table thead th {
  background: #E3F2FD;
  color: #615e5e;
}
/* ::ng-deep .mat-drawer-content{
overflow: hidden !important;
}
.table-responsive {
   overflow-x: hidden !important; 
} */