<div class="modal-header">
  <h5 class="modal-title">Chi tiết dữ liệu học viên</h5>
  <button type="button" class="btn btn-tool" data-card-widget="collapse" (click)="activeModal.dismiss()"><i
      class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <div class="example-sidenav-content">
    <div class="card card-default">
      <div class="card-body" style="display: block;">
        <div class="col-12 table-responsive">
          <table
              class="table table-hover table-bordered"
              style="white-space: nowrap"
          >
              <thead class="head2">
              <tr>
                  <th class="text-center" style="max-width: 100px">STT</th>
                  <th class="text-center">Tên khóa học</th>
                  <th class="text-center">Hiển thị</th>
                  <th class="text-center">Trạng thái</th>
                  <th class="text-center">Điểm kiểm tra</th>
              </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of listCourseData; let i = index;">
                      <td class="text-center" style="max-width: 100px">{{i + 1}}</td>
                      <td class="text-left">{{item.coursename}}</td>
                      <td class="text-center"><span class="badge badge-{{item.display === 'Đang hiển thị' ? 'primary' : 'warning'}}">{{item.display}}</span></td>
                      <td class="text-center"><span class="badge badge-{{item.style}}">{{item.status}}</span></td>
                      <td class="text-center">{{item.testmarks}}</td>
                  </tr>
              </tbody>
          </table>
          <br />
          <p *ngIf="totalRecord==0" class="text-center">{{
              'common.no_search_result' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>