<div class="modal-header">
    <h5 class="modal-title">Phân cán bộ đánh giá cho học viên</h5>
    <button  type="button" class="close" data-dismiss="modal" aria-label="Close"  (click)="activeModal.dismiss('close')">
      <span aria-hidden="true"><img src="/assets/close.svg" class="brand-image" ></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="w-100 mb-3"  >
        <label  class="control-label w-20 fullname">Chọn Lãnh đạo <span class="text-danger"> *</span></label>
        <ng-select [items]="listUser" class="form-control select2 custom-select-box" 
                            bindLabel="fullname"
                            bindValue="id"
                            [virtualScroll]="true"
                            [readonly]="false"
                            [(ngModel)] = "manager"
                        >
                        </ng-select>
    </div>
   </div>
  <div class="modal-footer footer-clone">
    <button type="button" class="btn btn-close" (click)="activeModal.close('confirm')"
            >Hủy</button>
    <button type="button" class="btn btn-send"  (click)="sendManager()"
            >Xác nhận</button>
  </div>
  