<div class="modal-header">
    <h5 class="modal-title">Thông tin khóa học</h5>
    <button  type="button" class="close" data-dismiss="modal" aria-label="Close"  (click)="activeModal.dismiss('close')">
      <span aria-hidden="true"><img src="/assets/close.svg" class="brand-image" ></span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
    <div class="col-md-12">
      <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Mã khóa học <span  class="text-danger"> *</span></label>
                    <input type="text" formControlName="code" class="form-control">
                    <div *ngIf="form.get('code')?.touched || form.get('code')?.dirty">
                        <small class="text-danger"  *ngIf="form.get('code')?.hasError('required')">
                        Trường này không được bỏ trống
                        </small>
                        <small class="text-danger" *ngIf="form.get('code').errors?.pattern">
                           Mã nhập không đúng định dạng
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Tên khóa học <span  class="text-danger"> *</span></label>
                    <input type="text" formControlName="name" class="form-control">
                    <div *ngIf="form.get('name')?.touched || form.get('name')?.dirty">
                        <small class="text-danger"  *ngIf="form.get('name')?.hasError('required')">
                        Trường này không được bỏ trống
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Hình thức học <span  class="text-danger"> *</span></label>
                    <!-- <input type="text" formControlName="trainingtype" class="form-control"> -->
                    <select class="form-control select2" style="width: 100%;" formControlName="trainingtype" >
						<option [value]="null" disabled selected>Chọn hình thức học</option>
						<option *ngFor="let item of listTrainingType" [value]="item.value">{{item.label}}</option>
					</select>
                </div>
                <div class="form-group">
                    <label class="control-label">Đối tượng học <span  class="text-danger"> *</span></label>
                    <ng-multiselect-dropdown [placeholder]="'Chọn chức danh'"
						[settings]="dropdownPositionSettings" [data]="positionList"
						(onSelect)="onChangePosition()"
						(onDropDownClose)="onChangePosition()"
						formControlName="trainingobject" >
					</ng-multiselect-dropdown>
                    <div *ngIf="form.get('trainingobject')?.touched || form.get('trainingobject')?.dirty">
                        <small class="text-danger"  *ngIf="form.get('trainingobject')?.hasError('required')">
                        Trường này không được bỏ trống
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Thời gian tạo(ngày) <span  class="text-danger"> *</span></label>
                    <input type="number" formControlName="duration"   class="form-control">
                    <div *ngIf="form.get('duration')?.touched || form.get('duration')?.dirty">
                        <small class="text-danger"  *ngIf="form.get('duration')?.hasError('required')">
                        Trường này không được bỏ trống
                        </small>
                        <small class="text-danger" *ngIf="form.get('duration')?.errors?.min">
                            Thời gian tạo lớn hơn 0
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Thời gian dự kiến(quý) <span  class="text-danger"> *</span></label>
                    <!-- <input type="number" formControlName="timeexpect" class="form-control"> -->
                    <select class="form-control select2" style="width: 100%;" formControlName="timeexpect" >
						<option [value]="null" disabled selected>Chọn thời gian dự kiến</option>
						<option  value="1">I</option>
                        <option  value="2">II</option>
                        <option  value="3">III</option>
                        <option  value="4">IV</option>
					</select>
                    <div *ngIf="form.get('timeexpect')?.touched || form.get('timeexpect')?.dirty">
                        <small class="text-danger"  *ngIf="form.get('timeexpect')?.hasError('required')">
                        Trường này không được bỏ trống
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Địa điểm <span  class="text-danger"> *</span></label>
                    <input type="text" formControlName="location" class="form-control">
                    <div *ngIf="form.get('location')?.touched || form.get('location')?.dirty">
                        <small class="text-danger"  *ngIf="form.get('location')?.hasError('required')">
                        Trường này không được bỏ trống
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Số lượng học viên <span  class="text-danger"> *</span></label>
                    <input type="number" formControlName="numberstudent" class="form-control" min="0">
                    <div *ngIf="form.get('numberstudent')?.touched || form.get('numberstudent')?.dirty">
                        <small class="text-danger"  *ngIf="form.get('numberstudent')?.hasError('required')">
                        Trường này không được bỏ trống
                        </small>
                        <small class="text-danger" *ngIf="form.get('numberstudent')?.errors?.min">
                            Số lượng học viên lớn hơn 0
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Số lượng lớp <span  class="text-danger"> *</span></label>
                    <input type="number" formControlName="numberclass" class="form-control">
                    <div *ngIf="form.get('numberclass')?.touched || form.get('numberclass')?.dirty">
                        <small class="text-danger"  *ngIf="form.get('numberclass')?.hasError('required')">
                        Trường này không được bỏ trống
                        </small>
                        <small class="text-danger" *ngIf="form.get('numberclass')?.errors?.min">
                            Số lượng lớp lớn hơn 0
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Chi phí(VNĐ) <span  class="text-danger"> *</span></label>
                    <input type="text" formControlName="cost" class="form-control">
                    <div *ngIf="form.get('cost')?.touched || form.get('cost')?.dirty">
                        <small class="text-danger"  *ngIf="form.get('cost')?.hasError('required')">
                        Trường này không được bỏ trống
                        </small>
                        <small class="text-danger" *ngIf="form.get('cost').errors?.pattern">Chi phí nhập không đúng định dạng
                        </small>
                    </div>
                </div>
            </div>
      </div>
    </div>
    </form>
<div class="card-footer text-center">
    <button type="button" class="btn ml-1 btn-secondary rounded-0 mr-2" (click)="activeModal.close('confirm')">Đóng</button>
    <button type="button" class="btn btn-primary rounded-0"  (click)="onUpdate()" >Lưu</button>
</div>
  