<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Thông tin Kế hoạch <span class="text-danger">{{planDetail?.code}} - {{planDetail?.name}}</span>
                    </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a href="#" routerLink="/admin">CMS</a>
                        </li>
                        <li class="breadcrumb-item active"><a [routerLink]="['/admin/course']">Quản lý khóa học</a></li>
                        <li class="breadcrumb-item active">Thông tin khóa học</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <div class="col-12">
                            <div class="div container w-50 pb-4" *ngIf="action == 'create'">
                                <div class="mb-2 d-flex justify-content-between mb-3">
                                    <button type="button" class="btn btn-primary rounded-0"
                                        (click)="dowloadTemplate()">Tải xuống File mẫu</button>
                                    <div class="select-year d-flex">
                                        <div class="label-select-plan-year w-50 text-right">
                                            <span>Kế hoạch năm </span>
                                        </div>
                                        <select class="custom-select w-50" (change)="chooseYear($event.target.value)">
                                            <option *ngFor="let item of listYear" [value]="item">{{item}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div draggable="true" ngClass="{{ dragAreaClass }}">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <div class="mb-3">
                                                <a href="javascript:void(0)" (click)="file.click()">
                                                    <i class="fas fa-upload icon-upload"></i>
                                                </a>
                                            </div>
                                            <div>
                                                <span>Kéo hoặc lựa chọn kế hoạch đã được phê duyệt từ máy tính của
                                                    bạn</span>
                                            </div>
                                            <input type="file" #file [multiple]="false" (change)="onFileChange($event)"
                                                style="display: none" />
                                        </div>
                                    </div>
                                </div>
                                <div class="error text-center mt-2" *ngIf="error">{{error}}</div>
                                <div class="text-center mt-2">
                                    <span class="text-success" *ngIf="fileSelected"><img
                                            src="assets/dist/img/ic-excel.svg" alt="icon" class="mr-2">{{
                                        fileSelected?.name }}</span>
                                </div>
                                <div class="d-flex justify-content-center mt-3">
                                    <button type="button" class="btn btn-default w-btn-80 rounded-0 custom-btn mr-2"
                                        (click)="gotoListPlan()">Hủy</button>
                                    <button type="button" class="btn btn-primary w-btn-80 rounded-0 custom-btn"
                                        (click)="impportQuestion()">Tải lên</button>
                                </div>
                                <div class="col-12 mt-5" *ngIf="isShowTableError">
                                    <p style="color: red;">Tải lên thành công {{success}} bản ghi</p>
                                    <table class="table table-hover table-bordered" >
                                        <thead>
                                            <tr>
                                                <th class="text-center">STT</th>
                                                <th class="text-center">Danh mục khóa học</th>
                                                <th class="text-center">Tên đơn vị</th>
                                                <th class="text-center">Tên khóa học</th>
                                                <th class="text-center">Hình thức học</th>
                                                <th class="text-center">#</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of listError; let count = index">
                                                <td class="text-center">{{count + 1}}</td>
                                                <td>{{item.categoryname}}</td>
                                                <td>{{item.departmentname}}</td>
                                                <td>{{item.name}}</td>
                                                <td class="text-center">{{item.trainingtype}}</td>
                                                <td class="text-center"  [ngSwitch]="item.errors">
                                                    <i *ngSwitchCase="" class="fas fa-check"></i> 
                                                    <button type="button" *ngSwitchDefault  class="btn btn-default btn-sm mr-1" matTooltip="Chi tiết lỗi"
                                                    matTooltipClass="tooltip-red"   (click)="DetailError(item)"><i class="fas fa-exclamation-triangle"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="div container w-50 pb-4" *ngIf="action == 'createNB'">
                                <div class="mb-2 d-flex justify-content-between mb-3">
                                    <button type="button" class="btn btn-primary rounded-0"
                                        (click)="dowloadTemplate()">Tải xuống File mẫu</button>
                                    <div class="select-year d-flex">
                                        <div class="label-select-plan-year w-50 text-right">
                                            <span>Kế hoạch năm</span>
                                        </div>
                                        <select class="custom-select w-50" (change)="chooseYear($event.target.value)">
                                            <option *ngFor="let item of listYear" [value]="item">{{item}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div draggable="true" ngClass="{{ dragAreaClass }}">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <div class="mb-3">
                                                <a href="javascript:void(0)" (click)="file.click()">
                                                    <i class="fas fa-upload icon-upload"></i>
                                                </a>
                                            </div>
                                            <div>
                                                <span>Kéo hoặc lựa chọn kế hoạch đã được phê duyệt từ máy tính của
                                                    bạn</span>
                                            </div>
                                            <input type="file" #file [multiple]="false" (change)="onFileChange($event)"
                                                style="display: none" />
                                        </div>
                                    </div>
                                </div>
                                <div class="error text-center mt-2" *ngIf="error">{{error}}</div>
                                <div class="text-center mt-2">
                                    <span class="text-success" *ngIf="fileSelected"><img
                                            src="assets/dist/img/ic-excel.svg" alt="icon" class="mr-2">{{
                                        fileSelected?.name }}</span>
                                </div>
                                <div class="d-flex justify-content-center mt-3">
                                    <button type="button" class="btn btn-default w-btn-80 rounded-0 custom-btn mr-2"
                                        (click)="gotoListPlan()">Hủy</button>
                                    <button type="button" class="btn btn-primary w-btn-80 rounded-0 custom-btn"
                                        (click)="impportQuestionNB()">Tải lên</button>
                                </div>
                            </div>
                            <mat-tab-group dynamicHeight selectedIndex="0">
                                <!-- <mat-tab>
                                    <ng-template mat-tab-label>
                                        <mat-icon class="example-tab-icon">infor</mat-icon>
                                        Thông tin cơ bản
                                    </ng-template>
                                    <form role="form" [formGroup]="planForm">
                                        <div class="container-fluid">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h6>Thông tin chung</h6>
                                                    <hr>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="form-group fullname-require">
                                                                <label class="control-label">Mã kế hoạch</label><span
                                                                    class="text-danger"> *</span>
                                                                <input type="text" class="form-control"
                                                                    placeholder="Nhập mã kế hoạch" required=""
                                                                    data-placement="bottom" formControlName="code">
                                                                <div
                                                                    *ngIf="planForm.get('code')!.invalid &&(planForm.get('code')!.dirty || planForm.get('code')!.touched)">
                                                                    <small class="text-danger"
                                                                        *ngIf="planForm.get('code')?.errors?.required">
                                                                        {{ 'error.validate.input_required' | translate }}
                                                                    </small>
                                                                    <small class="text-danger"
                                                                        *ngIf="planForm.get('code')?.errors?.isBlank">
                                                                        {{ 'error.validate.input_required' | translate }}
                                                                    </small>
                                                                    <small class="text-danger"
                                                                        *ngIf="planForm.get('code')?.errors?.maxlength">
                                                                        {{ 'error.validate.course.nameMaxlength' | translate }}
                                                                    </small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group fullname-require">
                                                                <label class="control-label">Tên kế hoạch</label><span
                                                                    class="text-danger"> *</span>
                                                                <input type="text" class="form-control" placeholder="Tên đầy đủ"
                                                                    required="" data-placement="bottom" formControlName="name">
                                                                <div
                                                                    *ngIf="planForm.get('name')!.invalid &&(planForm.get('name')!.dirty || planForm.get('name')!.touched)">
                                                                    <small class="text-danger"
                                                                        *ngIf="planForm.get('name')?.errors?.required">
                                                                        {{ 'error.validate.input_required' | translate }}
                                                                    </small>
                                                                    <small class="text-danger"
                                                                        *ngIf="planForm.get('name')?.errors?.isBlank">
                                                                        {{ 'error.validate.input_required' | translate }}
                                                                    </small>
                                                                    <small class="text-danger"
                                                                        *ngIf="planForm.get('name')?.errors?.maxlength">
                                                                        {{ 'error.validate.course.nameMaxlength' | translate }}
                                                                    </small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label>Mô tả kế hoạch</label>
                                                                <textarea rows="4" class="overflow-auto form-control"
                                                                    style="width: 100%; height: 15vh;"
                                                                    formControlName="description">
                                                              </textarea>
                                                                <div
                                                                    *ngIf="planForm.get('description')!.invalid && (planForm.get('description')!.dirty || planForm.get('description')!.touched)">
                                                                    <small class="text-danger"
                                                                        *ngIf="planForm.get('description')?.errors">
                                                                        {{ 'error.validate.course.nameCourseMaxlength' |
                                                                        translate }}
                                                                    </small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-body">
                                                    <h6>Chọn người phê duyệt</h6>
                                                    <hr>
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <label>Họ và tên</label>
                                                            <select class="form-control select2" style="width: 100%;"
                                                                formControlName="approverid">
                                                                <option [value]="null" disabled selected>Lựa chọn
                                                                </option>
                                                                <option value="1" selected>Online</option>
                                                                <option value="2">Offline</option>
                                                            </select>
                                                            <div
                                                                *ngIf="planForm.get('description')!.invalid && (planForm.get('description')!.dirty || planForm.get('description')!.touched)">
                                                                <small class="text-danger"
                                                                    *ngIf="planForm.get('description')?.errors">
                                                                    {{ 'error.validate.course.nameCourseMaxlength' | translate
                                                                    }}
                                                                </small>
                                                            </div>
                                                        </div>
                                                        <div class="col-4">
                                                            <label>Chức danh</label>
                                                            <input type="text" class="form-control" readonly>
                                                        </div>
                                                        <div class="col-4">
                                                            <label>Đơn vị</label>
                                                            <input type="text" class="form-control" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer text-center">
                                                <button type="button" class="btn btn-primary"
                                                    (click)="onCreateOrUpdatePlan()">Lưu</button>
                                            </div>
                                        </div>
                                    </form>
                                </mat-tab> -->

                                <mat-tab *ngIf="action == 'edit'">
                                    <ng-template mat-tab-label>
                                        <mat-icon class="example-tab-icon">book</mat-icon>
                                        Danh sách khóa học
                                    </ng-template>
                                    <div class="body-tab mt-3">
                                        <div class="action-header">
                                            <button type="button" class="btn btn-primary mr-2"
                                                (click)="openCoursePlanDetail()" *ngIf="canEdit"><i
                                                    class="fas fa-plus mr-2"></i> Thêm
                                                mới</button>
                                            <!-- <button type="button" class="btn btn-primary"
                                                (click)="openListCourseRecommend()">Chọn từ danh mục</button> -->
                                            <div class="form-inline float-right" role="form">
                                                <div class="form-group">
                                                    <label class="mr-2">Tìm kiếm</label>
                                                    <input type="search" class="form-control form-control-sm mr-2"
                                                        placeholder="Tên khóa học" [(ngModel)]="keyword"
                                                        (change)="onChangeKeyWord()">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="data-table mt-2">
                                            <table class="table table-hover table-bordered">
                                                <thead>
                                                    <tr>
                                                        <!-- <th>
                                                    
                                                            <mat-icon class="custom-m-top" *ngIf="isAdmin">
                                                                <mat-checkbox class="example-margin" [(ngModel)]="completedAll"
                                                                    (change)="oncheckboxAll($event.checked)"></mat-checkbox>
                                                            </mat-icon>
                                                        </th> -->
                                                        <th class="text-center">STT11</th>
                                                        <th class="text-center">Mã khóa học</th>
                                                        <th class="text-center">Tên khóa học</th>
                                                        <th class="text-center">Hình thức học</th>
                                                        <th class="text-center">Đối tượng học</th>
                                                        <th class="text-center">Thời gian đào tạo (ngày)</th>
                                                        <th class="text-center">Thời gian dự kiến (quý)</th>
                                                        <th class="text-center">Địa điểm</th>
                                                        <th class="text-center">Số lượng học viên</th>
                                                        <th class="text-center">Số lượng lớp</th>
                                                        <th class="text-center">Chi phí (VNĐ)</th>
                                                        <th class="text-center">Chi phí còn lại (VNĐ)</th>
                                                        <th class="text-center">Thao tác</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of courseInPlan; let countPosition = index; ">
                                                        <!-- <td>
                                                            <mat-icon class="mt-1">
                                                                    <mat-checkbox [(ngModel)]="item.completed"
                                                                        (change)="oncheckboxItem(item.id, $event.checked)"
                                                                        class="example-margin"></mat-checkbox>
                                                                </mat-icon>
                                                        </td> -->
                                                        <td class="text-center {{checkTimeStart(item)}}">{{(pageIndex - 1)*pageSize +
                                                            countPosition + 1}}</td>
                                                        <td class="text-center {{checkTimeStart(item)}}">{{item.code}}</td>
                                                        <td class="text-center {{checkTimeStart(item)}}">{{item.name}}</td>
                                                        <td class="text-center {{checkTimeStart(item)}}">{{getTrainingType(item.trainingtype) ||
                                                            'Chưa cập nhật'}}
                                                        </td>
                                                        <td class="text-center {{checkTimeStart(item)}}">
                                                            <span matTooltip="{{getPositionNames(item.trainingobject)}}"
                                                                matTooltipClass="tooltip-inner">{{item.trainingobject?.length
                                                                <= 10 ? getPositionNames(item.trainingobject) : (getPositionNames(item.trainingobject) | slice:0:20 )
                                                                    + '...' ||'Chưa cập nhật' }}</span>
                                                        </td>
                                                        <td class="text-center {{checkTimeStart(item)}}">{{item.duration}}</td>
                                                        <td class="text-center {{checkTimeStart(item)}}">{{item.timeexpect}}</td>
                                                        <td class="{{checkTimeStart(item)}}">{{item.location || 'Chưa cập nhật'}}</td>
                                                        <td class="text-center {{checkTimeStart(item)}}">{{item.numberstudent || 'Chưa cập nhật'}}</td>
                                                        <td class="text-center {{checkTimeStart(item)}}">{{item.realtotalclass}}/{{item.numberclass || 'Chưa cập nhật'}}
                                                        </td>
                                                        <td class="text-center {{checkTimeStart(item)}}">{{showCost(item.cost) || 'Chưa cập nhật'}}</td>
                                                        <td class="text-center {{checkTimeStart(item)}}">{{showCost(item.cost - item.totalcostused) || 'Chưa cập nhật'}}</td>
                                                        <td class="project-actions text-center">
                                                            <button *ngIf="!isAdmin" type="button"
                                                                class="btn btn-default btn-sm mr-1"
                                                                matTooltip="Tạo khóa học" matTooltipClass="tooltip-red"
                                                                (click)="openCourseCreatePopup(item)"><i
                                                                    class="fas fa-plus-square"></i></button>
                                                            <button type="button" class="btn btn-default btn-sm mr-1" *ngIf="item.realtotalclass > 0"
                                                                matTooltip="Xem danh sách lớp học" matTooltipClass="tooltip-red"
                                                                (click)="openListClassDetail(item)"><i
                                                                    class="fas fa-eye"></i></button>
                                                            <button type="button" class="btn btn-default btn-sm mr-1"
                                                                matTooltip="Chi tiết" matTooltipClass="tooltip-red"
                                                                (click)="openCoursePlanDetail(item)"><i
                                                                    class="fas fa-info"></i></button>
                                                            <button type="button" class="btn btn-default btn-sm mr-1"
                                                                matTooltip="Xóa" matTooltipClass="tooltip-red"
                                                                (click)="unAssignCourse([item.id])"
                                                                *ngIf="canEdit && !item.courseid"><i
                                                                    class="fas fa-trash"></i></button>
                                                            <button  type="button" (click)="onPlanDetail(item)" *ngIf="item.updatestatus == 2 || isAdmin"
                                                                class="btn btn-default btn-sm mr-1" matTooltip="Sửa" matTooltipClass="tooltip-red">
                                                                <i class="fas fa-edit"></i>
                                                            </button>  
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="card-footer text-center">
                                            <div class="row">
                                                <mat-paginator showFirstLastButtons [length]="totalRecord"
                                                    [pageSize]="pageSize" [pageIndex]="pageIndex - 1"
                                                    (page)="changePage($event)" [hidePageSize]="false"
                                                    [pageSizeOptions]="pageSizeOptions">
                                                </mat-paginator>
                                            </div>
                                        </div>
                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>