<div class="modal-header">
  <h4 class="modal-title">{{ title | translate }}</h4>
  <button type="button" class="btn btn-tool" data-card-widget="collapse"
          (click)="activeModal.close('Close click')"><i class="fas fa-minus"></i>
  </button>
</div>
<div class="modal-body">
  <form role="form" [formGroup]="editCategoryForm">
    <input type="hidden" class="form-control" formControlName="id">
    <div class="form-group">
      <label>Tên danh mục</label><span class="text-danger"> *</span>
      <input type="text" class="form-control" placeholder="Tên danh mục" formControlName="name">
      <div *ngIf="editCategoryForm?.get('name')!.invalid &&
      (editCategoryForm?.get('name')!.dirty || editCategoryForm?.get('name')!.touched)">
      <span class="text-danger" *ngIf="editCategoryForm?.get('name')?.errors?.required">
        {{ 'error.validate.input_required' | translate }}
      </span>
    </div>
    <small class="text-danger" *ngIf="editCategoryForm?.get('name')?.invalid && !editCategoryForm?.get('name')?.hasError('required')">
      {{ 'error.validate.course.nameMaxlength' | translate }}
    </small>
    </div>

    <div class="form-group">
      <label>Danh mục cha</label><span class="text-danger">*</span>
      <ng-select class="form-control select2 custom-select-box" formControlName="parent"
                 [items]="categoryMap | keyvalue"  bindLabel="value" bindValue="key" [editableSearchTerm]="true">
      </ng-select>
      <div *ngIf="editCategoryForm?.get('parent')!.invalid &&
      (editCategoryForm?.get('parent')!.dirty || editCategoryForm?.get('parent')!.touched)">
        <span class="text-danger" *ngIf="editCategoryForm?.get('parent')?.errors?.required">
          {{ 'error.validate.input_required' | translate }}
        </span>
      </div>
    </div>

    <div class="form-group">
      <label>Mô tả</label>
      <textarea class="form-control" placeholder="Mô tả chi tiết"  formControlName="info"></textarea>
      <small class="text-danger" *ngIf="editCategoryForm?.get('info')?.errors && !editCategoryForm?.get('info')?.errors?.required">
        {{ 'error.validate.course.nameCourseMaxlength' | translate }}
      </small>
    </div>
  </form>
</div>
<div class="modal-footer text-center">
  <button type="button" class="btn ml-1 btn-secondary rounded-0 mr-1"
  (click)="activeModal.dismiss('close')">{{ 'common.cancel' | translate }}</button>
  <div *ngIf="category">
    <button type="submit" class="btn btn-primary" (click)="createOrUpdateCourseCategory()">
      {{ button | translate }}
    </button>
  </div>
</div>




