::ng-deep p {
  font-size:11pt !important;
  margin-bottom: 0px !important;
  display: block;
  max-width:900px;
}

section {
  padding: 20px 0;
  background-color: rgba(232,232,246,1) !important;
}
.dot {
width: 40px;
height: 40px;
line-height: 40px;
border-radius: 50%;
font-size: 1.2rem;
color: #fff;
text-align: center;
background: #607D8B;
}
::ng-deep .mat-checkbox-layout {
white-space: inherit !important;
}
::ng-deep .mat-checkbox-layout .mat-checkbox-label {
  line-height: 24px;
  /* color: black !important; */
  font-weight: 300 !important;

}

.navbar_exam {
  overflow: hidden;
  /* position: fixed; */
  top: 0;
  width: 100%;
  z-index:1;
}
.main_exam {
  margin-bottom: 75px;
  height: auto; /* Used in this example to enable scrolling */
}

  @media only screen and (min-width: 960px) {
      /* styles for browsers larger than 960px; */
      .stick-area {
        top:185px;
          position: fixed;
          z-index: 999;
          right: 1vw;
          width: 299px;
          margin-left:20px;
          height: calc(100vh - 170px);
          overflow: hidden;
  }
}
@media only screen and (min-width: 1920px) {
  /* styles for browsers larger than 960px; */
  .stick-area {
    top:185px;
      position: fixed;
      z-index: 999;
      right: 16vw;
      width: 299px;
      margin-left:20px;
      height: calc(100vh - 170px);
      overflow: hidden;
}
}
  @media only screen and (min-width: 1440px) and (max-width:1600px){
      /* styles for browsers larger than 1440px; */
      .stick-area {
        top:185px;
          position: fixed;
          z-index: 999;
          right: 5vw;
          width: 299px;
          margin-left:20px;
          height: calc(100vh - 170px);
          overflow: hidden;
  }
}
  @media only screen and (min-width: 2000px) {
      /* for sumo sized (mac) screens */
      .stick-area {
        top:185px;
          position: fixed;
          z-index: 999;
          right: 25vw;
          width: 299px;
          margin-left:20px;
          height: calc(100vh - 170px);
          overflow: hidden;
  }
}
  /* different techniques for iPad screening */
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
      .stick-area {
        top:185px;
          position: fixed;
          z-index: 999;
          right: 1vw;
          width: 299px;
          margin-left:20px;
          height: calc(100vh - 170px);
          overflow: hidden;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
      .stick-area {
        top:185px;
          position: fixed;
          z-index: 999;
          right: 3vw;
          width: 299px;
          margin-left:20px;
          height: calc(100vh - 170px);
          overflow: hidden;
  }
}
::ng-deep .mat-radio-label {
white-space: inherit !important;
}
::ng-deep label {
  font-weight:500;
}
::ng-deep .mat-radio-label-content {
   font-weight: 300 !important;

}
/* ::ng-deep #footer {
bottom: 0 !important;
position: fixed !important;
} */


.noselect {
-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.disable-click-event {
pointer-events: none;
}

:host ::ng-deep figure.image img {
  max-width: 100%;
}

:host ::ng-deep figure.video video {
  max-width: 100%;
}

