.example-container {
    width: 95vw;
      
  }
.example-sidenav {
      width:20vw;         
 }
 .example-sidenav-content {
    height:80vh;
 } 
 .breadcrumb-item.active a{
   color: #428bca !important;
}
.breadcrumb-item.active a:hover{
   color: #9eccf4 !important;
   cursor: pointer;
}