label {
    font-weight: 500 !important;
    font-size: 11pt;
}
.btn-grout-level{
    margin: auto;
    width: 150px;
    padding: 30px 0px;
}
.scroll-historydate{
    max-height: 501px;
    overflow-y: scroll;
}
.ng-select {
    background-color: #e9ecef;
}
.d-flex{
    padding: 7px;
    font-style: italic;
}
.fa-share{
    transform: rotate(-90deg);
    font-size: 18px;
}
.scroll-historydate p{
    margin-left: 50px;
    margin-bottom: 0px;
}
.scroll-historydate .d-flex{
    color: #0d7bda;
}
.table thead th {
    background: #E3F2FD;
    color: #615e5e;
    height: 30px;
}