<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Thông tin giảng viên: {{teacherEditForm.value.firstname}} {{teacherEditForm.value.nameteacher}}</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#" routerLink="/admin">CMS</a></li>
                        <li class="breadcrumb-item active"> <a href="#" routerLink="/admin/teacher">Quản lý giảng viên</a></li>
                        <li class="breadcrumb-item">Chi tiết giảng viên</li>
                    </ol>
                    
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card card-default">
                    <mat-tab-group dynamicHeight selectedIndex="0">
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon">infor</mat-icon>
                                Thông tin giảng viên
                            </ng-template>
                            <div class="card-body">
                                <div autosize class="example-container">
                                    <div class="example-sidenav-content" style="width: 100% !important;">
                                        <div class="card card-default" >  
                                            <div class="row card-body">
                                                <div class="col-md-6">
                                                    <form role="form" [formGroup]="teacherEditForm">
                                                        <div class="form-group fullname-require">
                                                            <label>Họ giảng viên</label>
                                                            <input type="text"  class="form-control" placeholder="" name="firstname" formControlName="firstname" >
                                                        </div>
                                                        <div class="form-group fullname-require">
                                                            <label>Tên giảng viên</label>
                                                            <input type="text"  class="form-control" placeholder=""  name="nameteacher" formControlName="nameteacher">
                                                        </div>
                                                        <div class="form-group fullname-require">
                                                            <label>Email</label>
                                                            <input type="text"  class="form-control" placeholder=""  name="email" formControlName="email">
                                                        </div>
                                                        <div class="form-group fullname-require">

                                                            <label>Đơn vị</label>
                                                            <!-- <input type="text"  class="form-control" placeholder="" name="department" formControlName="department" (change)="changeDepartment($event)"> -->
                                                        
                                                            <ng-select class="form-control select2 custom-select-box"
                                                            [placeholder]="teacherEditForm.get('departmentid').value ? '' : 'user.choose_department' | translate"
                                                            [items]="departmentMap | keyvalue" bindLabel="value" bindValue="key" formControlName="departmentid"
                                                            [ngbTooltip]="departmenttooltip"> 
                                                                <ng-template ng-option-tmp let-item="item">
                                                                <div [title]="item.value">{{item.value}}</div>
                                                                </ng-template>
                                                                <ng-template #departmenttooltip>
                                                                {{teacherEditForm.get('departmentid').value ?
                                                                departmentMap.get(teacherEditForm.get('departmentid').value) :
                                                                'user.choose_department' | translate}}
                                                                </ng-template>
                                                            </ng-select>
                                                        </div>
                                                        <div class="form-group fullname-require">
                                                            <label>Loại giảng viên</label>
                                                            <select class="form-control" formControlName="teacherrole" >
                                                                <option value="null" disabled> Chọn vai trò</option>
                                                                <option *ngFor="let role of roles" [value]="role.value"> {{role.name}}</option>
                                                              </select>
                                                        </div>
                                                        <div class="form-group fullname-require">
                                                            <label>Số quyết định công nhận</label>
                                                            <input type="text"  class="form-control" placeholder=""  name="numberconfirmed" formControlName="numberconfirmed">
                                                        </div>
                                                        <div class="form-group fullname-require">
                                                            <label>Ngày công nhận</label>
                                                            <mat-form-field class=" col-12 mr-3 mb-0 course-input">
                                                                <input matInput [matDatepicker]="timerecognizemodal" [max]="currentDate"
                                                                 formControlName="timeconfirmed">
                                                                <mat-datepicker-toggle matSuffix [for]="timerecognizemodal"></mat-datepicker-toggle>
                                                                <mat-datepicker #timerecognizemodal>
                                                                </mat-datepicker>
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="form-group fullname-require">
                                                            <label>Ngày hết hạn</label>
                                                            <mat-form-field class=" col-12 mr-3 mb-0 course-input">
                                                                <input matInput [matDatepicker]="durationconfirmedmodal" [min]="currentDate"
                                                                 formControlName="durationconfirmed">
                                                                <mat-datepicker-toggle matSuffix [for]="durationconfirmedmodal"></mat-datepicker-toggle>
                                                                <mat-datepicker #durationconfirmedmodal>
                                                                </mat-datepicker>
                                                            </mat-form-field>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="col-md-6 pl-5">
                                                    <div class="pl-5">
                                                        <h5 style="color:#0069d9">Lịch sử ghi nhận loại giảng viên</h5>
                                                        <div class="scroll-historydate mt-4">
                                                            <div *ngFor="let item of listChange;">
                                                                <div class="d-flex">
                                                                    <div class="time-modified col-3">{{getDateFromUnix(item.timemodified) | date: 'dd/MM/yyyy HH:mm:ss'}}</div>
                                                                    <div class="teacher-role col-6" [ngSwitch]="item.newvalue">
                                                                        <span *ngSwitchCase="1">Giảng viên ngoài</span>
                                                                        <span *ngSwitchCase="2">Giảng viên nội bộ</span>
                                                                        <span *ngSwitchCase="3">Giảng viên nội bộ đã công nhận</span>
                                                                    </div>
                                                                </div>
                                                                <p><i class="fa fa-share" ></i></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div  class="btn-grout-level clearfix text-center">
                                                    <button  type="button" class="btn btn-primary float-right" *ngIf="!formEnable && !isTeacher " (click)="onUpdateTeacher()">
                                                        Cập nhật
                                                    </button>
                                                    <button type="submit" class="btn btn-success mx-2" *ngIf="formEnable "  (click)="updateTeacher()">
                                                        Lưu lại
                                                    </button>
                                                    <button type="submit" class="btn btn-default" *ngIf="formEnable" (click)="cancelUpdateTeacher()">
                                                        Hủy
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>   
                            </div>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon">infor</mat-icon>
                                Quản lý chứng chỉ giảng viên
                            </ng-template>
                            <div class="card-body">
                                <mat-drawer-container autosize class="example-container">
                                    <div class="example-sidenav-content" style="width: 100% !important;">
                                        <div class="card card-default" >  
                                            <div class="card-body">
                                                <button *ngIf="isTeacher" type="button" class="btn btn-primary mb-3"  (click)="openCreateBadge()"><i  class="fas fa-plus mr-1"></i><a  class="text-white">Upload chứng chỉ </a></button>
                                                <div class="data-table mt-2">
                                                    <table class="table table-hover table-bordered" >
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center">STT</th>
                                                                <th class="text-center">Tên chứng chỉ</th>
                                                                <th class="text-center">Lãnh vực</th>
                                                                <th class="text-center">Ngày upload</th>
                                                                <th class="text-center">Ngày hết hạn</th>
                                                                <th class="text-center">Trạng thái chứng chỉ</th>
                                                                <th class="text-center">Trạng thái bản ghi</th>
                                                                <th *ngIf="isTeacher">Lý do từ chối</th>
                                                                <th class="text-center">Thao tác</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of BadgeTeacherList;let i = index;">
                                                                <td class="text-center">{{(BagdeCouser.pageIndexB - 1) * BagdeCouser.pageSizeB + i + 1}}</td>
                                                                <td ><span matTooltip="{{item.name}}" matTooltipClass="tooltip-inner">{{item.name?.length <= 40 ? item.name : (item.name | slice:0:40) + '...' }}</span></td>
                                                                <td >{{item.fieldname}}</td>
                                                                <td class="text-center">{{getDateFromUnix(item.timecreated) | date:'dd/MM/yyyy'}}</td>
                                                                <td class="text-center">{{getDateFromUnix(item.expiredate) | date:'dd/MM/yyyy'}}</td>
                                                                <td class="text-center">
                                                                    <span *ngIf="item.expiredate == null ">Vô thời hạn</span>
                                                                    <span *ngIf="item.expiredate >= currentDate.getTime()/1000">Còn hạn</span>
                                                                    <span *ngIf="item.expiredate < currentDate.getTime()/1000 && item.expiredate != null">Hết hạn</span>
                                                                </td>
                                                                <td [ngSwitch]="item.status" class="text-center" >
                                                                    <span *ngSwitchCase="1"> Đã duyệt</span>
                                                                    <span *ngSwitchCase="0"> Chờ duyệt</span>
                                                                    <span *ngSwitchCase="2"> Từ chối</span>
                                                                </td>
                                                                <td *ngIf="isTeacher">{{item.result}}</td>
                                                                <td class="text-center">
                                                                    <button  type="button" class="btn btn-default btn-sm mr-1"  matTooltip="Xem" matTooltipClass="tooltip-red" (click)="editCreateBadge(item)"><i class="fas fa-eye"></i></button>
                                                                    <button *ngIf="!isTeacher && !isManager " [disabled]="item.status == 1 || item.status == 2" type="button" class="btn btn-default btn-sm mr-1" matTooltip="Duyệt" matTooltipClass="tooltip-red" (click)="onApprovalBadge(1,item.issuedid)"><i class="fas fa-check"></i></button>
                                                                    <button *ngIf="!isTeacher && !isManager " [disabled]="item.status == 2 || item.status == 1" type="button" class="btn btn-default btn-sm mr-1" matTooltip="Từ chối" matTooltipClass="tooltip-red" (click)="deApprovalBadge(2,item.issuedid)"><i class="fas fa-window-close"></i></button>                     
                                                                    <span [ngSwitch]="item.status" >
                                                                        <span *ngSwitchCase="1"> <button *ngIf="!isAdmin && !isManager" type="button" class="btn btn-default btn-sm mr-1" matTooltip="Xóa" matTooltipClass="tooltip-red" [disabled]="true" (click)="deleteTecherBadge(item.id)"><i class="fas fa-trash"></i></button></span>
                                                                        <span *ngSwitchCase="0"> <button *ngIf="!isAdmin && !isManager" type="button" class="btn btn-default btn-sm mr-1" matTooltip="Xóa" matTooltipClass="tooltip-red" [disabled]="true" (click)="deleteTecherBadge(item.id)"><i class="fas fa-trash"></i></button></span>
                                                                        <span *ngSwitchCase="2"> <button *ngIf="!isAdmin && !isManager" type="button" class="btn btn-default btn-sm mr-1" matTooltip="Xóa" matTooltipClass="tooltip-red" [disabled]="" (click)="deleteTecherBadge(item.id)"><i class="fas fa-trash"></i></button></span>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="card-footer text-center">
                                                        <div class="row">
                                                            <mat-paginator showFirstLastButtons [length]="totalRecordBadde" [pageSize]="BagdeCouser.pageSizeB"
                                                                [pageIndex]="BagdeCouser.pageIndexB - 1" (page)="changePageBadge($event)" [hidePageSize]="false"
                                                                [pageSizeOptions]="pageSizeOptionsB">
                                                            </mat-paginator>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-drawer-container>   
                            </div>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon">infor</mat-icon>
                                Quản lý khóa học
                            </ng-template>
                            <div class="card-body">
                                <mat-drawer-container autosize class="example-container">
                                    <div class="example-sidenav-content" style="width: 100% !important;">
                                        <div class="card card-default" >  
                                            <div class="card-body">
                                                <div class="data-table mt-2">
                                                    <table class="table table-hover table-bordered" >
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center">STT</th>
                                                                <th class="text-center">Tên khóa học</th>
                                                                <th class="text-center">Từ ngày</th>
                                                                <th class="text-center">Đến ngày</th>
                                                                <th class="text-center">Đơn vị chù trì</th>
                                                                <th class="text-center">Theo kế hoạch</th>
                                                                <th class="text-center">Hình thức học</th>
                                                                <th class="text-center">Hiển thị</th>
                                                                <th class="text-center">Trạng thái</th>
                                                                <th class="text-center">Thao tác</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor=" let item of TeacherCouserList;let i = index;">
                                                                <td class="text-center">{{(teacherCouser.pageIndex - 1) * teacherCouser.pageSize + i + 1}}</td>
                                                                <td >{{item.fullname}}</td>
                                                                <td class="">{{getDateFromUnix(item.startdate) | date:'dd/MM/yyyy'}}</td>
                                                                <td class="">{{getDateFromUnix(item.enddate) | date:'dd/MM/yyyy'}}</td>
                                                                <td >{{item.departmentname}}</td>
                                                                <td [ngSwitch]="item.isinternalplan" class="text-center">
                                                                    <span *ngSwitchCase="null"></span>
                                                                    <span *ngSwitchCase="1">KHĐT nội bộ</span>
                                                                    <span *ngSwitchCase="0">KHĐT</span>
                                                              </td>
                                                                <td [ngSwitch]="item.trainingtype">
                                                                    <span *ngSwitchCase="'OFFI'">Offline Inhouse</span>
                                                                    <span *ngSwitchCase="'OFFP'">Offline Public</span>
                                                                    <span *ngSwitchCase="'OFFE'">Offline nội bộ</span>
                                                                    <span *ngSwitchCase="'ONLR'">Online video recorded learning</span>
                                                                    <span *ngSwitchCase="'ONLL'">Online live learning zoom</span>
                                                                  </td>
                                                                <td><span class="badge badge-{{item.published === 1 ? 'primary' : 'warning'}}">{{item.published === 1 ? 'Đang hiển thị' : 'Chưa hiển thị'}}</span></td>
                                                                <td><span  class="badge badge-{{item.style}}">{{item.status}}</span></td>
                                                                <td class="text-center">
                                                                    <button  type="button" class="btn btn-default btn-sm mr-1 " (click)="goToCourseDetail(item.id)"  matTooltip="Xem" matTooltipClass="tooltip-red"><i class="fas fa-eye"></i></button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="card-footer text-center">
                                                        <div class="row">
                                                            <mat-paginator showFirstLastButtons [length]="totalRecord" [pageSize]="teacherCouser.pageSize"
                                                                [pageIndex]="teacherCouser.pageIndex - 1" (page)="changePage($event)" [hidePageSize]="false"
                                                                [pageSizeOptions]="pageSizeOptions">
                                                            </mat-paginator>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-drawer-container>   
                            </div>
                        </mat-tab>
                       
                    </mat-tab-group>  
                </div>   
            </div>
        </div>
    </section>
</div>