::ng-deep .mat-expansion-panel-body {
    padding: 0 0px 0px !important;
  }
  /* .mat-expansion-panel-header.mat-expanded {
    border-top: solid 3px #0563b1;
  } */
  ::ng-deep .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  
    height: 50px !important;
  }
  
  .mat-list-single-selected-option, .mat-list-single-selected-option:hover, .mat-list-single-selected-option:focus {
    background-color: var(--primary-color, #4a90e2) !important;
    color:white !important
  }
  ::ng-deep .mat-list-base .mat-list-item.mat-list-item-with-avatar .mat-list-item-content .mat-list-text, .mat-list-base .mat-list-item.mat-list-option .mat-list-item-content .mat-list-text, .mat-list-base .mat-list-option.mat-list-item-with-avatar .mat-list-item-content .mat-list-text, .mat-list-base .mat-list-option.mat-list-option .mat-list-item-content .mat-list-text {
    padding-top: 0px !important;
  }
  label.lable-conrse{
    font-weight: 400;
    width: 110px;
    line-height: 38px;
    font-size: 14px;
  }