.error {
  color: #f00;
}

.dragarea {
  border: 2px solid #e8e8e8;
  padding: 1.5rem;
  background-color: #f3f3f3;
  color: grey;
  font-size: 20px;
  border-radius: 10px;
}

.droparea {
  font-size: 20px;
  border: 2px dashed #bbb;
  border-radius: 10px;
  padding: 1.5rem;
  background-color: #eff;
  color: #aaa;
}
.icon-upload {
  font-size: 50px;
  color: grey !important;
}
