<div class="modal-header">
    <h5 class="modal-title">Import câu hỏi</h5>
    <button type="button" class="btn btn-default" data-card-widget="collapse" (click)="activeModal.dismiss('close')">
        <i class="fas fa-times"></i>
    </button>
</div>
<div class="modal-body">
    <div class="mb-2">
        <a href="{{questionTempUrl}}" type="btn" class="btn btn-primary">Tải xuống File mẫu</a>
    </div>
    <div class="mb-2">
        <label for="">Chọn danh mục</label><span class="text-danger"> *</span>
        <select class="custom-select" name="grademethod" [(ngModel)]="categoryId">
            <option *ngFor="let item of categoryMap | keyvalue" [value]="item.key" [selected]="item.key == 1">
                {{item.value}}</option>
        </select>
        <span class="text-danger">{{errCate}}</span>
    </div>
    <div draggable="true" ngClass="{{ dragAreaClass }}">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="mb-3">
                    <a href="javascript:void(0)" (click)="file.click()">
                        <i class="fas fa-upload icon-upload"></i>
                    </a>
                </div>
                <div>
                    <span>Kéo hoặc lựa chọn danh sách câu hỏi từ máy tính của bạn</span>
                </div>
                <input type="file" #file [multiple]="false" (change)="onFileChange($event)" style="display: none" />
            </div>
        </div>
    </div>
    <div class="error text-center mt-2" *ngIf="error">{{error}}</div>
    <div class="text-center mt-2">
        <span class="text-success" *ngIf="fileSelected"><img src="assets/dist/img/ic-excel.svg" alt="icon"
                class="mr-2">{{ fileSelected?.name }}</span>
    </div>
</div>
<div class="modal-footer d-flex justify-content-center">
    <button type="btn" class="btn btn-default" (click)="activeModal.dismiss('close')"
        data-dismiss="modal">Thoát</button>
    <button type="btn" class="btn btn-primary" (click)="impportQuestion()">Thực hiện</button>
</div>