.fontSize__14 {
  font-size: 14px;
}

.find_username {
  border-left: 3px solid #09519e;
}

.find_email {
  border-left: 3px solid #09519e;
}

.padding-find {
  padding-left: 5px;
}

input {
  border: 1px solid #545b62;
  border-radius: 5px;
  padding: 5px
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
