::ng-deep .tooltip-red {
  background: #b71c1c !important;
  font-size:.85rem !important;
}

::ng-deep .mat-list-base .mat-list-item .mat-line {
  font-size: .9rem !important;
}
.cl-warning{
  color: #ffc107;
}
.cl-primary{
  color: #007bff;
}
.table-responsive a:not([href]) {
    color: #428bca;
    cursor: pointer;
}
.table-responsive a:not([href]):hover{
  color: #7e7e7e !important;
}
table th {
  background: #E3F2FD;
  color: #615e5e;
}
table td:not(:first-child){
  padding-left: 8px !important;
}
::ng-deep .mat-sort-header-container{
  justify-content: center;
}
::ng-deep .mat-checkbox-inner-container {
  margin: 2px 8px auto 5px !important;
}
