
.input-qr{
    border: 1px solid #CECECE;
    padding: 5px;
    width: 100%;
    background: #F5F5F5;
}
label{
    line-height: 25px;
    font-size: 12px;
    font-weight: 400!important;
    margin-bottom: 3px;
}
.modal-title{
    font-weight: 500;
    font-size: 16px;
}
.footer-clone{
    justify-content: center;
    border-top:none
}
.footer-clone button{
    width: 120px;
}
.btn-close{
    border: 1px solid #0061AF;
    background: white;
    color: #0061AF;
}
.btn-send{
    background: #0061AF;
    color: #fff;
}
.modal-body {
    padding: 10px 24px;
}
.modal-header{
    padding: 10px 24px;
}
.modal-body span{
    font-weight: 600;
    color: #1669c0;
}