<div class="modal-header">
    <h5 class="modal-title" *ngIf="status">Yêu cầu nhân bản khoá học</h5>
    <h5 class="modal-title" *ngIf="!status">Yêu cầu phê duyệt chỉnh sửa kế hoạch đào tạo</h5>
    <button  type="button" class="close" data-dismiss="modal" aria-label="Close"  (click)="activeModal.dismiss('close')">
      <span aria-hidden="true"><img src="/assets/close.svg" class="brand-image" ></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="" *ngIf="status">
        Bạn có chắc chắn muốn <span *ngIf="status==3" style="color: red;">từ chối </span> <span *ngIf="status==4" style="color: red;">Hủy gửi </span><span *ngIf="status==2"> cho phép </span> yêu cầu nhân bản khóa học<span> {{data.fullname}} </span> từ <span> {{data.requestusername}}</span> không?
    </div>
    <div class="" *ngIf="!status">
      Bạn có chắc chắn muốn <span *ngIf="type==3" style="color: red;">từ chối </span> <span *ngIf="status==4" style="color: red;">Hủy gửi </span><span *ngIf="type==2"> cho phép </span> chỉnh sửa khóa học<span> {{data.name}} </span> từ <span> {{data.requestusername}}</span> không?
  </div>
    <p [style.height]="status== 4 ? '60px' : ''"></p>
    <div class="w-100 mb-3" *ngIf="status!=4" >
        <label  class="control-label w-20 fullname">Nội dung <span class="text-danger"> *</span></label>
        <textarea [(ngModel)]="requestcontent" class="form-control" rows="5" ></textarea>
    </div>
   
  <div class="modal-footer footer-clone">
    <button type="button" class="btn btn-close" (click)="activeModal.close('confirm')"
            >Hủy</button>
    <button type="button" class="btn btn-send" (click)="sendRequest()"
            >Xác nhận</button>
  </div>
  

  